<div class="brand-tracker-container brand-tracker-perception">
  <div class="row">

    <div class="col-md-12">
      <div class="section-header firstHeader">
        <h2>
          PERCEPTIONS BY PILLAR
          <div class="small">
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">
                Perceptions by Pillars: Destination ratings is based on how strongly respondents associate each destination with the main pillars (on a 10-point scale: % 8-10). All destinations are provided to respondents (Dubai + 6 other destinations)
              </span>
            </span>
          </div>
        </h2>
      </div>

      <div id="slider1" class="slider" data-content="sliderContent2">
        <div class="prev inactive"><span class="fa fa-angle-left"></span></div>
        <div class="next inactive"><span class="fa fa-angle-right"></span></div>
        <div class="items">
          <div>
            <div>SHOPPING & RETAIL</div>
            <div>Hotels / Accommodation</div>
            <div>Culture, Arts & Heritage</div>
            <div>Family Entertainment</div>
            <div>General Entertainment</div>
            <div>Restaurants & Food</div>
            <div>Beach & Marine</div>
            <div>Outdoor, Adventure & Sports</div>
            <div>Infrastructure</div>
          </div>
        </div>
      </div>

      <div id="sliderContent2" class="slider-contents">
        <div class="items">
          <div>
            <table class="dtcm-tables table-left-2 table-right-3">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img src="../../images//competitors/Dubai.png" class="img-responsiv"></td>
                  <td>
                    DUBAI
                    <div id="QV-Perceptions-Shopping-Dubai-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="GMGwDr"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Shopping-Dubai" class="qvobject loading chart-donut-2" objectid="jHWwPRW">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/New York.png" class="img-responsiv"> </td>
                  <td>
                    NEW YOR <div id="QV-Perceptions-Shopping-NewYork-Rank" class="qvobject loading per-rank pop-navigate abs"
                                 objectid="efVMwjH"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Shopping-NewYork" class="qvobject loading chart-donut-2"
                         objectid="stBmbD"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Singapore.png" class="img-responsiv"></td>
                  <td>
                    SINGAPORE
                    <div id="QV-Perceptions-Shopping-Singapore-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="VtJJD"></div>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Shopping-Singapore" class="qvobject loading chart-donut-2"
                         objectid="mutfB">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Paris.png" class="img-responsiv"></td>
                  <td>
                    PARIS
                    <div id="QV-Perceptions-Shopping-Paris-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="GNVcH"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Shopping-Paris" class="qvobject loading chart-donut-2" objectid="NSmj">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Turkey.png" class="img-responsiv"></td>
                  <td>
                    TURKEY
                    <div id="QV-Perceptions-Shopping-Turkey-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="wDtzz"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Shopping-Turkey" class="qvobject loading chart-donut-2"
                         objectid="qGqfvfJ"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Thailand.png" class="img-responsiv"></td>
                  <td>
                    THAILAND
                    <div id="QV-Perceptions-Shopping-Thailand-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="VqRFc"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Shopping-Thailand" class="qvobject loading chart-donut-2"
                         objectid="CZQrLm">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/London.png" class="img-responsiv"></td>
                  <td>
                    LONDON
                    <div id="QV-Perceptions-Shopping-London-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="BBRbFT"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Shopping-London" class="qvobject loading chart-donut-2"
                         objectid="wmZGP"></div>
                  </td>
                </tr>
                <tr>
                  <td><div id="QV-Perceptions-Shopping-OtherCompetitor-Flag323C" class="qvobject loading img-responsiv" objectid="jNgWmj"> </div> </td>
                  <td>
                    <div id="QV-Perceptions-Shopping-OtherCompetitor-Name323C" class="qvobject loading" objectid="cfnKmxe"> </div>
                    <div id="QV-Perceptions-Shopping-Japan-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="kxZmxv"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Shopping-Japan" class="qvobject loading chart-donut-2" objectid="PLSUtzM">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="pop-p"><span class="pop-n">N</span>Rank of destination</p>

          </div>

          <div>
            <table class="dtcm-tables table-left-2 table-right-3">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img src="../../images//competitors/Dubai.png" class="img-responsiv"></td>
                  <td>
                    DUBAI
                    <div id="QV-Perceptions-Hotel-Dubai-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="KPJdXm">
                    </div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Hotel-Dubai" class="qvobject loading chart-donut-2" objectid="LbnUkm">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/New York.png" class="img-responsiv"></td>
                  <td>
                    NEW YORK
                    <div id="QV-Perceptions-Hotel-NewYork-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="PEjmsg"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Hotel-NewYork" class="qvobject loading chart-donut-2" objectid="WNFcF">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Singapore.png" class="img-responsiv"></td>
                  <td>
                    SINGAPORE
                    <div id="QV-Perceptions-Hotel-Singapore-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="uGnkSmh"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Hotel-Singapore" class="qvobject loading chart-donut-2"
                         objectid="rPGyXq"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Paris.png" class="img-responsiv"></td>
                  <td>
                    PARIS
                    <div id="QV-Perceptions-Hotel-Paris-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="SfJjGP"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Hotel-Paris" class="qvobject loading chart-donut-2" objectid="XuzPK">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Turkey.png" class="img-responsiv"></td>
                  <td>
                    TURKEY
                    <div id="QV-Perceptions-Hotel-Turkey-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="yJXJpd"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Hotel-Turkey" class="qvobject loading chart-donut-2" objectid="MhJgPf">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Thailand.png" class="img-responsiv"></td>
                  <td>
                    THAILAND
                    <div id="QV-Perceptions-Hotel-Thailand-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="KeMqsy"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Hotel-Thailand" class="qvobject loading chart-donut-2" objectid="CSPYML">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/London.png" class="img-responsiv"></td>
                  <td>
                    LONDON
                    <div id="QV-Perceptions-Hotel-London-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="zbDYj"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Hotel-London" class="qvobject loading chart-donut-2" objectid="HfzPCQ">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div id="QV-Perceptions-Shopping-OtherCompetitor-Flag323B" class="qvobject loading img-responsiv" objectid="jNgWmj"> </div> </td>
                  <td>
                    <div id="QV-Perceptions-Shopping-OtherCompetitor-Name323B" class="qvobject loading" objectid="cfnKmxe"> </div>
                    <div id="QV-Perceptions-Hotel-Japan-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="mJeLaP"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Hotel-Japan" class="qvobject loading chart-donut-2" objectid="EhPhye">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="pop-p"><span class="pop-n">N</span>Rank of destination</p>
          </div>

          <div>
            <table class="dtcm-tables table-left-2 table-right-3">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img src="../../images//competitors/Dubai.png" class="img-responsiv"></td>
                  <td>
                    DUBAI
                    <div id="QV-Perceptions-Culture-Dubai-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="qJdURDK">
                    </div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Culture-Dubai" class="qvobject loading chart-donut-2" objectid="XTFxNr">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/New York.png" class="img-responsiv"></td>
                  <td>
                    NEW YORK
                    <div id="QV-Perceptions-Culture-NewYork-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="UjzBab"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Culture-NewYork" class="qvobject loading chart-donut-2"
                         objectid="rcjvD"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Singapore.png" class="img-responsiv"></td>
                  <td>
                    SINGAPORE
                    <div id="QV-Perceptions-Culture-Singapore-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="dZmq"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Culture-Singapore" class="qvobject loading chart-donut-2"
                         objectid="bhXpadY"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Paris.png" class="img-responsiv"></td>
                  <td>
                    PARIS
                    <div id="QV-Perceptions-Culture-Paris-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="XrPpvvW"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Culture-Paris" class="qvobject loading chart-donut-2" objectid="zPYqZ">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Turkey.png" class="img-responsiv"></td>
                  <td>
                    TURKEY
                    <div id="QV-Perceptions-Culture-Turkey-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="maaRkDh"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Culture-Turkey" class="qvobject loading chart-donut-2" objectid="CWMWmc">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Thailand.png" class="img-responsiv"></td>
                  <td>
                    THAILAND
                    <div id="QV-Perceptions-Culture-Thailand-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="PXDwzz"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Culture-Thailand" class="qvobject loading chart-donut-2"
                         objectid="Dpnebm"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/London.png" class="img-responsiv"></td>
                  <td>
                    LONDON
                    <div id="QV-Perceptions-Culture-London-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="mmfXXr"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Culture-London" class="qvobject loading chart-donut-2" objectid="rgzLr">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div id="QV-Perceptions-Shopping-OtherCompetitor-Flag323A" class="qvobject loading img-responsiv" objectid="jNgWmj"> </div> </td>
                  <td>
                    <div id="QV-Perceptions-Shopping-OtherCompetitor-Name323A" class="qvobject loading" objectid="cfnKmxe"> </div>
                    <div id="QV-Perceptions-Culture-Japan-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="ZTjNcx"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Culture-Japan" class="qvobject loading chart-donut-2" objectid="ZxUQD">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="pop-p"><span class="pop-n">N</span>Rank of destination</p>
          </div>

          <div>
            <table class="dtcm-tables table-left-2 table-right-3">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img src="../../images//competitors/Dubai.png" class="img-responsiv"></td>
                  <td>
                    DUBAI
                    <div id="QV-Perceptions-Family-Dubai-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="LsBQYXy">
                    </div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Family-Dubai" class="qvobject loading chart-donut-2" objectid="GFmYDPg">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/New York.png" class="img-responsiv"></td>
                  <td>
                    NEW YORK
                    <div id="QV-Perceptions-Family-NewYork-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="JMsjhjJ"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Family-NewYork" class="qvobject loading chart-donut-2" objectid="PjMBuQ">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Singapore.png" class="img-responsiv"></td>
                  <td>
                    SINGAPORE
                    <div id="QV-Perceptions-Family-Singapore-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="pXUamp"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Family-Singapore" class="qvobject loading chart-donut-2"
                         objectid="dEEspJ"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Paris.png" class="img-responsiv"></td>
                  <td>
                    PARIS
                    <div id="QV-Perceptions-Family-Paris-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="ZMUeYkJ"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Family-Paris" class="qvobject loading chart-donut-2" objectid="NCefa">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Turkey.png" class="img-responsiv"></td>
                  <td>
                    TURKEY
                    <div id="QV-Perceptions-Family-Turkey-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="gmumN"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Family-Turkey" class="qvobject loading chart-donut-2" objectid="RgtQ">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Thailand.png" class="img-responsiv"></td>
                  <td>
                    THAILAND
                    <div id="QV-Perceptions-Family-Thailand-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="NrjjTs"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Family-Thailand" class="qvobject loading chart-donut-2"
                         objectid="DMDRUeN"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/London.png" class="img-responsiv"></td>
                  <td>
                    LONDON
                    <div id="QV-Perceptions-Family-London-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="fxRdxRY"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Family-London" class="qvobject loading chart-donut-2" objectid="myLVfW">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div id="QV-Perceptions-Shopping-OtherCompetitor-Flag3238" class="qvobject loading img-responsiv" objectid="jNgWmj"> </div> </td>
                  <td>
                    <div id="QV-Perceptions-Shopping-OtherCompetitor-Name3238" class="qvobject loading" objectid="cfnKmxe"> </div>
                    <div id="QV-Perceptions-Family-Japan-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="zdjhAc"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Family-Japan" class="qvobject loading chart-donut-2" objectid="jYpdL">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="pop-p"><span class="pop-n">N</span>Rank of destination</p>
          </div>

          <div>
            <table class="dtcm-tables table-left-2 table-right-3">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img src="../../images//competitors/Dubai.png" class="img-responsiv"></td>
                  <td>
                    DUBAI
                    <div id="QV-Perceptions-Entertainment-Dubai-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="mppkPY">
                    </div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Entertainment-Dubai" class="qvobject loading chart-donut-2"
                         objectid="ewbtTZ">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/New York.png" class="img-responsiv"></td>
                  <td>
                    NEW YORK
                    <div id="QV-Perceptions-Entertainment-NewYork-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="WKAeg"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Entertainment-NewYork" class="qvobject loading chart-donut-2"
                         objectid="QDfPSH"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Singapore.png" class="img-responsiv"></td>
                  <td>
                    SINGAPORE
                    <div id="QV-Perceptions-Entertainment-Singapore-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="bMZUe"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Entertainment-Singapore" class="qvobject loading chart-donut-2"
                         objectid="mUjpQv"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Paris.png" class="img-responsiv"></td>
                  <td>
                    PARIS
                    <div id="QV-Perceptions-Entertainment-Paris-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="XfQma"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Entertainment-Paris" class="qvobject loading chart-donut-2"
                         objectid="rjNpQe">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Turkey.png" class="img-responsiv"></td>
                  <td>
                    TURKEY
                    <div id="QV-Perceptions-Entertainment-Turkey-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="nHhUGSY"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Entertainment-Turkey" class="qvobject loading chart-donut-2"
                         objectid="NAHAJGP">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Thailand.png" class="img-responsiv"></td>
                  <td>
                    THAILAND
                    <div id="QV-Perceptions-Entertainment-Thailand-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="pddmW"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Entertainment-Thailand" class="qvobject loading chart-donut-2"
                         objectid="TsAGZez"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/London.png" class="img-responsiv"></td>
                  <td>
                    LONDON
                    <div id="QV-Perceptions-Entertainment-London-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="SNVe"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Entertainment-London" class="qvobject loading chart-donut-2"
                         objectid="MymgU">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div id="QV-Perceptions-Shopping-OtherCompetitor-Flag3237" class="qvobject loading img-responsiv" objectid="jNgWmj"> </div> </td>
                  <td>
                    <div id="QV-Perceptions-Shopping-OtherCompetitor-Name3237" class="qvobject loading" objectid="cfnKmxe"> </div>
                    <div id="QV-Perceptions-Entertainment-Japan-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="PFsQGj"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Entertainment-Japan" class="qvobject loading chart-donut-2"
                         objectid="beAbjX">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="pop-p"><span class="pop-n">N</span>Rank of destination</p>
          </div>

          <div>
            <table class="dtcm-tables table-left-2 table-right-3">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img src="../../images//competitors/Dubai.png" class="img-responsiv"></td>
                  <td>
                    DUBAI
                    <div id="QV-Perceptions-Restaurants-Dubai-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="nLBef">
                    </div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Restaurants-Dubai" class="qvobject loading chart-donut-2"
                         objectid="peJUAf">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/New York.png" class="img-responsiv"></td>
                  <td>
                    NEW YORK
                    <div id="QV-Perceptions-Restaurants-NewYork-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="gRwQRjK"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Restaurants-NewYork" class="qvobject loading chart-donut-2"
                         objectid="eTmPJQe"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Singapore.png" class="img-responsiv"></td>
                  <td>
                    SINGAPORE
                    <div id="QV-Perceptions-Restaurants-Singapore-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="xsMCz"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Restaurants-Singapore" class="qvobject loading chart-donut-2"
                         objectid="YbJhQQL"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Paris.png" class="img-responsiv"></td>
                  <td>
                    PARIS
                    <div id="QV-Perceptions-Restaurants-Paris-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="XfQma"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Restaurants-Paris" class="qvobject loading chart-donut-2"
                         objectid="WRmYJ">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Turkey.png" class="img-responsiv"></td>
                  <td>
                    TURKEY
                    <div id="QV-Perceptions-Restaurants-Turkey-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="SMmBdNx"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Restaurants-Turkey" class="qvobject loading chart-donut-2"
                         objectid="kcPLRp">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Thailand.png" class="img-responsiv"></td>
                  <td>
                    THAILAND
                    <div id="QV-Perceptions-Restaurants-Thailand-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="hBadkv"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Restaurants-Thailand" class="qvobject loading chart-donut-2"
                         objectid="UygbpA"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/London.png" class="img-responsiv"></td>
                  <td>
                    LONDON
                    <div id="QV-Perceptions-Restaurants-London-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="cEhekmg"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Restaurants-London" class="qvobject loading chart-donut-2"
                         objectid="ZZWLqPE">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div id="QV-Perceptions-Shopping-OtherCompetitor-Flag32356" class="qvobject loading img-responsiv" objectid="jNgWmj"> </div> </td>
                  <td>
                    <div id="QV-Perceptions-Shopping-OtherCompetitor-Name32356" class="qvobject loading" objectid="cfnKmxe"> </div>
                    <div id="QV-Perceptions-Restaurants-Japan-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="RGVbZ"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Restaurants-Japan" class="qvobject loading chart-donut-2"
                         objectid="JXEs">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="pop-p"><span class="pop-n">N</span>Rank of destination</p>
          </div>

          <div>
            <table class="dtcm-tables table-left-2 table-right-3">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img src="../../images//competitors/Dubai.png" class="img-responsiv"></td>
                  <td>
                    DUBAI
                    <div id="QV-Perceptions-Beach-Dubai-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="VxmcDV">
                    </div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Beach-Dubai" class="qvobject loading chart-donut-2" objectid="XQUtTp">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/New York.png" class="img-responsiv"></td>
                  <td>
                    NEW YORK
                    <div id="QV-Perceptions-Beach-NewYork-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="JBhwvF"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Beach-NewYork" class="qvobject loading chart-donut-2" objectid="wDJjJX">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Singapore.png" class="img-responsiv"></td>
                  <td>
                    SINGAPORE
                    <div id="QV-Perceptions-Beach-Singapore-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="JeuNX"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Beach-Singapore" class="qvobject loading chart-donut-2"
                         objectid="RqBfv"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Paris.png" class="img-responsiv"></td>
                  <td>
                    PARIS
                    <div id="QV-Perceptions-Beach-Paris-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="QEaXVP"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Beach-Paris" class="qvobject loading chart-donut-2" objectid="mSvPmmB">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Turkey.png" class="img-responsiv"></td>
                  <td>
                    TURKEY
                    <div id="QV-Perceptions-Beach-Turkey-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="VqVVBwQ"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Beach-Turkey" class="qvobject loading chart-donut-2" objectid="Zjnxj">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Thailand.png" class="img-responsiv"></td>
                  <td>
                    THAILAND
                    <div id="QV-Perceptions-Beach-Thailand-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="yJekwJZ"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Beach-Thailand" class="qvobject loading chart-donut-2" objectid="RhNkR">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/London.png" class="img-responsiv"></td>
                  <td>
                    LONDON
                    <div id="QV-Perceptions-Beach-London-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="XPZTWpm"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Beach-London" class="qvobject loading chart-donut-2" objectid="DCpkP">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div id="QV-Perceptions-Shopping-OtherCompetitor-Flag3235" class="qvobject loading img-responsiv" objectid="jNgWmj"> </div> </td>
                  <td>
                    <div id="QV-Perceptions-Shopping-OtherCompetitor-Name3235" class="qvobject loading" objectid="cfnKmxe"> </div>
                    <div id="QV-Perceptions-Beach-Japan-Rank" class="qvobject loading per-rank pop-navigate abs"
                         objectid="HWkmmJh"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Beach-Japan" class="qvobject loading chart-donut-2" objectid="XMemYf">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="pop-p"><span class="pop-n">N</span>Rank of destination</p>
          </div>


          <div>
            <table class="dtcm-tables table-left-2 table-right-3">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img src="../../images//competitors/Dubai.png" class="img-responsiv"></td>
                  <td>
                    DUBAI
                    <div id="QV-Perceptions-Outdoor-Dubai" class="qvobject loading per-rank pop-navigate abs"
                         objectid="pmghNg">
                    </div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Outdoor-Dubai-Rank" class="qvobject loading chart-donut-2" objectid="mJgrSH">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/New York.png" class="img-responsiv"></td>
                  <td>
                    NEW YORK
                    <div id="QV-Perceptions-Outdoor-NewYork" class="qvobject loading per-rank pop-navigate abs"
                         objectid="WRPVsz"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Outdoor-NewYork-Rank" class="qvobject loading chart-donut-2" objectid="kkgjygD">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Singapore.png" class="img-responsiv"></td>
                  <td>
                    SINGAPORE
                    <div id="QV-Perceptions-Outdoor-Singapore" class="qvobject loading per-rank pop-navigate abs"
                         objectid="UTYLp"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Outdoor-Singapore-Rank" class="qvobject loading chart-donut-2"
                         objectid="JJMHmn"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Paris.png" class="img-responsiv"></td>
                  <td>
                    PARIS
                    <div id="QV-Perceptions-Outdoor-Paris" class="qvobject loading per-rank pop-navigate abs"
                         objectid="xYJmJQZ"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Outdoor-Paris-Rank" class="qvobject loading chart-donut-2" objectid="hNFua">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Turkey.png" class="img-responsiv"></td>
                  <td>
                    TURKEY
                    <div id="QV-Perceptions-Outdoor-Turkey" class="qvobject loading per-rank pop-navigate abs"
                         objectid="JrXvhfZ"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Outdoor-Turkey-Rank" class="qvobject loading chart-donut-2" objectid="BkPZm">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Thailand.png" class="img-responsiv"></td>
                  <td>
                    THAILAND
                    <div id="QV-Perceptions-Outdoor-Thailand" class="qvobject loading per-rank pop-navigate abs"
                         objectid="EJjDFJt"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Outdoor-Thailand-Rank" class="qvobject loading chart-donut-2" objectid="HzmheTs">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/London.png" class="img-responsiv"></td>
                  <td>
                    LONDON
                    <div id="QV-Perceptions-Outdoor-London" class="qvobject loading per-rank pop-navigate abs"
                         objectid="adJSM"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Outdoor-London-Rank" class="qvobject loading chart-donut-2" objectid="mkqKqj">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div id="QV-Perceptions-Shopping-OtherCompetitor-Flag32" class="qvobject loading img-responsiv" objectid="jNgWmj"> </div> </td>
                  <td>
                    <div id="QV-Perceptions-Shopping-OtherCompetitor-Name32" class="qvobject loading" objectid="cfnKmxe"> </div>
                    <div id="QV-Perceptions-Outdoor-Japan" class="qvobject loading per-rank pop-navigate abs"
                         objectid="QQwnPx"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Outdoor-Japan-Rank" class="qvobject loading chart-donut-2" objectid="uPrgBv">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="pop-p"><span class="pop-n">N</span>Rank of destination</p>
          </div>
          <div>
            <table class="dtcm-tables table-left-2 table-right-3">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img src="../../images//competitors/Dubai.png" class="img-responsiv"></td>
                  <td>
                    DUBAI
                    <div id="QV-Perceptions-Infrastructure-Dubai" class="qvobject loading per-rank pop-navigate abs"
                         objectid="Fdprvgm">
                    </div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Infrastructure-Dubai-Rank" class="qvobject loading chart-donut-2" objectid="GzFPt">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/New York.png" class="img-responsiv"></td>
                  <td>
                    NEW YORK
                    <div id="QV-Perceptions-Infrastructure-NewYork" class="qvobject loading per-rank pop-navigate abs"
                         objectid="PLpvraR"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Infrastructure-NewYork-Rank" class="qvobject loading chart-donut-2" objectid="wjcjddh">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Singapore.png" class="img-responsiv"></td>
                  <td>
                    SINGAPORE
                    <div id="QV-Perceptions-Infrastructure-Singapore" class="qvobject loading per-rank pop-navigate abs"
                         objectid="qqsqTKt"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Infrastructure-Singapore-Rank" class="qvobject loading chart-donut-2"
                         objectid="TNGJJJ"></div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Paris.png" class="img-responsiv"></td>
                  <td>
                    PARIS
                    <div id="QV-Perceptions-Infrastructure-Paris" class="qvobject loading per-rank pop-navigate abs"
                         objectid="KFeDm"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Infrastructure-Paris-Rank" class="qvobject loading chart-donut-2" objectid="TVPmNC">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Turkey.png" class="img-responsiv"></td>
                  <td>
                    TURKEY
                    <div id="QV-Perceptions-Infrastructure-Turkey" class="qvobject loading per-rank pop-navigate abs"
                         objectid="ZQTGAw"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Infrastructure-Turkey-Rank" class="qvobject loading chart-donut-2" objectid="tePx">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/Thailand.png" class="img-responsiv"></td>
                  <td>
                    THAILAND
                    <div id="QV-Perceptions-Infrastructure-Thailand" class="qvobject loading per-rank pop-navigate abs"
                         objectid="DQJjLz"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Infrastructure-Thailand-Rank" class="qvobject loading chart-donut-2" objectid="PSrkZE">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><img src="../../images//competitors/London.png" class="img-responsiv"></td>
                  <td>
                    LONDON
                    <div id="QV-Perceptions-Infrastructure-London" class="qvobject loading per-rank pop-navigate abs"
                         objectid="PspPT"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Infrastructure-London-Rank" class="qvobject loading chart-donut-2" objectid="XjZKRPC">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><div id="QV-Perceptions-Shopping-OtherCompetitor-Flag323" class="qvobject loading img-responsiv" objectid="jNgWmj"> </div> </td>
                  <td>
                    <div id="QV-Perceptions-Shopping-OtherCompetitor-Name323" class="qvobject loading" objectid="cfnKmxe"> </div>
                    <div id="QV-Perceptions-Infrastructure-Japan" class="qvobject loading per-rank pop-navigate abs"
                         objectid="pANVj"></div>
                  </td>
                  <td class="d-flex justify-content-end">
                    <div id="QV-Perceptions-Infrastructure-Japan-Rank" class="qvobject loading chart-donut-2" objectid="XWzjy">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="pop-p"><span class="pop-n">N</span>Rank of destination</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">

  <p><b>Important Notes:</b><br></p>
  <div class="qvobject loading" id="QV-BT-SampleSize" objectid="SanxeP"></div>
  <p>
    - <b>Peceptions by Pillars <span style="font-size:9px"> (1) </span> :</b> Destination ratings ( % 8-10)
    Associations for each pillar using a scale from 1 to 10 where 1=Not Strong and 10=World Class.<br>
    - All destinations above are provided to respondents (Dubai+6).
  </p>
</div>
