<div class="vs-container vs-advocacy">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header firstHeader">
        <h2>ADVOCACY</h2>
        <P class="header mb-5">How likely are you to recommend Dubai to Friends/Family ?</P>
      </div>

      <div class="section-header">
        <h3>DETRACTOR</h3>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-detractor-cy" objectid="fhTbZ">
            </div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-cy-title" objectid="mmVdFG">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-detractor-py" objectid="McQjjNK"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-py-title" objectid="CmtK"></div>
          </div>
        </div>

      </div>
      <div class="section-header">
        <h3>PASSIVE</h3>
      </div>


      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-passive-cy" objectid="jvykLmM">
            </div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-cy-title1" objectid="mmVdFG">
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-passive-py" objectid="aRmH"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-py-title1" objectid="CmtK"></div>
          </div>
        </div>
      </div>



      <div class="section-header">
        <h3>LIKELY PROMOTER</h3>
      </div>


      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-promoter-cy" objectid="UWus">
            </div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-cy-title2" objectid="mmVdFG">
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-promoter-py" objectid="qPrvC">
            </div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-py-title2" objectid="CmtK"></div>
          </div>
        </div>
      </div>


      <div class="section-header">
        <div class="h3">
          ACTIVE ADVOCATE
        </div>

      </div>


      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-nps-cy" objectid="PemSJFA">
            </div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-cy-title3" objectid="mmVdFG">
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-nps-py" objectid="QbAafGz"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-py-title3" objectid="CmtK"></div>
          </div>
        </div>
      </div>



      <div class="section-header">
        <div class="h2">
          ADVOCACY SCORE
          <div class="small">
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">
                ADVOCACY Score [2]: Relative performance indexed
                against average V'ADVOCACY Score' accress all Nationalities
              </span>
            </span>
          </div>
        </div>

      </div>
      <div class="qvobject loading number-md text-center color-gray" id="QV-advocacy-score" objectid="mmhcQvt"> </div>

      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-pink-bg">
            <p>BELOW 69</p>
            <p>LOW</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-gray-bg">
            <p>70-109</p>
            <p>NEUTRAL</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-blue-bg">
            <p>110+</p>
            <p>HIGH</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p><b>Important Notes:</b><br></p>
  <div class="qvobject loading" style="height:55px" id="QV-advocacy-samplesize" objectid="pFNRhe"></div>
  <p>
    All variables are weighted by nationality and month
  </p>
</div>
