<div class="vs-container vs-spend">
  <div class="row">

    <div class="col-md-12">
      <div class="section-header firstHeader">
        <h2>TOURIST SPEND PER DAY PER CAPITA</h2>
      </div>
      <div class="section-header">
        <h2>TOTAL SPEND</h2>
      </div>
      <div class="row dtcm-clear-bs-padding">

        <div class="col-6">
          <div class="dtcm-box-spend">

            <div class="number qvobject loading" id="QV-spend-overall-total" objectid="AterAH">
            </div>
            <div class="usd qvobject loading" id="QV-spend-overall-usd" objectid="Vmxuuty">
            </div>
            <div class="p" title="Must be objct">2017</div>
          </div>
        </div>
        <div class="col-6">
          <div class="dtcm-box-spend">
            <div class="number qvobject loading" id="QV-spend-sm-total" objectid="NpEJp">
            </div>
            <div class="usd qvobject loading" id="QV-spend-sm-usd" objectid="jsWueEb">
            </div>
            <div class="p" title="Must be objct">2016</div>
          </div>
        </div>
      </div>
      <div class="section-header">
        <img src="../../../assets/images/spend_icons/food_vs.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h2>FOOD & BEVERAGE</h2>
      </div>
      <div class="row dtcm-clear-bs-padding">

        <div class="col-6">
          <div class="percentage qvobject loading p text-center" id="QV-spend-overall-food-share" objectid="APaKrLZ">
          </div>
          <div class="dtcm-box-spend">
            <div class="number qvobject loading" id="QV-spend-overall-food-total" objectid="Lr">
            </div>
            <div class="usd qvobject loading" id="QV-spend-overall-food-usd" objectid="CZXawC">
            </div>
            <div class="p">2017</div>
          </div>
        </div>
        <div class="col-6">
          <div class="percentage qvobject loading p text-center" id="QV-spend-sm-food-share" objectid="EPHmmTp">
          </div>
          <div class="dtcm-box-spend">
            <div class="number qvobject loading" id="QV-spend-sm-food-total" objectid="amXJB">
            </div>
            <div class="usd qvobject loading" id="QV-spend-sm-food-usd" objectid="hKnPND">
            </div>
            <div class="p">2016</div>
          </div>
        </div>
      </div>
      <div class="section-header">
        <img src="../../../assets/images/spend_icons/accommodation.svg" alt="" class="mr-2 mb-2 header-icon" />
        <h2>ACCOMMODATION</h2>
      </div>
      <div class="row dtcm-clear-bs-padding">

        <div class="col-6">
          <div class="percentage qvobject loading p text-center" id="QV-spend-overall-accommodation-share" objectid="AZWPDrJ">
          </div>
          <div class="dtcm-box-spend">
            <div class="number qvobject loading" id="QV-spend-overall-accommodation-total" objectid="CUSPDH">
            </div>
            <div class="usd qvobject loading" id="QV-spend-overall-accommodation-usd" objectid="gUnWxtJ">
            </div>
            <div class="p">2017</div>
          </div>
        </div>
        <div class="col-6">
          <div class="percentage qvobject loading" id="QV-spend-sm-accommodation-share" objectid="KAcEA">
          </div>
          <div class="dtcm-box-spend">
            <div class="number qvobject loading" id="QV-spend-sm-accommodation-total" objectid="DBBrjt">
            </div>
            <div class="usd qvobject loading" id="QV-spend-sm-accommodation-usd" objectid="JrAGqFe">
            </div>
            <div class="p">2016</div>
          </div>
        </div>
      </div>
      <div class="section-header">
        <img src="../../../assets/images/spend_icons/local_transport.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h2>LOCAL TRANSPORT</h2>
      </div>
      <div class="row dtcm-clear-bs-padding">

        <div class="col-6">
          <div class="percentage qvobject loading p text-center" id="QV-spend-overall-transport-share" objectid="dFrpzJ">
          </div>
          <div class="dtcm-box-spend">
            <div class="number qvobject loading" id="QV-spend-overall-transport-total" objectid="JxjUJGR">
            </div>
            <div class="usd qvobject loading" id="QV-spend-overall-transport-usd" objectid="SeZmuKP">
            </div>
            <div class="p">2017</div>
          </div>
        </div>
        <div class="col-6">
          <div class="percentage qvobject loading p text-center" id="QV-spend-sm-transport-share" objectid="gRjsL">
          </div>
          <div class="dtcm-box-spend">
            <div class="usd qvobject loading" id="QV-spend-sm-transport-usd" objectid="tASZPp">
            </div>
            <div class="percentage qvobject loading" id="QV-spend-sm-transport-Total" objectid="xmVvY">
            </div>
            <div class="p">2016</div>
          </div>
        </div>
      </div>
      <div class="section-header">
        <img src="../../../assets/images/spend_icons/shopping.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h2>SHOPPING</h2>
      </div>
      <div class="row dtcm-clear-bs-padding">

        <div class="col-6">
          <div class="percentage qvobject loading p text-center" id="QV-spend-overall-shopping-share" objectid="dFYfdmR">
          </div>
          <div class="dtcm-box-spend">
            <div class="number qvobject loading" id="QV-spend-overall-shopping-total" objectid="AeLMmM">
            </div>
            <div class="usd qvobject loading" id="QV-spend-overall-shopping-usd" objectid="MAyELj">
            </div>
            <div class="p">2017</div>
          </div>
        </div>
        <div class="col-6">
          <div class="percentage qvobject loading p text-center" id="QV-spend-sm-shopping-share" objectid="gAkfg">
          </div>
          <div class="dtcm-box-spend">
            <div class="number qvobject loading" id="QV-spend-sm-shopping-total" objectid="PpFjzw">
            </div>
            <div class="usd qvobject loading" id="QV-spend-sm-shopping-usd" objectid="QsaHm">
            </div>
            <div class="p">2016</div>
          </div>
        </div>
      </div>
      <div class="section-header">
        <img src="../../../assets/images/spend_icons/leisure_entertainment.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h2>LEISURE & ENTERTAINMENT</h2>
      </div>
      <div class="row dtcm-clear-bs-padding">

        <div class="col-6">
          <div class="percentage qvobject loading p text-center" id="QV-spend-overall-leisure-share" objectid="KAMPjH">
          </div>
          <div class="dtcm-box-spend">
            <div class="number qvobject loading" id="QV-spend-overall-leisure-total" objectid="XzgSxq">
            </div>
            <div class="usd qvobject loading" id="QV-spend-overall-leisure-usd" objectid="rYJUfj">
            </div>
            <div class="p">2017</div>
          </div>
        </div>
        <div class="col-6">
          <div class="percentage qvobject loading p text-center" id="QV-spend-sm-leisure-share" objectid="KTuxsdQ">
          </div>
          <div class="dtcm-box-spend">
            <div class="number qvobject loading" id="QV-spend-sm-leisure-total" objectid="MsSFPv">
            </div>
            <div class="usd qvobject loading" id="QV-spend-sm-leisure-usd" objectid="thsKLM">
            </div>
            <div class="p">2016</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">

  <p><b>Important Notes:</b></p>
  <div class="qvobject loading" id="QV-spend-samplesize" objectid="SqpVjhg"></div>
  <p>
    All variables are weighted by nationality and month. Spend numbers are estimated based on claimed data from the respondents of the survey.
    The Spend numbers are based on “Overnight Visitors” only i.e. visitors stayed for at-least 1 or more nights in Dubai; all “Same day Visitors” are excluded from the spend analysis.<br>
    <br>All the respondents with unclear responses are checked and excluded from the data; in addition, responses deviating 3 times higher/lower than the average spend are treated as outliers and are also excluded from the spend analysis.<br>
    ‘Food & Beverage’ and ‘Leisure & Entertainment’ may have discrepancies in respondent’s interpretation. Respondents may have included/excluded fine dining or clubbing into L&E. <br>
    <b>Questions are asked as follows:</b><br>
    a) F&B: How much on an average have you spent EACH DAY on Food and Beverage for your entire travel party? <br>b) L&E: How much have you spent, IN TOTAL, on Leisure & Entertainment i.e. on ticketed attractions, events and outdoor activities for your entire travel party? (Please do not include Food and Beverage)<br>
    <br>Spend per day per capita calculation is based on dividing the ‘Total Spends’ per category by respective 'Party Size' and 'Length of Stay'
  </p>
</div>
