<div class="hotel-container hotel-outlook">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header firstHeader">
        <img src="../../../assets/images/airline_hotel/current_hotel_inventory.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h2>CURRENT HOTEL INVENTORY</h2>
        <div class="qvobject loading" id="QV-Title-Crrent22A" objectid="LRAseP">
        </div>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-6">
          <div class="dtcm-box-icons  dtcm-blue-bg dtcm-white-color">
            <span>
              <img src="../../../assets/images/airline_hotel/hotel.svg" alt="" class="mr-1 mb-2 header-icon" />
            </span>
            <div class="qvobject loading" id="QV-HI-KPI-Current-Hotels" objectid="JtjTJw"></div>
            <p>HOTELS</p>
          </div>
        </div>
        <div class="col-6">
          <div class="dtcm-box-icons  dtcm-blue-bg dtcm-white-color">
            <span>
              <img src="../../../assets/images/airline_hotel/room.svg" alt="" class="mr-1 mb-2 header-icon" />
            </span>
            <div class="qvobject loading" id="QV-HI-KPI-Current-Rooms" objectid="mwWvCgP"> </div>
            <p>ROOMS</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="section-header">
        <img src="../../../assets/images/airline_hotel/pipeline_hotel_inventory.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h2>PIPELINE HOTEL INVENTORY</h2>
        <div class="qvobject loading" id="QV-Title-Crrent" objectid="LYscJC"> </div>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-6">
          <div class="dtcm-box-icons  dtcm-purple-bg dtcm-white-color">
            <span>
              <img src="../../../assets/images/airline_hotel/hotel.svg" alt="" class="mr-1 mb-2 header-icon" />
            </span>
            <div class="qvobject loading" id="QV-HI-KPI-Pipeline-Hotels" objectid="nBfXXVc"> </div>
            <p>HOTELS</p>
          </div>
        </div>
        <div class="col-6">
          <div class="dtcm-box-icons  dtcm-purple-bg dtcm-white-color">
            <span>
              <img src="../../../assets/images/airline_hotel/room.svg" alt="" class="mr-1 mb-2 header-icon" />
            </span>
            <div class="qvobject loading" id="QV-HI-KPI-Pipeline-Rooms" objectid="mCHJE">
            </div>
            <p>ROOMS</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="section-header">
        <img src="../../../assets/images/airline_hotel/hotel_inventory.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h2>TOTAL HOTEL INVENTORY</h2>
        <div class="qvobject loading" id="QV-Title-Crrent1" objectid="LYscJC"> </div>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-6">
          <div class="dtcm-box-icons  dtcm-gray-light-bg dtcm-white-color">
            <span>
              <img src="../../../assets/images/airline_hotel/hotel.svg" alt="" class="mr-1 mb-2 header-icon" />
            </span>
            <div class="qvobject loading" id="QV-HI-KPI-Total-Hotels" objectid="pwjqC"></div>
            <p>HOTELS</p>
          </div>
        </div>
        <div class="col-6">
          <div class="dtcm-box-icons  dtcm-gray-light-bg dtcm-white-color">
            <span>
              <img src="../../../assets/images/airline_hotel/room.svg" alt="" class="mr-1 mb-2 header-icon" />
            </span>
            <div class="qvobject loading" id="QV-HI-KPI-Total-Rooms" objectid="RwbD"></div>
            <p>ROOMS</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="section-header">
      </div>
      <div id="slider1" class="slider" data-content="sliderContent2">
        <div class="prev inactive"><span class="fa fa-angle-left"></span></div>
        <div class="next inactive"><span class="fa fa-angle-right"></span></div>
        <div class="items">
          <div>
            <div>HOTEL INVENTORY TREND</div>
            <div>Room Inventory Trend</div>
          </div>
        </div>
      </div>

      <div id="sliderContent2" class="slider-contents">
        <div class="items">
          <div>
            <div class="chart-container">
              <ul class="legends">
                <li><span class="pink"></span>TOTAL YEAR END</li>
                <li><span class="blue"></span>EXISTING</li>
              </ul>
              <div class="qvobject loading chart-stacked-bar-2" id="QV-HI-Hotel-Inventory-Trend" objectid="CywTY"
                   style="height:600px !important"></div>
            </div>

          </div>
          <div>
            <div class="chart-container">
              <ul class="legends">
                <li><span class="pink"></span>PIPELINE</li>
                <li><span class="blue"></span>EXISTING</li>
              </ul>
              <div class="qvobject loading chart-stacked-bar-2" id="QV-HI-Room-Inventory-Trend" objectid="HMHJuy"
                   style="height:600px !important"></div>
            </div>

          </div>

        </div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="section-header">
        <h2>ROOM INVENTORY BY HOTEL TIER</h2>
        <div class="qvobject loading" id="QV-Title-Crrent2" objectid="gVdb"> </div>
      </div>
      <div class="chart-container">
        <ul class="legends">
          <li><span class="pink"></span>PIPELINE</li>
          <li><span class="blue"></span>EXISTING</li>
        </ul>
        <div class="qvobject loading chart-stacked-bar-2" id="QV-HI-Rooms-By-Hotel-Class" style="height: 345.2px;" objectid="ZhEGjH"></div>
      </div>
      <div class="">
        <div class="section-header">
          <h2>ROOM INVENTORY SHARE </h2>
          <!--<div class="form-group filter wow h-xs select1 qvobject filter" id="QV-HI-From-Year-Selector" objectid="mtJeFJ">
         </div>-->
          <div class="form-group filter wow h-xs select1 qvobject filter" id="QV-HI-From-Year-Selector" objectid="mtJeFJ">
          </div>
        </div>
        <div class="chart-container">
          <ul class="legends">
            <li><span class="pink"></span>5 STAR</li>
            <li><span class="blue"></span>4 START</li>
            <li><span class="grey"></span>3 STAR</li>
            <li><span class="purple"></span>1-2 STAR</li>
            <li><span class="aqua-light"></span>DELUXE</li>
            <li><span class="pink-light"></span>STANDARD</li>
          </ul>
          <div class="qvobject loading" id="QV-HI-Current-Rooms-Share" style="height: 345.2px;" objectid="gpNCN"></div>
        </div>

      </div>


      <div class="">
        <div class="section-header">
          <h2>ROOM INVENTORY SHARE CHANGE</h2>
          <!--<div class="qvobject loading" id="QV-Title-Crrent4" objectid="gVdb"> </div>-->
          <div class="form-group filter wow h-xs select1 qvobject filter" id="QV-HI-To-Year-Selector" objectid="TDyPDX">
          </div>
        </div>
        <div class="chart-container">
          <ul class="legends">
            <li><span class="pink"></span>SHARE INCREASE   </li>
            <li><span class="blue"></span>SHARE DECREAASE</li>
          </ul>
          <div class="qvobject loading chart-donut" id="QV-HI-Rooms-Share-Change" objectid="BXcGwDz" style="height: 345.2px;"></div>
        </div>

      </div>
    </div>
  </div>
  <div id="CustomFooter" style="display:none">
    <p>
      <b>Important Notes:</b><br>
      Future Hotel Inventory does not take into account potential Hotel project cancellations or closures of existing Hotel establishments
      <br>Hotel classification groups: 1-2 Star classification includes Guest Houses. Deluxe includes Superior Hotel Apartments.
      - <b>Source:</b> DTCM Analysis, individual hotel projects as reported by hotel developers.
    </p>
  </div>
</div>
