﻿@model IEnumerable<DTCMMobWeb.Models.ImageModel>
<h4>
    Note : @ViewBag.NoteDescription
</h4>
<div class="row">
    @if (ViewBag.ShowAdd)
    {
        <img src="~/images/Add_image_icon.png" style="float:right; width:50px" class="col-lg-2" data-toggle="modal" data-target="#myModal" />
    }
    @if (Model.Count() > 0)
    {
    <table class="table col-lg-9 " border="1" style="float:left">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Image
            </th>
            <th>Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.URL)" width="44" />
                </td>
                <td><img src="~/images/delete-128.ico" width="24" alt="Delete" title="Delete" style="cursor:pointer" onclick="DeleteImage(@item.ID , '@item.Name')" /> </td>
            </tr>
        }

    </table>
    }else
    {
    <div>There's no Image for this Name</div>
    }
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" style="top: 36%;margin: 0px 429px;">
    <div class="modal-dialog">
        <form method="post" action="/Home/AddImageForName" enctype="multipart/form-data" id="uploadImageForm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload Image </h4>
                </div>
                <div class="modal-body">
                    <input type="file" id="file" name="file" accept="image/x-png,image/gif,image/jpeg" />
                    <input type="hidden" id="Name" name="Name" value="@ViewBag.ObjName" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="PostFileFunc()">Add </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="CloseModal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function DeleteImage(index, ObjName) {

        var txt;
        var r = confirm("Are You want to Delete This Image!");
        if (r == true) {
            var url = "/Home/DeleteImagesForName?ID=" + index + "&ObjName=" + ObjName
            $.get(url, function (data) {
                $('#ResultOFnames').html('').html(data);

            });
            alert("Done")
        }

    }
    function PostFileFunc() {
        var url = "/Home/AddImageForName"
        var formData = new FormData($('#uploadImageForm')[0]);
        $.ajax({
            url: url,
            type: 'POST',
            beforeSend: function () { },
            success: function (result) {
                $("#CloseModal").click();
                $(".modal-backdrop").hide()
                $('#ResultOFnames').html('').html(result);

            },
            error: function () { },
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        });
    }
</script>