﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DTCM</title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    
</head>
<body>
   
        @RenderBody()

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/alert7.min.js"></script>
    <script>
function openNav() {
    document.getElementById("mySidenav").style.left = "0";
}

function closeNav() {
    document.getElementById("mySidenav").style.left = "-320px";
}
    </script>
    <script>

        (function (Alert7) {

            "use strict";

             window.onConfirmClicked = function () {
                    var _alertA = new Alert7();
                    _alertA.setTitle("TPI Dashboard");
                    _alertA.setMessage("The aim of this dashboard is to provide decision makers with the accurate, relevant and timely data to monitor key tourism performance indicators, in addition to providing information to support effective planning.");
                    _alertA.setType(Alert7.TYPE_CONFIRM);
                    _alertA.addAction("Cancel");
                    _alertA.addAction("Start now");
                    _alertA.present();
                };




        }(window.Alert7));

    </script>
    <script>
		    var body = document.body,
        overlay = document.querySelector('.overlay'),
        overlayBtts = document.querySelectorAll('button[class$="overlay"]');

    [].forEach.call(overlayBtts, function(btt) {

      btt.addEventListener('click', function() {

         /* Detect the button class name */
         var overlayOpen = this.className === 'open-overlay';

         /* Toggle the aria-hidden state on the overlay and the
            no-scroll class on the body */
         overlay.setAttribute('aria-hidden', !overlayOpen);
         body.classList.toggle('noscroll', overlayOpen);

         /* On some mobile browser when the overlay was previously
            opened and scrolled, if you open it again it doesn't
            reset its scrollTop property after the fadeout */
         setTimeout(function() {
             overlay.scrollTop = 0;              }, 1000)

      }, false);

    });

    </script>
</body>
</html>
