<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>@ViewBag.Title</title>
  <script src="/node_modules/core-js/client/shim.min.js"></script>
  <script src="/node_modules/zone.js/dist/zone.js"></script>
  <script src="/Scripts/browser.js"></script>
  <base href="/Home/DTCM">
  <script data-main="script" src="https://@ViewBag.Qlikserver/custom/resources/assets/external/requirejs/require.js?@ViewBag.QlickTicket"></script>

  <script>
        function loadScript(url, callback) {
            var script = document.createElement("script")
            script.type = "text/javascript";
            if (script.readyState) {  //IE
                script.onreadystatechange = function () {
                    if (script.readyState == "loaded" ||
                        script.readyState == "complete") {
                        script.onreadystatechange = null;
                        callback();
                    }
                };
            } else {  //Others
                script.onload = function () {
                    callback();
                };
            }

            script.src = url;
            document.getElementsByTagName("head")[0].appendChild(script);
        }
        loadScript("https://@ViewBag.Qlikserver/custom/resources/js/qlik.js?@ViewBag.QlickTicket", LoadALLFiles)
        function LoadALLFiles() {
            var style = document.createElement('link');
            style.href = "https://@ViewBag.Qlikserver/custom/resources/autogenerated/qlik-styles.css?@ViewBag.QlickTicket";
            style.type = 'text/css';
            style.rel = 'stylesheet';
          document.getElementsByTagName("head")[0].appendChild(style);
        }
  </script>

</head>
<body>
  @RenderBody()
  <link href="/assets/css/main.css" rel="stylesheet" />
  <script src="/assets/jquery/jquery.js"></script>
  <script src="~/assets/jquery/jquery.js"></script>
  <script src="/Scripts/OverseasDashboardBusLogic.js"></script>
  <script src="/Scripts/TPIDashboardBunisseLogic.js"></script>
  <script src="/Scripts/DivsDashboardBusLogic.js"></script>
  <script src="/Scripts/BrandTrackerBusinessLogic.js"></script>
  <script src="/Scripts/HotelBusinessLogic.js"></script>
  <script src="/Scripts/MainFun.js"></script>
  <script src="/dist/runtime.js"></script>
  <script src="/dist/polyfills.js"></script>
  <script src="/dist/main.js"></script>
  
</body>
</html>
