﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/updatedstyle.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/alert7.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic" rel="stylesheet" type="text/css">
    <link href="~/Content/animate.css" rel="stylesheet">
    <script src="~/Scripts/wow.min.js"></script>
    <link href="~/Content/Updatedtpi.css" rel="stylesheet" />
    <style>

        div.scrollmenu {
            background-color: #333;
            overflow: auto;
            white-space: nowrap;
        }

            div.scrollmenu a {
                display: inline-block;
                color: white;
                text-align: center;
                padding: 14px;
                text-decoration: none;
            }

                div.scrollmenu a:hover {
                    background-color: #777;
                }
    </style>
</head>
<body style="padding:8px 50px 8px 69px">
    <div class="scrollmenu">
        @if (Session["GroupsUploadImages"] != null)
        {
            <a href="@Url.Action("UploadImages", "Home")">Upload Images</a>
        }
        @if (Session["GroupsSendNotifications"] != null)
        {
            <a href="@Url.Action("SendNotification", "Home")">Send Notification</a>
        }
        </div>
    @RenderBody()
</body>
</html>
