﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dubai Tourism</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/indexstyle.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Indexnormalize.css" rel="stylesheet" type="text/css">
    <link href="index.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Modrnizr Lib -->
    <script src="js/modernizr.js" type="text/javascript"></script>
    <!-- BOOSTRATP SCRIPTS -->
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- CLASSIE STOCKY HEADER  -->
    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic' rel='stylesheet' type='text/css'>

</head>

<body>

    
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <a href="#" class="logo"></a>
                    </div>
                    <div class="col-sm-9 text-right">
                        <a href="#" class="logo-right pull-right"></a>
                        <a href="https://selfservice.dtcm.gov.ae" target="_blank" class="visible-lg visible-md visible-sm" style="display:block;float:right;color:#fff;margin:40px 30px 0 0;"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Change Password</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- MAIN BANNER -->
        <div class="container100 fullheight noMargin noPadding" style="
	background:url(../Home/images/bg.jpg);
 	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;">
            <div class="fullscreen layer-overlay">
                <div class="container noPadding text-center">
                    <div class="title-area">
                        <h1 class="banner-title wow slideInLeft" data-wow-delay="0s">Dubai Tourism Login Dashboards</h1>

                        <p class="banner-tagline wow slideInRight" data-wow-delay="0.2s"></p>
                            @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <div class="container100" style="position:fixed;bottom:0;height:60px;background:rgba(0,0,0,0.5);color:#fff;">
            <div class="container text-center">
                Copyright ©2018. Department of Tourism & Commerce Marketing UAE – Dubai |
                <strong>Tel:</strong> [+971] 600 55 5559 |
                <strong>Email:</strong> strategy@dubaitourism.ae
            </div>
        </div>
      

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="~/Scripts/jquery-1.11.3.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/alert7.min.js"></script>

    </body>
</html>
