﻿
<div id="mySidenav" class="sidenav">
    <button type="text" class="closebtn close-overlay" onclick="closeNav()">&times;</button>
    <div class="text-center">
        <img class="menu_logo" src="~/images/logo2.png">
    </div>
    <a class="menu_item" href="/Home"><img src="~/images/home.png"> Home</a>
    <a class="menu_item  not-active" href="contact.html"><img src="~/images/phone.png"> Contact Us</a>
    <a class="menu_item  not-active" href="profile.html"><img src="~/images/profile.png"> Profile & Settings</a>
    <a class="menu_item  not-active" href="#"><img src="~/images/tutorial.png"> tutorial</a>
    <a class="menu_item  not-active" href="#"><img src="~/images/logout.png"> Logout</a>
</div>