<div class="vs-container vs-satisfaction-external">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header firstHeader">
        <h2>SATISFACTION</h2>
        <P class="header mb-2">How satisfied are you with your experience of Dubai during your visit ?</P>
      </div>

      <div class="section-header">
        <h3>UNHAPPY</h3>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-md" id="QV-satisfaction-ext-unhappy-cy"
                 objectid="yJPZFG"></div>
            <div class="qvobject loading text-center number-sm pt-2 " id="QV-satisfaction-ext-cy-title" objectid="yGXPw"></div>
          </div>
        </div>

        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-md" id="QV-satisfaction-ext-unhappy-py"
                 objectid="baaJHc"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-satisfaction-ext-py-title" objectid="UQLuuk"></div>
          </div>
        </div>
      </div>

      <div class="section-header">
        <h3>SATISFIED</h3>
      </div>


      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-md" id="QV-satisfaction-ext-satisfied-cy"
                 objectid="CPGPcc"></div>
            <div class="qvobject loading text-center number-sm pt-2 " id="QV-satisfaction-ext-cy-title1" objectid="yGXPw"></div>
          </div>
        </div>

        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-md" id="QV-satisfaction-ext-satisfied-py"
                 objectid="TSfhxk"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-satisfaction-ext-py-title1" objectid="UQLuuk"></div>
          </div>
        </div>
      </div>



      <div class="section-header">
        <h3>HAPPY</h3>
      </div>


      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-md" id="QV-satisfaction-ext-happy-cy" objectid="qnRC"></div>
            <div class="qvobject loading text-center number-sm pt-2 " id="QV-satisfaction-ext-cy-title3" objectid="yGXPw"></div>
          </div>
        </div>

        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-md" id="QV-satisfaction-ext-happy-py" objectid="TnCJh"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-satisfaction-ext-py-title2" objectid="UQLuuk"></div>
          </div>
        </div>
      </div>


      <div class="section-header">
        <h3>EXTREMELY HAPPY</h3>
      </div>



      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-md" id="QV-satisfaction-ext-extremelyhappy-cy"
                 objectid="HnLJbw"></div>
            <div class="qvobject loading text-center number-sm pt-2 " id="QV-satisfaction-ext-cy-title4" objectid="yGXPw"></div>
          </div>
        </div>

        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-md" id="QV-satisfaction-ext-extremelyhappy-py"
                 objectid="mJaayv"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-satisfaction-ext-py-title3" objectid="UQLuuk"></div>
          </div>
        </div>
      </div>


      <div class="section-header">
        <h3>
          SATISFACTION SCORE <small>

            <span class="tool-tip">
              (i)
              <span class="tooltiptext">Net Satisfaction Score: Satisfaction Score is derived based on the sum of (% Extremely Happy) & (% Happy). </span>
            </span>
          </small>
        </h3>

      </div>


      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-satisfaction-ext-satisfactionscore-cy"
                 objectid="YZBvj"></div>
            <div class="qvobject loading text-center number-sm pt-2 " id="QV-satisfaction-ext-cy-title6" objectid="yGXPw"></div>
          </div>
        </div>

        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-satisfaction-ext-satisfactionscore-py"
                 objectid="LcsJwQ"></div>
            <div class=" text-center number-sm pt-2" id="QV-satisfaction-ext-py-title4" objectid="UQLuuk"></div>
          </div>
        </div>
      </div>

      <div class="section-header">
        <div class="h2">
          HAPPINESS INDEX SCORE <div class="small">
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">
                Happiness Index: Relative performance indexed against average 'Satisfaction Score' across all Nationalities.
              </span>
            </span>
          </div>
        </div>
        <div class="qvobject loading text-center color-gray" id="QV-satisfaction-ext-indexscore-cy" objectid="JWfEF">
        </div>
      </div>

      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-pink-bg">
            <p>BELOW 69</p>
            <p>LOW</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-gray-bg">
            <p>70-109</p>
            <p>NEUTRAL</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-blue-bg">
            <p>110+</p>
            <p>HIGH</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">

  <p><b>Important Notes:</b><br></p>
  <div class="qvobject loading" id="QV-satisfaction-ext-samplesize" objectid="RQKQbp"></div>
  <p>
    All variables are weighted by nationality and month
    <br><b>Rating Scale: </b>  New labels were assigned to the rating scale in Year 2016 and may have an impact on the results.<br><b>'NaN'</b> indicates that data is not available.
  </p>
</div>
