<div class="brand-tracker-container brand-tracker-barriers">
  <div class="row">
      <div class="col-md-12">
          <div class="section-header"></div>

          <div id="slider1" class="slider" data-content="sliderContent2">
              <div class="prev inactive"><span class="fa fa-angle-left"></span></div>
              <div class="next inactive"><span class="fa fa-angle-right"></span></div>
              <div class="items">
                  <div>
                      <div>OVERALL</div>
                      <div>Considering Dubai</div>
                      <div>Not Considering Dubai</div>
                  </div>
              </div>
          </div>

          <div id="sliderContent2" class="slider-contents">
              <div class="items">
                  <div>
                      <div class="col-md-12">
                          <div class="section-header">
                              <div class="h2">
                                  PERCEPTIONS <div class="small">
                                      <div class="tool-tip">
                                          (i)
                                          <span class="tooltiptext">VAR VS PY: Variance in percentage points from last year</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="qvobject loading dtcm-tables table-equal-2 table-left-1 table-right-2 table-right-3 table-white-2"
                              id="QV-Perception-OverAll" style="height:575px !important;" objectid="TxpAD">
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="section-header">
                              <div class="h2">
                                  CULTURE <div class="small">
                                      <div class="tool-tip">
                                          (i)
                                          <span class="tooltiptext">VAR VS PY: Variance in percentage points from last year</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="qvobject loading dtcm-tables table-equal-2 table-left-1 table-right-2 table-right-3 table-white-2"
                              id="QV-Culture-OverAll" style="height:505px !important;" objectid="AQLm">
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="section-header">
                              <div class="h2">
                                  ATTRIBUTES <div class="small">
                                      <div class="tool-tip">
                                          (i)
                                          <span class="tooltiptext">VAR VS PY: Variance in percentage points from last year</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="qvobject loading dtcm-tables table-equal-2 table-left-1 table-right-2 table-right-3 table-white-2"
                              id="QV-Attributes-OverAll" style="height:235px !important;" objectid="zqaPHR">
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="section-header">
                              <div class="h2">
                                  OTHER FACTORS <div class="small">
                                      <div class="tool-tip">
                                          (i)
                                          <span class="tooltiptext">VAR VS PY: Variance in percentage points from last year</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="qvobject loading dtcm-tables table-equal-2 table-left-1 table-right-2 table-right-3 table-white-2"
                              id="QV-Otheres-Factors-OverAll" style="height:282px !important;" objectid="zpgqFU">
                          </div>
                      </div>
                  </div>
                  <div>
                      <div class="col-md-12">
                          <div class="section-header">
                              <div class="h2">
                                  PERCEPTIONS <div class="small">
                                      <div class="tool-tip">
                                          (i)
                                          <span class="tooltiptext">PERCEPTIONS</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="qvobject loading dtcm-tables table-equal-2 table-left-1 table-right-2 table-right-3 table-white-2"
                              id="QV-Perception-Considering_Dubai" style="height:575px !important;" objectid="hdsUwrC">
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="section-header">
                              <div class="h2">
                                  CULTURE <div class="small">
                                      <div class="tool-tip">
                                          (i)
                                          <span class="tooltiptext">CULTURE</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="qvobject loading dtcm-tables table-equal-2 table-left-1 table-right-2 table-right-3 table-white-2"
                              id="QV-Culture-Considering_Dubai" style="height:505px !important;" objectid="ZSxLWJj">
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="section-header">
                              <div class="h2">
                                  ATTRIBUTES <div class="small">
                                      <div class="tool-tip">
                                          (i)
                                          <span class="tooltiptext">ATTRIBUTES</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="qvobject loading dtcm-tables table-equal-2 table-left-1 table-right-2 table-right-3 table-white-2"
                              id="QV-Attributes-Considering_Dubai" style="height:235px !important;" objectid="uMbQWh">
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="section-header">
                              <div class="h2">
                                  OTHER FACTORS <div class="small">
                                      <div class="tool-tip">
                                          (i)
                                          <span class="tooltiptext">OTHER FACTORS</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="qvobject loading dtcm-tables table-equal-2 table-left-1 table-right-2 table-right-3 table-white-2"
                              id="QV-Otheres-Factors-Considering_Dubai" style="height:282px !important;" objectid="MyVwuW">
                          </div>
                      </div>
                  </div>
                  <div>
                      <div class="col-md-12">
                          <div class="section-header">
                              <div class="h2">
                                  PERCEPTIONS <div class="small">
                                      <div class="tool-tip">
                                          (i)
                                          <span class="tooltiptext">PERCEPTIONS</span>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="qvobject loading qvobject loading dtcm-tables table-equal-2 table-left-1 table-right-2 table-right-3 table-white-2"
                              style=" height:575px !important;" id="QV-Perception-Not_Considering_Dubai" objectid="NBbAyV">
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="section-header">
                              <div class="h2">
                                  CULTURE <div class="small">
                                      <div class="tool-tip">
                                          (i)
                                          <span class="tooltiptext">CULTURE</span>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="qvobject loading dtcm-tables table-equal-2 table-left-1 table-right-2 table-right-3 table-white-2"
                              style="height:505px !important;" id="QV-Culture-Not_Considering_Dubai" objectid="ZaguP">
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="section-header">
                              <div class="h2">
                                  ATTRIBUTES <div class="small">
                                      <div class="tool-tip">
                                          (i)
                                          <span class="tooltiptext">ATTRIBUTES</span>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="qvobject loading dtcm-tables table-equal-2 table-left-1 table-right-2 table-right-3 table-white-2"
                              style="height:235px !important;" id="QV-Attributes-Not_Considering_Dubai" objectid="QcDEZwA">
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="section-header">
                              <div class="h2">
                                  OTHER FACTORS <div class="small">
                                      <div class="tool-tip">
                                          (i)
                                          <span class="tooltiptext">OTHER FACTORS</span>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="qvobject loading dtcm-tables table-equal-2 table-left-1 table-right-2 table-right-3 table-white-2"
                              style=" height:282px !important;" id="QV-Otheres-Factors-Not_Considering_Dubai"
                              objectid="jRvy">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p><b>Important Notes:</b><br></p>
  <div class="qvobject loading" id="QV-BT-SampleSize" objectid="SanxeP"></div>
  <p>
      - <b>Barriers <span style="font-size:9px"> (1) </span> :</b> Main reasons for not considering to visit Dubai
      broken down by total, non considerers (code 1-5) and considerers (code 6-10).<br>
      - <b>Abbreviations:</b> Diff. from PY: Difference in %PTS from last year.
  </p>
</div>