<style>
  .chart-bar-2 {
      width: 100%;
      height: 610px;
      overflow: hidden !important;
      display: inline-block;
  }
</style>
<div class="overseas-container overseas-markets">

  <div class="row">
      <div class="col-md-12">
          <div class="section-header firstHeader">
              <h2>TOP SOURCE MARKETS TO DUBAI</h2>
          </div>

          <div class="chart-container">
              <ul class="legends">
                  <li><span class="pink"></span>CURRENT YEAR</li>
                  <li><span class="blue"></span>PREVIOUS YEAR</li>
              </ul>
              <div class="qvobject loading chart-bar-2" style="height:450px !important;padding:0px" id="QV-p02-00" objectid="nnTgS">
              </div>
          </div>
      </div>

      <div class="col-md-12">
          <div class="section-header">
              <div class="h2">ANNUAL VARIANCE IN TOP SOURCE MARKETS <div class="small">
                      <div class="tool-tip">(i)
                          <span class="tooltiptext ">VAR: Variance from previous year.</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="qvobject loading dtcm-tables table-right-1 table-left-3 text-center table-white-4 table-gray-5 dtcm-tb-head-align"
              style="height:500px !important" id="QV-p02-01" objectid="dwpwFS">
          </div>
      </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p>
      <b>Data Source and Caveats:</b>
      <br><b>Overnight Visitors: </b>
      Source – DTCM Visitor Model; overnight visitors travelling to Dubai and staying at least one night. This includes all visitors travelling by air, land and sea and excludes all UAE nationals & residents, aircrew and sea crew.  The visitors data are analysed by nationality and based on a robust set of information, including visitors arrivals from Dubai Immigration Authorities, hotel guest reported by Hotel Establishments in Dubai and Dubai International Visitors Survey (DIVS).
  </p><br>
  <div class="qvobject loading" id="Qv-p01-lastredirectdate" objectid="jYJpjJ"></div>
</div>