<div class="tpi-container tpi-source-market">
  <div class="section-header">
      <h2> TOTAL OVERNIGHT VISITORS</h2>
  </div>
  <div class="number-market-details">
      <div class="h-sm-2 qvobject pct_residence" id="QV-p02-02-01" objectid="CtMA"></div>
  </div>
  <div class="section-header">
      <h2> TOP 20 SOURCE MARKETS</h2>
  </div>
  <div class="qvobject table-no-border-top table-left-3 table-right-4 table-left-2 table-right-1" style="height:780px !important"
      id="QV-p02-01" objectid="tbLAcq">
  </div>

</div>
<div id="CustomFooter" style="display:none">
  <p>
      <b>Data Source and Caveats:</b><br>
      <b><u>Total Overnight Visitors:</u></b>Source – DTCM Visitor Model; overnight visitors travelling to Dubai and staying at least one night. This includes all visitors travelling by air, land and sea and excludes all UAE nationals & residents, aircrew and sea crew.  The visitors data are analysed by nationality and based on a robust set of information, including visitors arrivals from Dubai Immigration Authorities, hotel guests reported by Hotel Establishments in Dubai and Dubai International Visitors Survey (DIVS).
* Australia Set as default Source Market.
  </p><br>
  <div class="qvobject" id="Qv-p01-lastredirectdate" objectid="uhUbGv"></div>
</div>