<div class="vs-container vs-revisit">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header firstHeader">
        <h2>POTENTIAL REPEAT VISITATION</h2>
        <P class="header mb-5">How likely are you to visit Dubai again?</P>
      </div>

      <div class="section-header">
        <h3>UNLIKELY TO REPEAT</h3>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="chart-donut-2 chart-donut-2-lg qvobject loading" id="QV-revisit-unlike-cy" objectid="fBjVRLY"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-revisit-cy-title" objectid="pWFqagu"></div>
          </div>
        </div>

        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="chart-donut-2 chart-donut-2-lg qvobject loading" id="QV-revisit-unlike-py" objectid="kvANfFJ"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-revisit-py-title1" objectid="ZESppES"></div>
          </div>
        </div>
      </div>

      <div class="section-header">
        <h3>NEUTRAL</h3>
      </div>


      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="chart-donut-2 chart-donut-2-lg qvobject loading" id="QV-revisit-neutral-cy" objectid="VHwyJC"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-revisit-cy-title2" objectid="pWFqagu"></div>
          </div>
        </div>

        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="chart-donut-2 chart-donut-2-lg qvobject loading" id="QV-revisit-neutral-py" objectid="dvFeU"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-revisit-py-title2" objectid="ZESppES"></div>
          </div>
        </div>
      </div>


      <div class="section-header">
        <h3>LIKELY TO REPEAT</h3>
      </div>



      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="chart-donut-2 chart-donut-2-lg qvobject loading" id="QV-revisit-like-cy" objectid="FpFyj"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-revisit-cy-title3" objectid="pWFqagu"></div>
          </div>
        </div>

        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="chart-donut-2 chart-donut-2-lg qvobject loading" id="QV-revisit-like-py" objectid="rvWPKvk"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-revisit-py-title3" objectid="ZESppES"></div>
          </div>
        </div>
      </div>


      <div class="section-header">
        <h3>
          REPEAT VISITOR SCORE <small>

            <span class="tool-tip">
              (i)
              <span class="tooltiptext">Net Repeat Visitor Score: Derived based on the difference between (% Likely Repeat Visitors) & (% Unlikely Repeat Visitors)</span>
            </span>
          </small>
        </h3>

      </div>


      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-revisit-nrvs-cy" objectid="NzbYGpP"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-revisit-cy-title4" objectid="pWFqagu"></div>
          </div>
        </div>

        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="chart-donut-2 chart-donut-2-lg qvobject loading" id="QV-revisit-nrvs-py" objectid="VzpSJBQ"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-revisit-py-title" objectid="ZESppES"></div>
          </div>
        </div>
      </div>



      <div class="section-header">
        <div class="h2">
          REVISITATION INDEX
          <div class="small">
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">Revisit Index: Relative performance, indexed against average 'Net Repeat Visitor Score' across all Nationalities.</span>
            </span>
          </div>
        </div>

      </div>
      <div class="qvobject loading number-md text-center color-gray" id="QV-revisit-score" objectid="PGJTm">
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-pink-bg">
            <p>BELOW 69</p>
            <p>LOW</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-gray-bg">
            <p>70-109</p>
            <p>NEUTRAL</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-blue-bg">
            <p>110+</p>
            <p>HIGH</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p><b>Important Notes:</b><br></p>
  <div class="qvobject loading" id="QV-revisit-samplesize" objectid="PkcB"></div>
  <p>
    All variables are weighted by nationality and month
  </p>

</div>
