<div class="overseas-container overseas-stay">
  <div class="row hide_object" id="resident_pct_obj">
      <div class="col-md-12">
          <div class="section-header firstHeader">
              <h2>% OF UAE RESIDENTS
                  <br> (HOTEL GUESTS)</h2>
          </div>
          <div class="v-lg qvobject loading dtcm-tables table-right-1 table-left-3 table-right-4 table-no-border-top" style="height:500px !important"
              Selection="false" id="QV-p05-03" objectid="kCXmnK">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="section-header firstHeader">
              <h2>% OF INTERNATIONAL GUEST ARRIVAL BY TIER</h2>
          </div>
          <div class="v-lg qvobject loading table table-0 table-4 center-table table-no-border-top table-border-2" style="height:490px !important"
              Selection="false" id="QV-p05-02" objectid="0f748b7a-4c79-4fdc-be04-2b2e5892f990">
          </div>
      </div>
  </div>

  <div class="row hide_object" id="length_of_stay_obj">
      <div class="col-md-12">
          <div class="section-header firstHeader">
              <h2>
                  LENGTH OF STAY <br>(NIGHTS) <small>
                      <span class="tool-tip">
                          (i)
                          <span class="tooltiptext">Length of Stay (Nights): Number of nights hotel guests spend in hotel establishments.
                          YOY: Year over Year.</span>
                      </span>
                  </small>
              </h2>
          </div>
          <div class="v-lg qvobject loading dtcm-tables table-right-1 table-left-3 text-center table-white-4 table-gray-5 dtcm-tb-head-align table-no-border-top"
              style="height:500px !important" Selection="false" id="QV-p05-0303" objectid="pzeanV">
          </div>
      </div>
  </div>
  <div id="CustomFooter" style="display:none">
      <p>
          <b>Data Source and Caveats:</b><br>
          <b>BIR MONTHLY REPORT:</b> 1-3 Star categories includes Guest House, Deluxe Hotel Apartments includes Superior. Guest Arrivals includes Residents and Hotel Hoppers (people who stay in multiple hotels per single trip).
      </p>
  </div>
