<div class="brand-tracker-container brand-tracker-consideration">
  <div class="row">
    <div class="col-md-12">

      <div class="section-header firstHeader">
        <div class="h2">
          ON THE LIST <div class="small">
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">
                On the List: The % of respondents who consider visiting each destination (Codes 6-10) on a scale of 1 to 10
                Diff. from PY: Variance in percentage points from last year
              </span>
            </span>
          </div>
        </div>
      </div>

      <div class="col-xs-2 year qvobject loading dtcm-tables table-right-1 table-left-2 table-left-3 table-right-4 table-right-5 table-right-flex-4"
           noInteraction="true" id="QV-CF-OnTheList-Year" objectid="pPZPZp" style="height:475px"></div>
    </div>

    <div class="col-md-12">
      <div class="section-header">
        <div class="h2">
          ACTIVELY SEEKING <div class="small">
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">Actively Seeking: The % of respondents who sought Diff. from PY: Variance in percentage points from last year.</span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-xs-2 year qvobject loading  dtcm-tables table-right-1 table-left-2 table-left-3 table-right-4 table-right-5 table-right-flex-4"
           id="QV-CF-ActivelySeeking-Year" noInteraction="true" objectid="uvsuX" style="height:475px"></div>
    </div>

    <div class="col-md-12">
      <div class="section-header">
        <div class="h2">
          BOOKED <div class="small">
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">
                Booked: The % of respondents who already booked flights to destination VAR VS PY: Variance in percentage points from last year
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-xs-3 year qvobject loading  dtcm-tables table-right-1 table-left-2 table-left-3 table-right-4 table-right-5 table-right-flex-4"
           id="QV-CF-Booked-Year" objectid="ydE" noInteraction="true" style="height:475px"></div>
    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">

  <p><b>Important Notes:</b><br></p>
  <div class="qvobject loading" id="QV-BT-SampleSize" objectid="SanxeP"></div>
  <p>
    - <b>On the List <span style="font-size:9px"> (1) </span> :</b> The % of respondents who consider visiting X
    destination (Codes 6-10) on a scale of 1 to 10.<br>
    - <b>Actively Seeking <span style="font-size:9px"> (2) </span> :</b> The % of respondents who saught
    information about X destination (Flights/ Accommodation).<br>
    - <b>Booked <span style="font-size:9px"> (3) </span> :</b> The % of respondents who booked flights to
    destination.<br>
    - All destinations above are provided to respondents (Dubai+6).<br>
    - <b>Abbreviations:</b> Diff. from PY: Difference in %PTS from last year.
  </p>
</div>
