<div class="vs-container vs-infrastructure">
  <div class="row">

    <div class="col-md-12">
      <div class="section-header firstHeader"></div>

      <div id="slider1" class="slider" data-content="sliderContent2">
        <div class="prev inactive"><span class="fa fa-angle-left"></span></div>
        <div class="next inactive"><span class="fa fa-angle-right"></span></div>
        <div class="items">
          <div>
            <div>
              NEXT SATISFACTION SCORE DETAILS
              <span class="tool-tip">
                (i)
                <span class="tooltiptext">
                  Index 1:Relative performance indexed against average
                  'Satisfaction Score' across all attributes :excluding Overall Satisfaction &
                  Advocacy
                </span>
              </span>
            </div>
            <div>HAPPINESS INDEX DETAILS</div>
          </div>
        </div>
      </div>

      <div id="sliderContent2" class="slider-contents">
        <div class="items">
          <div>

            <div class="qvobject loading dtcm-tables table-left-1 table-center-2 table-gray-3" id="QV-p04-021" objectid="zkBqr"
                 style="height:400px;" Selection="false">
            </div>
          </div>
          <div>
            <div class="qvobject loading dtcm-tables table-left-1 table-center-2" style="height:400px;"
                 id="QV-pillars-overall" objectid="BKCyyj">
            </div>
            <div class="qvobject loading dtcm-tables table-left-1 table-center-2" style="height:400px;" id="QV-pillars-sm" objectid="ZAKPGBW">
            </div>
          </div>
        </div>
      </div>

      <div class="section-header2">
        <div class="h2 pt-0">
          HAPPINESS INDEX DETAILS <div class=" small">
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">
                Index 1:Relative performance indexed against average
                'Satisfaction Score' across all attributes :excluding Overall Satisfaction & Advocacy
              </span>
            </span>
          </div>
        </div>
      </div>

      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-pink-bg">
            <p>BELOW 69</p>
            <p>LOW</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-gray-bg">
            <p>70-109</p>
            <p>NEUTRAL</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-blue-bg">
            <p>110+</p>
            <p>HIGH</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p><b>Important Notes:</b></p>
  <div class="qvobject loading" id="QV-infrastructure-ext-samplesize" objectid="hSuzKht"></div>
  <p>
    - All variables in this slide are weighted by nationality and month
  </p>
  <div class="qvobject loading" id="QV-infrastructure-ext-hapindx1-caveat" objectid="vYh"></div>
  <div class="qvobject loading" id="QV-infrastructure-ext-hapindx2-caveat" objectid="AJngybp"></div>
</div>
