<style>
  .BounsValues {
    color: #ffffff !important;
  }
</style>
<div class="vs-container vs-visitation">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header firstHeader">
        <h2>TRAVELLED TO DUBAI <br> AS SOLE DESTINATION</h2>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-visitationbehaviour-dest-sole-cy"
                 objectid="PsaTde"></div>
            <div class=" qvobject loading dtcm-white-color" id="QV-visitationbehaviour-dest-sole-Title1"
                 objectid="engfzeu"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-visitationbehaviour-dest-sole-py"
                 objectid="djmJwr"></div>
            <div class=" qvobject loading dtcm-white-color" id="QV-visitationbehaviour-dest-sole-Title21"
                 objectid="QcpGF"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-visitationbehaviour-dest-sole-yoy"
                 objectid="ktMarRn"></div>
            <p class="dtcm-white-color">
              YoY
              <span class="tool-tip">
                (i)
                <span class="tooltiptext"><strong>YOY:</strong> Year over Year.</span>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="section-header">
        <h2>AS MULTI DESTINATION</h2>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-visitationbehaviour-dest-main-cy"
                 objectid="YbJrbb"></div>
            <div class=" qvobject loading dtcm-white-color" id="QV-visitationbehaviour-dest-sole-Title2"
                 objectid="engfzeu"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-visitationbehaviour-dest-main-py"
                 objectid="KuDJGY"></div>
            <div class=" qvobject loading dtcm-white-color" id="QV-visitationbehaviour-dest-sole-Title22"
                 objectid="QcpGF"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-visitationbehaviour-dest-main-yoy"
                 objectid="FTNPYm"></div>
            <p class="dtcm-white-color">YoY</p>
          </div>
        </div>
      </div>

      <div class="section-header">
        <h2>AS STOPOVER DESTINATION</h2>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-visitationbehaviour-dest-stopover-cy"
                 objectid="pSjgNP"></div>
            <div class=" qvobject loading dtcm-white-color" id="QV-visitationbehaviour-dest-sole-Title3"
                 objectid="engfzeu"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-visitationbehaviour-dest-stopover-py"
                 objectid="yLwyc"></div>
            <div class=" qvobject loading dtcm-white-color" id="QV-visitationbehaviour-dest-sole-Title23"
                 objectid="QcpGF"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-visitationbehaviour-dest-stopover-yoy"
                 objectid="sPMSn"></div>
            <p class="dtcm-white-color">YoY</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="section-header">
        <h2>PORT OF ENTRY</h2>
      </div>
      <div class="qvobject loading dtcm-tables table-equal-2 table-gray-3 table-white-2 table-left-1 table-right-2 table-right-3"
           style="height:198px !important;" id="QV-visitationbehaviour-portofentry" objectid="JjFfSNz"></div>
    </div>

    <div class="col-md-12">
      <div class="section-header">
        <div class="h2">
          REPEAT VISITORS IN 12 MONTHS
          <div class="small">
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">REPEAT VISITORS IN 12 MONTHS</span>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="section-header2">
            <div class="col-xs-12 qvobject loading noPadding" id="QV-visitationbehaviour-repeat-visitors-cy-title"
                 objectid="engfzeu"></div>
          </div>
          <div class="chart-container">
            <div class="col-xs-12 qvobject loading chart-donut don-bor" style="height:150px !important;" id="QV-visitationbehaviour-repeat-visitors-cy"
                 objectid="mjmfL"></div>
            <ul class="legends d-flex justify-content-center">
              <li>
                <span class="pink"></span>FIRST TIME
              </li>
              <li>
                <span class="blue"></span>REPEAT
              </li>
            </ul>
          </div>
        </div>
        <div class="don-bor">
          <hr>
        </div>
        <div class="col-6">
          <div class="section-header2">
            <div class="col-xs-12 qvobject loading" id="QV-visitationbehaviour-repeat-visitors-py-title" objectid="QcpGF"></div>
          </div>
          <div class="chart-container">
            <div class="col-xs-12 qvobject loading chart-donut" style="height:150px !important;" id="QV-visitationbehaviour-repeat-visitors-py"
                 objectid="PQuKYpC"></div>
            <ul class="legends d-flex justify-content-center">
              <li>
                <span class="pink"></span>FIRST TIME
              </li>
              <li>
                <span class="blue"></span>REPEAT
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="section-header">
        <div class="h2">
          LENGTH OF STAY
          <div class="small">
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">Nights in Dubai: Difference between days and nights in Dubai is  due to the fact that respondents are allowed to claim 1 night even if they have left before midnight.</span>
            </span>
          </div>
        </div>
      </div>
      <div class="qvobject loading dtcm-tables table-equal-2 table-gray-3 table-white-2 table-left-1 table-right-2 table-right-3"
           style="height:182px !important;" id="QV-visitationbehaviour-lengthofstay" objectid="YJWnbF">
      </div>

      <div>
        <div class="section-header">
          <div class="h2">
            ACCOMMODATION
            <div class="small">
              <span class="tool-tip">
                (i)
                <span class="tooltiptext">Others includes company accommodation, own/ rented property & cruise. </span>
              </span>
            </div>
          </div>
        </div>
        <div class="qvobject loading dtcm-tables table-equal-2 table-gray-3 table-left-1 table-right-2 table-right-3"
             style="height:196px !important;" id="QV-visitationbehaviour-accommodation" objectid="Tpcts">
        </div>

        <div class="">
          <div class="section-header">
            <div class="h2">
              SHARE BY HOTEL TIER
              <div class="small">
                <span class="tool-tip">
                  (i)
                  <span class="tooltiptext">Data Source: BIR - Business Intelligence & Reporting 2016/2017</span>
                </span>
              </div>
            </div>
          </div>
          <div class="chart-container chart-container2">
            <ul class="legends d-flex justify-content-start">
              <li>
                <span class="pink"></span>CURRENT YEAR
              </li>
              <li>
                <span class="blue"></span>PREVIOUS YEAR
              </li>
            </ul>
            <div class="qvobject loading chart-bar text-center" style="height:265px !important;" id="QV-visitationbehaviour-hotelcategory"
                 objectid="SGtuxeJ"></div>
          </div>
          <br>

        </div>

      </div>
    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">

  <p><b>Important Notes:</b><br></p>
  <div class="qvobject loading" style="height:55px" id="QV-visitationbehaviour-samplesize" objectid="bpPuxy"></div>
  <p>
    All variables are weighted by nationality and month
  </p>

</div>
