<div class="hotel-container hotel-pipeline">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header firstHeader">
        <h2>HOTEL CAPACITY HEAT MAP</h2>

      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box-icons  border-curly dtcm-purple-bg dtcm-white-color">
            <span>
              <img src="../../../assets/images/airline_hotel/hotel.svg" alt="" class="mr-1 mb-2 header-icon" />
            </span>
            <div class="floating-box-hotel qvobject loading" id="QV-HCAP-Hotels-KPI" objectid="wTnGnG"></div>
            <p>HOTELS</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-icons  border-curly dtcm-purple-bg dtcm-white-color">
            <span>
              <img src="../../../assets/images/airline_hotel/room.svg" alt="" class="mr-1 mb-2 header-icon" />
            </span>
            <div class="floating-box-room qvobject loading" id="QV-HCAP-Rooms-KPI" objectid="TjAkmP"></div>
            <p>ROOMS</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-icons  border-curly dtcm-purple-bg dtcm-white-color">
            <span>
              <img src="../../../assets/images/airline_hotel/calender.svg" alt="" class="mr-1 mb-2 header-icon" />
            </span>
            <div class="floating-box-period qvobject loading ng-scope" id="QV-HCAP-Up-To" objectid="jjBJVT"></div>
            <p>UPTO</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="qvobject loading" id="QV-HCA-Capacity-HeatMap" objectid="aadvKpM" style="height:400px !important"></div>
    </div>


    <div class="col-md-12">
      <div class="section-header">
        <h2>NUMBER OF ESTABLISHMENTS BY TIER</h2>
      </div>
      <div class="chart-container chart-container2">
        <ul class="legends d-flex justify-content-start">
          <li><span class="pink"></span>PIPLINE</li>
          <li><span class="blue"></span>EXISTING</li>
        </ul>
        <div class="qvobject loading gmap_canvas" id="QV-HCA-Establishments-By-Class" objectid="RppLJa" style="height: 400px !important "></div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="section-header">
        <h2>ROOM INVENTORY BY TIER</h2>
      </div>
      <div class="chart-container chart-container2">
        <ul class="legends d-flex justify-content-start">
          <li><span class="pink"></span>PIPLINE</li>
          <li><span class="blue"></span>EXISTING</li>
        </ul>
        <div class="qvobject loading chart-bar-2" id="QV-HCA-Room-Inventory-Change" style="height: 400px !important "
             objectid="nXFpp"></div>

      </div>


    </div>

    <div class="col-md-12">

      <div class="section-header">
      </div>
      <div id="slider1" class="slider" data-content="sliderContent2">
        <div class="prev inactive"><span class="fa fa-angle-left"></span></div>
        <div class="next inactive"><span class="fa fa-angle-right"></span></div>
        <div class="items">
          <div>
            <div>
              HOTEL INVENTORY BY AREA
              <span class="tool-tip">
                (i)
                <span class="tooltiptext">
                  Downtown: includes Downtown and Business Bay
                  AL Barsha: includes Al Barsha and Tecom
                  Sport City: includes Sports City, Jumeirah Village Circle, Jumeirah Village Triangle and Motor City
                  Oud Metha: includes Oud Metha, Umm Hurair and Jadaf
                  Dubai Marina: includes Dubai Marina and JBR
                  Jumeirah Lake Towers: includes Jumeirah Lake Towers and Emirates Hills
                  Other includes: International City, Outsource Zone, Festival City, Meydan, MBR City, Hatta, Dubai-Al Ain Road
                </span>
              </span>
            </div>
            <div>HOTEL INVENTORY BY AREA</div>
          </div>
        </div>
      </div>

      <div id="sliderContent2" class="slider-contents">
        <div class="items">
          <div>
            <div class="chart-container">
              <ul class="legends">
                <li><span class="pink"></span>PIPELINE</li>
                <li><span class="blue"></span>EXISTING</li>
              </ul>
              <div class="qvobject loading chart-bar-2" id="QV-HCA-Hotel-Inventory-Change" objectid="ahmdLJ"
                   style="height:1050px !important"></div>

            </div>
          </div>

          <div>
            <div class="chart-container">
              <ul class="legends">
                <li><span class="pink"></span>PIPELINE</li>
                <li><span class="blue"></span>EXISTING</li>
              </ul>
              <div class="qvobject loading chart-bar-2" id="QV-HCA-Room-Inventory-Change23" objectid="LmAXPt"
                   style="height:1050px !important"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p>
    <b>Important Notes:</b><br>
    Future Hotel Inventory does not take into account potential Hotel project cancellations or closures of existing Hotel establishments <br>
    Hotel classification groups: 1-2 Star classification includes Guest Houses. Deluxe includes Superior Hotel Apartments.<br>
    <b>Source:</b> DTCM Analysis, individual hotel projects as reported by hotel developers.
  </p>
</div>
