﻿

@model DTCMWebMobile.Models.UserLogin
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@{
    ViewBag.Title = "Login Page";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="container-fluid wrap">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-lg-offset-3">
                <div class="box1 login">

                    <div class="logo col-lg-12 col-md-12">
                        <img class="pull-left logo1" src="~/images/logo1.png">
                        <img class="pull-right logo2" src="~/images/logo2.png">
                    </div>
                    <div class="title_login">
                        <h1>
                            <b>Dubai Tourism</b><br>
                            Dashboards
                        </h1>
                    </div>
                    <h2>LOGIN</h2>
                    <div class="input-login">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "username", @placeholder = "USERNAME" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "password", @placeholder = "PASSWORD" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    @* <a href="home.html" class="signinbutton">Sign in</a>*@
                    <input type="submit" value="Sign in" class="signinbutton" />
                    <div class="bottom_signin">
                        <img src="~/images/lock.png">
                        This application requires login access by <br>authorised users only
                    </div>
                </div>


            </div>
        </div>

    </div>

    @*<div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>
            </div>
        </div>*@



}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
