﻿@model DTCMWebMobile.Models.UserLogin
@{
                /**/

                Layout = "~/Views/Shared/_LayoutServerLogin.cshtml";
}

@{
    ViewBag.Title = "Login Page";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="input-login">
        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "username", @placeholder = "USERNAME" } })
        <br />
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        <br />
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "username", @placeholder = "PASSWORD" } })
        <br />
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <input type="submit" value="Sign in" class="signup-btn signup-btn signup-btn:visited" style=""/>
    <div class="bottom_signin" style="color:#fff">
        <img src="~/images/lockServer.png" width="13" height="13">
        This application requires login access by authorised users only
    </div>
  

}

<style>
    .signinbutton {
        background: url(../images/signinbg.png) no-repeat;
        margin: 0 auto;
        display: block;
        border: transparent;
        background-color: transparent;
        background-size: 100%;
        padding: 13px 59px;
        color: #fff !important;
        font-size: 21px;
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 183px;
        cursor: pointer;
    }
    .input-login .username {
        width: 30%;
        margin-bottom: 10px;
        padding: 15px 50px;
        background: transparent url(../images/username.png) no-repeat left 10px center;
        background-size: 30px;
        border-width: 0 0 2px 0;
        border-color: #fff !important;
        color: #fff !important;
        font-size: 19px;
        font-weight: 300;
        letter-spacing: 2px;
        border-radius: 16px;
        
    }
    .text-danger {
        color: red !important;
        font-weight: bold;
        
    }
    ::placeholder {
        color: #fff !important;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff !important;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #fff !important;
    }

    .signup-btn, .signup-btn:active, .signup-btn:visited {
        display: inline-block;
        padding: 10px 0px;
        margin: 10px 10px 0 !important;
        width: 210px;
        background: #c22c91;
        border: 1px solid #c22c91;
        color: #fff !important;
        border-radius: 50px;
        font-size: 15px;
        font-weight: 400;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    a:visited {
    }

    a:visited, a:hover, a:focus, a:active, *:focus {
        outline: 0 !important;
        text-decoration: none;
    }

    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
    }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .text-uppercase {
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
    }

    a {
        color: #c22c91;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
    }
</style>