<div class="vs-container vs-media-habits">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header firstHeader">
        <h2>AWARENESS OF DUBAI ADVERTISING</h2>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="chart-container">
            <div class="col-xs-12 v-sm qvobject loading" style="height:100px !important;text-align:center;" id="QV-mediahabits-awareness-cy"
                 objectid="EezTP">
            </div>
            <div class="col-xs-12 qvobject loading" id="QV-mediahabits-awareness-cy-title" objectid="favTK"></div>
          </div>
        </div>

        <div class="col-6">
          <div class="chart-container">
            <div class="col-xs-12 v-sm qvobject loading" style="height:100px !important;text-align:center;" id="QV-mediahabits-awareness-py"
                 objectid="DtxWm">
            </div>
            <div class="col-xs-12 qvobject loading" id="QV-mediahabits-awareness-py-title" objectid="HhaFxT"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="section-header">
        <h2>AWARENESS BY CHANNEL</h2>

      </div>
      <div class="qvobject loading table-gray-3 dtcm-tables table-left-1 text-center table-equal-2" style="height:246px !important;"
           id="QV-mediahabits-mediums" objectid="mGbua">
      </div>
    </div>
    <div class="col-md-12">
      <div class="section-header">
        <h2>SOCIAL MEDIA ENGAGEMENT</h2>
        <h2 class="dtcm-text-decoration">% SHARED EXPERIENCE</h2>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="chart-container">
            <div class="col-xs-12 v-sm qvobject loading" style="height:100px !important;text-align:center; margin:20px 0px;"
                 id="QV-mediahabits-mediasharing-cy" objectid="JrJYyL">
            </div>
            <div class="col-xs-12 qvobject loading" id="QV-mediahabits-mediasharing-cy-title" objectid="favTK"></div>
          </div>
        </div>

        <div class="col-6">
          <div class="chart-container">
            <div class="col-xs-12 v-sm qvobject loading" style="height:100px !important;text-align:center; margin:20px 0px;"
                 id="QV-mediahabits-mediasharing-py" objectid="QtBPJG">
            </div>
            <div class="col-xs-12 qvobject loading" id="QV-mediahabits-mediasharing-py-title" objectid="HhaFxT"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="section-header">
        <h2>SOCIAL MEDIA CHANNELS</h2>

      </div>
      <div class="col-xs-12 v-sm qvobject loading table-gray-3 dtcm-tables table-left-1 text-center table-equal-2" style="height:306px  !important;"
           id="QV-mediahabits-mediachannels" objectid="MJkheG">
      </div>
    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">

  <p><b>Important Notes:</b><br></p>
  <div class="qvobject loading" id="QV-mediahabits-samplesize" objectid="mghKjdJ"></div>
  <p>
    All variables are weighted by nationality and month
  </p>
</div>
