﻿
@{
    ViewBag.Title = "DIVDashbord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .BounsValues {
        color: rgb(255, 255, 255) !important;
    }
</style>

<div class="container-fluid" style="padding:0;height:100%;width:100%" ng-app="DIVSDashApp">
    <div class="row" style="padding:0;height:100%;width:100%">
        <div class="col-md-12 col-lg-6 col-lg-offset-3" style="height:100%; width: 100% ; margin:0 12px">
            <div class="tabbable tabs-bottom" style="height:100%;width:  100%;padding : 0;">
                <div class="tab-content" style="height:100%;width:  100%;padding : 0;">
                    <div class="container100 selectors-container space_box">
                        <div class="fixeddilter">
                            <div class="container">
                                <a href="#" id="topBtn"><span></span></a>
                                <div class="btnnbox"><button id="selectSMbtn">  <i class="fa fa-filter fa-2x"></i>  </button></div>
                                <div class="fixeddilter1">
                                    <div class="row" id="filterdiv" style="padding:10px;display:none;">
                                        <div class="col-md-11">
                                            <div class="col-md-12 noPadding">
                                                <div class="col-md-4 sm-txt noPadding">
                                                    <p class="sm-txt">Time Period (TP)</p>
                                                </div>
                                                <div class="col-md-12 filter wow h-xs select2 qvobject" id="QV_Time_Period_Filter" objectid="vBYJbn" Selection="false" style="width:99% !important">
                                                </div>
                                                <div class="col-md-12 filter wow h-xs select2 qvobject" id="QV_SM_Filter" objectid="PEqDW" Selection="false" style="width:99% !important">
                                                </div>
                                            </div>
                                            <div class="col-md-4 noPadding">
                                                <div class="col-md-4 sm-txt noPadding">
                                                    <p class="sm-txt">Source Market</p>
                                                </div>
                                                
                                            </div>

                                        </div>
                                        <div class="row" style="padding:10px">
                                            <div class="col-md-6 form-group filter wow h-xs select1 clear-button wow btn-xs qvobject animated ng-scope" style="float:right">
                                                <button class="form-group filter wow h-xs select1 btn btn-default btn-block" type="button" style="padding: 10px; background-color: rgb(0, 119, 190); color: rgb(255, 255, 255); border-width: 2px; border-radius: 10px;display: -webkit-inline-box;" id="BTNOKClose">
                                                    OK
                                                </button>
                                            </div>
                                            <div class="col-md-6 form-group filter wow h-xs select1 clear-button wow btn-xs qvobject" id="QV_clear_btn" data-wow-delay="0.2s" style="float: left;" objectid="StDJPVV" Selection="false">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-view>

                    </ng-view>



                </div>

            </div>
            <!-- /tabs -->

        </div>
    </div>

</div>


<link href="~/Content/divsv2.css" rel="stylesheet" />
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/angular-resource.min.js"></script>
<script src="~/Scripts/DIVS-angular.js"></script>
<script src="~/Scripts/MainFun.js"></script>


<script>
    function openNav() {
        document.getElementById("mySidenav").style.left = "0";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.left = "-320px";
    }
</script>
<script>
    var IP = "@ViewBag.Qlikserver";
    var DIVSAPPValue = '@ViewBag.DIVDashApp';
    var SelectionAndInteractions = '@ViewBag.StopSelectionAndInteractionsCode';
    var HostqlikServer = "https://" + IP + "/custom/extensions";
    var config = {
        "host": IP,
        "prefix": "/custom/",
        "port": "443",
        "isSecure": true
    };
</script>
<script>
    $(document).ready(function () {
        window.LayOutID = [];
        $("body").addClass("inner_page");
        $('#gridSystemModal').click(function () {
            $('.overlay_box, .custome_pop').show();
            $('.close_pop, .overlay_box').click(function () {
                $('.overlay_box, .custome_pop').hide();

            });

        });
        var firstTimeLoadData = true;
        $("#selectSMbtn").click(function () {
           
            $("#filterdiv").toggle("fast", function () {
                if ($("#filterdiv")[0].style.display != "none") {
                    if (!app) {
                        app = myqlik.openApp(DIVSAPPValue, config)
                    }
                    app.getObject("QV_Time_Period_Filter", "vBYJbn")
                    setTimeout(function () { app.getObject("QV_SM_Filter", "PEqDW")},1000)
                    setTimeout(function () {
                        $("#QV_clear_btn").on("click", function () {
                            $("#filterdiv").hide();
                        });

                    }, 1500)
                }
            });

          
           
        });

        "use strict";
        var screen = $('#main'),
            popup = $('#popup');
        popup
            .css("top", Math.max(0, ((screen.height() - popup.outerHeight()) / 2) + screen.scrollTop()) + "px")
            .css("left", Math.max(0, ((screen.width() - popup.outerWidth()) / 2) +
                screen.scrollLeft()) + "px");
    });
</script>
<script>
    var body = document.body,
        overlay = document.querySelector('.overlay'),
        overlayBtts = document.querySelectorAll('button[class$="overlay"]');

    [].forEach.call(overlayBtts, function (btt) {

        btt.addEventListener('click', function () {

            /* Detect the button class name */
            var overlayOpen = this.className === 'open-overlay';

            /* Toggle the aria-hidden state on the overlay and the
               no-scroll class on the body */
            overlay.setAttribute('aria-hidden', !overlayOpen);
            body.classList.toggle('noscroll', overlayOpen);

            /* On some mobile browser when the overlay was previously
               opened and scrolled, if you open it again it doesn't
               reset its scrollTop property after the fadeout */
            setTimeout(function () {
                overlay.scrollTop = 0;
            }, 1000)

        }, false);

    });

</script>
<script>
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('#topBtn').fadeIn();
        } else {
            $('#topBtn').fadeOut();
        }
    });
    $('#topBtn').click(function () {
        $("html, body").animate({ scrollTop: 0 }, 600);
        return false;
    });
</script>

<style>
    button.btn.btn-default.btn-block {
        border-top-left-radius: 25px !important;
        border-bottom-right-radius: 25px !important;
        width: 100% !important;
        margin: 0 auto !important;
    }
</style>