
@{
  ViewBag.Title = "DTCM";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
  .qvobject {
    height: 30px;
  }

  .hide_sm_selector {
    display: none;
  }

  .hide_object {
    display: none;
  }

  .measure-title {
    display: none !important;
  }
</style>
<script>

    var IP = "@ViewBag.Qlikserver";
    var TPIAPPValue = '@ViewBag.TPIDashApp';
    var SelectionAndInteractions = '@ViewBag.StopSelectionAndInteractionsCode';
    var HostqlikServer = "https://" + IP + "/custom/extensions";
    var OverSeasAPPValue = '@ViewBag.OverseasDashApp';
    var DIVSAPPValue = '@ViewBag.DIVDashApp';
    var BrandTrakerDashAppValue = '@ViewBag.BrandTrakerDashAppValue';
   var HotelPipeLineAPPValue = '@ViewBag.HotelPipeLineDashApp';
  var MainAPPValue = '@ViewBag.MainDashApp';
    var config = {
        "host": IP,
        "prefix": "/custom/",
        "port": "443",
        "isSecure": true
    };
</script>

<app-root></app-root>

