﻿
@{
    ViewBag.Title = "NewHotelPipeLine";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.baseHrf = "/Home/NewHotelPipeLine";
}

<script>System.import('/src/Hotel/HotelMainFSc.js').catch(function (err) { console.error(err); });</script>
<script src="/Scripts/HotelBusinessLogic.js"></script>

<style>

    .qv-listbox-popover .qv-object * {
        font-family: 'QlikView Sans', sans-serif !important;
    }

    .qui-searchfield .magnifying-glass {
        font-family: QlikView Icons !important;
    }

    button.btn.btn-default.btn-block {
        border-top-left-radius: 25px !important;
        border-bottom-right-radius: 25px !important;
        width: 100% !important;
        margin: 0 auto !important;
    }

    .qvobject {
        height: 30px;
    }

    .hide_object {
        display: none;
    }
</style>
<div class="page page-os">
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar1">
                <div class="navbar-brand"><span class="fa fa-sliders fa-rotate-90"></span></div>
            </div>

            <div class="navbar2 col-12">

                <div class="navbar-collapse">
                    <ul class="nav">

                        <li class="nav-item col-md-6 col-sm-12 text-right OUTLooKFilter">
                            <div class="form-group filter wow h-xs select1 qvobject filter" id="QV-HI-From-Year-Selector" objectid="mtJeFJ">
                            </div>
                        </li>
                        <li class="nav-item col-md-6 col-sm-12 text-right OUTLooKFilter">
                            <div class="form-group filter wow h-xs select1 qvobject filter" id="QV-HI-To-Year-Selector" objectid="TDyPDX">
                            </div>
                        </li>
                        <li class="nav-item col-md-6 col-sm-12 text-right NotOUTLooKFilter">
                            <div class="form-group filter wow h-xs select1 qvobject filter" id="QV-HCA-Hotel-Status" objectid="epkPPYG">
                            </div>
                        </li>
                        <li class="nav-item col-md-6 col-sm-12 text-right NotOUTLooKFilter">
                            <div class="form-group  qvobject filter" id="QV-HCA-TimeFrame-Selector" objectid="kdyppEr">
                            </div>
                        </li>
                        <li class="nav-item col-md-6 col-sm-12 text-right NotOUTLooKFilter">
                            <div class="form-group  qvobject filter" id="QV-HIL-Hotel-Class-Selector" objectid="MYLSmNp">
                            </div>
                        </li>
                        <li class="nav-item col-md-6 col-sm-12 text-right NotOUTLooKFilter">
                            <div class="form-group  qvobject filter" id="QV-HIL-Hotel-Area-Selector" objectid="mQFt">
                            </div>
                        </li>
                        <li class="nav-item col-md-6 col-sm-12 text-right NotOUTLooKFilter">
                            <div class="form-group  qvobject filter" id="QV-HIL-Dev-Status-Selector" objectid="fcTzYb">
                            </div>
                        </li>
                        <li class="nav-item  text-right button-reset">

                            <div class="filter">

                                <button class="btn btn-defualt color-purpual clear" onclick='return (app.clearAll())'>CLEAR ALL</button>

                            </div>

                        </li>
                        <li class="nav-item text-right button-reset">

                            <div class="filter">

                                <button class="btn btn-defualt color-purpual ok">OK</button>

                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <My-app> Loading  </My-app>
    </div>
</div>


<script>

   var IP = "@ViewBag.Qlikserver";
    var HotelPipeLineAPPValue = '@ViewBag.HotelPipeLineDashApp';
    var SelectionAndInteractions = '@ViewBag.StopSelectionAndInteractionsCode';
    var HostqlikServer = "https://" + IP + "/custom/extensions";

    var config = {
        "host": IP,
        "prefix": "/custom/",
        "port": "443",
        "isSecure": true
    };
</script>
<script>
    $(document).ready(function () {
        window.LayOutID = [];
        $(".navbar-brand").click(function () {
            if (!app) {
                myqlik.openApp(OverSeasAPPValue, config);
            }
            app.getObject("QV-HCA-Hotel-Status", "epkPPYG");
            app.getObject("QV-HCA-TimeFrame-Selector", "kdyppEr");
            app.getObject("QV-HIL-Hotel-Class-Selector", "MYLSmNp");
            app.getObject("QV-HIL-Hotel-Area-Selector", "mQFt");
            app.getObject("QV-HIL-Dev-Status-Selector", "fcTzYb");


        });
    });
</script>

