
@{
    ViewBag.Title = "NewOverSeas";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.baseHrf = "/Home/NewOverSeas";
}
<script>System.import('/src/OverSeasDashboard/OverSeasMainFSc.js').catch(function (err) { console.error(err); });</script>
<script src="/Scripts/OverseasDashboardBusLogic.js"></script>

<style>

    .qv-listbox-popover .qv-object * {
        font-family: 'QlikView Sans', sans-serif !important;
    }

    .qui-searchfield .magnifying-glass {
        font-family: QlikView Icons !important;
    }

    button.btn.btn-default.btn-block {
        border-top-left-radius: 25px !important;
        border-bottom-right-radius: 25px !important;
        width: 100% !important;
        margin: 0 auto !important;
    }
    .qvobject{
        height:30px;
    }
    .hide_object {
        display: none;
    }
</style>
<div class="page page-ov">
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar1">
                <div class="navbar-brand"><span class="fa fa-sliders fa-rotate-90"></span></div>
            </div>

            <div class="navbar2 col-12">

                <div class="navbar-collapse">
                    <ul class="nav">
                        <li class="nav-item col-md-6 col-sm-12 text-right">
                            <div class="form-group filter wow h-xs select1 qvobject filter" id="QV01" objectid="FLWSaH">
                            </div>
                        </li>
                        <li class="nav-item col-md-6 col-sm-12 text-right">
                            <div class="form-group  qvobject filter" id="QV0222" objectid="EmtmKd">
                            </div>
                        </li>

                        <li class="nav-item col-md-6 col-sm-12 text-right">
                            <div class="form-group filter wow h-xs select2 qvobject filter" id="QV-TimePeriod-Filter" objectid="YmYmRQ">
                            </div>
                        </li>

                        <li class="nav-item col-md-6 col-sm-12 text-right">
                            <div class="form-group filter wow h-xs select1 qvobject filter" id="QV03F" objectid="DxSZvjx">
                            </div>

                        </li>
                        <li class="nav-item col-md-6 col-sm-12 text-right">
                            <div class="form-group filter wow h-xs select1 qvobject filter" style="width:100%;height:30px" id="QV04F" objectid="bLbgLcE">
                            </div>
                        </li>
                        <li class="nav-item  text-right button-reset">

                            <div class="filter">

                                <button class="btn btn-defualt color-purpual clear" onclick='return (app.clearAll())'>CLEAR ALL</button>

                            </div>

                        </li>
                        <li class="nav-item text-right button-reset">

                            <div class="filter">

                                <button class="btn btn-defualt color-purpual ok">OK</button>

                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <my-app> Loading  </my-app>
    </div>
</div>



<script>
    var IP = "@ViewBag.Qlikserver";
    var OverSeasAPPValue = '@ViewBag.OverseasDashApp';
    var SelectionAndInteractions = '@ViewBag.StopSelectionAndInteractionsCode';
    var HostqlikServer = "https://" + IP + "/custom/extensions";
    var config = {
        "host": IP,
        "prefix": "/custom/",
        "port": "443",
        "isSecure": true
    };
</script>
<script>
    $(document).ready(function () {
        window.LayOutID = [];
        $(".navbar-brand").click(function () {
            if (!app) {
                myqlik.openApp(OverSeasAPPValue, config);
            }

            app.getObject("QV01", "FLWSaH");
            app.getObject("QV0222", "EmtmKd");
            app.getObject("QV-TimePeriod-Filter", "YmYmRQ");
            app.getObject("QV03F", "DxSZvjx");
            app.getObject("QV04F", "bLbgLcE");
           

        });

        //$("#selectSMbtn").click(function () {
        //    window.LayOutID = [];
        //    $("#filterdiv").toggle("fast", function () {
        //        if ($("#filterdiv")[0].style.display != "none") {
        //            window.LayOutID = [];
        //            if (!app) {
        //                myqlik.openApp(OverSeasAPPValue, config)
        //            }
        //            app.getObject("QV01", "FLWSaH");
        //            app.getObject("QV02", "EmtmKd");
        //            app.getObject("QV03", "DxSZvjx");
        //            app.getObject("QV04", "bLbgLcE");
        //            app.getObject("QV-TimePeriod-Filter", "YmYmRQ");
        //            app.getObject("QV04-01", "NkpmReZ");
        //        }
        //    });

        //});

    });
</script>
