﻿
@{
    ViewBag.Title = "NEWTPIDashBord";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.baseHrf = "/Home/NEWTPIDashBord";
}
<script>System.import('/src/TPIDashBoard/TPIMainFSc.js').catch(function (err) { console.error(err); });</script>
<script src="~/Scripts/TPIDashboardBunisseLogic.js"></script>
<style>
    .qvobject {
        height: 30px;
    }

    .hide_sm_selector {
        display: none;
    }

    .hide_object {
        display: none;
    }

    .chart-donut .arc path {
        stroke: #283C6E !important;
        stroke-width: 3;
        fill: none;
    }

    .chart-donut .end ellipse {
        stroke: #283C6E !important;
        stroke-width: 3;
    }

    .measure-title {
        display: none !important;
    }

    .chart-donut .inner {
        stroke: #283C6E !important;
        stroke-width: 2;
        fill: #283C6E !important;
    }

    .chart-donut text {
        font-family: "DINProRegular";
        fill: #fff;
        font-size: 15px;
        text-anchor: middle;
    }

        .chart-donut text tspan {
            font-size: 16px;
        }
</style>
<div class="page page-tpi">
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar1">
                <div class="navbar-brand"><span class="fa fa-sliders fa-rotate-90"></span></div>
            </div>
            <div class="navbar2 col-12">
                <div class="navbar-collapse">
                    <ul class="nav">
                        <li class="nav-item col-md-6 col-sm-12 text-right">
                            <div class="form-group filter wow h-xs qvobject filter" id="QV-year-selector" Selection="false" objectid="f750b95b-de28-46e3-890a-e9c0aefa6f4b" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6" style="width:99%!important">
                            </div>
                        </li>
                        <li class="nav-item col-md-6 col-sm-12 text-right">
                            <div class="form-group filter wow h-xs qvobject filter" id="QV-month-selector" Selection="false" objectid="0ba069b0-0f04-428e-a2c3-d0b46984a7ed" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6" style="width:99%!important"> </div>

                        </li>

                        <li class="nav-item col-md-6 col-sm-12 text-right">
                            <div class="form-group filter wow h-xs qvobject filter" id="QV-timeperiod-selector" Selection="false" objectid="63035d00-8502-47a6-a956-cbb1ad6f4c30" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6" style="width:99%!important"></div>
                        </li>

                        <li class="nav-item col-md-6 col-sm-12 text-right">
                            <div class="form-group filter wow h-xs qvobject filter" Selection="false" id="sm_selector" objectid="jzzRh" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6" data-wow-delay="0.2s" style="width:99%!important">
                            </div>
                        </li>
                        <li class="nav-item col-md-6 col-sm-12 text-right">
                            <div class="form-group filter wow h-xs qvobject filter" Selection="false" id="divs_sm_selector" objectid="JTDgZ" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6" data-wow-delay="0.2s" style="width:99%!important">
                            </div>
                        </li>
                        <li class="nav-item col-md-6 col-6 text-right">
                            <div class="filter">

                                <button class="btn btn-defualt color-purpual clear" onclick='return (app.clearAll())'>CLEAR ALL</button>

                            </div>
                        </li>
                        <li class="nav-item col-md-6 col-6 text-right">

                            <div class="filter">

                                <button class="btn btn-defualt color-purpual ok">OK</button>

                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <My-app> Loading </My-app>
    </div>
</div>

@*<script>
    $(document).ready(function () {
        window.LayOutID = [];
        $(".navbar-brand").click(function () {
            if (!app) {
                myqlik.openApp(OverSeasAPPValue, config);
            }

            app.getObject("QV0224", "FbyKxJ");
            app.getObject("QV0225", "QQDwfC");
            app.getObject("QV0226", "qKJjAs");


        });
    });
</script>*@

