﻿
@{
    ViewBag.Title = "PricingDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="padding:0;height:100%;width:100%" ng-app="PricingDashApp">
    <div class="row" style="padding:0;height:100%;width:100%">
        <div class="col-md-12 col-lg-6 col-lg-offset-3" style="height:100%; width: 100% ; margin:0 12px">
            <!-- tabs -->
            <div class="tabbable tabs-bottom" style="height:100%;width:  100%;padding : 0;">
                <div class="tab-content" style="height:100%;width:  100%;padding : 0;">
                    <div class="container100 selectors-container space_box">
                        <div class="fixeddilter">
                            <div class="container">
                                <a href="#" id="topBtn" style="display: none;"><span></span></a>
                                <div class="btnnbox"><button id="selectSMbtn">  <i class="fa fa-filter fa-2x"></i>  </button></div>
                                <div class="fixeddilter1">
                                    <div class="row" id="filterdiv" style="padding:10px;display:none;">
                                        <div class="col-sm-12">
                                          

                                                <div class="form-group filter wow h-xs select1 qvobject" id="QV01" data-wow-delay="0.2s" objectid="FLWSaH" Selection="false">
                                                </div>
                                                <div class="form-group filter wow h-xs select1 qvobject" id="QV02" data-wow-delay="0.2s" objectid="EmtmKd" Selection="false" >
                                                </div>
                                                <div class="form-group filter wow h-xs select1 qvobject" id="QV03" data-wow-delay="0.2s" objectid="kGHdGXV" Selection="false">
                                                </div>
                                                <div class="form-group filter wow h-xs select1 qvobject" id="QV04" data-wow-delay="0.2s" objectid="FbyKxJ" Selection="false">
                                                </div>
                                                <div class="form-group filter wow h-xs select1 qvobject" id="QV05" data-wow-delay="0.2s" objectid="QQDwfC" Selection="false">
                                                </div>
                                                <div class="form-group filter wow h-xs select1 qvobject" id="QV06" data-wow-delay="0.2s" objectid="qKJjAs" Selection="false">
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-md-6 form-group filter wow h-xs select1 clear-button wow btn-xs qvobject animated ng-scope" style="float:right">
                                                        <button class="form-group filter wow h-xs select1 btn btn-default btn-block" type="button" style="padding: 10px; background-color: rgb(0, 119, 190); color: rgb(255, 255, 255); border-width: 2px; border-radius: 10px;display: -webkit-inline-box;" id="BTNOKClose">
                                                            OK
                                                        </button>
                                                    </div>
                                                    <div class="col-md-6 form-group filter wow h-xs select1 clear-button wow btn-xs qvobject" id="QV07" data-wow-delay="0.2s" style="float: left;" objectid="NkpmReZ" Selection="false">
                                                    </div>
                                                </div>

        
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="newhig"></div>
                    </div>
                    <ng-view>
                    </ng-view>
                </div>
            </div>

        </div>

    </div>
    <!-- /tabs -->

</div>
<link href="~/Content/pricing.css" rel="stylesheet" />
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/angular-resource.min.js"></script>
<script src="~/Scripts/Pricing-angular.js"></script>
<script src="~/Scripts/MainFun.js"></script>
<script>

    var IP = "@ViewBag.Qlikserver";
    var PricingDashAppvalue = '@ViewBag.PricingDashApp';
    var SelectionAndInteractions = '@ViewBag.StopSelectionAndInteractionsCode';
    var HostqlikServer = "https://" + IP + "/custom/extensions";

    var config = {
        "host": IP,
        "prefix": "/custom/",
        "port": "443",
        "isSecure": true
    };
</script>


<script>

    function openNav() {
        document.getElementById("mySidenav").style.left = "0";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.left = "-320px";
    }
</script>

<script>
    $(document).ready(function () {
       
        $("body").addClass("inner_page");

        $('#gridSystemModal').click(function () {
            $('.overlay_box, .custome_pop').show();
            $('.close_pop, .overlay_box').click(function () {
                $('.overlay_box, .custome_pop').hide();

            });

        });
        "use strict";

        var screen = $('#main'),
            popup = $('#popup');

        popup
            .css("top", Math.max(0, ((screen.height() - popup.outerHeight()) / 2) + screen.scrollTop()) + "px")
            .css("left", Math.max(0, ((screen.width() - popup.outerWidth()) / 2) +
                screen.scrollLeft()) + "px");
    });
</script>
<script>
    var body = document.body,
        overlay = document.querySelector('.overlay'),
        overlayBtts = document.querySelectorAll('button[class$="overlay"]');

    [].forEach.call(overlayBtts, function (btt) {

        btt.addEventListener('click', function () {

            /* Detect the button class name */
            var overlayOpen = this.className === 'open-overlay';

            /* Toggle the aria-hidden state on the overlay and the
               no-scroll class on the body */
            overlay.setAttribute('aria-hidden', !overlayOpen);
            body.classList.toggle('noscroll', overlayOpen);

            /* On some mobile browser when the overlay was previously
               opened and scrolled, if you open it again it doesn't
               reset its scrollTop property after the fadeout */
            setTimeout(function () {
                overlay.scrollTop = 0;
            }, 1000)

        }, false);

    });

</script>
<script>
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('#topBtn').fadeIn();
        } else {
            $('#topBtn').fadeOut();
        }
    });
    $('#topBtn').click(function () {
        $("html, body").animate({ scrollTop: 0 }, 600);
        return false;
    });
</script>
<script>
    $(document).ready(function () {
        var firstTimeLoadData = true;
        $("#selectSMbtn").click(function () {
            $("#filterdiv").toggle("fast", function () {
                window.LayOutID = [];
                if ($("#filterdiv")[0].style.display != "none") {
                    
                    if (!app) {
                        app = myqlik.openApp(PricingDashApp, config)
                    }
                    app.getObject("QV01", "FLWSaH")
                    app.getObject("QV02", "EmtmKd")
                    app.getObject("QV03", "kGHdGXV")
                    app.getObject("QV04", "FbyKxJ")
                    app.getObject("QV05", "QQDwfC")
                    app.getObject("QV06", "qKJjAs")
                    app.getObject("QV07", "NkpmReZ")
                    setTimeout(function () {
                        $("#QV07").on("click", function () {
                            $("#filterdiv").hide();
                           
                        });

                    }, 1500)
                }
            });
            if ($("#updownspan").hasClass("glyphicon glyphicon-chevron-up")) {
                $("#updownspan").removeClass("glyphicon glyphicon-chevron-up")
                $("#updownspan").addClass("glyphicon glyphicon-chevron-down");
            } else {
                $("#updownspan").removeClass("glyphicon glyphicon-chevron-down")
                $("#updownspan").addClass("glyphicon glyphicon-chevron-up");
            }
          

        });

    });
</script>
<style>
    button.btn.btn-default.btn-block {
        border-top-left-radius: 25px !important;
        border-bottom-right-radius: 25px !important;
         width: 100% !important; 
        margin: 0 auto !important;
    }
</style>



