﻿@model DTCMMobWeb.Models.SendNotifacationModel 
@{
    ViewBag.Title = "SendNotification";
    Layout = "~/Views/Shared/_LayoutCustomPages.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.js"></script>
<script>
    function ShowDataTables(SelectedTable) {
        if (SelectedTable == "1") {
            $("#GroupNamesTable").hide();
            $("#UserNamesTable").show();
        } else {
            $("#GroupNamesTable").show();
            $("#UserNamesTable").hide();
        }
    }

    function ChangeTap(index) {
        if (index == 0) {
            $('#UsersTaps').addClass("active");
            $('#GroupsTaps').removeClass("active");

        } else {
            $('#UsersTaps').removeClass("active");
            $('#GroupsTaps').addClass("active");
        }
    }

    $('input:checkbox').not(this).prop('checked', this.checked);
    $(function () {
        $('#GroupNamesTable').DataTable();
        $('#UserNamesTable').DataTable();
        
        $("#UsersNameCheckAll").click(function () {
            $('#UserNamesTable input:checkbox').not(this).prop('checked', this.checked);
        });
        $("#GroupNameCheckAll").click(function () {
            $('#GroupNamesTable input:checkbox').not(this).prop('checked', this.checked);
        });
        $('#UserNamesTable input:checkbox').not($('#UserNamesTable input:checkbox')[0]).change(function () {
            $("#UsersNameCheckAll").prop('checked', false);
        })
        $('#GroupNamesTable input:checkbox').not($('#GroupNamesTable input:checkbox')[0]).change(function () {
            $("#GroupNameCheckAll").prop('checked', false);
        })
    });
</script>
<style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid black;
    }
</style>
<h2>Send Notification To Users</h2>
@using (Html.BeginForm("SendNotification", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
   
    <div>
        <div class="form-group">
            <label for="exampleInputEmail1">Titel</label>
            @Html.TextBoxFor(mo => Model.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Message</label>
            @Html.TextAreaFor(x => Model.Message, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Message)
        </div>
        <h5>please Select Users or Groups to  Send Notification</h5>
        <section class="panel PanalVisit-box">
            <ul role="tablist" id="SatisfactionTap">

                <li role="presentation" class="active" data-toggle="tab" style="width:49.7%!important" onclick="ChangeTap(0)">
                    <a href="" aria-controls="home" role="tab" data-toggle="tab" class="mytabs" >Users</a>
                </li>
                <li role="presentation" style="width:50%!important" data-toggle="tab" onclick="ChangeTap(1)">
                    <a href="" aria-controls="profile" role="tab" data-toggle="tab" class="mytabs" >Groups</a>
                </li>
              
            </ul>
            <div class="tab-content" style="padding:0px">
                <div style="border-color: #ebeff6;background:#fff;overflow:hidden;" role="tabpanel" class="tab-pane active" id="UsersTaps">
                   
                    @if (Model.listUser == null || Model.listUser.Count > 0)
                    {
                        <table id="UserNamesTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="UsersNameCheckAll" /></th>
                                    <th>Users Name</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Organization</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (int i = 0; i < Model.listUser.Count; i++)
                                {
                                    <tr>
                                        <td scope="row"> @Html.CheckBoxFor(mo => Model.listUser[i].IsSelected)</td>
                                        <td>@Model.listUser[i].UserName</td>
                                        @Html.HiddenFor(mo => Model.listUser[i].UserName)
                                        <td>@Model.listUser[i].Fullname</td>
                                        <td>@Model.listUser[i].Email</td>
                                        <td>@Model.listUser[i].Organization</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div style="border-color: #ebeff6;background:#fff;overflow:hidden;" role="tabpanel" class="tab-pane" id="GroupsTaps">
                    @if (Model.listGroup == null || Model.listGroup.Count > 0)
                    {
                        <table id="GroupNamesTable">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="GroupNameCheckAll" /></th>
                                    <th>Group Name</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (int i = 0; i < Model.listGroup.Count; i++)
                                {
                                    <tr>
                                        <td scope="row"> @Html.CheckBoxFor(mo => Model.listGroup[i].IsSelected)</td>
                                        <td> @Model.listGroup[i].GroupName</td>
                                        @Html.HiddenFor(mo => Model.listGroup[i].GroupName)

                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                </div>
               
            </div>
        </section>
        <input type="submit" value="Send" class="signinbutton" />
    </div>
}
