﻿

@{
    ViewBag.Title = "TPIDashBord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="padding:0;height:100%;width:100%" ng-app="TPIDashApp">
    <div class="row" style="padding:0;height:100%;width:100%">
        <div class="col-md-12 col-lg-6 col-lg-offset-3" style="height:100%; width: 100% ; margin:0 12px">
            <div class="tabbable tabs-bottom" style="height:100%;width:  100%;padding : 0;">
                <div class="tab-content" style="height:100%;width:  100%;padding : 0;">
                    <div class="container100 selectors-container space_box">
                        <div class="fixeddilter">
                            <div class="container">
                                <a href="#" id="topBtn" style="display: none;"><span></span></a>
                                <div class="btnnbox"><button id="selectSMbtn">  <i class="fa fa-filter fa-2x"></i>  </button></div>
                                <div class="fixeddilter1">
                                    <div class="row" id="filterdiv" style="padding:10px;display:block;">
                                        <div class="col-md-12">
                                            <form class="form-inline xyz ng-pristine ng-valid">
                                                <div class="form-group filter wow h-xs qvobject" id="QV-year-selector" Selection="false" objectid="f750b95b-de28-46e3-890a-e9c0aefa6f4b" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6" style="width:99%!important">
                                           
                                                </div>
                                                <div class="form-group filter wow h-xs qvobject" id="QV-month-selector" Selection="false" objectid="0ba069b0-0f04-428e-a2c3-d0b46984a7ed" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6" style="width:99%!important"> </div>
                                                <div class="form-group filter wow h-xs qvobject" id="QV-timeperiod-selector" Selection="false" objectid="63035d00-8502-47a6-a956-cbb1ad6f4c30" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6" style="width:99%!important"></div>
                                            </form>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div id="sm_selector" class="hide_sm_selector">
                                                    <div class="col-md-5 sm-txt  text-right">
                                                        <p class="sm-txt wow fadeInUp"><span class="red">*</span>Select Source Market</p>
                                                    </div>
                                                    <div class="col-md-7 filter wow fadeInUp h-xs qvobject text-right" Selection="false" id="QV04" objectid="jzzRh" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6" data-wow-delay="0.2s" style="width:99%!important">
                                                    </div>
                                                </div>
                                                <div id="divs_sm_selector" class="hide_sm_selector">
                                                    <div class="col-md-5 sm-txt  text-right">
                                                        <p class="sm-txt wow fadeInUp"><span class="red">*</span>Select Source Market</p>
                                                    </div>
                                                    <div class="col-sm-7 filter wow fadeInUp h-xs qvobject text-right" Selection="false" id="QV-divs-sm-selector" objectid="JTDgZ" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6" data-wow-delay="0.2s" style="width:99%!important">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="padding:10px">
                                            <div class="col-md-6 form-group filter wow h-xs select1 clear-button wow btn-xs  animated ng-scope" style="float:right" >
                                                <button class="form-group filter wow h-xs select1 btn btn-default btn-block" type="button" style="padding: 10px; background-color: rgb(0, 119, 190); color: rgb(255, 255, 255); border-width: 2px; border-radius: 10px;display: -webkit-inline-box;" id="BTNOKClose">
                                                    OK
                                                </button>
                                            </div>
                                            <div class="col-md-6 form-group filter wow h-xs select1 clear-button wow btn-xs qvobject" Selection="false" id="QV_clear_btn" data-wow-delay="0.2s" style="float: left;" objectid="RXcBaN">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ng-view>

                    </ng-view>



                </div>


            </div>
            <!-- /tabs -->

        </div>
    </div>

</div>


<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/angular-resource.min.js"></script>
<script src="~/Scripts/TPI-angular.js"></script>
<script src="~/Scripts/MainFun.js"></script>


<script>
    function openNav() {
        document.getElementById("mySidenav").style.left = "0";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.left = "-320px";
    }
</script>
<script>
   
    $(document).ready(function () {
        window.LayOutID = [];
         window.LayOutID = [];
            window.LayOutID2 = [];
        $("#selectSMbtn").click(function () {
        //     window.LayOutID = [];
        //    window.LayOutID2 = [];
        //    window.LayOutID = [];
        //    $("#filterdiv").toggle("fast", function () {
        //        if ($("#filterdiv")[0].style.display != "none") {
        //            if (!app) {
        //                app = myqlik.openApp(TPIDashApp, config)
        //            }
        //            app.getObject("QV-year-selector", "f750b95b-de28-46e3-890a-e9c0aefa6f4b");
        //            app.getObject("QV-month-selector", "0ba069b0-0f04-428e-a2c3-d0b46984a7ed");
        //            app.getObject("QV-timeperiod-selector", "63035d00-8502-47a6-a956-cbb1ad6f4c30");
        //            app.getObject("QV04", "jzzRh");
        //            app.getObject("QV-divs-sm-selector", "JTDgZ");
        //            setTimeout(function () {
        //                $("#QV_clear_btn").on("click", function () {
        //                    $("#filterdiv").hide();
        //                });

        //            }, 2500)


        //        }
        //    });

            //});
            alert("Removed");


    });
</script>
<script>

    var IP = "@ViewBag.Qlikserver";
    var SelectionAndInteractions = '@ViewBag.StopSelectionAndInteractionsCode';
    var TPIAPPValue = '@ViewBag.TPIDashApp';
    var HostqlikServer = "https://" + IP + "/custom/extensions";

    var config = {
        "host": IP,
        "prefix": "/custom/",
        "port": "443",
        "isSecure": true,
    };
</script>
<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('#topBtn').fadeIn();
            } else {
                $('#topBtn').fadeOut();
            }
        });
        $('#topBtn').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });

        $("body").addClass("inner_page");
        $('#gridSystemModal').click(function () {
            $('.overlay_box, .custome_pop').show();
            $('.close_pop, .overlay_box').click(function () {
                $('.overlay_box, .custome_pop').hide();

            });

        });
        "use strict";

        var screen = $('#main'),
            popup = $('#popup');

        popup
            .css("top", Math.max(0, ((screen.height() - popup.outerHeight()) / 2) + screen.scrollTop()) + "px")
            .css("left", Math.max(0, ((screen.width() - popup.outerWidth()) / 2) +
                screen.scrollLeft()) + "px");
    });
</script>
<script>
    var body = document.body,
        overlay = document.querySelector('.overlay'),
        overlayBtts = document.querySelectorAll('button[class$="overlay"]');

    [].forEach.call(overlayBtts, function (btt) {

        btt.addEventListener('click', function () {

            /* Detect the button class name */
            var overlayOpen = this.className === 'open-overlay';

            /* Toggle the aria-hidden state on the overlay and the
               no-scroll class on the body */
            overlay.setAttribute('aria-hidden', !overlayOpen);
            body.classList.toggle('noscroll', overlayOpen);

            /* On some mobile browser when the overlay was previously
               opened and scrolled, if you open it again it doesn't
               reset its scrollTop property after the fadeout */
            setTimeout(function () {
                overlay.scrollTop = 0;
            }, 1000)

        }, false);

    });

</script>
<style>
    button.btn.btn-default.btn-block {
        border-top-left-radius: 25px !important;
        border-bottom-right-radius: 25px !important;
        width: 100% !important;
        margin: 0 auto !important;
    }
</style>
