﻿@model List<string>
@{
    ViewBag.Title = "UploadImages";
    Layout = "~/Views/Shared/_LayoutCustomPages.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    $(function () {
        $('#TableName').DataTable();
    });
</script>
<h2>Upload Images</h2>
<div class="row">
    <div class="col-lg-4">
        <table id="TableName" border="1">
            <thead>
                <tr>
                    <th>
                        Names
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
            {
                    <tr onclick="ChangeBackGround(this)"><td>@Ajax.ActionLink(Model[i], "GetImagesForName", new { ObjName= Model[i] }, new AjaxOptions() {
                                     HttpMethod="GET",
                                     UpdateTargetId = "ResultOFnames",
                                     InsertionMode = InsertionMode.Replace,

                                 })</td></tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <div id="ResultOFnames">

        </div>
    </div>
</div>
<script>
    function ChangeBackGround(ElementTR) {
        $(".SelectedRow").removeClass("SelectedRow");
        $(ElementTR).addClass("SelectedRow");
    }
</script>
<style>
    .SelectedRow {
        background-color: #0d6ea7 !important;
    }
    .SelectedRow a {
        color :white !important;
    }
</style>