﻿
@{
    ViewBag.Title = "VSDashbord";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.baseHrf = "/Home/VSDashbord";
}
<script>System.import('/src/VSDashboard/VSMainFc.js').catch(function (err) { console.error(err); });</script>
<script src="/Scripts/DivsDashboardBusLogic.js"></script>
<script>
    var IP = "@ViewBag.Qlikserver";
    var DIVSAPPValue = '@ViewBag.DIVDashApp';
    var SelectionAndInteractions = '@ViewBag.StopSelectionAndInteractionsCode';
    var HostqlikServer = "https://" + IP + "/custom/extensions";
    var config = {
        "host": IP,
        "prefix": "/custom/",
        "port": "443",
        "isSecure": true
    };
</script>

<style>
    .qvobject {
        height: 30px;
    }

    .hide_sm_selector {
        display: none;
    }

    .hide_object {
        display: none;
    }

    .chart-donut-2-lg {
        width: 120px !important;
        height: 120px !important;
    }
   
</style>
<div class="page page-vs">
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar1">
                <div class="navbar-brand"><span class="fa fa-sliders fa-rotate-90"></span></div>
            </div>

            <div class="navbar2 col-12">

                <div class="navbar-collapse">
                    <ul class="nav">
                        <li class="nav-item col-md-6 col-sm-12 text-right">
                            <div class="form-group  qvobject filter" id="QV_Time_Period_Filter" objectid="vBYJbn" Selection="false" style="width:99% !important">
                            </div>
                        </li>
                        <li class="nav-item col-md-6 col-sm-12 text-right">
                            <div class="form-group  qvobject filter" id="QV_SM_Filter" objectid="PEqDW" Selection="false" style="width:99% !important">
                            </div>
                        </li>

                        
                        <li class="nav-item  text-right button-reset">

                            <div class="filter">

                                <button class="btn btn-defualt color-purpual clear" onclick='return (app.clearAll())'>CLEAR ALL</button>

                            </div>

                        </li>
                        <li class="nav-item text-right button-reset">

                            <div class="filter">

                                <button class="btn btn-defualt color-purpual ok">OK</button>

                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <my-app> Loading  </my-app>
    </div>
</div>