<div class="vs-container vs-pillars">
  <div class="row">

    <div class="col-md-12">
      <div class="section-header firstHeader"></div>

      <div id="slider1" class="slider" data-content="sliderContent2">
        <div class="prev inactive">
          <span class="fa fa-angle-left"></span>
        </div>
        <div class="next inactive">
          <span class="fa fa-angle-right"></span>
        </div>
        <div class="items">
          <div>
            <div>
              NEXT SATISFACTION SCORE DETAILS
              <span class="tool-tip">
                (i)
                <span class="tooltiptext">
                  Net Satisfaction Score: Satisfaction Score is derived
                  based on the sum of (% Extremely Happy) & (%
                  Happy).
                </span>
              </span>
            </div>
            <div>HAPPINESS INDEX DETAILS</div>
          </div>
        </div>
      </div>

      <div id="sliderContent2" class="slider-contents">
        <div class="items">
          <div>
            <div class="qvobject loading dtcm-tables table-left-1 table-center-2 table-right-3"
                 id="QV-p04-021" objectid="pcJwwWp" style="height:370px;"
                 Selection="false">
            </div>
          </div>
          <div>
            <div class=" qvobject loading dtcm-tables table-left-1 table-center-2 table-right-3 table-gray-3" style="padding: 0px; height:350px !important;"
                 id="QV-pillars-overall" objectid="sBqVaK">
            </div>
            <div class=" qvobject loading dtcm-tables table-left-1 table-center-2 table-right-3" style="padding: 0px; height:350px !important;"
                 id="QV-pillars-sm" objectid="JxAH">
            </div>
          </div>
        </div>
      </div>

      <div class="section-header2">
        <div class="h2 pt-0">HAPPINESS INDEX DETAILS</div>
      </div>

      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-pink-bg">
            <p>BELOW 69</p>
            <p>LOW</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-gray-bg">
            <p>70-109</p>
            <p>NEUTRAL</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-blue-bg">
            <p>110+</p>
            <p>HIGH</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p>
    <b>Important Notes:</b>
  </p>
  <div class="qvobject loading" id="QV-pillars-samplesize" objectid="pFNRhe"></div>
  <p>
    Index 1: is relative performance, indexed against selected source market average
    ‘Net Satisfaction Score’ across all attributes: excluding Overall Satisfaction
    and Advocacy.
    <br /> Index 2: is relative performance, indexed against pillars (e.g. shopping)
    average ‘Net Satisfaction Score’ across all attributes: excluding Overall
    Satisfaction and Advocacy.
  </p>
  <div class="qvobject loading" id="QV-pillars-hapindx1-caveat" objectid="uyVWYf"></div>
  <div class="qvobject loading" id="QV-pillars-hapindx2-caveat" objectid="CtVgA"></div>
</div>
