<div class="tpi-container tpi-volume">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header firstHeader">
        <h2>ANNUAL DEPARTURES</h2>
      </div>

      <div class="block-element">
        <div class="row text-center">
          <div class="col-6 number-md text-right num-big">
            <div class="qvobject loading number-md " id="QV-VL-AN1" objectid="CFvar"></div>
          </div>

          <div class="col-6 number-sm text-left num-small">
            <div class="qvobject loading number-sm  color-blue-light" id="QV-VL-AN2" objectid="UaBnLFS"></div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-6  text-right">OUTBOUND #</div>
          <div class="col-6 number-sm text-left">GROWTH</div>
        </div>
      </div>

      <p class="text-center medium-font">ANNUAL ARRIVALS BY REGION</p>


      <div class="chart-container">
        <div class="col-xs-12 qvobject loading h-md4 chart-donut" id="QV-Vl-1" objectid="SGjGtmR"
             appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
        </div>

        <ul class="legends text-center">
          <li>
            <span class="pink"></span>ASIA PACIFIC
          </li>
          <li>
            <span class="blue"></span>EUROPE
          </li>
          <li>
            <span class="grey1"></span>AMERICAS
          </li>
          <li>
            <span class="purple"></span>ME & AFRICA
          </li>
        </ul>
      </div>

      <div class="section-header">
        <h2>TOP 5 DESTINATIONS ASIA</h2>
      </div>

      <div class="block-element">
        <div class="row text-center">
          <div class="col-6 number-md text-right num-big">
            <div class="qvobject loading number-md " id="QV-VL-AN21" objectid="hpHbefs"></div>
          </div>

          <div class="col-6 number-sm text-left num-small">
            <div class="qvobject loading number-sm  color-blue-light" id="QV-VL-AN22" objectid="ASMfqF"></div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-6  text-right">SHARE %</div>
          <div class="col-6 number-sm text-left"># VISITOR</div>
        </div>
      </div>

      <div class="h-md3 qvobject loading table-no-border-top table-equal-2 dtcm-tables table-white-2 table-right-3 table-right-2 table-left-1"
           id="QV-VL-3" objectid="ZnKBH" style="height:180px !important" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
      </div>
      <div class="section-header">
        <h2>TOP 5 DESTINATIONS EUROPE</h2>
      </div>

      <div class="block-element">
        <div class="row text-center">
          <div class="col-6 number-md text-right num-big">
            <div class="qvobject loading number-md " id="QV-VL-AN23" objectid="mxKjt"></div>
          </div>

          <div class="col-6 number-sm text-left num-small">
            <div class="qvobject loading number-sm  color-blue-light" id="QV-VL-AN231" objectid="ErSuvw"></div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-6  text-right">SHARE %</div>
          <div class="col-6 number-sm text-left"># VISITOR</div>
        </div>
      </div>

      <div class="h-md3 qvobject loading table-no-border-top table-equal-2 dtcm-tables table-white-2 table-right-3 table-right-2 table-left-1"
           id="QV-VL-5" style="height:180px !important" objectid="RvxXQP" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
      </div>

      <div class="section-header">
        <h2>TOP 5 DESTINATIONS AMERICAS</h2>
      </div>
      <div class="block-element">
        <div class="row text-center">
          <div class="col-6 number-md text-right num-big">
            <div class="qvobject loading number-md " id="QV-VL-AN23A" objectid="SVBYH"></div>
          </div>

          <div class="col-6 number-sm text-left num-small">
            <div class="qvobject loading number-sm  color-blue-light" id="QV-VL-AN231A" objectid="Zthbj"></div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-6  text-right">SHARE %</div>
          <div class="col-6 number-sm text-left"># VISITOR</div>
        </div>
      </div>
      <div class="h-md3 qvobject loading table-no-border-top table-equal-2 dtcm-tables table-white-2 table-right-3 table-right-2 table-left-1"
           id="QV-VL-5A" style="height:180px !important" objectid="BUejbB" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
      </div>

      <div class="section-header">
        <h2>TOP 5 DESTINATIONS ME & AFRICA</h2>
      </div>
      <div class="block-element">
        <div class="row text-center">
          <div class="col-6 number-md text-right num-big">
            <div class="qvobject loading number-md " id="QV-VL-AN23AF" objectid="JaBZvT"></div>
          </div>

          <div class="col-6 number-sm text-left num-small">
            <div class="qvobject loading number-sm  color-blue-light" id="QV-VL-AN231AF" objectid="PecpK"></div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-6  text-right">SHARE %</div>
          <div class="col-6 number-sm text-left"># VISITOR</div>
        </div>
      </div>
      <div class="h-md3 qvobject loading table-no-border-top table-equal-2 dtcm-tables table-white-2 table-right-3 table-right-2 table-left-1"
           id="QV-VL-5AF" style="height:180px !important" objectid="TKtDt" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
      </div>

      <div class="section-header">
        <h2>
          MACRO-ECONOMIC INDICATORS
          <small>
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">YOY: Year over Year.</span>
            </span>
          </small>
        </h2>
      </div>
      <table class="dtcm-tables table-no-border-top table-equal table-left-1 table-right-2 table-blue-2">
        <tbody>
          <tr>
            <td>POPULATION</td>
            <td>
              <div class="qvobject loading number-md " id="QV-VL-AN93Pu" objectid="jFfAHT"></div>
            </td>
          </tr>
          <tr>
            <td>GDP PER CAPITA</td>
            <td class="color-blue-light">
              <div class="qvobject loading number-md " id="QV-VL-GDP" objectid="UtTnpu"></div>
            </td>
          </tr>
          <tr>
            <td>GDP PER CAPITA-YOY +/-</td>
            <td class="color-blue-light">
              <div class="qvobject loading number-md " id="QV-VL-GDP2" objectid="SzdVhj"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <div class="section-header">
        <h2>FOREIGN EXCHANGE</h2>

        <div class="qvobject loading" id="QV-VL-GDP2A2" objectid="JjjgwV"></div>
      </div>
      <div class="chart-container">

        <div id="QVFOEXC" class="chart-area qvobject loading" objectid="tNTJDjZ"></div>

        <div class="text-center dtcm-chart-details">

          <div class="qvobject loading chart-details-1" id="QV110" objectid="NJpTCP"></div>


          <div class="qvobject loading chart-details-2" id="QV1101" objectid="NuWfKt"></div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12">
        <div class="col-md">
          <div class="section-header">
            <h2>AIRFARE & VISA</h2>
          </div>

          <div class="section-header3"></div>

          <div class="text-center medium-font">
            <span>
              OUTBOUND SEAT CAPACITY
              <br> | YOY%
              <small>
                <span class="tool-tip">
                  (i)
                  <span class="tooltiptext">YOY: Year over Year.</span>
                </span>
              </small>
            </span>

          </div>

          <div class="block-element">
            <div class="row text-center">
              <div class="col-6 number-md text-right num-big">
                <div class="qvobject loading number-es " id="QV-VL-AN23AFA" objectid="FMZF"></div>
              </div>

              <div class="col-6 number-sm text-left num-small">
                <div class="qvobject loading number-sm  color-blue-light" id="QV-VL-AN231AFB" objectid="tAqCqJJ"></div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md">
          <div class="section-header3"></div>
          <div class="text-center medium-font">
            <span>
              DUBAI SHARE % | P.P
              <small>
                <span class="tool-tip">
                  (i)
                  <span class="tooltiptext">P.P: Percentage points.</span>
                </span>
              </small>
            </span>

          </div>

          <div class="block-element">
            <div class="row text-center">
              <div class="col-6 number-md text-right num-big">
                <div class="qvobject loading number-es " id="QV-VL-AN23AFAS" objectid="mKcRfm"></div>
              </div>

              <div class="col-6 number-sm text-left num-small">
                <div class="qvobject loading number-sm  color-blue-light" id="QV-VL-AN231AFBS" objectid="UVbmuDQ"></div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md">
          <div class="section-header3"></div>
          <div class="text-center medium-font">
            <span>WEEKLY SEATS TO DUBAI | YOY %</span>
          </div>

          <div class="block-element">
            <div class="row text-center">
              <div class="col-6 number-md text-right num-big">
                <div class="qvobject loading number-es " id="QV-VL-AN23AFASa" objectid="Yxej"></div>
              </div>

              <div class="col-6 number-sm text-left num-small">
                <div class="qvobject loading number-sm  color-blue-light" id="QV-VL-AN231AFBSa" objectid="ubjtba"></div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md">
          <div class="section-header3"></div>
          <div class="text-center">NON-STOP FLIGHT %</div>
          <div class="qvobject loading number-sm  color-blue-light" id="QV-VL-AN231AFBSaAA" objectid="ejyhrKa"></div>
        </div>

        <div class="col-md">
          <div class="section-header3"></div>
          <p class="text-center medium-font">VISA REQUIRED</p>
          <div class="text-center">
            <div class="qvobject loading number-sm  color-blue-light" id="QV-VL-AN231AFBSaAAA" objectid="smGppMK"></div>
            <div class="qvobject loading number-sm  color-blue-light" id="QV-VL-AN231AFBSaAAAB" objectid="jXeSVCp"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p>
    <b>Data Source and Caveats:</b>
    <br>
    <b>
      <u>Annual Departures: </u>
    </b>Total number of trips from Source Market to rest of the world. Current year
    is forecast - TDM*.
    <br>
    <b>TDM (Oxford Economics)</b>
    <br>
    <b>
      <u>Annual Arrivals: </u>
    </b> Number of arrivals from Source Market by Region and Country. Current year
    is forecast - TDM*.Departures and Arrivals are separate metrics and cannot
    be cross-referenced.
    <br>
    <b>
      <u>TDM:</u>
    </b>Tourism Decision Metrics – Oxford Economics.
    <br>
    <b>
      <u>Macro-economic:</u>
    </b> Population and Nominal GDP per Capacity, as of 1st Jan for selected year
    TDM (Oxford Economics).
    <br>
    <b>Foreign Exchange: </b> Source Oanda.
    <br>
    <b>
      <u>Airfare and Visa:</u>
    </b>
    <br>
    <b>Outbound Seat Capacity: </b> Number of seats from source market to rest of
    the world - OAG*.
    <br>
    <b>Dubai Share %: </b>Percentage of outbound seats that arrive in Dubai.
    <br>
    <b>Weekly seats to Dubai: </b>Average number of seats per week to Dubai- OAG*.
    <br>
    <b>Non-Stop Flights %: </b> Percentage of flights to Dubai that are direct-
    a direct flight is non-stop flight between two destinations, an indirect
    flight is a flight that stops enroute but has the same flight number for
    the second leg of the journey - OAG*.
    <br>
    <b>Visa Required: </b> How visitors obtain visa to Dubai – DNRD*.
    <br>
    <b>OAG: </b> Global Air Travel Intelligence.
    <br>
    <b> DNRD: </b> The General Directorate of Residency & Foreign Affairs in Dubai.
    <br>
    <span class="red">*</span> Australia Set as default Source Market.
  </p>
</div>
