<style>
  .qvobject loading {
      height: 35px;
  }

  .chart-donut-2-md {
      width: 80px !important;
      height: 80px !important;
  }

  .chart-donut-2-lg {
      width: 120px !important;
      height: 120px !important;
  }

  .slider-contents>div>div {
      display: block !important;
      float: left;
      width: 100%;
  }
</style>



<div class="tpi-container tpi-internal-experince">
  <div class="row">
      <div class="col-md-12">
          <div class="section-header firstHeader"></div>

          <div id="slider1" class="slider" data-content="sliderContent1">
              <div class="prev inactive">
                  <span class="fa fa-angle-left"></span>
              </div>
              <div class="next inactive">
                  <span class="fa fa-angle-right"></span>
              </div>
              <div class="items">
                  <div>
                      <div>SATISFACTION</div>
                      <div>ADVOCACY</div>
                  </div>
              </div>
          </div>

          <div id="sliderContent1" class="slider-contents">
              <div class="items">
                  <div style="width: 345.2px;height:725px">

                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-md qvobject loading" id="QV-exp-ext-sat-unhappy-cy"
                              objectid="mfthH"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <h3>UNHAPPY</h3>
                      </div>

                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-md qvobject loading" id="QV-exp-ext-sat-satisfied-cy"
                              objectid="dApaUvh"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <h3>MEETING EXPECTATION</h3>
                      </div>

                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-md qvobject loading" id="QV-exp-ext-sat-happy-cy" objectid="JxtMyqy"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <h3>HAPPY</h3>
                      </div>
                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-lg qvobject loading" id="QV-exp-ext-sat-satisfactionscore-cy"
                              objectid="tGPUB"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <div class="h3">
                               NET SATISFACTION SCORE DETAILS  <div class="small">
                                  <div class="tool-tip">
                                      (i)
                                      <span class="tooltiptext">
                                          Net Satisfaction Score Details [1]: Satisfaction Score is derived based on the sum of
                                          [% Extremely
                                          Happy] & [% Happy]
                                      </span>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div class="section-header no-border-top">
                          <div class="h2">
                              HAPPINESS INDEX
                              <div class="tool-tip">
                                  (i)
                                  <span class="tooltiptext">
                                      Happiness Index Details: Relative performance indexed against average 'Satisfaction Score' across all Nationalities.
                                  </span>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 qvobject loading score number-md text-center color-gray" style="height:30px !important;"
                          id="QV-exp-ext-sat-indexscore-cy" objectid="xVysme">
                      </div>

                  </div>
                  <div style="width: 345.2px;height:725px">
                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-md qvobject loading" id="QV-exp-ext-sat-Advo1-cy" objectid="nkhdpZx"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <h3>DETRACTOR</h3>
                      </div>

                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-md qvobject loading" id="QV-exp-ext-sat-Advo2-cy" objectid="jdPmY"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <h3>PASSIVE</h3>
                      </div>

                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-md qvobject loading" id="QV-exp-ext-sat-Advo3-cy" objectid="eQJZgHb"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <h3> PROMOTER</h3>
                      </div>
                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-lg qvobject loading" id="QV-exp-ext-sat-Advo5-cy" objectid="QDxmvmp"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <div class="h3">
                              ACTIVE ADVOCATE
                              <div class="small">
                                  <div class="tool-tip">
                                      (i)
                                      <span class="tooltiptext">
                                          Satisfaction Score [1]: Satisfaction Score is derived based on the sum of
                                          [% Extremely
                                          Happy] & [% Happy]
                                      </span>
                                  </div>
                              </div>
                          </div>

                      </div>

                      <div class="section-header no-border-top">
                          <div class="h2">
                              ADVOCACY SCORE
                              <div class="tool-tip">
                                  (i)
                                  <span class="tooltiptext">
                                      Happiness Index Score [2]: Relative performance indexed against average
                                      'Satisfaction
                                      Score' accress all Nationalities
                                  </span>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 qvobject loading score number-md text-center color-gray" id="QV-exp-ext-advocacy-promoterscore-cy"
                          objectid="qTrhTBt" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
                      </div>
                  </div>
              </div>
          </div>

          <div class="row dtcm-clear-bs-padding">
              <div class="col-4">
                  <div class="dtcm-box-legend dtcm-pink-bg">
                      <p>BELOW 69</p>
                      <p>LOW</p>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box-legend dtcm-gray-bg">
                      <p>70-109</p>
                      <p>NEUTRAL</p>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box-legend dtcm-blue-bg">
                      <p>110+</p>
                      <p>HIGH</p>
                  </div>
              </div>
          </div>

          <div class="section-header"></div>
          <div id="slider2" class="slider" data-content="sliderContent2">
              <div class="prev inactive">
                  <span class="fa fa-angle-left"></span>
              </div>
              <div class="next inactive">
                  <span class="fa fa-angle-right"></span>
              </div>
              <div class="items">
                  <div>
                      <div>
                           NET SATISFACTION SCORE DETAILS  <span class="small">
                              <span class="tool-tip">
                                  (i)
                                  <span class="tooltiptext">
                                      Net Satisfaction Score Details [1]: Satisfaction Score is derived based on the sum of
                                      [% Extremely
                                      Happy] & [% Happy]
                                  </span>
                              </span>
                          </span>
                      </div>
                      <div>HAPPINESS INDEX DETAILS</div>
                  </div>
              </div>
          </div>

          <div id="sliderContent2" class="slider-contents">
              <div class="items">
                  <div>
                      <div class="col-xs-12 qvobject loading table-white-2 table-gray-3 dtcm-tables table-left-1" style="height:357px !important; text-align:center; margin-bottom:10px;"
                          id="QV-exp-int-nss" objectid="WJSuhjB" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
                      </div>
                  </div>

                  <div>
                      <div class="v-sm qvobject loading pillars dtcm-tables table-left-1 table-gray-3 table-center-2" style="padding: 0px; height:370px !important;"
                           id="QV-exp-int-pillars-overall" objectid="Xhsjyw" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
                      </div>
                      <div class="v-sm qvobject loading pillars dtcm-tables table-left-1 table-center-3 table-center-2 table-gray-3" style="padding: 0px; height:370px !important;" id="QV-exp-int-pillars-sm" objectid="FLpvXfP" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">

  <div class="qvobject loading ng-scope" id="QV-exp-int-datasource-caveat" objectid="hEbsds">
  </div>

  <p>
      - All variables in this slide are weighted by nationality and month.<br>
      - <u><b>NSS <span style="font-size:9px"> (1) </span> :</b></u>Net Satisfaction Score: Satisfaction Score is derived based on difference between (% Happy) & (% Unhappy). <br>
      - <u><b>Happiness Index Score <span style="font-size:9px"> (2) </span> :</b></u>Happiness Index: Relative performance indexed against average 'Satisfaction Score' across all Nationalities.<br>

      - <u><b>NPS <span style="font-size:9px"> (3) </span> :</b></u> Net Promoter Score: The Net Promoters Score is derived based on the difference between (% Promoters) & (% Detractors). The higher the NPS, more likely are for respondents to recommend Dubai to friends and family. <br>
      - <u><b>Advocacy Index Score <span style="font-size:9px"> (4) </span> :</b></u> Advocacy Index: Relative performance, indexed against average 'Advocacy Score' across all Nationalities
  </p>
  <div class="qvobject loading ng-scope" id="QV-exp-int-pillars-hapindx1-caveat" objectid="GmGFHva">
  </div>
  <div class="qvobject loading ng-scope" id="QV-exp-int-pillars-hapindx2-caveat" objectid="KsCZUUd">
  </div>
  <div class="qvobject loading ng-scope" id="QV-exp-int-pillars-nss-py-caveat" objectid="mVmSRpF">
  </div>
  <p>
      - <u><b>Rating Scale:</b></u> All variables are weighted by nationality and month..<br>
      <span class="red">*</span> Overall Set as default Source Market.<br><br><br><br>
  </p>

</div>
