<nav style="display:none !important;">
  <a routerLink="/tpi/overviewtp" id="tpioverview">overview </a>
  <a routerLink="/tpi/sourcemarkettp" id="tpisourcemarkettp">Source Market</a>
  <a routerLink="/tpi/detail" id="tpidetail">tpidetail</a>
  <a routerLink="/tpi/internalexperince" id="tpiinternalexperince">tpiinternalexperince</a>
  <a routerLink="/tpi/experinceexternal" id="tpiexperinceexternal">tpiexperinceexternal</a>
  <a routerLink="/tpi/journy" id="tpijourny">tpijourny</a>
  <a routerLink="/tpi/volume" id="tpivolume">tpivolume</a>

  <a routerLink="/overseas/sourcemarketos" id="ovsourcemarketos">sourcemarketos</a>
  <a routerLink="/overseas/overviewos" id="osoverviewos">osoverviewos</a>
  <a routerLink="/overseas/capacity" id="oscapacity">capacity</a>
  <a routerLink="/overseas/guests" id="osguests">guests</a>
  <a routerLink="/overseas/lenghtofstay" id="oslenghtofstay">lenghtofstay</a>

  <a routerLink="/vs/advocacy" id="vsadvocacy">advocacy</a>
  <a routerLink="/vs/advocacyex" id="vsadvocacyex">advocacyex</a>
  <a routerLink="/vs/attraction" id="vsattraction">vsattraction</a>
  <a routerLink="/vs/booking" id="vsbooking">vsbooking</a>
  <a routerLink="/vs/infrastructure" id="vsinfrastructure">vsinfrastructure</a>
  <a routerLink="/vs/infrastructureex" id="vsinfrastructureex">vsinfrastructureex</a>
  <a routerLink="/vs/pilirs" id="vspilirs">vspilirs</a>
  <a routerLink="/vs/pilirsex" id="vspilirsex">vspilirsex</a>
  <a routerLink="/vs/porposofvisit" id="vsporposofvisit">vsporposofvisit</a>
  <a routerLink="/vs/revisit" id="vsrevisit">vsrevisit</a>
  <a routerLink="/vs/satisfaction" id="vssatisfaction">vssatisfaction</a>
  <a routerLink="/vs/satisfactionex" id="vssatisfactionex">vssatisfactionex</a>
  <a routerLink="/vs/spend" id="vsspend">vsspend</a>
  <a routerLink="/vs/visitationbehavior" id="vsvisitationbehavior">vsvisitationbehavior</a>
  <a routerLink="/vs/demographic" id="vsdemographic">vsdemographic</a>
  <a routerLink="/vs/media" id="vsmedia">vsmedia</a>

  <a routerLink="/brandtraker/barriers" id="btbarriers">btbarriers</a>
  <a routerLink="/brandtraker/brandAdver" id="vsbrandAdver">vsbrandAdver</a>
  <a routerLink="/brandtraker/consideration" id="btconsideration">btconsideration</a>
  <a routerLink="/brandtraker/perception" id="btperception">btperception</a>
  <a routerLink="/brandtraker/wishlist" id="btwishlist">btwishlist</a>

  <a routerLink="/hotel/detials" id="htdetials">htdetials</a>
  <a routerLink="/hotel/outlook" id="htoutlook">htoutlook</a>
  <a routerLink="/hotel/piple" id="btpiple">btpiple</a>


</nav>
<router-outlet></router-outlet>

