.dtcm-pink-bg {
  background-color: #d1398e !important; }

.dtcm-blue-bg {
  background-color: #046ab2 !important; }

.dtcm-gray-bg {
  background-color: #59585d !important; }

.dtcm-darkblue-bg {
  background-color: #130236 !important; }

.dtcm-purple-bg {
  background-color: #5e1c5a !important; }

.dtcm-gray-light-bg {
  background-color: #9495ae !important; }

.dtcm-pink-color {
  color: #d1398e !important; }

.dtcm-blue-color {
  color: #046ab2 !important; }

.dtcm-white-color {
  color: #ffffff !important; }
  .dtcm-white-color .ellips-text {
    color: #ffffff !important; }
  .dtcm-white-color font,
  .dtcm-white-color .qv-media-tool-html div[dir="auto"] {
    color: #ffffff !important; }

.dtcm-gray-color {
  color: #59585d !important; }

.dtcm-gray-2-color {
  color: #a7a8ac !important; }
  .dtcm-gray-2-color .ellips-text {
    color: #a7a8ac !important; }
  .dtcm-gray-2-color font,
  .dtcm-gray-2-color .qv-media-tool-html div[dir="auto"] {
    color: #a7a8ac !important; }

.dtcm-darkblue-color {
  color: #130236 !important; }

.dtcm-purple-color {
  color: #5e1c5a !important; }

@font-face {
  font-family: DINProRegular;
  src: url("../fonts/DINPro-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: DINProBold;
  src: url("../fonts/DINPro-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }
/* start with chart area */
.chart-area {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  position: relative; }
  .chart-area .axis-x .domain,
  .chart-area .axis-y .domain {
    display: none; }
  .chart-area .axis-x .tick line {
    stroke: #fff;
    opacity: 0.3; }
  .chart-area .axis-x .tick text {
    font-family: "DINProRegular";
    fill: #fff;
    font-size: 14px;
    text-transform: uppercase; }
  .chart-area .axis-y .tick text {
    font-family: "DINProRegular";
    fill: #fff;
    font-size: 14px;
    text-transform: uppercase; }
  .chart-area .axis-x .tick.active line {
    opacity: 1; }
  .chart-area .axis-x .tick.active text {
    fill: red; }
  .chart-area .line {
    fill: none;
    stroke: #fff; }
  .chart-area .cursor {
    stroke: #fff;
    stroke-width: 3; }
  .chart-area .cursor-text {
    font-family: "DINProRegular";
    fill: #fff;
    font-size: 14px;
    text-transform: uppercase; }
  .chart-area .tooltip {
    position: absolute;
    font-family: "DINProRegular";
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    pointer-events: none;
    bottom: 60px; }

.chart-bar {
  width: 100%;
  height: 300px; }
  .chart-bar .label0 {
    font-family: "DINProRegular";
    fill: #fff;
    font-size: 18px;
    text-anchor: middle; }
  .chart-bar .label1,
  .chart-bar .label2 {
    font-family: "DINProRegular";
    fill: #fff;
    font-size: 14px;
    text-anchor: middle; }

.chart-bar-2 {
  width: 100%;
  height: 510px;
  display: inline-block; }
  .chart-bar-2 .label0 {
    font-family: "DINProRegular";
    fill: #fff;
    font-size: 16px;
    text-anchor: start; }
  .chart-bar-2 .label1,
  .chart-bar-2 .label2 {
    font-family: "DINProRegular";
    fill: #fff;
    font-size: 14px; }

.chart-bar-3 {
  width: 100%;
  height: 300px; }
  .chart-bar-3 .label0 {
    font-family: "DINProRegular";
    fill: #ccc;
    font-size: 18px;
    text-anchor: middle; }
  .chart-bar-3 .label1 {
    font-family: "DINProRegular";
    fill: #ccc;
    font-size: 18px;
    text-anchor: middle; }
  .chart-bar-3 .axis-y .domain,
  .chart-bar-3 .axis-y .tick line {
    stroke: #ccc;
    opacity: 0.3; }
  .chart-bar-3 .axis-x {
    stroke: #ccc;
    opacity: 0.3; }
  .chart-bar-3 .axis-y .tick:first-of-type line {
    display: none; }
  .chart-bar-3 .axis-y .tick text {
    font-family: "DINProRegular";
    fill: #ccc;
    font-size: 14px; }

.chart-donut {
  width: 100% !important;
  margin: 0 auto !important; }
  .chart-donut .arc path {
    stroke: #222df3;
    stroke-width: 3;
    fill: none; }
  .chart-donut .end ellipse {
    stroke: #233c6d;
    stroke-width: 3; }
  .chart-donut .inner {
    stroke: #221F42;
    stroke-width: 2;
    fill: #221F42; }
  .chart-donut text {
    font-family: "DINProRegular";
    fill: #fff;
    font-size: 20px;
    text-anchor: middle; }
    .chart-donut text tspan {
      font-size: 14px; }

.don-bor {
  position: relative; }
  .don-bor hr {
    color: white;
    position: absolute;
    right: 50%;
    height: 90%;
    border: 0.5px solid #d1d1d1; }

.don-bor2 {
  position: relative; }
  .don-bor2 hr {
    color: white;
    position: absolute;
    right: 50%;
    height: 50%;
    border: 0.5px solid #d1d1d1; }

.chart-donut-2 {
  width: 40px;
  height: 40px; }
  .chart-donut-2 .inner {
    fill: #222d5e !important; }
  .chart-donut-2 text {
    font-family: "DINProBold";
    fill: #fff;
    font-size: 16px; }
    .chart-donut-2 text tspan {
      font-size: 8px; }

.chart-donut-2-sm {
  width: 60px !important;
  height: 60px !important;
  margin: 0 auto; }
  .chart-donut-2-sm text {
    font-size: 20px !important; }
    .chart-donut-2-sm text tspan {
      font-size: 12px !important; }

.chart-donut-2-md {
  width: 80px !important;
  height: 80px !important;
  margin: 0 auto; }
  .chart-donut-2-md text {
    font-size: 20px !important; }
    .chart-donut-2-md text tspan {
      font-size: 12px !important; }

.chart-donut-2-lg {
  width: 120px !important;
  height: 120px !important;
  margin: 0 auto !important; }
  .chart-donut-2-lg text {
    font-size: 32px !important; }
    .chart-donut-2-lg text tspan {
      font-size: 16px !important; }

.chart-stacked-bar-2 {
  width: 100%;
  height: 600px;
  margin: 0 auto; }
  .chart-stacked-bar-2 .label0,
  .chart-stacked-bar-2 .label1 {
    font-family: "DINProRegular";
    fill: #fff;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0.8; }

.chart-table {
  width: 100%;
  position: relative; }
  .chart-table > div {
    position: absolute;
    overflow: hidden; }
    .chart-table > div > div {
      font-family: "DINProRegular";
      color: #fff;
      font-size: 12px;
      text-transform: uppercase; }
      .chart-table > div > div.small {
        font-size: 10px; }

.dtcm-chart-details {
  height: 35px !important; }
  .dtcm-chart-details .chart-details-1 {
    height: 25px !important; }
    .dtcm-chart-details .chart-details-1 .ellips-text span {
      color: white !important;
      font-size: 25px !important; }
    .dtcm-chart-details .chart-details-1 .qv-media-tool-html font {
      color: white !important;
      font-size: 25px !important; }
  .dtcm-chart-details .chart-details-2 {
    height: 20px !important; }
    .dtcm-chart-details .chart-details-2 .media-tool-scrollbar .qv-media-tool-html {
      color: white !important;
      font-size: 12px !important; }
      .dtcm-chart-details .chart-details-2 .media-tool-scrollbar .qv-media-tool-html div {
        color: white !important;
        font-size: 12px !important; }

.dtcm-title-chart {
  font-size: 20px;
  border-bottom: 1px solid #fff;
  width: 120px;
  margin: 10px auto 15px; }

@media (max-width: 500px) {
  .chart-donut {
    width: 150px; }
    .chart-donut text {
      font-family: "DINProRegular";
      fill: #fff;
      font-size: 16px;
      text-anchor: middle; }
      .chart-donut text tspan {
        font-size: 12px; } }
html,
body {
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: "DINProRegular";
  color: #fff;
  font-size: 15px !important;
  height: 100%;
  text-transform: uppercase; }
  html p,
  body p {
    text-transform: none;
    margin-bottom: 0; }

.loading {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%; }
  .loading:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.tool-tip {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border-radius: 4px;
  line-height: 2;
  color: #F8C1D9;
  font-size: 14px;
  text-transform: lowercase !important;
  cursor: pointer; }
  .tool-tip .tooltiptext {
    display: none;
    visibility: hidden;
    padding: 5px;
    line-height: 1.4;
    width: 200px;
    font-size: 12px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1000;
    top: 35px;
    left: -100px;
    margin-left: -62px;
    opacity: 0;
    transition: opacity 0.3s; }
    .tool-tip .tooltiptext::before {
      content: "";
      position: absolute;
      top: -4px;
      left: 50%;
      margin-left: -2.5px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid black; }
  .tool-tip:hover .tooltiptext {
    visibility: visible;
    display: block;
    opacity: 1; }
  .tool-tip.tool-tip-top .tooltiptext {
    top: -190px; }
    .tool-tip.tool-tip-top .tooltiptext::before {
      border-top: 5px solid black !important;
      border-bottom: 0 !important;
      top: 186px; }

.hr {
  border: 0;
  border-top: 1px solid #fff;
  margin-bottom: 30px; }

.box-number {
  background-color: #25272c;
  padding: 8px;
  margin: 10px auto 10px;
  width: 110px;
  text-align: center;
  border-radius: 5px; }
  .box-number .ellips-text span {
    color: #ffffff; }

.medium-font {
  font-size: 18px; }

table {
  background-color: transparent !important;
  margin: 0px;
  width: 100%; }
  table thead tr th {
    font-weight: normal;
    border: 0 !important;
    padding: 6px 3px 7px 3px !important;
    font-size: 14px; }
  table tr td {
    font-size: 14px !important;
    padding: 6px 3px 7px 3px !important; }
    table tr td img {
      width: 24px !important;
      height: 24px !important;
      border-radius: 100% !important;
      border: 1px solid #aaa !important; }

.dtcm-tables tr td {
  border-top: 1px solid white !important; }

.table-no-border-top tr:first-child td {
  border-top: none !important; }

.no-border-top {
  border-top: none !important; }

.dtcm-tb-head-align tr th:nth-child(2) {
  text-align: left; }
.dtcm-tb-head-align tr th:nth-child(3) {
  text-align: center !important; }

.flags-table tr td {
  padding: 2px 3px 4px 3px !important; }

.table-white-1 td:nth-child(1) {
  color: white !important; }

.table-white-2 td:nth-child(2) {
  color: white !important; }

.table-white-3 td:nth-child(3) {
  color: white !important; }

.table-white-3 td:nth-child(4) {
  color: white !important; }

.table-white-3 td:nth-child(5) {
  color: white !important; }

.table-gray-1 td:nth-child(1) {
  color: #a7a8ac !important; }

.table-gray-2 td:nth-child(2) {
  color: #a7a8ac !important; }

.table-gray-3 td:nth-child(3) {
  color: #a7a8ac !important; }

.table-gray-3 td:nth-child(4) {
  color: #a7a8ac !important; }

.table-gray-3 td:nth-child(5) {
  color: #a7a8ac !important; }

.table-blue-2 td:nth-child(2) font {
  color: #95D5D7 !important; }

.table-right-1 tr td:nth-child(1),
.table-right-1 tr th:nth-child(1) {
  text-align: right !important; }

.table-right-2 tr td:nth-child(2),
.table-right-2 tr th:nth-child(2) {
  text-align: right !important; }

.table-right-3 tr td:nth-child(3),
.table-right-3 tr th:nth-child(3) {
  text-align: right !important; }

.table-right-4 tr td:nth-child(4),
.table-right-4 tr th:nth-child(4) {
  text-align: right !important; }

.table-right-5 tr td:nth-child(5),
.table-right-5 tr th:nth-child(5) {
  text-align: right !important; }

.table-left-1 tr td:nth-child(1),
.table-left-1 tr th:nth-child(1) {
  text-align: left !important; }

.table-left-2 tr td:nth-child(2),
.table-left-2 tr th:nth-child(2) {
  text-align: left !important; }

.table-left-3 tr td:nth-child(3),
.table-left-3 tr th:nth-child(3) {
  text-align: left; }

.table-left-4 tr td:nth-child(4),
.table-left-4 tr th:nth-child(4) {
  text-align: left !important; }

.table-left-5 tr td:nth-child(5),
.table-left-5 tr th:nth-child(5) {
  text-align: left !important; }

.table-center-1 tr td:nth-child(1),
.table-center-1 tr th:nth-child(1) {
  text-align: center !important; }

.table-center-2 tr td:nth-child(2),
.table-center-2 tr th:nth-child(2) {
  text-align: center !important; }

.table-center-3 tr td:nth-child(3),
.table-center-3 tr th:nth-child(3) {
  text-align: center !important; }

.table-center-4 tr td:nth-child(4),
.table-center-4 tr th:nth-child(4) {
  text-align: center !important; }

.table-equal tr th:first-child,
.table-equal tr td:first-child {
  width: 50%; }
.table-equal tr th:last-child,
.table-equal tr td:last-child {
  width: 50%; }

.table-equal-2 tr th:first-child,
.table-equal-2 tr td:first-child {
  width: 50%; }
.table-equal-2 tr th:nth-child(2),
.table-equal-2 tr td:nth-child(2) {
  width: 25%; }
.table-equal-2 tr th:last-child,
.table-equal-2 tr td:last-child {
  width: 25%; }

.table-right-flex-4 tr td:nth-child(4),
.table-right-flex-4 tr th:nth-child(4) {
  display: flex !important;
  justify-content: flex-end !important; }

.table-break-word tr th:first-child,
.table-break-word tr td:first-child {
  word-break: break-word !important; }

.table-border-1 tr td:first-child,
.table-border-1 tr th:first-child {
  border-right: 1px solid #ffffff !important; }

.table-border-2 tr:not(:first-child) td {
  border-right: 1px solid #ffffff !important; }
  .table-border-2 tr:not(:first-child) td:last-child {
    border-right: 0px; }
  .table-border-2 tr:not(:first-child) td:last-child {
    border-right: unset !important; }

.dtcm-text-decoration {
  text-decoration: underline; }

.dtcm-clear-bs-padding.row {
  margin-right: -5px;
  margin-left: -5px; }
.dtcm-clear-bs-padding > div {
  padding-right: 5px;
  padding-left: 5px; }

.dtcm-box {
  margin: 20px 0;
  border-radius: 6px;
  text-align: center;
  padding: 5px 0px 7px 0px;
  height: 61px; }
  .dtcm-box .ellips-text {
    margin: 0;
    font-size: 22px !important; }
  .dtcm-box font {
    font-size: 12px !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
    text-transform: uppercase !important;
    position: absolute;
    right: 40%;
    top: 1px; }
  .dtcm-box p {
    font-size: 12px !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
    text-transform: uppercase !important; }
  .dtcm-box .media-tool-scrollbar .qv-media-tool-html div[dir="auto"] {
    font-size: 12px !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
    text-transform: uppercase !important; }
  .dtcm-box .lui-icon--triangle-bottom {
    position: absolute !important;
    right: 3px !important;
    top: -6px !important; }
    .dtcm-box .lui-icon--triangle-bottom::before {
      color: #d1398e !important;
      font-size: 16px !important; }
  .dtcm-box .lui-icon--triangle-top {
    position: absolute !important;
    right: 3px !important;
    top: -6px !important; }
    .dtcm-box .lui-icon--triangle-top::before {
      color: #0072bc !important;
      font-size: 16px !important; }
  .dtcm-box .tool-tip {
    position: absolute;
    top: 49px;
    right: 30px;
    z-index: 100; }

.dtcm-box-img {
  margin: 20px 0;
  border-radius: 6px;
  text-align: center;
  padding: 5px 0px 7px 0px;
  height: 48px; }
  .dtcm-box-img .ellips-text {
    margin: 0;
    font-size: 22px !important;
    color: #ffffff; }
  .dtcm-box-img font {
    font-size: 12px !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
    text-transform: uppercase !important;
    position: absolute;
    right: 40%;
    top: 1px;
    color: #fff; }
  .dtcm-box-img p {
    font-size: 12px !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
    text-transform: uppercase !important; }
  .dtcm-box-img > p:first-child {
    font-size: 20px !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
    text-transform: uppercase !important;
    padding-top: 2px !important; }
    .dtcm-box-img > p:first-child .img-responsive {
      width: 24px;
      height: 24px;
      border-radius: 100%;
      border: 1px solid #aaa; }

.dtcm-box-legend {
  margin: 20px 0;
  border-radius: 6px;
  text-align: center;
  padding: 5px 0px 7px 0px; }
  .dtcm-box-legend p {
    margin: 0;
    font-size: 20px !important; }
    .dtcm-box-legend p:nth-of-type(2) {
      font-size: 12px !important;
      vertical-align: middle !important;
      white-space: nowrap !important;
      text-transform: uppercase !important; }

.dtcm-box-spend {
  background-color: #130236;
  margin: 7px 0px;
  text-align: center;
  border-radius: 8px; }
  .dtcm-box-spend > div:nth-child(1) {
    font-size: 25px;
    padding: 10px 0px 0px 0px; }
    .dtcm-box-spend > div:nth-child(1) .ellips-text span {
      color: #ffffff !important; }
  .dtcm-box-spend > div:nth-child(2) {
    font-size: 20px;
    padding: 5px 0px 0px 0px; }
    .dtcm-box-spend > div:nth-child(2) .ellips-text span {
      color: #ffffff !important; }
  .dtcm-box-spend > div:nth-child(3) {
    padding-bottom: 10px; }

.dtcm-box-icons {
  margin: 20px 0;
  text-align: center;
  padding: 0px 0px 0px 0px;
  height: 42px;
  border-radius: 8px; }
  .dtcm-box-icons .floating-box-period .qv-media-tool-html div[dir="auto"],
  .dtcm-box-icons .floating-box-hotel .qv-media-tool-html div[dir="auto"],
  .dtcm-box-icons .floating-box-room .qv-media-tool-html div[dir="auto"] {
    text-align: center !important; }
  .dtcm-box-icons .floating-box-period font, .dtcm-box-icons .floating-box-period span,
  .dtcm-box-icons .floating-box-hotel font,
  .dtcm-box-icons .floating-box-hotel span,
  .dtcm-box-icons .floating-box-room font,
  .dtcm-box-icons .floating-box-room span {
    font-size: 16px !important;
    vertical-align: top !important;
    white-space: nowrap !important;
    text-transform: uppercase !important;
    color: #fff !important;
    font-weight: 500 !important;
    line-height: 25px !important; }
  .dtcm-box-icons p {
    font-size: 10px !important;
    vertical-align: top !important;
    white-space: nowrap !important;
    text-transform: uppercase !important;
    line-height: 0 !important; }
  .dtcm-box-icons span {
    position: relative; }
    .dtcm-box-icons span img {
      max-width: 16px;
      height: 14px;
      position: absolute;
      left: -45px;
      top: 8px;
      z-index: 9999; }

.block-element {
  margin: 10px 0px 20px 0px; }
  .block-element > div:nth-of-type(1) > div:nth-of-type(1) {
    padding-right: 0 !important; }
    .block-element > div:nth-of-type(1) > div:nth-of-type(1) .qv-interactive > div:first-of-type {
      position: absolute;
      right: 0; }
    .block-element > div:nth-of-type(1) > div:nth-of-type(1) span {
      font-size: 25pt !important;
      position: relative;
      bottom: 0px;
      color: white !important;
      font-weight: normal;
      right: 0px; }
      .block-element > div:nth-of-type(1) > div:nth-of-type(1) span::after {
        content: "|" !important;
        font-size: 8pt;
        left: 0px;
        position: relative;
        top: 0px;
        bottom: 0px; }
    .block-element > div:nth-of-type(1) > div:nth-of-type(1) b > font {
      font-size: 25pt !important;
      position: relative;
      bottom: 3px;
      color: white !important;
      font-weight: normal; }
      .block-element > div:nth-of-type(1) > div:nth-of-type(1) b > font::after {
        content: '|' !important;
        font-size: 8pt;
        position: relative;
        left: 2px; }
    .block-element > div:nth-of-type(1) > div:nth-of-type(1) font > font {
      font-size: 25pt !important;
      position: relative;
      bottom: 3px;
      color: white !important;
      font-weight: normal; }
      .block-element > div:nth-of-type(1) > div:nth-of-type(1) font > font::after {
        content: '|' !important;
        font-size: 8pt;
        position: relative;
        left: 2px; }
  .block-element > div:nth-of-type(1) > div:nth-of-type(2) {
    padding-left: 0 !important; }
    .block-element > div:nth-of-type(1) > div:nth-of-type(2) * {
      text-align: left !important; }
  .block-element > div > div:nth-of-type(2) span {
    top: 7px;
    position: relative;
    font-size: 20px !important; }
    .block-element > div > div:nth-of-type(2) span.tool-tip {
      font-size: 13px !important;
      top: -5px;
      position: absolute;
      left: 22px; }
      .block-element > div > div:nth-of-type(2) span.tool-tip .tooltiptext {
        font-size: 12px !important; }
  .block-element > div > div:nth-of-type(2) b > font {
    top: 12px;
    position: relative;
    font-size: 20px !important; }
  .block-element > div > div:nth-of-type(2) font > font {
    top: 12px;
    position: relative;
    font-size: 20px !important; }
  .block-element > div:nth-of-type(2) div {
    font-size: 9pt !important;
    padding: 0; }
    .block-element > div:nth-of-type(2) div:nth-of-type(1)::after {
      content: '|';
      position: relative;
      left: 1px;
      font-size: 8pt; }
    .block-element > div:nth-of-type(2) div:nth-of-type(2) {
      position: relative;
      left: 5px; }

.qv-object * {
  font-family: 'DINProRegular', sans-serif; }

.qv-object .lui-icon,
.qv-object .lui-caret,
.qv-object .lui-checkbox__check {
  font-family: "LUI icons" !important; }

.qv-object .qv-object-header,
.qv-object .qv-object-footnote {
  display: none !important; }

.navbar {
  padding: 0px; }
  .navbar .navbar-brand {
    background-color: #5e1c5a;
    width: 40px;
    height: 40px;
    border-radius: 50% 50% 50% 0;
    padding: 10;
    margin: 10px 0px;
    text-align: center;
    cursor: pointer; }
    .navbar .navbar-brand > span {
      font-size: 24px;
      margin-top: 5px; }

.navbar1 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse; }

.navbar2 {
  width: 100%;
  display: none; }

.filter {
  margin: 10px 0px; }
  .filter .color-gray {
    background: linear-gradient(to bottom, #ffffff 20%, #d2d2d3 100%);
    padding: 5px 15px;
    color: #59585d !important;
    border: none;
    border-radius: 10px; }
  .filter .color-purpual {
    width: 100%;
    background: #5e1c5a;
    padding: 7px 15px;
    color: #a7a8ac;
    border: none; }
  .filter > .clear {
    border-radius: 0px 0px 0px 45px; }
  .filter > .ok {
    border-radius: 0px 45px 0px 0px; }

.border-curly {
  border-radius: 0px 20px 0px 20px !important; }

.styled-select {
  background: linear-gradient(to bottom, #ffffff 20%, #d2d2d3 100%) !important;
  padding: 5px 15px !important;
  color: #59585d !important;
  border: none !important;
  border-radius: 10px !important; }

ul .button-reset:nth-last-child(1) {
  width: 48%;
  display: inline-block;
  margin-left: 5px; }

ul .button-reset:nth-last-child(2) {
  width: 49%;
  display: inline-block; }

.firstHeader {
  margin-top: 0 !important; }

.section-header {
  border-top: 1px solid white;
  text-align: center;
  margin-top: 15px; }
  .section-header.border-bottom {
    border-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid white; }
  .section-header > .header-icon {
    height: 20px;
    width: auto; }
  .section-header > h2 {
    display: inline-block;
    padding-top: 15px;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 0; }
    .section-header > h2 .header-icon {
      height: 20px;
      width: auto; }
  .section-header > div.h2 {
    display: inline-block;
    padding-top: 15px;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 0; }
    .section-header > div.h2 div.small {
      display: inline-block; }
  .section-header > div.h3 {
    font-size: 15px;
    margin: 20px 0;
    line-height: 4px;
    font-weight: normal; }
    .section-header > div.h3 div.small {
      display: inline-block; }
  .section-header > h3 {
    font-size: 16px;
    margin: 20px 0;
    line-height: 4px;
    font-weight: normal; }
  .section-header > p {
    margin-bottom: 0; }
    .section-header > p .header {
      font-size: 16px;
      border-bottom: 1px solid #d1d1d175;
      padding-bottom: 30px;
      line-height: 4px; }

.section-header2 {
  text-align: center; }
  .section-header2 > .header-icon {
    height: 20px;
    width: auto; }
  .section-header2 > h2 {
    padding-top: 10px;
    font-weight: normal;
    font-size: 20px; }
  .section-header2 > div.h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0; }
  .section-header2 > h3 {
    font-size: 14px;
    margin: 10px 0px 0px 0px !important;
    line-height: 4px;
    display: inline-flex; }
    .section-header2 > h3 small {
      margin-left: 5px;
      line-height: 6px; }
  .section-header2 > div.h3 {
    font-size: 14px;
    margin: 10px 0px 0px 0px !important;
    line-height: 4px; }

.section-header3 {
  border-top: 1px solid #ddd;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

.page {
  padding-bottom: 10px; }

.btn-tooltip {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  line-height: 0;
  text-transform: lowercase !important; }

.small {
  display: inline-block; }

.text-underline {
  text-decoration: underline; }

.arrow-down {
  text-align: center;
  cursor: pointer;
  margin-bottom: 0; }
  .arrow-down i {
    cursor: pointer; }

.pop-navigate {
  margin-left: 5px;
  border: 1px solid #d1d1d1;
  background-color: #5e1c5a;
  border-radius: 50%;
  width: 15px;
  height: 14px;
  padding: 2px; }
  .pop-navigate.abs {
    position: absolute;
    top: 8px;
    line-height: 0.6;
    font-size: 12px;
    display: inline-block;
    height: 15px; }
    .pop-navigate.abs article > div {
      overflow: visible !important; }
      .pop-navigate.abs article > div .ellips-text {
        overflow: visible !important;
        text-overflow: unset !important; }
        .pop-navigate.abs article > div .ellips-text span {
          color: white !important;
          font-size: 11px !important;
          overflow: visible !important; }

.pop-p {
  line-height: 2;
  height: 25px; }
  .pop-p .pop-n {
    margin-left: 5px;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    background-color: #5e1c5a;
    padding: 0px 3px;
    font-size: 14px;
    margin-right: 6px; }

.chart-container {
  margin: 0px !important;
  margin-top: 10px !important; }

.legends {
  font-size: 11px !important;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 10px !important; }
  .legends > li {
    display: inline;
    margin-right: 5px; }
    .legends > li > span {
      width: 10px;
      height: 10px;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: -1px; }
      .legends > li > span.pink {
        background-color: #d1398e; }
      .legends > li > span.blue {
        background-color: #046ab2; }
      .legends > li > span.bluelight {
        background-color: #5B82A7; }
      .legends > li > span.grey {
        background-color: #a7a8ac; }
      .legends > li > span.grey1 {
        background-color: #59585d; }
      .legends > li > span.grey2 {
        background-color: #a7a8ac; }
      .legends > li > span.purple {
        background-color: #766F92; }
      .legends > li > span.aqua {
        background-color: #99dadc; }
      .legends > li > span.pink-light {
        background-color: #f7c1d9; }
      .legends > li > span.aqua-light {
        background-color: #5d83ac; }

.gender p {
  margin: 0; }

.page-vs attractions .box p:first-of-type {
  font-size: 12px !important; }
.page-vs spend .col-6 .percentage .ellips-text span {
  color: #ffffff; }

.slider {
  width: 200px;
  margin: 10px auto !important;
  position: relative;
  text-align: center;
  line-height: 25px !important;
  font-size: 16px; }
  .slider .prev,
  .slider .next {
    position: absolute;
    top: 0;
    width: 28px;
    height: 28px;
    background-color: #777389;
    border-radius: 100%;
    text-align: center;
    cursor: pointer; }
  .slider .prev > span,
  .slider .next > span {
    font-size: 20px;
    margin-top: 1px; }
  .slider .prev > span {
    margin-left: -2px; }
  .slider .next > span {
    margin-right: -2px; }
  .slider .prev.inactive,
  .slider .next.inactive {
    background-color: #130236; }
  .slider .prev.inactive > span,
  .slider .next.inactive > span {
    color: #aaa; }
  .slider .prev {
    left: -50px; }
  .slider .next {
    right: -50px; }
  .slider .items {
    height: 300px !important;
    overflow: hidden;
    position: relative; }
    .slider .items > div {
      width: 2000px; }
    .slider .items > div > div {
      width: 200px;
      float: left;
      line-height: 1.8;
      text-decoration: underline; }
    .slider .items.small {
      font-size: 14px; }
    .slider .items .tool-tip {
      position: static; }
      .slider .items .tool-tip .tooltiptext {
        left: 0px;
        margin-left: 0px;
        margin-right: 0px; }

.slider-contents {
  position: relative;
  margin-top: -250px;
  overflow: hidden; }
  .slider-contents > div > div {
    float: left;
    width: 100%; }
  .slider-contents .section-header:last-child {
    border-bottom: none; }
  .slider-contents .section-header p {
    text-align: left; }

.row-group {
  margin: 20px 0px 8px 0px !important;
  overflow: hidden; }
  .row-group .row > div {
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px; }
  .row-group .row:last-child > div {
    border-bottom: none;
    padding-bottom: 0; }
  .row-group .row:first-child > div {
    padding-top: 0; }

.arrow {
  text-align: center; }
  .arrow i {
    background-color: #d1d1d1;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    padding: 3px; }

.qv-collapsed-listbox.small {
  height: 100%;
  width: 100%; }

/****** TPI Pages ********/
.page-tpi {
  background-color: #283c6e;
  min-height: calc(100%); }
  .page-tpi > .navbar {
    background-color: #283c6e; }

.tpi-container.tpi-source-market .number-market-details > .qvobject {
  height: 50px !important; }
  .tpi-container.tpi-source-market .number-market-details > .qvobject span {
    font-size: 42px !important;
    color: white; }
.tpi-container.tpi-source-market #QV-p02-01 {
  margin-top: 15px; }
.tpi-container.tpi-overview .chart-area {
  width: 100%;
  height: 350px !important;
  margin: 0 auto;
  position: relative; }
  .tpi-container.tpi-overview .chart-area .ng-scope {
    overflow: hidden !important; }
.tpi-container.tpi-volume {
  overflow: hidden; }
  .tpi-container.tpi-volume .qvobject {
    height: 43px; }
  .tpi-container.tpi-volume table .qvobject {
    height: 30px; }
  .tpi-container.tpi-volume .table-equal {
    margin-top: 20px; }
    .tpi-container.tpi-volume .table-equal tr td {
      padding-top: 1px !important;
      padding-bottom: 1px !important; }
      .tpi-container.tpi-volume .table-equal tr td:nth-child(2) * {
        font-size: 14px !important;
        text-align: right !important; }
  .tpi-container.tpi-volume .chart-donut {
    height: 250px !important; }
  .tpi-container.tpi-volume .chart-area {
    height: 350px !important; }
  .tpi-container.tpi-volume .dtcm-chart-details .chart-details-1 {
    height: 35px !important; }
  .tpi-container.tpi-volume #QV-VL-AN231AFBSaAA font,
  .tpi-container.tpi-volume #QV-VL-AN231AFBSaAAA font {
    font-size: 33px;
    color: white;
    line-height: 0.9; }
  .tpi-container.tpi-volume .dtcm-chart-details {
    height: 50px !important; }
  .tpi-container.tpi-volume .chart-container .qv-inner-object {
    overflow: visible !important; }
    .tpi-container.tpi-volume .chart-container .qv-inner-object .ng-scope {
      overflow: visible !important; }
  .tpi-container.tpi-volume .block-element .color-blue-light font {
    color: #95D5D7 !important; }
  .tpi-container.tpi-volume .col-md-12:nth-of-type(2) .section-header .qv-media-tool-html {
    color: white !important;
    font-size: 18px !important; }
.tpi-container.tpi-journey .row-group .row .col-6:first-child {
  border-right: 1px solid #ffffff; }
.tpi-container.tpi-journey #QV-p05-05 {
  margin-top: 15px; }
.tpi-container.tpi-journey .chart-donut-2-md {
  width: 80px !important;
  height: 80px !important; }
.tpi-container.tpi-journey .chart-donut-2 {
  width: 80px !important;
  height: 80px !important; }
.tpi-container.tpi-journey .mt-4 tr td {
  padding-top: 1px !important;
  padding-bottom: 1px !important; }
  .tpi-container.tpi-journey .mt-4 tr td:nth-child(2) * {
    font-size: 14px !important;
    text-align: right !important;
    color: #99dadc; }
.tpi-container.tpi-journey .chart-container .qv-inner-object {
  overflow: visible !important; }
  .tpi-container.tpi-journey .chart-container .qv-inner-object .ng-scope {
    overflow: visible !important; }
.tpi-container.tpi-details .block-element > .text-center {
  margin-bottom: 3px; }
.tpi-container.tpi-details .block-element > div:nth-of-type(1) > div:nth-of-type(1) .qv-object-kpi .kpi-data > div:nth-child(1) {
  display: none; }
.tpi-container.tpi-details .block-element > div:nth-of-type(1) > div:nth-of-type(1) .qv-object-kpi .kpi-data > div:nth-child(2) {
  display: inline-flex !important;
  justify-content: flex-end; }
.tpi-container.tpi-details .block-element > div:nth-of-type(1) > div:nth-of-type(2) .qv-object-kpi .kpi-data > div:nth-child(1) {
  display: none; }
.tpi-container.tpi-details .block-element > div:nth-of-type(1) > div:nth-of-type(2) .qv-object-kpi .kpi-data > div:nth-child(2) {
  display: inline-flex !important;
  justify-content: flex-start; }
.tpi-container.tpi-details > div:nth-of-type(3) .col-md-12:nth-child(3) .section-header .tool-tip-top .tooltiptext {
  top: -115px; }
  .tpi-container.tpi-details > div:nth-of-type(3) .col-md-12:nth-child(3) .section-header .tool-tip-top .tooltiptext::before {
    border-top: 5px solid black !important;
    border-bottom: 0 !important;
    top: 109px; }
.tpi-container.tpi-external-experince .chart-container:nth-of-type(9) .chart-donut-2 svg text, .tpi-container.tpi-internal-experince .chart-container:nth-of-type(9) .chart-donut-2 svg text {
  font-size: 35px !important; }
.tpi-container.tpi-external-experince .chart-donut-2-lg text, .tpi-container.tpi-internal-experince .chart-donut-2-lg text {
  font-size: 32px !important; }
.tpi-container.tpi-external-experince .chart-donut-2-md text, .tpi-container.tpi-internal-experince .chart-donut-2-md text {
  font-size: 20px !important; }

.page-os {
  background-color: #1e1540;
  min-height: calc(100%); }
  .page-os > .navbar {
    background-color: #1e1540; }

.overseas-container.overseas-stay #QV-p05-02 table tr:first-child td {
  font-size: 11px !important;
  padding: 3px 3px 3px 3px !important;
  vertical-align: bottom; }
  .overseas-container.overseas-stay #QV-p05-02 table tr:first-child td:not(:first-child) {
    text-align: center !important; }
.overseas-container.overseas-capacity #QVsetCap {
  margin-top: 15px !important; }
.overseas-container.overseas-capacity #GwEZaMp *, .overseas-container.overseas-capacity #hKjBh * {
  color: white;
  font-size: 18px; }
.overseas-container.overseas-markets #QV-p02-01 {
  margin-top: 15px !important; }

.page-vs {
  background-color: #2b2352;
  min-height: calc(100%); }
  .page-vs > .navbar {
    background-color: #2b2352; }

.vs-container.vs-demographics .measure-title {
  display: none !important; }
.vs-container.vs-demographics .color-pink {
  color: #d1398e !important; }
.vs-container.vs-demographics .color-pink .qv-object-kpi .kpi-value {
  color: #f7c1d9 !important; }
.vs-container.vs-demographics .color-blue {
  color: #046ab2 !important; }
.vs-container.vs-demographics .color-blue .qv-object-kpi .kpi-value {
  color: #99dadc !important; }
.vs-container.vs-demographics .qv-object-text-image {
  color: #a7a8ac !important; }
.vs-container.vs-demographics #gCngkK,
.vs-container.vs-demographics #pFFEeGP {
  text-align: center; }
.vs-container.vs-demographics .col-md-12:nth-of-type(2) .ng-scope,
.vs-container.vs-demographics .col-md-12:nth-of-type(5) .ng-scope {
  overflow: hidden !important; }
  .vs-container.vs-demographics .col-md-12:nth-of-type(2) .ng-scope > div,
  .vs-container.vs-demographics .col-md-12:nth-of-type(5) .ng-scope > div {
    overflow: hidden !important; }
    .vs-container.vs-demographics .col-md-12:nth-of-type(2) .ng-scope > div > svg,
    .vs-container.vs-demographics .col-md-12:nth-of-type(5) .ng-scope > div > svg {
      overflow: hidden !important; }
.vs-container.vs-purpose-of-visit #VtpfKmU {
  text-align: center;
  height: 100% !important; }
.vs-container.vs-visitation .section-header2 #QV-visitationbehaviour-repeat-visitors-py-title font,
.vs-container.vs-visitation .section-header2 #QV-visitationbehaviour-repeat-visitors-cy-title font {
  color: #ffffff !important; }
.vs-container.vs-media-habits svg text {
  font-size: 34px; }
.vs-container.vs-media-habits .chart-donut-2 svg circle {
  fill: #221E43 !important; }
.vs-container.vs-media-habits .chart-container .qv-media-tool-html font {
  color: #ffffff !important; }

.page-ai {
  background-color: #101028;
  min-height: calc(100%); }
  .page-ai > .navbar {
    background-color: #101028; }

.pricing-container.pricing-airline .days-to-departure-volume .item {
  width: 100%;
  height: 100%; }
  .pricing-container.pricing-airline .days-to-departure-volume .item p {
    position: relative;
    margin-bottom: 51px;
    bottom: 18px;
    white-space: nowrap;
    font-size: 14px; }
  .pricing-container.pricing-airline .days-to-departure-volume .item .chart-container {
    width: 100%;
    height: 100%; }
    .pricing-container.pricing-airline .days-to-departure-volume .item .chart-container .chart-donut-2-sm {
      height: 100% !important;
      width: 100% !important;
      margin: 0 auto !important; }
      .pricing-container.pricing-airline .days-to-departure-volume .item .chart-container .chart-donut-2-sm text {
        font-size: 20px !important; }
.pricing-container.pricing-airline .days-to-departure-volume .section-header {
  padding-top: 15px; }
  .pricing-container.pricing-airline .days-to-departure-volume .section-header > h2 {
    display: inline !important; }
.pricing-container.pricing-airline .qvobject.chart-area {
  height: 350px !important; }
.pricing-container.pricing-airline .dtcm-box .year {
  font-size: 12px !important; }
.pricing-container.pricing-airline .chart-donut-2 circle {
  fill: #141430 !important; }
.pricing-container.pricing-airline .priceBYAirline-allflight svg text.label0,
.pricing-container.pricing-airline .priceBYAirline-directflight svg text.label0,
.pricing-container.pricing-airline .priceBYAirline-indirectflight svg text.label0 {
  font-size: 12px !important;
  transform: translateX(-4px); }
.pricing-container.pricing-details .row > .col-md-12 {
  border-top: 1px solid #fff; }

.page-ov {
  background-color: #222c5f;
  min-height: calc(100%); }
  .page-ov > .navbar {
    background-color: #222c5f; }

.brand-tracker-container.brand-tracker-consideration #QV-CF-OnTheList-Year,
.brand-tracker-container.brand-tracker-consideration #QV-CF-ActivelySeeking-Year,
.brand-tracker-container.brand-tracker-consideration #QV-CF-Booked-Year {
  margin-top: 25px; }
  .brand-tracker-container.brand-tracker-consideration #QV-CF-OnTheList-Year table thead tr th:nth-child(2),
  .brand-tracker-container.brand-tracker-consideration #QV-CF-ActivelySeeking-Year table thead tr th:nth-child(2),
  .brand-tracker-container.brand-tracker-consideration #QV-CF-Booked-Year table thead tr th:nth-child(2) {
    text-align: right !important;
    position: relative !important;
    right: 7px !important; }
  .brand-tracker-container.brand-tracker-consideration #QV-CF-OnTheList-Year table thead tr th:nth-child(3),
  .brand-tracker-container.brand-tracker-consideration #QV-CF-ActivelySeeking-Year table thead tr th:nth-child(3),
  .brand-tracker-container.brand-tracker-consideration #QV-CF-Booked-Year table thead tr th:nth-child(3) {
    text-align: right !important; }
.brand-tracker-container.brand-tracker-consideration table tr td:nth-child(4) .chart-donut-2 circle {
  fill: #010E34 !important; }
.brand-tracker-container.brand-tracker-consideration table tr td:nth-child(4) .chart-donut-2 text {
  font-size: 10px !important; }
.brand-tracker-container.brand-tracker-barriers .slider .items {
  height: 275px; }
.brand-tracker-container.brand-tracker-barriers #QV-Perception-OverAll,
.brand-tracker-container.brand-tracker-barriers #QV-Culture-OverAll,
.brand-tracker-container.brand-tracker-barriers #QV-Attributes-OverAll,
.brand-tracker-container.brand-tracker-barriers #QV-Otheres-Factors-OverAll,
.brand-tracker-container.brand-tracker-barriers #QV-Perception-Considering_Dubai,
.brand-tracker-container.brand-tracker-barriers #QV-Culture-Considering_Dubai,
.brand-tracker-container.brand-tracker-barriers #QV-Attributes-Considering_Dubai,
.brand-tracker-container.brand-tracker-barriers #QV-Otheres-Factors-Considering_Dubai,
.brand-tracker-container.brand-tracker-barriers #QV-Perception-Not_Considering_Dubai,
.brand-tracker-container.brand-tracker-barriers #QV-Culture-Not_Considering_Dubai,
.brand-tracker-container.brand-tracker-barriers #QV-Attributes-Not_Considering_Dubai,
.brand-tracker-container.brand-tracker-barriers #QV-Otheres-Factors-Not_Considering_Dubai {
  margin-top: 25px; }
.brand-tracker-container.brand-tracker-perception #QV-Perceptions-Shopping-OtherCompetitor-Name32 {
  width: 54px;
  display: inline-block; }
.brand-tracker-container.brand-tracker-perception table tr td:nth-child(1) {
  width: 35px; }
.brand-tracker-container.brand-tracker-perception table tr td:nth-child(2) {
  position: relative; }
.brand-tracker-container.brand-tracker-perception table tr td:nth-child(3) > .chart-donut-2 {
  height: 40px !important;
  width: 50px !important; }
  .brand-tracker-container.brand-tracker-perception table tr td:nth-child(3) > .chart-donut-2 text {
    font-size: 10px !important; }
  .brand-tracker-container.brand-tracker-perception table tr td:nth-child(3) > .chart-donut-2 .inner {
    fill: #010E34 !important; }
.brand-tracker-container.brand-tracker-perception table tr:nth-child(8) td:nth-child(2) .qv-media-tool-html div[dir="auto"] {
  text-align: left !important; }
  .brand-tracker-container.brand-tracker-perception table tr:nth-child(8) td:nth-child(2) .qv-media-tool-html div[dir="auto"] font {
    color: #ffffff !important; }
.brand-tracker-container.brand-tracker-perception table tr:nth-child(8) td:nth-child(2) .pop-navigate {
  left: 45px !important; }
.brand-tracker-container.brand-tracker-brand-adver .chart-container .chart-donut-2-lg {
  width: 120px !important;
  height: 120px !important;
  margin: 0 auto !important; }
  .brand-tracker-container.brand-tracker-brand-adver .chart-container .chart-donut-2-lg text {
    font-size: 32px !important; }
.brand-tracker-container.brand-tracker-brand-adver table {
  margin-top: 25px !important; }
  .brand-tracker-container.brand-tracker-brand-adver table tr th {
    font-size: 12px !important;
    padding: 6px 0px 7px 0px !important; }
  .brand-tracker-container.brand-tracker-brand-adver table tr td:nth-child(2) .chart-donut-2-sm,
  .brand-tracker-container.brand-tracker-brand-adver table tr td:nth-child(3) .chart-donut-2-sm,
  .brand-tracker-container.brand-tracker-brand-adver table tr td:nth-child(4) .chart-donut-2-sm {
    width: 60px !important;
    height: 60px !important;
    margin: 0 auto; }
  .brand-tracker-container.brand-tracker-brand-adver table .chart-donut-2-sm text {
    font-size: 20px !important; }
.brand-tracker-container.brand-tracker-brand-adver .chart-donut-2 circle {
  fill: #010E34 !important; }
.brand-tracker-container.brand-tracker-wishlist .row .col-md-12:nth-of-type(2) .section-header {
  border: 0 !important; }
.brand-tracker-container.brand-tracker-wishlist #QV-Title-CY font,
.brand-tracker-container.brand-tracker-wishlist #QV-Title-PY2 font {
  color: white;
  padding-top: 15px;
  font-weight: normal;
  font-size: 20px; }
.brand-tracker-container.brand-tracker-brand-adver .chart-container .chart-bar-2 {
  height: 560px !important; }

.hotel-container.hotel-details .amp #QV-HIL-Hotel-Map canvas {
  border-radius: 0px 30px 0px 30px !important; }
.hotel-container.hotel-details .amp #QV-HIL-Hotel-Map .idevio-attribution {
  bottom: 20px !important; }
.hotel-container.hotel-details .amp #QV-HIL-Hotel-Map .sidebar {
  display: none !important; }
.hotel-container.hotel-details .slider .items > div {
  font-size: 15px !important; }
.hotel-container.hotel-pipeline #QV-HCA-Capacity-HeatMap .map-content canvas {
  border-radius: 0px 30px 0px 30px !important; }
.hotel-container.hotel-pipeline #QV-HCA-Capacity-HeatMap .sidebar .legend {
  border-left: 0; }
  .hotel-container.hotel-pipeline #QV-HCA-Capacity-HeatMap .sidebar .legend canvas {
    color: #ffffff; }
.hotel-container.hotel-pipeline .slider .items {
  height: 490px !important; }
  .hotel-container.hotel-pipeline .slider .items > div > div {
    font-size: 14px !important; }
.hotel-container.hotel-pipeline .slider-contents {
  margin-top: -440px !important; }
.hotel-container.hotel-pipeline .col-md-12:nth-of-type(3) text.label0, .hotel-container.hotel-pipeline .col-md-12:nth-of-type(4) text.label0 {
  font-size: 10px !important;
  transform: translateX(-14px); }
.hotel-container.hotel-pipeline .col-md-12:nth-of-type(3) svg text.label1, .hotel-container.hotel-pipeline .col-md-12:nth-of-type(4) svg text.label1 {
  transform: translateX(-10px); }
.hotel-container.hotel-outlook .slider .items > div {
  font-size: 15px !important; }
.hotel-container.hotel-outlook .slider-contents {
  margin-top: -285px !important; }
.hotel-container.hotel-outlook .col-md-12:nth-of-type(5) .chart-stacked-bar-2 svg text.label0 {
  font-size: 10px !important;
  transform: translateX(-14px); }
.hotel-container.hotel-outlook .col-md-12:nth-of-type(5) .chart-stacked-bar-2 svg text.label1 {
  transform: translateX(-10px); }
.hotel-container.hotel-outlook .col-md-12:nth-of-type(4) .bar1,
.hotel-container.hotel-outlook .col-md-12:nth-of-type(4) .bar2,
.hotel-container.hotel-outlook .col-md-12:nth-of-type(4) .label1 {
  transform: translateX(-50px) !important; }
.hotel-container.hotel-outlook #QV-Title-Crrent22A .media-tool-scrollbar .qv-media-tool-html div[dir="auto"],
.hotel-container.hotel-outlook #QV-Title-Crrent .media-tool-scrollbar .qv-media-tool-html div[dir="auto"],
.hotel-container.hotel-outlook #QV-Title-Crrent1 .media-tool-scrollbar .qv-media-tool-html div[dir="auto"] {
  color: #ffffff !important;
  font-size: 18px !important; }
.hotel-container.hotel-outlook #QV-Title-Crrent7 .media-tool-scrollbar .qv-media-tool-html,
.hotel-container.hotel-outlook #QV-Title-Crrent4 .media-tool-scrollbar .qv-media-tool-html,
.hotel-container.hotel-outlook #QV-Title-Crrent2 .media-tool-scrollbar .qv-media-tool-html {
  color: #ffffff !important;
  font-size: 18px !important; }

.col-6 .chart-container .number-sm * {
  color: white;
  font-size: 13px !important;
  text-align: center !important; }

/*# sourceMappingURL=main.css.map */
