<div class="vs-container vs-demographics">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header firstHeader">
        <div class="h2">
          GENDER
          <div class="tool-tip">
            (i)
            <span class="tooltiptext">
              Gender: Data calculated based on the gender of all party members.
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="text-center mt-4 gender">
            <p class="">Time Period</p>
            <div class="qvobject loading" id="QV-demographics-age-P11" objectid="JVcPQ"></div>
          </div>
        </div>
        <div class="don-bor2 mt-3">
          <hr>
        </div>
        <div class="col-4">
          <div class="text-center mt-4 gender">
            <p class="color-pink">Female</p>
            <div class="qvobject loading color-pink" id="QV-demographics-age-P1F" objectid="ePVecS"></div>
          </div>
        </div>
        <div class="don-bor2 mt-3">
          <hr>
        </div>
        <div class="col-4">
          <div class="text-center mt-4 gender">
            <p class="color-blue">Male</p>
            <div class="qvobject loading color-blue" id="QV-demographics-age-P1M" objectid="mCXbzKJ"></div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-4 ">
          <div class="text-center mt-3 gender">
            <p>Time Period</p>
            <div class="qvobject loading" id="QV-demographics-age-P2" objectid="GZMYs"></div>
          </div>
        </div>
        <div class="don-bor2 mt-3">
          <hr>
        </div>
        <div class="col-4">
          <div class="text-center mt-3 gender">
            <p class="color-pink">Female</p>
            <div class="qvobject loading color-pink" id="QV-demographics-age-P2f" objectid="PmgrCYX"></div>
          </div>
        </div>
        <div class="don-bor2 mt-3">
          <hr>
        </div>
        <div class="col-4">
          <div class="text-center mt-3 gender">
            <p class="color-blue">Male</p>
            <div class="qvobject loading color-blue" id="QV-demographics-age-P22f" objectid="CfaDhKz"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-12">
      <div class="section-header">
        <h2>AGE GROUP</h2>
      </div>
      <div class="chart-container chart-container2">
        <ul class="legends d-flex justify-content-start">
          <li><span class="pink"></span>CURRENT YEAR</li>
          <li><span class="blue"></span>PREVIOUS YEAR</li>
        </ul>
        <div class="qvobject loading" style="height:210px !important;" id="QV-demographics-age" objectid="gCngkK">
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="section-header">
        <div class="h2">
          PARTY MAKE UP
          <div class="tool-tip">
            (i)
            <span class="tooltiptext">
              Party Make-Up: Party make up is based on response proportions as one respondent has the option of providing multiple responses.
            </span>
          </div>
        </div>
      </div>
      <div class="qvobject loading table-gray-3 dtcm-tables table-left-1 table-right-2 table-right-3" style="height:215px !important;"
           id="QV-demographics-partymakeup" objectid="jCyLCx">
      </div>
    </div>


    <div class="col-md-12">
      <div class="section-header">
        <h2>AVERAGE PARTY SIZE</h2>
      </div>
      <div class="qvobject loading table-gray-3 table-white-2 dtcm-tables table-left-1 table-right-2 table-right-3" style="height:145px !important;"
           id="QV-demographics-partysize" objectid="VfXTaP">
      </div>
    </div>


    <div class="col-md-12">
      <div class="section-header">
        <div class="h2">
          MAIN PURPOSE OF VISIT
          <div class="tool-tip">
            (i)
            <span class="tooltiptext">
              VFR: Visiting Friends and Relatives.
              Others: Job search, short term education, cruise stop & medical.
            </span>
          </div>
        </div>
      </div>
      <div class="chart-container chart-container2">
        <ul class="legends d-flex justify-content-start">
          <li><span class="pink"></span>CURRENT YEAR</li>
          <li><span class="blue"></span>PREVIOUS YEAR</li>
        </ul>
        <div class="qvobject loading chart-bar" style="height:190px !important;" id="QV-demographics-pov" objectid="pFFEeGP">
        </div>
      </div>
      <br>
    </div>


    <div class="col-md-12">
      <div class="section-header">
        <div class="h2">
          BUSINESS-PURPOSE OF VISIT
          <div class="tool-tip">
            (i)
            <span class="tooltiptext">
              Business - Purpose of visit break down (3)
            </span>
          </div>
        </div>
      </div>
      <div class="qvobject loading dtcm-tables table-equal-2 table-gray-3 table-white-2 table-left-1 table-right-2 table-right-3 table-break-word"
           style="height:165px !important;" id="QV-demographics-business-pov" objectid="mVJUwT">
      </div>
    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p><b>Important Notes:</b></p>
  <div class="qvobject loading" style="height:55px" id="QV-demographics-samplesize" objectid="KRDbNJ"></div>
  <p>
    All variables are weighted by nationality and month
  </p>
</div>
