/**
* set padding to make room for bootstrap menu
*
*/
body {
	font-family: 'Open Sans', Verdana, Arial, sans-serif !important;
	padding-bottom: 30px;
}

/*
* need to set the height for objects
* set top padding to make room for selection toolbar
*/

div.qvobject, div.qvplaceholder {
	/*padding: 10px 10px 10px 10px;*/
	height: 35px;
	font-family: 'Open Sans', Verdana, Arial, sans-serif !important;
	
}

.qv-object * {
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
}


div.qvobject.nss .kpi-value{
	font-size:16px !important;
}

div.qvobject .kpi-value{
	font-size:30px !important;
}

div.h-xs {
	padding:0;
	height: 35px !important;
}

.form-inline div.h-xs {
	width:172px;
}

.form-inline .filter select {
	width:170px !important;
}

@media (max-width: 768px) {
	.form-inline .filter select {
	width:100% !important;
}
}

.padding10 {
	padding: 10px;
}

div.h-lg {
	padding: 10px 10px 10px 10px;
	height: 350px !important;
}

div.v-lg {
	padding: 10px 10px 10px 10px;
	height: 520px !important;
}

/*header{
	background-color:#22a7f0 !important;
	position:fixed;
}*/

#main {
	width: 100%;
	padding: 0;
}

.image-header {
	display: table;
	position: relative;
	margin-top: -20px;
	width: 100%;
	height: 30%;
	background: url(leaf.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	z-index: -99;

}

.content-section-a {
	background-color: #ECF0F1;
}

.navbar {
	margin-bottom: 0 !important;
}

/*
 * Overrides Bootstrap navbar z-index to avoid conflict with selections bar
 */
.navbar-fixed-top {
	position: relative;
	z-index: 1;
}

.qcmd {
	cursor: pointer;
}

#footer {
	background-color: #FEC956;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: -30px;
}

#popup {
	background-color: #7f8c8d;
	color: #FFFFFF;
	position: fixed;
	padding: 10px;
	margin: 10px;
	bottom: 0;
	right: 0;
	display: none;
	border-radius: 5px;
}

.borderShadow {
	margin: 15px 0;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 0 16px -5px rgba(50, 50, 50, 0.52);
	-moz-box-shadow: 0 0 16px -5px rgba(50, 50, 50, 0.52);
	box-shadow: 0 0 16px -5px rgba(50, 50, 50, 0.52);
}


 .styled-select {
	border-radius:5px
}

.styled-select {
	background:#f5f5f5 !important;
	color:#fff !important;
	border:1px solid #ddd !important;
}

.filter{
}

.styled-select select {
    appearance:none !important;
    -moz-appearance:none !important; /* Firefox */
	-webkit-appearance:none !important; /* Safari and Chrome */

}




/* 4Boxes */

.panel-body {
	padding:0px 5px;

}

.panel-body .value{
	font-weight:600;
	border-right:1px solid #ebeff6;
	text-align:center;
	margin-top:10px;
	width:100%;
	min-height:35px;
}

.panel-body .noBorder{
	border-right:none !important;
}


.icon-box{
	display:block;
	clear:both;
	margin:0 0 5px;
	text-align:right !important;
	width:100%;
	font-size:16px;
}

.light-grey{
	color:#bbb;
}

.green{
	color:#40bd79;
}

.red{
	color:#D91E18;
}

.hide-header .qv-object-header{
display:none;
}

.bootstrap_inside .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.panel-heading {
    padding: 5px 10px;
	font-weight:bold;
	color:#545352 !important;
}

@media (min-width: 1200px) {
  .container {
    width: 1270px;
  }
}

.floating-box{
	position:absolute;
	top:45px;
	right:25px;
	width:60px;
	height:60px !important;
	z-index:9999999;
}

.v-sm{
 padding: 10px 10px 10px 10px;
 height:200px !important;
}

.capacity-circle{
  min-height:80px;
  min-width:20px;
  margin:10px 0;
}

.capacity-box{
  margin:10px 0 0;
}

.panel-nobody{
padding:5px 20px;
}

.filter-stay{
	position:absolute !important;
	top:5px;
	right:10px;
	width:140px;
	height:35px !important;
	z-index:9999999;
}

.filter-stay select{
	background:#fff !important;
	color:#666 !important;
	height:25px;
}


div.btn-xs{
margin-bottom:0;
}

div.btn-xs button{
	border:none !important;
	padding:5px 0 !important;
	border-radius:5px !important;
}


.qv-collapsed-listbox {
    background: #fff;
	border-radius:5px;
	height:30px;
	text-align:left;
}
.qv-collapsed-listbox .title-text {
    line-height: 28px;
	font-weight:400;
}

.visitors-up{
	position:absolute;
	right:37px;
	top:50px;
	font-size:28px !important;
	color:#999;
}

.visitors-down{
	position:absolute;
	right:37px;
	bottom:40px;
	font-size:28px !important;
	color:#999;
}

.guest-up{
	position:absolute;
	left:310px;
	top:50px;
	font-size:28px !important;
	color:#999;
	z-index:9999 !important;
}

.guest-down{
	position:absolute;
	left:310px;
	bottom:40px;
	font-size:28px !important;
	color:#999;
	z-index:9999 !important;
}

@media (max-width: 1200px) {
  .guest-up{
	display:none !important;
}

.guest-down{
	display:none !important;
}
}

.noPad{
	padding:0 10px !important;
}



.bootstrap_inside .container{
	padding:0 !important;
}

.bootstrap_inside .nav > li > a {
    padding: 6px 15px !important;
}



.height-fix .qv-object .qv-object-content {
    height: 600px;
}

.navbar-nav > li > a.disabled_link {
   pointer-events: none;
   cursor: default;
   color: rgba(255,255,255,0.5) !important;
}

table.table-caption{
	font-size:16px;
	padding:10px;
	margin:10px;
	text-align:center;
}

table.table-transit{
	width:65%;
	font-size:12px;
	padding:10px;
	margin:10px;
	text-align:center;
	position:absolute;
	top:35px;
	right:0;
	z-index:99999;
}

@media (max-width: 1200px) {
	table.table-caption, table.table-transit{
	display:none;
}
}

.hide_sm_selector{
	display:none ;  
}

.show_sm_selector{
	display:inline-block !important;  
}

.show_selector{
	display:normal !important;  
}

.panel-heading i{
	font-size:12px;
	position:absolute;
	right:20px;
	top:13px;
}

.PTDvolume div.qvobject {
	height:60px;

}

.stop-duration .ng-binding{
	font-size:12px;
}

 .footer .qv-object-text-image .qv-media-tool-html{
	font-size:13px !important;
}

.footer div.qvobject, div.qvplaceholder{
	height:23px !important;
	margin-left:-5px;
}

.footer p{
	margin:0;
}

.hide_menu_link{
	display:none !important;
}

.medium-title{
	font-weight:bold;
	margin:5px 0;
	font-size:14px;
	color:#545352 !important;
	
}

.small-title{
	font-weight:bold;
	margin:5px 0;
	font-size:12px;
	color:#545352 !important;
	
}

.xsmall-title{
	font-weight:bold;
	margin:5px 0;
	font-size:12px;
	color:#545352 !important;
	
}

.table-legend{
	margin-top:50px;
}

.exp-legend{
	float:right;
	margin-right:10px;
	text-align:center;
	font-size:12px;
}

@media (max-width: 768px) {
	.exp-legend{
	float:none;
	margin-top:50px !important;
}
.table-legend{
	overflow:hidden;
	padding-top:20px;
	border-top:1px solid #ededed;
}
}

.exp-legend div{
	padding:5px 0;
}

.exp-legend .dark-grey{
	background:#333 !important;
	color:#fff;
}

.exp-legend .red{
	background:RGB(156, 1, 1) !important;
	color:#fff;
	font-weight:bold;
}

.exp-legend .green{
	background:RGB(47, 138, 88) !important;
	color:#fff;
	font-weight:bold;
}

.exp-legend .yellow{
	background:RGB(223, 130, 26)  !important;
	color:#fff;
	font-weight:bold;
}

.exp-legend .grey{
	background:#ddd !important;
	color:#666;
}

.hide-tr .qv-st-header{
	display:none !important;
}

.exp-legend .score{
	color:#666;
	font-size:20px !important;
	color:#40bd79;
}



.sat-legend{
	float:right;
	text-align:center;
	font-size:12px;
}

.sat-legend div{
	padding:5px 0;
}


.sat-legend .lightgray{
	background:RGB(170, 170, 170) !important;
	color:#fff;
	border-right:1px solid #fff;
}

.sat-legend .gray{
	background:rgb(127, 127, 127) !important;
	color:#fff;
	border-right:1px solid #fff;
}

.sat-legend .blue{
	background:rgb(0, 176, 240) !important;
	color:#fff;
	border-right:1px solid #fff;
}

.sat-legend .dark-blue{
	background:rgb(0, 112, 192) !important;
	color:#fff;
	border-right:1px solid #fff;
}

.sat-legend .title-left{
	text-align:left;
}

.sat-legend .title-right{
	text-align:right;
}

/*table header*/

.qv-st-header-cell-wrapper .qv-st-fade-out{
  text-align: center !important;
  font-size:12px !important; 
  font-weight:bold;
 
}


/*qlik table dimension header*/
.qv-st-header-cell-dimension .qv-st-fade-out{
	text-align:left !important;
	
}


/*qlik table dimension value*/
.qv-st-data-cell-dimension-value .qv-st-fade-out{
	font-size:11px;

}


/*qlik table measure header*/
.segments-tables .qv-st-header-cell-numeric .qv-st-fade-out{

}

/*qlik table measure value*/
.qv-st-data-cell-numeric .qv-st-fade-out{
  text-align: center !important;
  font-size:12px !important; 
}

/*gendertable*/
.gendertable .qv-st-data-cell-dimension-value .qv-st-fade-out{
  text-align: left !important;
  font-size:12px !important; 
}
.gendertable .qv-st-data-cell-value .qv-st-fade-out{
  text-align: center !important;
  font-size:12px !important; 
}

/*qlik table measure value with background expresion*/
.qv-st-fade-out-bgr-expr{
  text-align: center !important;
  font-size:12px !important;  
}

/*qlik table measure with Null value*/
.qv-st-data-cell-null-value .qv-st-fade-out{
  text-align: center !important;  
  background-color:#FFFFFF !important;
}
.qv-st-data-cell-null-value{
  background-color:#FFFFFF !important;
}


/*qlik object footnote*/
.qv-object .qv-object-footnote {
    line-height: 0em;
	font-size:9px !important;	
}

/*Start Simple KPI css*/
.qv-object-qsstatistic .ui.three.statistics .statistic{
	margin: 10px 0 5px !important;
}
.qv-object-qsstatistic .ui.attached.label{
	width:100% !important;
	font-size:12px !important;
	color:#000 !important;
}
.qv-object-qsstatistic .ui.label{
	background-color:#fff !important;
	border:none !important;
}
/*End Simple KPI css*/

.ui.statistic .label{
	font-size:16px !important;
}


.ui.tiny.statistic .label{
	font-size:10px !important;
}


/*legend-age-group*/
.legend-age-group span.blue-square{
display:inline-block;
	width:10px !important;
	height:10px !important;
	margin:0 5px 0 10px;
	background:RGB(68, 119, 170);
}

.legend-age-group span.text{
	color:#666666;
}

.legend-age-group span.red-square{
display:inline-block;
	width:10px !important;
	height:10px !important;
	margin:0 5px 0 10px;
	background:RGB(204, 102, 119);
}

.card-box{
	min-height:80px !important;
	border:1px solid #ddd !important;
	border-radius:3px;
	margin:5px 10px;
	padding:5px;
	-webkit-box-shadow: 0 0 0.5px 0.5px rgba(0,0,0,0.06);
	box-shadow: 0 0 0.5px 0.5px rgba(0,0,0,0.06);
}

.card-box p.title{
	font-size:12px;
	text-align:center;
	color:#595959;
	font-weight:600;
}

@media (max-width: 768px) {
.card-box p.title{
	font-size:10px;
}
}

.card-box .percentage{
	font-size:21px;
	text-align:center;
	margin-bottom:0px;
}

.card-box .year{
	margin-top:-5px;
	font-size:10px;
	text-align:center;
	color:#595959;
	font-weight:600;
}


.card-box div.qvobject .kpi-value{
	font-size:21px !important;
}

.card-box p{
	margin:0;
}


.card-box2{
	height:106px !important;
	border:1px solid #ddd !important;
	border-radius:3px;
	margin:10px 5px;
	padding:0px;
	-webkit-box-shadow: 0 0 0.5px 0.5px rgba(0,0,0,0.06);
	box-shadow: 0 0 0.5px 0.5px rgba(0,0,0,0.06);
}

.card-box2 p.title{
	font-size:14px;
	text-align:center;
	color:#595959;
	font-weight:700;
	border-bottom:1px solid #ddd !important;
	padding-top:5px; padding-bottom:5px;
}

.card-box2 .percentage{
	font-size:21px;
	text-align:center;
	margin-bottom:0px;
}

 .card-box2 div.qvobject .kpi-value{
	font-size:19px !important;
}


 .card-box2 div.col-x{
	font-size:21px !important;
}


.card-box2 .yoy{
	margin-top:-3px;
	font-size:10px;
	text-align:center;
	color:#595959;
	font-weight:600;
}

.card-box2 .year{
	margin-top:-13px;
	font-size:10px;
	text-align:center;
	color:#595959;
	font-weight:600;	
}


.cb3-container{
	border-right:1px solid #ddd !important;
	margin-top:20px;
	margin-bottom:20px;
}

@media (max-width: 768px) {
	.cb3-container{
	border-bottom:1px solid #ddd !important;
	border-right:none !important;
	margin-left:20px;
	margin-right:20px;
}
}

@media all and (max-width: 1200px) and (min-width: 990px){
	.noBorder-md{
	border:none !important;
}
}

@media all and (max-width: 990px) and (min-width: 768px) {
	.noBorder-sm{
	border:none !important;
}
}

.card-box3{
	height:120px !important;
	border-radius:3px;
	margin:20px 5px;
	padding:5px;
	text-align:center;
}

.card-box3 .title{
	font-size:16px;
	color:#545352;
	font-weight:700;
}

.card-box3 .percentage{
	
}

 .card-box3 .percentage.qvobject .kpi-value{
	font-size:12px !important;
	margin-bottom:0px;
	color:#666 !important;
	font-weight:600;
}

 .card-box3 .percentage.qvobject{
	height: 15px;
}


 .card-box3 .usd.qvobject .kpi-value{
	font-size:21px !important;
	color:rgb(68, 119, 170);	
	margin-bottom:0px;
}


.card-box3 .number{
	font-size:40px;
	color:#7B7A78;
	font-weight:400;
}

 .card-box3 .number.qvobject .kpi-value{
	font-size:40px !important;
}

 .card-box3 .number.qvobject{
	height: 45px;
}

.card-box3 .share{
	margin-top:-8px;
	font-size:12px;
	color:#666;
	font-weight:600;
}


.noBorder{
	border:none !important;
}

.qv-object-CircularKPI .viz{
 width:100% !important;
}

.airlines{
	height:575px !important;
}

@media (max-width: 1200px) {
	.airlines{
	height:340px !important;
}
}

@media (max-width: 900px) {
	.borderBottom-sm{
	border-bottom:1px solid #ededed;
	padding-bottom:10px;
	margin-bottom:10px;
}
}

 .sm-txt{
 	margin-top:3px;
	margin-right:-5px;
 }
 