@font-face {
    font-family: 'aniversregular';
    src: url('../fonts/anivers-regular-webfont.eot');
    src: url('../fonts/anivers-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/anivers-regular-webfont.woff2') format('woff2'),
         url('../fonts/anivers-regular-webfont.woff') format('woff'),
         url('../fonts/anivers-regular-webfont.ttf') format('truetype'),
         url('../fonts/anivers-regular-webfont.svg#aniversregular') format('svg');
    font-weight: normal;
    font-style: normal;

}