﻿.chart-bar {
    width: 100%;
   
   }

    .chart-bar .label0 {
        font-family: "DINProRegular";
        fill: #fff;
        font-size: 16px;
        text-anchor: middle;
    }

    .chart-bar .label1, .chart-bar .label2 {
        font-family: "DINProRegular";
        fill: #fff;
        font-size: 12px;
        text-anchor: middle;
    }

.chart-donut-2 {
    width: 40px;
    height: 40px;
}

    .chart-donut-2 .inner {
        fill: #000D35;
    }

    .chart-donut-2 text {
        font-family: "DINProBold";
        fill: #fff;
        font-size: 14px;
        text-anchor: middle;
    }

        .chart-donut-2 text tspan {
            font-size: 8px;
        }
