
.qv-object * {
    font-family: 'Open Sans', Verdana, Arial, sans-serif;
}

div.qvobject, div.qvplaceholder {
    height: 35px;
    font-family: 'Open Sans', Verdana, Arial, sans-serif !important;
}

body {
    font-family: 'Open Sans', Verdana, Arial, sans-serif !important;
    padding-bottom: 30px;
}


div.qvobject.nss .kpi-value {
    font-size: 16px !important;
}

div.qvobject .kpi-value {
    font-size: 30px !important;
}

div.h-xs {
    padding: 0;
    height: 35px !important;
}

.form-inline div.h-xs {
    width: 172px;
}

.form-inline .filter select {
    width: 170px !important;
}

@media (max-width: 768px) {
    .form-inline .filter select {
        width: 100% !important;
    }
}

.padding10 {
    padding: 10px;
}

div.h-lg {
    padding: 10px 10px 10px 10px;
    height: 350px !important;
}

div.v-lg {
    padding: 10px 10px 10px 10px;
    height: 520px !important;
}


#main {
    width: 100%;
    padding: 0;
}

.image-header {
    display: table;
    position: relative;
    margin-top: -20px;
    width: 100%;
    height: 30%;
    background: url(leaf.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -99;
}

.content-section-a {
    background-color: #ECF0F1;
}

.navbar {
    margin-bottom: 0 !important;
}

/*
 * Overrides Bootstrap navbar z-index to avoid conflict with selections bar
 */
.navbar-fixed-top {
    position: relative;
    z-index: 1;
}

.qcmd {
    cursor: pointer;
}

#footer {
    background-color: #FEC956;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: -30px;
}

#popup {
    background-color: #7f8c8d;
    color: #FFFFFF;
    position: fixed;
    padding: 10px;
    margin: 10px;
    bottom: 0;
    right: 0;
    display: none;
    border-radius: 5px;
}

.borderShadow {
    margin: 15px 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 16px -5px rgba(50, 50, 50, 0.52);
    -moz-box-shadow: 0 0 16px -5px rgba(50, 50, 50, 0.52);
    box-shadow: 0 0 16px -5px rgba(50, 50, 50, 0.52);
}


.styled-select {
    border-radius: 5px
}

.styled-select {
    background: #f5f5f5 !important;
    color: #fff !important;
    border: 1px solid #ddd !important;
}


    .styled-select select {
        appearance: none !important;
        -moz-appearance: none !important; /* Firefox */
        -webkit-appearance: none !important; /* Safari and Chrome */
    }




/* 4Boxes */

.panel-body {
    padding: 0px 5px;
}

    .panel-body .value {
        font-weight: 600;
        border-right: 1px solid #ebeff6;
        text-align: center;
        margin-top: 10px;
        width: 100%;
        min-height: 35px;
    }

    .panel-body .noBorder {
        border-right: none !important;
    }


.icon-box {
    display: block;
    clear: both;
    margin: 0 0 5px;
    text-align: right !important;
    width: 100%;
    font-size: 16px;
}

.light-grey {
    color: #bbb;
}

.green {
    color: #40bd79;
}

.red {
    color: #D91E18;
}

.hide-header .qv-object-header {
    display: none;
}

.bootstrap_inside .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.panel-heading {
    padding: 5px 10px;
    font-weight: bold;
    
    min-height: 33px;
}

@media (min-width: 1200px) {
    .container {
        width: 1270px;
    }
}

.v-sm {
    padding: 10px 10px 10px 10px;
    height: 200px !important;
}

.capacity-circle {
    min-height: 80px;
    min-width: 20px;
    margin: 10px 0;
}

.capacity-box {
    margin: 10px 0 0;
}

.panel-nobody {
    padding: 5px 20px;
}

.filter-stay {
    position: absolute !important;
    top: 5px;
    right: 10px;
    width: 140px;
    height: 35px !important;
    z-index: 9999999;
}

    .filter-stay select {
        background: #fff !important;
        color: #666 !important;
        height: 25px;
    }


div.btn-xs {
    margin-bottom: 0;
}

    div.btn-xs button {
        border: none !important;
        padding: 5px 0 !important;
        border-radius: 5px !important;
    }


.qv-collapsed-listbox {
    background: #fff;
    border-radius: 5px;
    height: 30px;
    text-align: left;
}

    .qv-collapsed-listbox .title-text {
        line-height: 28px;
        font-weight: 400;
    }


.noPad {
    padding: 0 10px !important;
}



.bootstrap_inside .container {
    padding: 0 !important;
}

.bootstrap_inside .nav > li > a {
    padding: 6px 15px !important;
}



.height-fix .qv-object .qv-object-content {
    height: 600px;
}

.navbar-nav > li > a.disabled_link {
    pointer-events: none;
    cursor: default;
    color: rgba(255,255,255,0.5) !important;
}

table.table-caption {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

table.table-transit {
    width: 65%;
    font-size: 12px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 99999;
}

@media (max-width: 1200px) {
    table.table-caption, table.table-transit {
        display: none;
    }
}

.hide_selector {
    display: none;
}

.stop-duration .ng-binding {
    font-size: 12px;
}

.footer .qv-object-text-image .qv-media-tool-html {
    font-size: 13px !important;
}

.footer div.qvobject, div.qvplaceholder {
    height: 23px !important;
    margin-left: -5px;
}

.footer p {
    margin: 0;
}

.hide_menu_link {
    display: none !important;
}

.medium-title {
    font-weight: bold;
    margin: 5px 0;
    font-size: 14px;
    color: #545352 !important;
}

.small-title {
    font-weight: bold;
    margin: 5px 0;
    font-size: 12px;
    color: #545352 !important;
}

.xsmall-title {
    font-weight: bold;
    margin: 5px 0;
    font-size: 12px;
    color: #545352 !important;
}


/*table header*/
.qv-st-header-cell-wrapper .qv-st-fade-out {
    text-align: center !important;
    font-size: 12px !important;
    font-weight: bold;
}


/*qlik table dimension header*/
.qv-st-header-cell-dimension .qv-st-fade-out {
    text-align: left !important;
    font-size: 12px !important;
}


/*qlik table dimension value*/
.qv-st-data-cell-dimension-value .qv-st-fade-out {
    font-size: 11px;
}


/*qlik table measure value*/
.qv-st-data-cell-numeric .qv-st-fade-out {
    text-align: left !important;
    font-size: 12px !important;
}


/*qlik table measure value with background expresion*/
.qv-st-fade-out-bgr-expr {
    text-align: center !important;
    font-size: 12px !important;
}

/*qlik table measure with Null value*/
.qv-st-data-cell-null-value .qv-st-fade-out {
    display: none;
}

.qv-st-data-cell-null-value {
    background-color: #FFFFFF !important;
}


@media (max-width: 768px) {
    .cb3-container {
        border-bottom: 1px solid #ddd !important;
        border-right: none !important;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media all and (max-width: 1200px) and (min-width: 990px) {
    .noBorder-md {
        border: none !important;
    }
}

@media all and (max-width: 990px) and (min-width: 768px) {
    .noBorder-sm {
        border: none !important;
    }
}



.noBorder {
    border: none !important;
}


@media (max-width: 1200px) {
    .airlines {
        height: 340px !important;
    }
}

@media (max-width: 900px) {
    .borderBottom-sm {
        border-bottom: 1px solid #ededed;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}


.kpi-value {
    font-size: 20px !important;
}


/*legend-square-group*/
.legend-square-group span.blue-square {
    display: inline-block;
    width: 10px !important;
    height: 10px !important;
    margin: 0 5px 0 10px;
    background: RGB(68, 119, 170);
}

.legend-square-group span.red-square {
    display: inline-block;
    width: 10px !important;
    height: 10px !important;
    margin: 0 5px 0 10px;
    background: RGB(204, 102, 119);
}

.legend-square-group span.green-square {
    display: inline-block;
    width: 10px !important;
    height: 10px !important;
    margin: 0 5px 0 10px;
    background: #9eb99a;
}

.legend-square-group span.text {
    color: #666666;
}

/*legend-circular-group*/
.legend-circular-group span.blue-circular {
    display: inline-block;
    width: 10px !important;
    height: 10px !important;
    margin: 0 5px 0 10px;
    background: RGB(68, 119, 170);
    border-radius: 51%;
}

.legend-circular-group span.red-circular {
    display: inline-block;
    width: 10px !important;
    height: 10px !important;
    margin: 0 5px 0 10px;
    background: RGB(204, 102, 119);
    border-radius: 51%;
}

.legend-circular-group span.text {
    color: #666666;
}


/*show KPI on top of Map*/
.floating-box-room {
    position: absolute;
    top: 80px;
    width: 200px;
    height: 100px !important;
    z-index: 9999999;
}

.floating-box-room-icon {
    position: absolute;
    top: 60px;
    width: 200px;
    height: 100px !important;
    z-index: 9999999;
}

.floating-box-hotel {
    position: absolute;
    top: 180px;
    width: 200px;
    height: 100px !important;
    z-index: 9999999;
}

.floating-box-hotel-icon {
    position: absolute;
    top: 170px;
    width: 200px;
    height: 100px !important;
    z-index: 9999999;
}

.floating-box-period {
    position: absolute;
    top: 60px;
    right: 40px;
    width: 200px;
    height: 150px !important;
    z-index: 9999999;
}

/*Card-box1*/
.card-box1 {
    height: 130px !important;
    border: 1px solid #ddd !important;
    border-radius: 3px;
    padding: 0px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 0.5px 0.5px rgba(0,0,0,0.06);
    box-shadow: 0 0 0.5px 0.5px rgba(0,0,0,0.06);
    background-color: white;
}

    .card-box1 .title {
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #ddd !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .card-box1 div.qvobject .kpi-value {
        font-size: 20px !important;
        font-weight: bold;
    }


    .card-box1 div.col-x {
        font-size: 21px !important;
    }

    .card-box1 .kpititle {
        margin-top: -3px;
        font-size: 10px;
        text-align: center;
        color: #595959;
        font-weight: 600;
    }

/*Overwrite first pipeline kpi color*/
.pipeline-kpi div.qvobject .kpi-value {
    color: RGB(204, 102, 119) !important;
}


/*Overwrite Year Selector*/
.yearfilter select {
    width: 120px !important;
    color: #666 !important;
    background: #fff !important;
}

@media (max-width: 767px) {
    .yearfilter select {
        margin: auto;
        width: 100% !important;
    }

    .form-inline div.h-xs {
        width: 100%;
    }
}

.floating-filter {
    position: absolute;
    right: 10px;
    top: 2px;
    width: 125px;
    height: 60px !important;
}


/*overwrite map leggened #Rooms css*/
.ccl-title .ccl-title-inner {
    padding-bottom: 20px !important;
}
