/* Import Basic Files
================================================== */

@import url("");                /* Mobile Menu */
@import url("");                /* Mobile Menu */

/** Custom CSS
===================================*/

html, body {
		  height: 100%;
		  min-height: 100%;
}

body {
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
	background:#f3f5f9;
	  position: relative;
	  margin: 0;
	  padding: 0;
}

/** Typography
===================================*/

h1 {
	font-size: 60px;
	/*margin:8px 0;*/
	color:#c22c91;
	font-weight:600;
}

h1.status {
	font-size: 60px;
	/*margin:8px 0;*/
	color:#666;
	font-weight:300;
}

.title {
	border-bottom:1px solid #e0e4eb;
	padding-bottom:20px;
	margin-bottom:25px;
}

.title h1 {
	font-size: 36px;
	margin:0;
}

p.status {
	font-size: 30px;
	/*margin:8px 0;*/
	color:#999;
	font-weight:300;
	margin:30px 0;
}

h2 {
	font-size: 36px;
	margin:20px 0;
	font-weight:700;
	color:#272727;
}

h3 {
	font-size: 30px;
	margin:20px 0;
	font-weight:600;
	color:#272727;
	font-weight:300;
}

h3 span.title-number{
	position:relative;
	color:#c22c91;
	margin-right:10px;
	border:1px solid  #c22c91;
	font-size:18px;
	padding:0px 10px;
	border-radius:50%;
	top:-4px;
}

button:focus {
	outline:0 !important;
}

a:visited, a:hover, a:focus, a:active, *:focus {
	outline:0 !important;
	text-decoration:none;
}

a{
	color:#c22c91;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

a:hover, a:focus, a:active, *:focus{
	color:#272727;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

a.red-link{
	color:#d64541;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

a.red-link:hover{
	color:#272727;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}


.blue-bg{
	background:#22a7f0
}

.fullWidth-container {
	margin: 0 auto;
	width: 100%;
}

.fullWidth-container-inner {
	margin: 0 auto;
	padding: 320px 0 0 0;
	width: 100%;
	background: #fff;
}

.fullheight{
	height: 100%;
}

.container100{
	margin:0px 0;
	padding: 20px 0;
	  display: block;
	  position: relative;
	  /*height: 100%;*/
	  width: 100%;
}

.container100w{
	margin:20px 0;
	padding: 20px 0;
	  display: block;
	  position: relative;
	  width: 100%;
}

.darkgreyBg{
	background:#272727;
}

.greyBg{
	background:#f5f5f5;
}

.whiteBg{
	background:#fff !important;
}

.yellowTxt{
	color:#c22c91;
}

.img-center {margin:auto;}

.noPadding{
	padding:0 !important;
}

.noPaddingBottom{
	padding-bottom:0 !important;
}

.padding5{
	padding:5px !important;
}

.noMargin{
	margin:0 !important;
}

.noMarginBottom{
	margin-bottom:0 !important;
}

.noMarginTop{
	margin-top:0 !important;
}

.col-margin5{
    background-clip: padding-box;
    border: 5px solid transparent;
}

.col-margin10{
    background-clip: padding-box;
    border: 10px solid transparent;
}

.noMargin{
	margin:0 !important;
}

.noMarginLeft{
	margin-left:0 !important;
}

.morePadding20{
	padding:20px !important;
}

.morePadding40{
	padding:40px !important;
}

.morePadding60{
	padding:60px !important;
}

.morePadding80{
	padding:80px !important;
}

.morePaddingSides{
	padding:20px 40px !important;
}
.marginTop{
	margin-top:20px !important;
}

.moreMarginLeft{
	margin-left:40px !important;
}

.moreMargin{
	margin:20px 0 !important; 
}

.moreMargin5{
	margin:5px 0 !important; 
}

.marginPdding5{
	padding:0 15px !important;
}

.marginBottom5{
	margin-bottom:5px !important;
}

.marginBottom10{
	margin-bottom:10px !important;
}


.marginBottom20{
	margin-bottom:20px !important;
}

.marginLeft5{
	margin-left:5px;
}

.layer-overlay{
	background: rgba(34,167,240,0.6);
}

.layer-overlay2{
	background: rgba(0,0,0,0.7);
}

.layer-overlay3{
	background: rgba(249,157,37,0.9);
}

.center-row {
	display:table;
}

.v-center {
	display:table-cell;
    vertical-align:middle;
    float:none;
}


/** Header
===================================*/

header {
    width: 100%;
	padding:0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
	width:100%;
	background:none;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

header.login {
    position: relative !important;
}

.logo {
    display: inline-block;
	background:url(../images/dtcm_logo.png) no-repeat top left;
	background-size:contain;
	position:relative;
	z-index:999;
	width:120px;
    height: 67px;
	margin-top:15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.logo-right{
    display: inline-block;
	background:url(../images/dubai-government.png) no-repeat top left;
	background-size:contain;
	position:relative;
	z-index:999;
	width:130px;
    height: 67px;
	margin-top:20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

footer .logo, footer .logo2 {
	margin-top:0px;
}

footer h4{
	color:rgba(255,255,255,0.2) !important;
}


header.smaller {
    top: 0;
    height: 65px;
	background: #22a7f0;
	z-index:999;
}

header.smaller .logo {
    display: inline-block;
	background:url(../images/dtcm_logo.png) no-repeat top left;
	background-size:contain;
	width:80px;
    height: 41px;
	margin-top:12px;
}

/* Navigation */

.navbar-default{
	background-color:transparent !important;
	border:none !important;
}

.navbar-collapse {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 25px;
    margin-right: 0 !important;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 50px;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #c22c91;
    border-color: #c22c91;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar{
	margin-bottom:0 !important;
}

header ul.nav{
	float: right;
	text-align:right;
	margin:30px 0 0 0;
	padding-right:0;
}

header.smaller ul.nav{
	margin:3px 0 0 0;
}

header.smaller ul.nav li a.login{
	margin-top:13px;
	padding:4px 30px;
	line-height:26px;
	height:35px;
	border:1px solid #fff;
	border-radius:50px;
	text-align:center;
}

header.smaller ul.nav li a.login:hover{
	margin-top:16px;
	padding:4px 30px;
	line-height:26px;
	height:35px;
	border:1px solid rgba(255,255,255,0.6);
	border-radius:50px;
	text-align:center;
}

header ul.nav li{
	display: inline-block; /* the key bit */
 	*display: inline; /* IE7 hack */
 	*zoom: 1; /* IE7 hack */
	font-size: 16px;
	margin-left: 15px;
	padding:0;
	text-align:right;
}

header ul.nav li.icon-link, header.smaller ul.nav li.icon-link{
	display: inline; /* the key bit */
}

@media (max-width: 767px) {
	header {
    top: 0;
    height: 65px;
	background: #22a7f0;
	z-index:999;
}
header .logo {
    display: inline-block;
	background:url(../images/dtcm_logo.png) no-repeat top left;
	background-size:contain;
	width:80px;
    height: 40px;
	margin-top:15px;
}

	.navigation{
		margin-top:-80px;
	}
	header .navigation, header.smaller .navigation{
		margin-top:-45px;
	}
	header .navbar-toggle, header.smaller .navbar-toggle {
    margin-top: 15px;
}
	header ul.nav, header.smaller ul.nav{
		width:100%;
	float: none;
	text-align:center;
	margin:10px 0 0 0;
	padding-right:0;
}

  header ul.nav li, header.smaller ul.nav li{
	display: block !important; /* the key bit */
 	*display: block; /* IE7 hack */
 	*zoom: 1; /* IE7 hack */
	font-size: 14px;
	margin-left: 0px !important;
	padding:0;
	text-align:center;
}

header ul.nav li.icon-link, header.smaller ul.nav li.icon-link{
	display: inline-block !important; /* the key bit */
 	*display: inline; /* IE7 hack */
 	*zoom: 1; /* IE7 hack */
	font-size: 14px;
	margin: 0 5px 20px;
	padding:0;
	text-align:center;
}


header .navbar-collapse{
	background:rgba(39,39,39,0.9);
	border-top:none !important;
	margin-left:0px;
	margin-right:0px;
	border-radius:5px;
}

header .navbar-collapse, header.smaller .navbar-collapse{
	background:rgba(39,39,39,1);
	border-top:none;
	margin-left:-15px;
	margin-right:-15px;
	border-radius:0;
}
}

header ul.nav li a {
    color:#fff !important;
	text-transform:uppercase;
    line-height: 32px;
	text-transform:uppercase;
	display: block;
	padding:5px 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
	text-decoration:none;
}

header ul.nav li a:hover {
	color:rgba(255,255,255,0.6) !important;
}

header ul.nav li a {
	position:relative;
}

header ul.nav li a i.icon-menu{
	margin-top:-4px;
	font-size:18px;
	line-height:26px;
	width:35px;
	height:35px;
	padding:4px;
	border:1px solid #fff;
	border-radius:50px;
	text-align:center;
}

header ul.nav li a.login{
	margin-top:3px;
	padding:4px 30px;
	line-height:26px;
	height:35px;
	border:1px solid #fff;
	border-radius:50px;
	text-align:center;
}

header ul.nav li a.login:hover{
	border:1px solid rgba(255,255,255,0.6);
}

header ul.nav li a i.icon-menu:hover{
	border:1px solid rgba(255,255,255,0.6);
}

header.smaller ul.nav li {
	display: inline-block; /* the key bit */
 	*display: inline; /* IE7 hack */
 	*zoom: 1; /* IE7 hack */
	font-size: 13px;
	margin-right: 0px;
	padding:0;
}

header.smaller ul.nav li a {
    line-height: 20px;
	color: #404041;
	display: block;
	padding:20px 0;
}

header.smaller ul.nav li a:hover {
	/*color:#6ebcdf;*/
	color: #ed1c24;
	/*border-bottom:4px solid rgba(255,255,255,0.6);*/
	padding:20px 0;
}

@media all and (max-width: 991px) {
	header ul.nav li {
	font-size: 12px;
	margin-right: 0px;
}

}

/** Main Slider
===================================*/

.fullscreen{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.main-banner{
  display: block;
  position: relative;
  /*height: 100%;*/
  padding:100px 0 50px 0;
  width: 100%;
}

.main-banner .title-area{
}

.fullscreen .title-area{
	margin-top:200px;
}


h1.banner-title{
	font-size:42px;
	color:#fff;
	font-weight:600;
	margin-bottom:20px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	text-transform:uppercase;
}

p.banner-tagline{
	font-size:28px;
	color:#fff;
	font-weight:300;
	margin:10px 0;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.signup-btn, .signup-btn:active, .signup-btn:visited{
	display:inline-block;
	padding:10px 0px;
	margin:10px 10px 0 !important;
	width:210px;
	background:#c22c91;
	border:1px solid #c22c91;
	color:#fff !important;
	border-radius: 50px;
	font-size:15px;
	font-weight:400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.signup-btn:hover{
	background:none;
	border:1px solid #fff;
	color:#fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.content-btn, .content-btn:active, .content-btn:visited{
	display:inline-block;
	padding:15px 40px !important;
	margin:10px 0 0 !important;
	background:#c22c91;
	border:1px solid #c22c91;
	color:#fff !important;
	border-radius: 50px;
	font-size:16px;
	font-weight:400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.content-btn:hover{
	background:none;
	border:1px solid #c22c91;
	color:#c22c91;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.full-width{
	width:100% !important;
}

.facebook-btn, .facebook-btn:active, .facebook-btn:visited{
	display:inline-block;
	padding:15px 0;
	width:100%;
	margin:10px 0 10px !important;
	background:#3b5998;
	border:1px solid #3b5998;
	color:#fff;
	border-radius: 50px;
	font-size:16px;
	font-weight:400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.facebook-btn:hover{
	background:none;
	border:1px solid #fff;
	color:#fff;
}

.standard-btn, .standard-btn:active, .standard-btn:visited{
	display:inline-block;
	padding:10px 40px;
	margin:10px 0 0 !important;
	background:none;
	border:1px solid #fff;
	color:#fff !important;
	border-radius: 50px;
	font-size:16px;
	font-weight:400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.standard-btn:hover{
	color:#fff;
	background:#c22c91;
	border:1px solid #c22c91;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.how-button{
	width:350px;
	position:absolute;
	bottom:10px;
	left:50%;
	margin-left:-175px;	
}

.descTxt{
	color:#fff;
	margin:0 0 5px;
	font-size:16px;
}

@media all and (max-width: 660px) {
	.noPb-xs{
		padding-bottom:0 !important;
	}
}

@media all and (max-width: 767px) {
	h1.banner-title{
	font-size:40px;
	color:#fff;
	font-weight:600;
	margin-bottom:10px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
p.banner-tagline{
	font-size:17px;
	color:#fff;
	margin-bottom:10px;
}
.signup-btn{
	padding:15px 30px;
	font-size:14px;
}
.standard-btn{
	font-size:14px;
}
}


/** CONTENT
===================================*/

section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
}
/* Triangles */
.ss-style-triangles::before,
.ss-style-triangles::after {
	left: 50%;
	width: 40px;
	height: 40px;
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
}

.ss-style-triangles::before {
	top: -15px;
	background: #22a7f0;
}/*

.ss-style-triangles::after {
	bottom: -50px;
	z-index: 10;
	background: inherit;
}
*/



/** Footer Custom
===================================*/

.fullwidth-footer{
	width:100%;
	background:#272727;
	font-size:16px;
}

footer {
	padding:20px 0;
	color:rgba(255,255,255,0.8);
}
footer p {
	margin: 0;
	color:rgba(255,255,255,0.5)
}
	
footer a {
	color:rgba(255,255,255,1);
}
footer a:hover, footer a:visited, footer a:active {
	color: rgba(255,255,255,0.6) !important;
}

footer ul{ margin: 0 0; padding: 0 0 0 0; list-style:none; }

@media all and (max-width: 767px) {
	footer ul{
	text-align:center !important;
	margin-top:10px;
}

}

footer ul li{
	display: block; /* the key bit */
 	*display: inline; /* IE7 hack */
 	*zoom: 1; /* IE7 hack */
	margin-bottom: 10px;
	padding:0;
	margin-left:5px;
}

footer h4{
	color:#c22c91;
	font-size:21px;
	font-weight:400;
}


footer ul{
	margin-left:-5px;
	margin-top:20px;
}

footer ul.social{
	margin-top:20px;
}

footer ul.social li{
	display:inline-block !important;
	width:30px;
	height:30px;
}

footer ul.social li a{
	display:block;
	width:30px;
	height:30px;
	border:1px solid rgba(255,255,255,0.6);
	text-align:center;
	line-height:27px;
	border-radius:50%;
}

footer .copyright{
	font-size:14px;
	margin-top:10px;
	padding-top:20px;
	border-top:1px solid rgba(255,255,255,0.05);
}


/* PANELS */

.panel {
    border-radius: 2px;
    border-color: #ebeff6;
}

.panel-heading {
    border-color: #ebeff6;
    background-color: #fff;
    border-radius: 2px 2px 0 0;
}

.text-muted {
    color: #979797;
}
small {
    font-size: 90%;
}

.block {
    display: block;
}
.inline {
    display: inline-block;
}
.easypiechart {
    position: relative;
    text-align: center;
}
.easypiechart .easypie-text {
    position: absolute;
    z-index: 1;
    line-height: 1;
    font-size: 75%;
    width: 100%;
    top: 60%;
}
.m-t-n-sm {
    margin-top: -10px;
}
.btn {
    font-weight: 500;
}
.btn-link {
    color: #717171;
}
.easypiechart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.filter select{
	width:200px !important;
	color:#666 !important;
}

@media (max-width: 767px) {
	.filter select{
		margin:auto;
		width:80% !important;
}
}

.panel-body {
	padding:15px 5px;
}

.panel-body .value{
	font-size:24px;
	font-weight:600;
	border-right:1px solid #ebeff6;
	text-align:center;
	margin-top:20px;
	width:100%;
	min-height:35px;
}

.panel-body .noBorder{
	border-right:none !important;
}

.panel-body .year{
	font-size:16px;
}

.icon-box{
	display:block;
	clear:both;
	margin-top:20px;
}

.light-grey{
	color:#bbb;
}

.green{
	color:#40bd79;
}

.red{
	color:#D91E18;
}