﻿@font-face {
    font-family: DINProRegular;
    src: url("../fonts/DINPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: DINProBold;
    src: url("../fonts/DINPro-Bold.otf") format("opentype");
}

body {
    font-family: "DINProRegular" !important;
    color: #fff !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px !important;
}

body {
    background-color: #283C6E !important;
}

hr {
    border-top-width: 0;
    border-bottom-width: 1px;
    margin: 10px 0;
    border-color: #eee;
}

table {
    width: 100%;
    border-collapse: collapse;
}

    table td, table th {
        padding: 0;
    }

.page {
    margin: 0 auto;
    max-width: 750px;
    position: relative;
    padding: 20px 10px;
}

    .page > .icon {
        position: absolute;
        right: 15px;
        top: 15px;
        background-color: #690160;
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 50% 50% 50% 0;
        text-align: center;
    }

        .page > .icon > .fa {
            color: #fff;
            font-size: 22px;
            margin-top: 5px;
        }

.header-lg {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}

    .header-lg > .icon {
        background-color: #fff;
        width: 16px;
        height: 16px;
        display: inline-block;
        border-radius: 50% 50% 50% 0;
        margin-right: 5px;
    }

.header-sm {
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
}

    .header-sm > .icon {
        background-color: #fff;
        width: 16px;
        height: 16px;
        display: inline-block;
        border-radius: 50% 50% 50% 0;
        margin-right: 5px;
    }

.number-lg {
    text-align: center;
    font-size: 48px;
}

.number-md {
}

.number-sm {
}

.table-1 {
}

    .table-1 > tbody > tr {
    }

        .table-1 > tbody > tr > td {
            border-bottom: 1px solid #eee;
            line-height: 28px;
        }

        .table-1 > tbody > tr:last-child > td {
            border-bottom: none;
        }

        .table-1 > tbody > tr > td:nth-child(1) {
            text-align: center;
            /* width: 40px; */
        }

        .table-1 > tbody > tr > td:nth-child(2) {
            text-align: center;
            width: 30px;
        }

        .table-1 > tbody > tr > td > img {
            width: 18px;
            height: 18px;
            border-radius: 100%;
            border: 1px solid #aaa;
            margin-bottom: -4px;
        }

        .table-1 > tbody > tr > td:nth-child(3) {
            padding-left: 10px;
        }

        .table-1 > tbody > tr > td:nth-child(4) {
            text-align: right;
        }

.table-2 {
}

    .table-2 > thead th {
        font-weight: normal;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 4px;
    }

    .table-2 > tbody td {
        text-align: center;
        line-height: 28px;
        border-top: 1px solid #ccc;
    }

        .table-2 > tbody td:first-child {
            text-align: left;
        }

        .table-2 > tbody td:nth-child(2) {
            color: #F8C1D9;
        }

        .table-2 > tbody td:nth-child(3) {
            color: #AEC5E7;
        }

.table-3 {
}

    .table-3 > tbody > tr {
    }

        .table-3 > tbody > tr > td {
            border-bottom: 1px solid #eee;
        }

        .table-3 > tbody > tr:last-child > td {
            border-bottom: none;
        }

        .table-3 > tbody > tr > td:nth-child(1) {
            text-align: center;
            width: 40px;
        }

        .table-3 > tbody > tr > td:nth-child(2) {
            text-align: center;
            width: 30px;
        }

        .table-3 > tbody > tr > td > img {
            width: 24px;
            height: 24px;
            border-radius: 100%;
            border: 1px solid #aaa;
            margin-bottom: -4px;
        }

        .table-3 > tbody > tr > td:nth-child(3) {
            padding-left: 10px;
        }

        .table-3 > tbody > tr > td:nth-child(4) {
            width: 40px;
            padding: 10px 20px 10px 0;
        }

.group-box {
    max-width: 600px;
    margin: 20px auto;
}

    .group-box:before, .group-box:after {
        content: " ";
        display: table;
        clear: both;
    }

    .group-box > div {
        float: left;
        width: 33.33%;
    }

    .group-box .box {
        margin: 0 5px;
        background-color: #120438;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
        position: relative;
    }

        .group-box .box > div:nth-child(1) {
            font-size: 24px;
        }

        .group-box .box > div:nth-child(2) {
            font-size: 12px;
        }

        .group-box .box .up {
            position: absolute;
            right: 8px;
            top: 5px;
            color: #EC008C;
            font-size: 14px;
        }

        .group-box .box .down {
            position: absolute;
            right: 8px;
            top: 5px;
            color: #0072BC;
            font-size: 14px;
        }

        .group-box .box .equal {
            position: absolute;
            right: 8px;
            top: 5px;
            color: #fff;
            font-size: 14px;
        }

    .group-box > div:nth-child(2) .box {
        color: #BCBEC0;
    }

    .group-box > div:nth-child(3) .box {
        background-color: #9095AE;
    }

.group-column {
    max-width: 600px;
    margin: 20px auto;
}

    .group-column:before, .group-column:after {
        content: " ";
        display: table;
        clear: both;
    }

    .group-column > div {
        float: left;
        width: 33.33%;
    }

    .group-column .column {
        text-align: center;
        position: relative;
        border-right: 1px solid #fff;
    }

        .group-column .column > div:nth-child(1) {
            font-size: 12px;
        }

        .group-column .column > div:nth-child(2) {
            font-size: 24px;
        }

    .group-column > div:last-child .column {
        border-right: none;
    }

    .group-column > div:nth-child(1) .column > div:nth-child(1) {
        color: #fff;
    }

    .group-column > div:nth-child(1) .column > div:nth-child(2) {
        color: #BCBEC0;
    }

    .group-column > div:nth-child(2) .column > div:nth-child(1) {
        color: #C70681;
    }

    .group-column > div:nth-child(2) .column > div:nth-child(2) {
        color: #F8C1D9;
    }

    .group-column > div:nth-child(3) .column > div:nth-child(1) {
        color: #0072BC;
    }

    .group-column > div:nth-child(3) .column > div:nth-child(2) {
        color: #AEC5E7;
    }

.chart-container {
    margin: 10px;
}

.legends {
    font-size: 12px;
}

    .legends > div {
        display: inline;
        margin-right: 15px;
    }

        .legends > div > span {
            width: 12px;
            height: 12px;
            display: inline-block;
            margin-right: 5px;
            margin-bottom: -1px;
        }

        .legends > div:nth-child(1) > span {
            background-color: #EC008C;
        }

        .legends > div:nth-child(2) > span {
            background-color: #0072BC;
        }
.blueLegend {
    background-color: #0072BC !important;
  
}
.pinkLengend {
    background-color: #EC008C !important;
}

.slider {
    font-size: 14px;
    width: 200px;
    margin: 20px auto;
    position: relative;
    text-align: center;
    line-height: 28px;
}

    .slider .prev, .slider .next {
        position: absolute;
        top: 0;
        width: 28px;
        height: 28px;
        background-color: #777389;
        border-radius: 100%;
        text-align: center;
        cursor: pointer;
    }

        .slider .prev > span, .slider .next > span {
            font-size: 24px;
            margin-top: 1px;
        }

        .slider .prev > span {
            margin-left: -2px;
        }

        .slider .next > span {
            margin-right: -2px;
        }

        .slider .prev.inactive > span, .slider .next.inactive > span {
            color: #aaa;
        }

    .slider .prev {
        left: -28px;
    }

    .slider .next {
        right: -28px;
    }

    .slider .items {
        width: 200px;
        height: 28px;
        overflow: hidden;
    }

        .slider .items > div > div {
            width: 200px;
            float: left;
        }

.slider-contents {
    overflow: hidden;
}

    .slider-contents > div > div {
        display: none;
        float: left;
    }

@media screen and (max-width: 400px) {
    .page > .icon {
        right: 10px;
    }

    .group-box .box .up, .group-box .box .down {
        right: 5px;
    }
}

.h-sm-2 {
    height: 61px !important;
}

.kpi .kpi-value {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #fff !important;
    font-size: 48px !important;
    font-family: "DINProRegular" !important;
}

.qv-object * {
    font-family: "DINProRegular" !important;
    text-transform: uppercase;
}
.table-2 tbody tr td:nth-child(n+4){
     text-align:right
}
.table-2 thead tr th:nth-child(n+4){
     text-align:right
}
.table-2 thead tr th:nth-child(2) {
    text-align:left
}
.table-2 thead tr th:nth-child(4) {
    text-align:center;
   width:20px
}
.kpi .kpi-icon {
    font-family: "QlikView icons" !important;
}

div.qvobject, div.qvplaceholder {
    /*padding: 10px 10px 10px 10px;*/
    height: 25px;
}

.qv-object .qv-object-content-container table tbody tr td {
    line-height: normal;
    padding: 3px 3px 5px 3px !important;
}

div[style*="color: rgb(249, 63, 23)"] .kpi-icon {
    color: #EC008C;
    /* font-size: 20px; */
}

div[style*="color: rgb(39, 110, 39)"] .kpi-icon {
    color: #0072BC;
    font-size: 20px;
}

div[style*="color: rgb(125, 184, 218)"] .kpi-icon {
    color: #F7C1D9 !important;
}

div[style*="color: rgb(125, 184, 218)"] .ellips-text {
    color: #F7C1D9 !important;
}

.group-box > div:nth-child(1) .box .year .qv-object-content-container {
    color: #fff !important;
}

.group-box > div:nth-child(3) .box .year .qv-object-content-container {
    color: #fff !important;
}

.group-box > div:nth-child(2) .box .year .qv-object-content-container {
    color: #BCBEC0 !important;
}

.minusValuse {
    color: #F8C1D8 !important;
}

.BounsValues {
    color: #95D5D7 !important;
}


#filterdiv {
    background: #f8f8f8;
    padding: 10px 0 10px 0;
    margin-right: -8px;
    border: 1px solid #0d6ea7;
    margin-left: -8px;
    border-bottom-right-radius: 30px !important;
    border-top-left-radius: 30px !important;
}

.sm-txt, .sm-txt2 {
    display: none !important;
}

div.btn-xs button {
    border: none !important;
    padding: 5px 0 !important;
    border-radius: 5px !important;
}

button.btn.btn-default.btn-block {
    border-top-left-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    width: 90% !important;
    margin: 0 auto !important;
    background-color: #67015F !important;
}


.header-lg {
    margin-bottom: 2px !important;
}
hr {
    border-top-width: 1px !important;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
    border: 0;
    border-top: 1px solid #eee;
}
.panel-body {
     padding: 0 !important;
}
.table-2 {
    text-transform: uppercase;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: white;
}
.hide_sm_selector {
    display: none;
}
