﻿@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400');


@font-face {
    font-family: 'Dubai-Regular';
    src: url('../../fonts/Dubai-Regular.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
}

.box1 {
    position: relative;
    overflow: hidden;
    transition: all ease 1s;
}
.box2 {
    
    overflow: hidden;
    transition: all ease 1s;
}

/**sidebar menu**/

.sidenav {
    height: 100%;
    width: 320px;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 25%;
    background: #006fa6 url(../images/menu_img.png) no-repeat;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 115px;
    background-size: 100%;
    background-position: bottom;
}

    .sidenav a {
        padding: 8px 7px 16px 31px;
        text-decoration: none;
        font-size: 19px;
        color: #fff;
        display: block;
        font-weight: 300;
        vertical-align: bottom;
        line-height: 39px;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.menu_item img {
    width: 24px;
    margin-right: 10px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 66px;
    margin-left: 0;
    color: #fff;
}

.menu_logo {
    width: 120px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.menu_title {
    color: #fff;
    font-weight: normal;
    padding: 10px 0;
}
/***header***/

.search, .menu {
    margin-top: 29px;
}

.heading h1 {
    color: #fff;
    font-size: 27px;
}

.menu img {
    width: 58px;
}

.search img {
    width: 43px;
}

.heading h1 {
    color: #fff;
    font-size: 43px;
    margin-bottom: 0;
    font-weight: normal;
}

.logo {
    margin-top: 200px;
    position: absolute;
    padding: 0 40px;
}

.box2 {
    position: relative;
    float: left;
}

.info {
    position: absolute;
    top: 0;
    right: 0;
    background: #0d6ea7;
    padding: 19px 15px 30px 36px;
    border-bottom-left-radius: 110px;
}

    .info img {
        width: 31px;
    }

.dashbord {
    background: #0d6ea7;
    position: absolute;
    bottom: 0;
    width: 50%;
    border-bottom-right-radius: 36px;
    padding: 15px 36px;
    margin-bottom: 20px;
    margin-left: 20px;
}

    .dashbord img {
        width: 45px;
        margin-right: 10px;
    }

    .dashbord span {
        font-size: 33px;
        color: #fff;
        display: inline-block;
        line-height: 35px;
        vertical-align: bottom;
    }




/***TPI Dashbord***/
.search.info1 img:last-child {
    margin: 0;
}

.search.info1 img {
    margin-right: 15px;
    vertical-align: bottom;
    width: 35px;
}

.inner_page header {
    position: static;
    background: #0d6ea7;
    display: inline-block;
    padding-bottom: 26px;
}

.search.info1 {
    margin: 13px 0 0;
}

.nav.nav-tabs {
    background: #0d6ea7;
}

    .nav.nav-tabs .active a, .nav.nav-tabs a:hover, .nav.nav-tabs .active a:hover, .nav.nav-tabs a, .nav.nav-tabs a:focus, .nav.nav-tabs .active a:focus {
        background: transparent;
        border: transparent;
        color: #fff;
        text-align: center;
    }

        .nav.nav-tabs .active a img {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }

.bottom_tab li {
    width: 20%;
}

.nav.nav-tabs.bottom_tab img {
    width: 70px;
}

.lasttab img {
    width: 11px !important;
    margin: 18px 0;
}

.bottom_tab span {
    width: 100%;
    display: inline-block;
    margin: 13px 0;
    min-height: 72px;
    vertical-align: middle;
}

.bottom_tab li a .last {
    border-right: 0;
}

.visit_box h1 {
    margin: 0;
    font-size: 15px;
    padding: 10px 10px;
    border-bottom: 1px solid #dae6ff;
}

.visit_box {
    border: 1px solid #dae6ff;
    margin: 0 0 30px;
}

.TPI_box1 {
    width: 32%;
    display: inline-block;
    text-align: center;
}

    .TPI_box1 lable {
        width: 100%;
        display: inline-block;
        font-size: 25px;
        border-right: 1px solid #dae6ff;
        margin: 10px 0;
        padding: 10px 0;
    }

    .TPI_box1.last_tpibox lable {
        border: transparent;
        color: #548d54;
    }

.icon_box {
    width: 100%;
    text-align: right;
    padding: 11px 22px;
}

    .icon_box img {
        width: 30px;
    }

.col-md-12.col-lg-6.col-lg-offset-3 {
    padding: 0 !important;
}

.tab-content {
    padding: 0px 80px 0px;
}


.nav.nav-tabs.bottom_tab img {
    width: 40px;
}

.bottom_tab li a {
    font-size: 13px;
    color: #b5b1b1 !important;
}

.bottom_tab .active a {
    color: #fff !important;
}

.info {
    padding: 13px 13px 20px 26px;
}

    .info img {
        width: 19px;
    }

header {
    padding: 0 20px;
}

.logo {
    padding: 0 20px;
}

.bg1 {
    height: 360px;
    margin-left: -109px;
}

.bottom_tab li a {
    border-right: 1px solid #4ea0d1 !important;
    padding: 0;
    margin: 10px 0;
    border-radius: 0;
    min-height: 111px;
}

.nav-tabs > li:last-child a {
    border: 0;
}


.one_tab span {
    background: url("../images/over.png") no-repeat;
    background-size: 40%;
    background-position: center;
}

.twotab span {
    background: url("../images/source.png") no-repeat;
    background-size: 40%;
    background-position: center;
}

.threetab span {
    background: url("../images/volume.png") no-repeat;
    background-size: 40%;
    background-position: center;
}

.fourtab span {
    background: url("../images/journey.png") no-repeat;
    background-size: 40%;
    background-position: center;
}

.one_tab.active span {
    background: url("../images/over_white.png") no-repeat;
    background-size: 40%;
    background-position: center;
}

.twotab.active span {
    background: url("../images/source_white.png") no-repeat;
    background-size: 40%;
    background-position: center;
}

.threetab.active span {
    background: url("../images/volume_white.png") no-repeat;
    background-size: 40%;
    background-position: center;
}

.fourtab.active span {
    background: url("../images/journey_white.png") no-repeat;
    background-size: 40%;
    background-position: center;
}

.bottom_tab span {
    min-height: 112px;
}

.tab-content {
    padding: 0px 80px 0px;
}



/* to the body element */
.noscroll {
    overflow: hidden;
}

@media (min-device-width: 1025px) {
    .noscroll {
        padding-right: 15px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

[aria-hidden="true"] {
    transition: 0.1s;
    z-index: -1;
    opacity: 1;
    left: -320px;
}

[aria-hidden="false"] {
    transition: 0.1s;
    width: 100%;
    z-index: 1;
    /* opacity: 1; */
    left: 0;
}




/* this code is not strictly necessary: just to make this demo a bit pleasant */


.overlay {
    background: rgba(40,40,40, .75);
}


.open-overlay {
    padding: 0;
    background: transparent;
    box-shadow: inherit;
    border: initial;
}

.closebtn.close-overlay {
    padding: 0 20px;
    background: transparent;
    border: inherit;
}

.bg1 {
    height: auto;
    margin-left: 0;
    width: 100%;
}


/***responcive***/
.search_box {
    width: 100%;
    padding: 10px 14px;
    border-radius: 4px;
    border: transparent;
    color: #000;
    font-size: 17px;
}

.search_icon img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
}

.close {
    opacity: 1;
}

.search_icon {
    position: relative;
}

.close img {
    width: 30px;
}

.modal-header {
    border: transparent;
}

.search_result h1 {
    font-size: 36px;
    color: #fff;
    /* font-weight: normal; */
    text-transform: uppercase;
    font-weight: 300;
}

    .search_result h1 lable {
        float: right;
        color: #787878;
        font-size: 22px;
        line-height: 40px;
    }

.search_result span {
    color: #787878;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 10px;
    display: inline-block;
}

.search_result {
    border-top: 2px solid #d5d5d580;
    padding: 10px 0 30px 0;
}

    .search_result:last-child {
        border-bottom: 2px solid #d5d5d580;
    }

.search.text-right {
    padding: 0;
}

.btn.btn-info.btn-lg {
    background: transparent;
    border: transparent;
    padding: 0;
}

.search_icon {
    margin-bottom: 20px;
}

.col-md-6.col-md-offset-3 {
    padding: 0;
}

.bg1 {
    float: left;
}

header {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 43px;
    padding: 0 20px;
}

/*.modal-content {
    width: 731px;
    height: 100%;
    border-radius: 0;
    background: #000000b3;
    padding: 20px 30px;
    margin: 0 auto;
}*/

.modal-dialog {
    margin: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .inner_page header {
        position: fixed;
        top: 0;
    }

    .nav.nav-tabs {
        background: #0d6ea7;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    /*.modal-content {
        width: 100%;
        height: 100%;
        border-radius: 0;
        background: #000000b3;
        padding: 20px 30px;
    }*/
}

@media only screen and (max-width: 768px) {
    .logo .logo2 {
        width: 32%;
    }

    .logo .logo1 {
        width: 45%;
    }

    .sidenav {
        position: fixed;
        left: 0;
    }

    .search.info1 img {
        margin-right: 5px;
    }

    .inner_page header {
        position: fixed;
        top: 0;
    }

    .nav.nav-tabs {
        background: #0d6ea7;
       /*  position: fixed; */
        bottom: 0;
        width: 100%;
    }

    /*.modal-content {
        width: 100%;
        height: 100%;
        border-radius: 0;
        background: #000000b3;
        padding: 20px 30px;
    }*/
}

@media only screen and (max-width: 767px) {
    .heading h1 {
        font-size: 21px;
    }

    .menu img {
        width: 38px;
    }

    .search img {
        width: 29px;
    }

    .search, .menu {
        margin-top: 21px;
    }

    .logo {
        margin-top: 150px;
    }

    .inner_page header {
        padding: 0px 10px 20px;
    }

    .bottom_tab span {
        margin: 0 0;
    }

    .bottom_tab li a {
        padding: 0;
        margin-bottom: 0;
    }

    .one_tab.active span, .twotab span, .threetab span, .fourtab span {
        background-size: 60%;
    }

    .bottom_tab span {
        min-height: 54px;
    }

    /*.modal-content {
        width: 100%;
        height: 100%;
        border-radius: 0;
        background: #000000b3;
        padding: 20px 10px;
    }*/

    .modal-dialog {
        margin: 0;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 650px) {
    .dashbord span {
        font-size: 18px;
        line-height: 18px;
    }

    .dashbord img {
        width: 25px;
        margin-right: 10px;
    }

    .dashbord {
        width: 80%;
        padding: 15px 36px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .search_result h1 {
        font-size: 20px;
        color: #fff;
    }

        .search_result h1 lable {
            font-size: 15px;
            line-height: 20px;
        }

    .search_result span {
        font-size: 15px;
    }
}

@media only screen and (max-width: 414px) {
    header {
        top: 5px;
    }

    .logo {
        margin-top: 80px;
    }

    .search.info1 img {
        width: 22px;
    }

    .search.info1 {
        padding: 0;
    }

    .menu {
        padding: 0;
    }

    .tab-content {
        padding: 0px 20px 0px;
    }

    .TPI_box1 lable {
        font-size: 19px;
    }

    .bottom_tab span {
        min-height: 43px;
    }

    .bottom_tab li a {
        padding: 0 0 10px 0;
        font-size: 13px;
    }

    .nav.nav-tabs.bottom_tab img {
        width: 40px;
    }

    .bottom_tab li a {
        font-size: 13px;
        color: #b5b1b1 !important;
        line-height: 17px;
    }

    .bottom_tab li a {
        min-height: 80px;
    }

    .bottom_tab .active a {
        color: #fff !important;
    }

    .one_tab.active span, .twotab span, .threetab span, .fourtab span {
        background-size: 40%;
    }

    .bg1 {
        width: auto;
        height: 463px;
        margin-left: -190px;
    }

    .search_result {
        padding: 0px 0 20px 0;
    }
}

@media only screen and (max-width: 390px) {
    .search_result h1 {
        font-size: 13px;
    }

        .search_result h1 lable {
            font-size: 13px;
            line-height: 14px;
        }

    .search_result span {
        font-size: 12px;
    }
}
/***responcive***/


#myModal {
    z-index: 9999999;
}


.box1.main_part.box_fixed {
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: all ease .3s;
    height: 200px !important;
    border: 10px solid green;
}

.home_wrapper {
    position: absolute;
    overflow: auto;
    bottom: 0px;
    z-index: 9;
}

.scroll_up {
    z-index: 10 !important;
    height: 100px !important;
}

.fix_heder {
    background: url(../images/layer29@3x.png) 50% 0 no-repeat;
    background-size: cover;
    height: 462px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 123;
    /*	transition: all ease 3s;*/
}

    .fix_heder.reverse {
        /*	transition: all ease 0.1s !important;*/
    }

.nav_header {
    display: flex;
}

    .nav_header > div {
        padding: 10px;
        flex: 1;
    }

        .nav_header > div > img {
            height: 30px;
        }

        .nav_header > div:nth-child(2) {
            color: #fff;
            justify-content: center !important;
            text-align: center;
            align-items: center;
            display: flex;
            font-size: 19px;
        }

        .nav_header > div:nth-child(3) {
            justify-content: flex-end;
            text-align: right;
        }

        .nav_header > div:first-child {
            justify-content: flex-start;
        }


.logos {
    display: flex;
    margin-top: 14px;
}

    .logos > div {
        flex: 1;
        padding: 10px;
    }

        .logos > div > img {
            width: 109px;
        }

        .logos > div:last-child {
            text-align: right;
        }

.img_container {
    overflow: hidden;
    position: fixed;
}

    .img_container img {
        position: relative;
        height: 500px;
        left: -50%;
    }




/* contact us page css*/


.dubai_logo {
    padding: 30px 15px 6px;
    text-align: center;
    margin-top: 200px;
}

    .dubai_logo img {
    }

.contact_detail {
    padding: 10px 15px;
    max-width: 500px;
    margin: 0 auto;
}

    .contact_detail h3:last-child {
        border: 0
    }

    .contact_detail h3 a {
        text-decoration: none;
        color: #0972b9;
        font-weight: normal;
        padding-left: 47px;
        font-size: 21px;
    }

.copy_fotter {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 9px 4px;
    color: #0573b6;
    background: white;
    width: 100%;
}

/* contact us page css*/






/*my css*/

.overlay_box {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 999;
    transform: all ease .5s;
}


.custome_pop {
    background: #fff;
    position: absolute;
    top: 20%;
    max-width: 500px;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto;
    z-index: 9999;
    padding: 10px 20px 55px;
    border-radius: 14px;
    overflow: hidden;
    display: none;
    transition: all ease .3s;
}

    .custome_pop p {
        font-size: 16px;
    }

.close_pop {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    left: 0px;
    text-align: center;
    padding: 12px;
    color: #0e6ea7;
    font-size: 17px;
    border-top: 1px solid #ddd;
}

/*switch*/


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #46cc57;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.setting_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .setting_list ul li {
        display: block;
    }

        .setting_list ul li a {
            border-bottom: 1px solid #e6e6e6;
            display: block;
            position: relative;
            padding: 13px 34px;
            font-size: 24px;
            font-weight: normal;
            color: #0e6ea7;
            transition: all ease .3s;
        }

            .setting_list ul li a > span {
                position: absolute;
                right: 34px;
                top: 50%;
                margin-top: -18px;
            }


            .setting_list ul li a span img {
                height: 35px;
            }

            .setting_list ul li a:hover {
                color: #01466f;
                text-decoration: none;
            }

.setting_list {
    position: relative;
    margin-top: 90px;
}



@media(max-width:700px) {
    .custome_pop {
        margin: 0 20px;
        font-size: 16px;
    }

    .setting_list {
        position: relative;
        margin-top: 65px;
    }

    .dubai_logo {
        margin-top: 0;
    }
}

/****Contact us ****/

.dubai_logo img {
    width: 50%;
    margin: 30px 0;
}

.contact_detail h3 img {
    width: 28px;
    margin-right: 8px;
}

.contact_detail h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0;
    color: #0772b8;
}

.contact_detail hr {
    border-color: #0772b833;
}

.copyright {
    text-align: center;
    font-size: 14px;
    color: #0772b8;
    margin: 30px 0 10px 0;
}

.contact_detail {
    padding: 0 40px;
    margin-bottom: 80px;
}
/*iframe {
	margin-top: 63px;
}*/



/***login***/

.login {
    background: url("../images/login.png") no-repeat;
    background-size: 100% 100%;
}
.login2 {
    background: url("../images/Login2.png") no-repeat;
    background-size: 100% 100%;
}

    .login .bg1 {
        width: 100%;
        height: 100%;
        margin-left: 0;
    }

.title_login {
    background: url("../images/object.png")
}

.login header {
    position: static;
}

.login .logo {
    margin-top: 50px;
    position: static;
    display: inline-block;
}

.title_login {
    background: url("../images/object.png") no-repeat;
    background-size: 100% 100%;
    margin: 40px 20px 0px;
    text-align: center;
    display: inline-block;
    width: 90%;
}

    .title_login h1 {
        color: #fff;
        font-weight: 300;
        font-size: 31px;
        line-height: 37px;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

.login h2 {
    color: #fff;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 10px 0;
}

.input-login, .bottom_signin {
    margin: 40px 20px 20px;
    display: inline-block;
    width: 90%;
    text-align: center;
}

    .input-login .username {
        width: 100%;
        margin-bottom: 10px;
        padding: 0 20px;
        background: transparent url("../images/username.png");
    }

    .input-login .username {
        width: 100%;
        margin-bottom: 10px;
        padding: 15px 50px;
        background: transparent url("../images/username.png") no-repeat left 10px center;
        background-size: 30px;
        border-width: 0 0 2px 0;
        border-color: #fff6;
        color: #fff;
        font-size: 19px;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .input-login .password {
        width: 100%;
        margin-bottom: 10px;
        padding: 15px 50px;
        background: transparent url("../images/password.png") no-repeat left 10px center;
        background-size: 30px;
        border-width: 0 0 2px 0;
        border-color: #fff6;
        color: #fff;
        font-size: 19px;
        font-weight: 300;
        letter-spacing: 2px;
    }

.signinbutton {
    background: url("../images/signinbg.png") no-repeat;
    margin: 0 auto;
    display: block;
    border: transparent;
    background-color: transparent;
    background-size: 100%;
    padding: 13px 59px;
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 183px;
    cursor: pointer;
}

    .signinbutton:hover {
        color: #fff;
        text-decoration: none;
    }

.bottom_signin img {
    /* float: left; */
    width: 22px;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none !important;
    color: darkgrey !important;
}

#myModal1 .bgbg {
    width: 38px !important;
}

#myModal1 .modal-content {
    padding: 0;
    background: transparent;
}

#myModal1 .nav.nav-tabs.bottom_tab {
    top: 0;
    bottom: auto;
}

#myModal1 .bottom_tab li {
    width: 20%;
    min-height: 100px;
    border-bottom: 1px solid #fff;
}
ul.nav.nav-tabs li {
    /* float: left !important; */
    width: 33%;
    /* margin: 0; */
    /* padding: 0; */
    background: #0d6ea7;
    height: 55px;
    display: table-cell;
    vertical-align: middle;
}
ul.nav.nav-tabs {
    background: transparent;
}
ul.nav.nav-tabs li a {
    margin: 0 !important;
	    border-radius: 0 !important;
}
ul.nav.nav-tabs li a:focus, ul.nav.nav-tabs li a:hover {
    background: transparent !important;
	color: #fff !important;
	border: 0 !important;
}
select#jzzRhdbList {
    margin: 0 5px;
    width: 98% !important;
}


#selectSMbtn  {
 width:100%;
  background-color:#337ab7;
 color:white
}
