/**
* set padding to make room for bootstrap menu
*
*/
body {
	font-family: 'Open Sans', Verdana, Arial, sans-serif !important;
	padding-bottom: 30px;
}

/*
* need to set the height for objects
* set top padding to make room for selection toolbar
*/
div.qvobject, div.qvplaceholder {
	/*padding: 10px 10px 10px 10px;*/
	height: 35px;
	
}

.qv-object * {
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
}

div.qvobject .kpi-value{
	font-size:15px !important;
}

div.qvobject.score .kpi-value{
	font-size:30px !important;
}

div.h-xs {
	padding:0;
	height: 35px !important;
}

div.v-xs {
	padding:0;
	height: 100px !important;
}

div.circular-kpi {
	padding: 10px 10px 10px 100px;
	height: 100px !important;
}

.form-inline div.h-xs {
	width:100%;
}

div.h-md {
	padding: 10px 10px 10px 10px;
	height: 280px !important;
}

div.h-md4 {
	padding: 10px 10px 10px 10px;
	height: 205px !important;
}

div.h-md2 {
	padding: 10px 10px 10px 10px;
	height: 230px !important;
}

div.h-md3 {
	padding: 10px 10px 10px 10px;
	height: 200px !important;
}

div.h-lg {
	padding: 10px 10px 10px 10px;
	height: 350px !important;
}

div.h-lg2 {
	padding: 10px 10px 10px 10px;
	height: 540px !important;
}

div.h-lg3 {
	padding: 10px 10px 10px 10px;
	height: 570px !important;
}

div.v-lg {
	padding: 10px 10px 10px 10px;
	height: 520px !important;
}

/*header{
	background-color:#22a7f0 !important;
	position:fixed;
}*/

#main {
	width: 100%;
	padding: 0;
}

.image-header {
	display: table;
	position: relative;
	margin-top: -20px;
	width: 100%;
	height: 30%;
	background: url(leaf.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	z-index: -99;

}

.content-section-a {
	background-color: #ECF0F1;
}

.navbar {
	margin-bottom: 0 !important;
}

/*
 * Overrides Bootstrap navbar z-index to avoid conflict with selections bar
 */
.navbar-fixed-top {
	position: relative;
	z-index: 1;
}

.qcmd {
	cursor: pointer;
}

#footer {
	background-color: #FEC956;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: -30px;
}

#popup {
	background-color: #7f8c8d;
	color: #FFFFFF;
	position: fixed;
	padding: 10px;
	margin: 10px;
	bottom: 0;
	right: 0;
	display: none;
	border-radius: 5px;
}

.borderShadow {
	margin: 15px 0;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 0 16px -5px rgba(50, 50, 50, 0.52);
	-moz-box-shadow: 0 0 16px -5px rgba(50, 50, 50, 0.52);
	box-shadow: 0 0 16px -5px rgba(50, 50, 50, 0.52);
}


 .styled-select {
	border-radius:5px
}

.styled-select {
	background:#f5f5f5 !important;
	color:#fff !important;
	border:1px solid #ddd !important;
}

.filter{
}

.styled-select select {
    appearance:none !important;
    -moz-appearance:none !important; /* Firefox */
	-webkit-appearance:none !important; /* Safari and Chrome */

}




/* 4Boxes */

.panel-body {
	padding:0px 5px;
}

.panel-body .value{
	font-weight:600;
	border-right:3px solid #0d6ea7;
	text-align:center;
	margin-top:10px;
	width:100%;
	min-height:35px;
}

.panel-body .noBorder{
	border-right:none !important;
}

.panel-body .year{
	font-size:16px !important;
	min-height:20px;
}

.icon-box{
	display:block;
	clear:both;
	margin:0 0 5px;
	text-align:right !important;
	width:100%;
	font-size:16px;
}

.light-grey{
	color:#bbb;
}

.green{
	color:#40bd79;
}

.red{
	color:#D91E18;
}

.hide-header .qv-object-header{
display:none;
}

.bootstrap_inside .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.panel-heading {
    padding: 5px 10px;
}

@media (min-width: 1200px) {
  .container {
    width: 1270px;
  }
}

.floating-box{
	position:absolute;
	top:45px;
	right:25px;
	width:60px;
	height:60px !important;
	z-index:9999999;
}

.v-sm{
 height:202px !important;
}

.v-sm2{
 height:235px !important;
}

.capacity-circle{
  min-height:80px;
  min-width:20px;
  margin:10px 0;
}

.capacity-box{
  margin:10px 0 0;
}

.panel-nobody{
padding:5px 20px;
}

.filter-stay{
	position:absolute;
	top:5px;
	right:10px;
	width:140px;
	height:35px !important;
	z-index:9999999;
}

.filter-stay select{
	background:#fff !important;
	color:#666 !important;
	height:25px;
}

.pct_residence .kpi .ellips-text{
	font-size:35px !important;
}

.h-sm-2{
	height:57px !important;
}

.small-title{
	color:#0072bb;
	margin:5px 0;
}

.exp-container{
	height:330px;
}
.exp-tab{
height:360px !important;
}
.exp-container2{
	height:140px;
}
.exp-tab2{
height:120px !important;
}



.exp-legend{
	float:right;
	margin-left:10px;
	text-align:center;
	font-size:12px;
}

@media (max-width: 1200px) {
	.exp-legend{
	float:none;
}
.table-legend{
	overflow:hidden;
	padding-top:20px;
}
}


.exp-legend div{
	padding:5px 0;
}

.exp-legend .dark-grey{
	background:#333 !important;
	color:#fff;
}

.exp-legend .red{
	background:RGB(156, 1, 1) !important;
	color:#fff;
	font-weight:bold;
}

.exp-legend .green{
	background:RGB(47, 138, 88) !important;
	color:#fff;
	font-weight:bold;
}

.exp-legend .yellow{
	background:RGB(223, 130, 26)  !important;
	color:#fff;
	font-weight:bold;
}

.exp-legend .grey{
	background:#ddd !important;
	color:#666;
}

.hide-tr .qv-st-header{
	display:none !important;
}

.hide-tr td{
font-size:11px !important;
}
.qv-object .qv-object-content-container table tbody tr td.qv-st-data-cell-numeric{
	width:10px !important;
}

div.btn-xs{
margin-bottom:0;
}

div.btn-xs button{
	border:none !important;
	padding:5px 0 !important;
	border-radius:5px !important;
}

.legend-map{
	position:absolute;
	bottom:30px;
	left:20px;
}

.legend-map span.blue-square{
display:inline-block;
	width:10px !important;
	height:10px !important;
	margin:0 5px 0 10px;
	background:#6697bd;
}

.legend-map span.green{
	color:#40bd79 ;
}

.legend-map span.green-square{
display:inline-block;
	width:10px !important;
	height:10px !important;
	margin:0 5px 0 10px;
	background:#40bd79 ;
}

.legend-map span.blue{
	color:#6697bd;
}

.legend-map span.grey-square{
display:inline-block;
	width:10px !important;
	height:10px !important;
	margin:0 5px 0 10px;
	background:#666666;
}

.legend-map span.grey{
	color:#666666;
}

.legend-map span.red-square{
display:inline-block;
	width:10px !important;
	height:10px !important;
	margin:0 5px 0 10px;
	background:#e50c26;
}

.legend-map span.red{
	color:#e50c26;
}

.fa-frown-o{
	position:absolute;
	top:45px;
	left:300px;
	font-size:18px !important;
}

.fa-smile-o{
	position:absolute;
	top:45px;
	left:590px;
	font-size:18px !important;
}

.fa-meh-o{
	position:absolute;
	top:45px;
	left:490px;
	font-size:18px !important;
}

 @media (max-width: 1200px) {
     .fa-frown-o, .fa-smile-o, .fa-meh-o{
	 	display:none !important;
	 }
	 
	 .sm-txt, .sm-txt2{
	 	display:none !important;
 }
 }
 
  .dynamic-title{
	height:35px;
 }
 
 .exp-dropdown{
 	height:35px;
	margin-bottom:10px;
 }
 
 .sm-txt{
 	margin-top:3px;
	right:-40px;
 }
 
  .sm-txt2{
  	position:relative;
 	margin-top:5px;
	right:-100px;
 }


/*This class to disable menu link*/
.navbar-nav > li > a.disabled_link {
   pointer-events: none;
   cursor: default;
   color: rgba(255,255,255,0.5) !important;
}


/*.hide_menu_link{
	display:none !important;
}*/

.hide_sm_selector{
	display:none;
}


.hide_object{
	display:none;
}

.TOV-number div.qvobject, .TOV-number div.qvplaceholder {
    height: 23px;
    margin: -3px 0 0 -55px;
	font-weight:600;
}



@media (max-width: 768px) {
  .TOV-number div.qvobject, .TOV-number div.qvplaceholder {
    margin: -3px 0 0 0;
}
}


 .footer .qv-object-text-image .qv-media-tool-html{
	font-size:13px !important;
}

.footer div.qvobject, div.qvplaceholder{
	height:23px !important;
	margin-left:-5px;
}

.footer p{
	margin:0;
}

.marquee .qv-object *{
	color:#0072bb !important;
	font-weight:600;
}


/*journey qlik table header*/
.journey .qv-st-header-cell-wrapper .qv-st-fade-out{
  font-size:13px !important; 
 
}

/*journey qlik table dimension value*/
.journey .qv-st-data-cell-dimension-value .qv-st-fade-out{
  font-size:11px !important; 
}

/*pillars qlik table header*/
.pillars .qv-st-header-cell-wrapper .qv-st-fade-out{
  text-align: center !important;
  font-size:12px !important; 
  font-weight:bold;
}

/*pillars qlik table dimension header*/
.pillars .qv-st-header-cell-dimension .qv-st-fade-out{
	text-align:left !important;
}

/*pillars qlik table measure value*/
.pillars .qv-st-data-cell-numeric .qv-st-fade-out{
  text-align: center !important;
  font-size:12px !important; 
}

/*pillars qlik table measure value with background expresion*/
.pillars .qv-st-fade-out-bgr-expr{
  text-align: center !important;
  font-size:12px !important;  
}



.sat-legend{
	float:right;
	text-align:center;
	font-size:12px;
}

.sat-legend div{
	padding:5px 0;
}


.sat-legend .lightgray{
	background:RGB(170, 170, 170) !important;
	color:#fff;
	border-right:1px solid #fff;
}

.sat-legend .gray{
	background:rgb(127, 127, 127) !important;
	color:#fff;
	border-right:1px solid #fff;
}

.sat-legend .blue{
	background:rgb(0, 176, 240) !important;
	color:#fff;
	border-right:1px solid #fff;
}

.sat-legend .dark-blue{
	background:rgb(0, 112, 192) !important;
	color:#fff;
	border-right:1px solid #fff;
}

.sat-legend .title-left{
	text-align:left;
}

.sat-legend .title-right{
	text-align:right;
}

.qv-object-CircularKPI .viz{
 width:100% !important;
}

.nav-tabs{
	font-size:15px;
}

.nav-tabs>li>a{
	padding:5px 15px;
}
