<div class="overseas-container overseas-guests">
  <div class="row">
      <div class="col-md-12">
          <div class="section-header firstHeader">
              <h2>HOTEL GUEST ARRIVALS BY MARKET</h2>
          </div>
          <div class="chart-container">
              <ul class="legends">
                  <li><span class="pink"></span>UAE RESIDENTS</li>
                  <li><span class="blue"></span>INTERNATIONAL</li>
              </ul>
              <div class="col-lg-5 v-lg qvobject loading chart-stacked-bar-2" id="QV-p04-01" objectid="pqjQw" style="height:485px !important;"
                  Selection="false">
              </div>
          </div>
      </div>
  </div>
  <div>
      <div class="row">
          <div class="col-md-12">
              <div class="section-header"></div>

              <div id="slider1" class="slider" data-content="sliderContent1">
                  <div class="prev inactive"><span class="fa fa-angle-left"></span></div>
                  <div class="next inactive"><span class="fa fa-angle-right"></span></div>
                  <div class="items">
                      <div>
                          <div>TOTAL GUEST ARRIVALS <span class="tool-tip">(i)
                                  <span class="tooltiptext ">YOY: Year over Year.</span>
                              </span></div>
                          <div>Net guest Arrivals</div>
                      </div>
                  </div>
              </div>

              <div id="sliderContent1" class="slider-contents">
                  <div class="items">
                      <div>
                          <div class="qvobject loading dtcm-tables table-right-1 table-left-3 text-center table-white-4 table-gray-5 dtcm-tb-head-align"
                              style="height:500px !important" id="QV-p02-012" objectid="rAmqvEM">
                          </div>
                      </div>
                      <div>
                          <div class="qvobject loading dtcm-tables table-right-1 table-left-3 text-center table-white-4 table-gray-5 dtcm-tb-head-align"
                              style="height:500px !important" id="QV-p02-013" objectid="FndyEpA">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p>
      <b>Data Source and Caveats:</b><br>
      <b>Hotel Guests Arrivals: </b> BIR* - Hotel Guest Arrivals split by international visitors includes UAE residents and Hotel Hoppers (people who stay in multiple hotels per single trip).<br>
      <b>BIR: </b>Business Intelligence & Reporting Department – DTCM.
  </p>
</div>