<div class="vs-container vs-advocacy">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header firstHeader">
        <h2>ATTRACTIONS VISITED</h2>
        <P>(% OF TRAVELLERS TO KEY PROPOSITIONS)</P>
      </div>
      <div class="section-header2 mt-4">
        <img src="../../../assets/images/attractions_icons/dubai_mall.svg" alt="" class="mr-2 mb-2 header-icon" />
        <h3>DUBAI MALL</h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-dubaimall-cy" objectid="mPjJu">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-dubaimall-cy-title"
                 objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-dubaimall-py" objectid="gayPXU">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-dubaimall-py-title"
                 objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-dubaimall-yoy" objectid="pEMJHb">
            </div>
            <p class="dtcm-white-color">YoY </p>
            <div class="tool-tip">
              (i)
              <span class="tooltiptext">
                YOY: Year over Year.
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/other_shopping_malls.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3>OTHER SHOPPING MALLS</h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-othermall-cy" objectid="NMSeMh">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-othermall-cy-title"
                 objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-othermall-py" objectid="gjmrYJB">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-othermall-py-title"
                 objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-othermall-yoy" objectid="ppWbPSa">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>

      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/fountains.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3>THE FOUNTAIN</h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-fountain-cy" objectid="PrDMPe">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-fountain-cy-title"
                 objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-fountain-py" objectid="aBNG">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-fountain-py-title"
                 objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-fountain-yoy" objectid="JkkpNYJ">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>

      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/culture.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3>HERITAGE & CULTURAL DISTRICTS</h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading " id="QV-attractions-heritage-cy" objectid="QfMVmjz">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-heritage-cy-title"
                 objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-heritage-py" objectid="TJeNqJ">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-heritage-py-title"
                 objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-heritage-yoy" objectid="LJjFcbz">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>

      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/beach.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3>BEACH & MARINE</h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading " id="QV-attractions-beach-cy" objectid="sMJzJT">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-beach-cy-title"
                 objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-beach-py" objectid="yHZdLVR">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-beach-py-title"
                 objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-beach-yoy" objectid="uYAnnp">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>

      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/burj_khalifa.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3>BURJ KHALIFA <small>(AT THE TOP)</small></h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-burjkhalifa-cy" objectid="CubaKUM">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-burjkhalifa-cy-title"
                 objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-burjkhalifa-py" objectid="CyHwZ">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-burjkhalifa-py-title"
                 objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-burjkhalifa-yoy" objectid="gawEHW">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>

      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/burj_arab.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3>BURJ AL ARAB <small>(WENT INSIDE)</small></h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-burjalarab-cy" objectid="qAmXw">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-burjalarab-cy-title"
                 objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-burjalarab-py" objectid="ffayEXZ">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-burjalarab-py-title"
                 objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-burjalarab-yoy" objectid="yeCkMM">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>

      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/palm_jumeirah.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3>PALM JUMEIRAH</h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-palmjomeirah-cy" objectid="tAHXmp">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-palmjomeirah-cy-title"
                 objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-palmjomeirah-py" objectid="RSbQbJQ">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-palmjomeirah-py-title"
                 objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-palmjomeirah-yoy" objectid="QJbZSZS">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>

      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/desert_safari.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3>DESERT SAFARI</h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-desirtsafaris-cy" objectid="XjJcq">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-desirtsafaris-cy-title"
                 objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-desirtsafaris-py"
                 objectid="gRrnmgL">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-desirtsafaris-py-title"
                 objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-desirtsafaris-yoy"
                 objectid="pFDp">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>

      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/water_parks.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3>WATER PARKS</h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-waterparks-cy" objectid="nXdejS">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-waterparks-cy-title"
                 objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-waterparks-py" objectid="hk">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-waterparks-py-title"
                 objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-waterparks-yoy" objectid="cdAtM">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>

      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/aquarium.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3>DUBAI MALL AQUARIUM <small>(PAID)</small></h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-aquarium-cy" objectid="pmTbrrr">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-aquarium-cy-title"
                 objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-aquarium-py" objectid="PNtzvB">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-aquarium-py-title"
                 objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-aquarium-yoy" objectid="gHfmws">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>

      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/ski_dubai.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3>SKI DUBAI <small>(PAID)</small></h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-skidubai-cy" objectid="dkJQpWb">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-skidubai-cy-title"
                 objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-skidubai-py" objectid="xCJsmbs">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-skidubai-py-title"
                 objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-skidubai-yoy" objectid="UwphC">
            </div>
            <p class="dtcm-white-color">YoY</p>
          </div>
        </div>
      </div>

      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/bollywood_parks.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3>Bollywood Parks </h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-bollywood-cy" objectid="AndCpf">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-bollywood-cy-title" objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-bollywood-py" objectid="VyJKmpy">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-bollywood-py-title" objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-bollywood-yoy" objectid="EjpuUsP">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>

      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/img_world.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3> IMG World</h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-img-cy" objectid="psvMXvQ">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-img-cy-title" objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-img-py" objectid="tHxdRq">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-img-py-title" objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-img-yoy" objectid="CamkU">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>



      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/water_canal.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3> Dubai Water Canal</h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-watercanal-cy" objectid="HPpPB">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-watercanal-cy-title" objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-watercanal-py" objectid="fQphjrt">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-watercanal-py-title" objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-watercanal-yoy" objectid="kJmzdJs">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>


      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/legoland.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3>Legoland</h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-legoland-cy" objectid="CDRpjJ">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-legoland-cy-title" objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-legoland-py" objectid="GUXvCA">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-legoland-py-title"
                 objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-legoland-yoy" objectid="vfhBJ">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>

      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/dubai_glow_garden.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3>  Dubai Glow Garden</h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-glowgarden-cy" objectid="aGujg">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-glowgarden-cy-title" objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-glowgarden-py" objectid="UjurTSm">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-glowgarden-py-title" objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-glowgarden-yoy" objectid="eXyTBv">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>

      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/motiongate.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3>Motiongate Dubai</h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-motiongate-cy" objectid="PyDWYf">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-motiongate-cy-title" objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-motiongate-py" objectid="CkMdpp">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-motiongate-py-title" objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-motiongate-yoy" objectid="mRMnA">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>
      <div class="section-header2">
        <img src="../../../assets/images/attractions_icons/global_village.svg" alt="" class="mr-1 mb-2 header-icon" />
        <h3> Global Village</h3>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading" id="QV-attractions-globalvillage-cy" objectid="DBpX">
            </div>
            <div class="year qvobject loading noPadding dtcm-white-color" style="height:25px;" id="QV-attractions-globalvillage-cy-title" objectid="dLbpn">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-darkblue-bg">
            <div class="percentage qvobject loading dtcm-gray-2-color" id="QV-attractions-globalvillage-py" objectid="qmXTPc">
            </div>
            <div class="year qvobject loading noPadding dtcm-gray-2-color" style="height:25px;" id="QV-attractions-globalvillage-py-title" objectid="gNRmbh">
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box dtcm-gray-light-bg">
            <div class="percentage qvobject loading dtcm-white-color" id="QV-attractions-globalvillage-yoy" objectid="jJhZ">
            </div>
            <p class="dtcm-white-color">YoY</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p><b>Important Notes:</b><br></p>
  <div class="qvobject loading" style="height:55px" id="QV-attractions-samplesize" objectid="mXtPj"></div>
  <p>
    - All variables are weighted by nationality and month<br>
    - <b>'NA'</b> indicates data not available
  </p>

</div>
