<div class="brand-tracker-container brand-tracker-brand-adver">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header">
        <div class="h2">
          RECALL DUBAI ADVERTISING <div class="small">
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">Recall Dubai Advertising: The % of respondents who stated that they have been exposed to advertisements about Dubai in the past 6 months.</span>
            </span>
          </div>
        </div>
      </div>
      <div class="chart-container">

        <div class="qvobject loading chart-donut-2 chart-donut-2-lg mb-4" id="QV-Ad-Recall" objectid="gBhAJe">
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="section-header">
        <div class="h2">
          TOP CHANNELS <div class="small">
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">
                Top Channels: The channels through which respondents were exposed to advertisements about Dubai.
                <br />
                Impact of Advertising on Dubai Consideration: Decision making funnel by advertisement viewers vs. non-viewers.
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="chart-container">
        <div class="qvobject loading chart-bar-2" objectid="FYpN" id="QV-Ad-MediaRecall" style="height:300px">
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="section-header">
        <div class="h2">
          IMPACT OF ADVERTISING ON DUBAI
          CONSIDERATION <div class="small">
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">Impact of Advertising on Brand Perception: Dubai ratings (% 8-10) on each pillar using a scale from 1 to 10 by advertisement viewers vs. non-viewers.</span>
            </span>
          </div>
        </div>
        <table class="dtcm-tables table-left-1 text-center table-white-3 table-gray-4 ">
          <thead>
            <tr>
              <th></th>
              <th>ON THE LIST</th>
              <th>ACTIVELY SEEKING</th>
              <th class="text-center">BOOKED</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>OVERALL</td>
              <td>
                <div id="QV-Ad-Overall-OnTheList" objectid="JHfJGz" class="qvobject loading chart-donut-2 chart-donut-2-sm">
                </div>
              </td>
              <td>
                <div id="QV-Ad-Overall-ActivelySeeking" objectid="ExqGpc" class="qvobject loading chart-donut-2 chart-donut-2-sm">
                </div>
              </td>
              <td>
                <div id="QV-Ad-Overall-Booked" objectid="xcWsSG" class="qvobject loading chart-donut-2 chart-donut-2-sm">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                SEEN
                ADVERTISING
              </td>
              <td>
                <div id="QV-Ad-Seen-OnTheList" class="qvobject loading chart-donut-2 chart-donut-2-sm" objectid="EPwcS">
                </div>
              </td>
              <td>
                <div id="QV-Ad-Seen-ActivelySeeking" class="qvobject loading chart-donut-2 chart-donut-2-sm"
                     objectid="gzKjM">
                </div>
              </td>
              <td>
                <div id="QV-Ad-Seen-Booked" class="qvobject loading chart-donut-2 chart-donut-2-sm" objectid="mhwWxm">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                NOT SEEN
                ADVERTISING
              </td>
              <td>
                <div id="QV-Ad-NotSeen-OnTheList" class="qvobject loading chart-donut-2 chart-donut-2-sm"
                     objectid="zAPZQ">
                </div>
              </td>
              <td>
                <div id="QV-Ad-NotSeen-ActivelySeeking" class="qvobject loading chart-donut-2 chart-donut-2-sm"
                     objectid="hKcpRP">
                </div>
              </td>
              <td>
                <div id="QV-Ad-NotSeen-Booked" class="qvobject loading chart-donut-2 chart-donut-2-sm" objectid="dyQNPZQ">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-12">
      <div class="section-header">
        <div class="h2">
          IMPACT OF ADVERTISING ON
          BRAND PERCEPTION <div class="small">
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">IMPACT OF ADVERTISING ON BRAND PERCEPTION</span>
            </span>
          </div>
        </div>
        <div class="qvobject loading dtcm-tables table-left-1 table-white-3 table-gray-4" style="height:445px !important;" id="QV-Ad-BrandImage" objectid="WabbMT">
        </div>

      </div>
    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p><b>Important Notes:</b><br></p>
  <div class="qvobject loading" id="QV-BT-SampleSize" objectid="SanxeP"></div>
  <p>
    - <b>Recall Dubai Advertising <span style="font-size:9px"> (1) </span> :</b> The % of respondents who stated
    that they have been exposed to Ads about Dubai in the past 6 months.<br>
    - <b>Top Channels <span style="font-size:9px"> (2) </span> :</b> The channels through which respondents were
    exposed to Ads about Dubai.<br>
    - <b>Impact of Advertising on Dubai Consideration <span style="font-size:9px"> (3) </span> :</b> Decision
    making funnel by Ad viewers vs. non viewers.<br>
    - <b>Imact of Advertising on Brand Image <span style="font-size:9px"> (4) </span> :</b> Dubai ratings (% 8-10)
    on each pillar using a scale from 1 to 10 by Ad viewers vs. non viewers.
  </p>
</div>
