<style>
  .chart-donut-2-md {
      width: 80px;
      height: 80px;
      margin: 0 auto;
  }
</style>
<div class="overseas-container overseas-capacity">

  <div class="row">
      <div class="col-md-12">
          <div class="section-header firstHeader">
              <div class="h2">
                  NON-STOP SEAT CAPACITY TO DUBAI BY MARKET <div class="small">
                      <div class="tool-tip">
                          (i)
                          <span class="tooltiptext">YOY: Year over Year.</span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="qvobject loading dtcm-tables table-right-1 table-left-2 table-left-3 table-left-3 text-center table-white-3 table-gray-4 dtcm-tb-head-align"
              style="height:500px !important" id="QVsetCap" objectid="XyXVMjt"></div>

      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="section-header">

              <div class="h2">
                  NON-STOP SEAT CAPACITY TO
                  DUBAI BY PLAYERS | % SHARE
              </div>
          </div>

          <div class="row">
              <div class="col-md-6">
                 
                  <div id="TITLE-CY" class="qvobject loading text-center  dtcm-title-chart" objectid="GwEZaMp"></div>
                  <div class="row">
                      <div class="col-4">
                          <p class="text-center">EMIRATES</p>
                          <div class="chart-container">
                              <div id="donut1" class="chart-donut-2 chart-donut-2-md qvobject loading" objectid="LMRJpr"></div>
                          </div>
                      </div>
                      <div class="col-4">
                          <p class="text-center">FLYDUBAI</p>
                          <div class="chart-container">
                              <div id="donut2" class="chart-donut-2 chart-donut-2-md qvobject loading" objectid="YTNavp"></div>
                          </div>
                      </div>
                      <div class="col-4">
                          <p class="text-center">OTHER</p>
                          <div class="chart-container">
                              <div id="donut3" class="chart-donut-2 chart-donut-2-md qvobject loading" objectid="jmqPMm"></div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-6">
                  <div id="TITLE-PY" class="qvobject loading text-center  dtcm-title-chart" objectid="hKjBh"></div>

                  <div class="row">
                      <div class="col-4">
                          <p class="text-center">EMIRATES</p>
                          <div class="chart-container">
                              <div id="donut11" class="chart-donut-2 chart-donut-2-md qvobject loading" objectid="xKZCsR"></div>
                          </div>
                      </div>
                      <div class="col-4">
                          <p class="text-center">FLYDUBAI</p>
                          <div class="chart-container">
                              <div id="donut21" class="chart-donut-2 chart-donut-2-md qvobject loading" objectid="pZdDQrd"></div>
                          </div>
                      </div>
                      <div class="col-4">
                          <p class="text-center">OTHER</p>
                          <div class="chart-container">
                              <div id="donut31" class="chart-donut-2 chart-donut-2-md qvobject loading" objectid="vfAzj"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p>
      <b>Data Source and Caveats:</b>
      <br><b>Seat Capacity to Dubai: </b> OAG*.
      <br><b>OAG: </b> Global Air Travel Intelligence.
  </p>

</div>