<div class="brand-tracker-container brand-tracker-wishlist">
  <div class="row">

    <div class="col-md-12">
      <div class="section-header firstHeader">

        <div class="qvobject loading" id="QV-Title-CY" objectid="umMrW"> </div>
      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box-img dtcm-darkblue-bg">
            <p>
              <img src="../../images/competitors/Dubai.png" class="img-responsive"> DUBAI
            </p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-img dtcm-darkblue-bg">
            <div id="QV-TWL-Dubai-CY-PCT" class="qvobject loading dtcm-gray-2-color" style="height:25px" objectid="jGjtjJR">
            </div>
            <div id="QV-TWL-CY" class="qvobject loading dtcm-gray-2-color" style="height:25px;" objectid="CAXdkJ"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-img dtcm-darkblue-bg">
            <div id="QV-TWL-Dubai-CY-Rank" class="qvobject loading" style="height:25px" objectid="eksAtpS">
            </div>
            <p>RANK</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="section-header"></div>
      <div class="chart-container">
        <div class="qvobject loading chart-bar-2" style="height:700px !important; border-top:1px solid #ebeff6;" id="QV-TWL-TopDest-CY"
             objectid="TCctx">
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="section-header">
        <div class="qvobject loading" id="QV-Title-PY2" objectid="TQHdzC"> </div>
        <div class="row dtcm-clear-bs-padding">
          <div class="col-4">
            <div class="dtcm-box-img dtcm-darkblue-bg">
              <p>
                <img src="../../images/competitors/Dubai.png" class="img-responsive"> DUBAI
              </p>
            </div>
          </div>
          <div class="col-4">
            <div class="dtcm-box-img dtcm-darkblue-bg ">
              <div id="QV-TWL-Dubai-PY-PCT" class="qvobject loading dtcm-gray-2-color" style="height:25px" objectid="mXSSF">
              </div>
              <div id="QV-TWL-PY" class="qvobject loading dtcm-gray-2-color" style="height:25px;" objectid="pxAwgSQ"></div>
            </div>
          </div>
          <div class="col-4">
            <div class="dtcm-box-img dtcm-darkblue-bg">
              <div id="QV-TWL-Dubai-PY-Rank" class="qvobject loading" style="height:25px" objectid="sfjLNk">
              </div>
              <p>RANK</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="section-header"></div>
        <div class="chart-container">
          <div class="qvobject loading chart-bar-2" style="height:700px !important;" id="QV-TWL-TopDest-PY" objectid="Jsrsjye">
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
