<style>
  .qvobject loading {
      height: 35px;
  }

  .chart-donut-2-md {
      width: 80px !important;
      height: 80px !important;
  }

  .chart-donut-2-lg {
      width: 120px !important;
      height: 120px !important;
  }

  .slider-contents>div>div {
      display: block !important;
      float: left;
      width: 100%;
  }
</style>


<div class="tpi-container tpi-external-experince">
  <div class="row">
      <div class="col-md-12">
          <div class="section-header firstHeader"></div>

          <div id="slider1" class="slider" data-content="sliderContent1">
              <div class="prev inactive"><span class="fa fa-angle-left"></span></div>
              <div class="next inactive"><span class="fa fa-angle-right"></span></div>
              <div class="items">
                  <div>
                      <div>SATISFACTION</div>
                      <div>ADVOCACY</div>
                  </div>
              </div>
          </div>

          <div id="sliderContent1" class="slider-contents">
              <div class="items">
                  <div style="width: 345.2px;height:870px">
                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-md qvobject loading" id="QV-exp-ext-sat-unhappy-cy"
                              objectid="RHhGpp"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <h3>UNHAPPY</h3>
                      </div>

                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-md qvobject loading" id="QV-exp-ext-sat-satisfied-cy"
                              objectid="VLUCc"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <h3>MEETING EXPECTATION</h3>
                      </div>

                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-md qvobject loading" id="QV-exp-ext-sat-happy-cy" objectid="PkkRpk"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <h3>HAPPY</h3>
                      </div>

                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-md qvobject loading" id="QV-exp-ext-sat-extremelyhappy-cy"
                              objectid="FNMm"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <h3>EXTREMELY HAPPY</h3>
                      </div>

                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-lg qvobject loading" id="QV-exp-ext-sat-satisfactionscore-cy"
                              objectid="CkHtL"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <div class="h3">
                              NET SATISFACTION SCORE<div class="small">
                                  <div class="tool-tip">
                                      (i)
                                      <span class="tooltiptext">
                                           Net Satisfaction Score details: Satisfaction Score is derived based on difference between (% Happy) & (% Unhappy).
                                      </span>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div class="section-header no-border-top">
                          <div class="h2">
                              HAPPINESS INDEX
                              <div class="tool-tip">
                                  (i)
                                  <span class="tooltiptext">
                                     Happiness Index 1: is relative performance, indexed against selected source market average ‘Net Satisfaction Score’ across all attributes: excluding Overall Satisfaction and Advocacy.
                                     Happiness Index 2: is relative performance, indexed against pillars (e.g. shopping) average ‘Net Satisfaction Score’ across all attributes: excluding Overall Satisfaction and Advocacy.
                                  </span>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 qvobject loading score number-md text-center color-gray" style="height:30px !important;"
                          id="QV-exp-ext-sat-indexscore-cy" objectid="TBrWYk">
                      </div>

                  </div>
                  <div style="width: 345.2px;height:870px">
                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-md qvobject loading" id="QV-exp-ext-sat-Advo1-cy" objectid="PgbVPp"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <h3>DETRACTOR</h3>
                      </div>

                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-md qvobject loading" id="QV-exp-ext-sat-Advo2-cy" objectid="hAHGfXL"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <h3>PASSIVE</h3>
                      </div>

                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-md qvobject loading" id="QV-exp-ext-sat-Advo3-cy" objectid="WEWKj"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <h3> LIKELY PROMOTER</h3>
                      </div>

                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-md qvobject loading" id="QV-exp-ext-sat-Advo4-cy" objectid="hBfmmh"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <h3>PROMOTER SCORE</h3>
                      </div>

                      <div class="chart-container">
                          <div class="chart-donut-2 chart-donut-2-lg qvobject loading" id="QV-exp-ext-sat-Advo5-cy" objectid="CJnvW"></div>
                      </div>
                      <div class="section-header border-bottom">
                          <div class="h3">
                              ACTIVE ADVOCATE
                              <div class="small">
                                  <div class="tool-tip">
                                      (i)
                                      <span class="tooltiptext">
                                          Satisfaction Score [1]: Satisfaction Score is
                                          derived based on the sum of [% Extremely Happy] & [% Happy]
                                      </span>
                                  </div>
                              </div>
                          </div>

                      </div>

                      <div class="section-header no-border-top">
                          <div class="h2">
                              ADVOCACY SCORE
                              <div class="tool-tip">
                                  (i)
                                  <span class="tooltiptext">
                                      Advocacy Score: Advocacy Score is derived based on the sum of (% Active Advocate) & (% Likely Promoter)
                                  </span>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 qvobject loading score number-md text-center color-gray" id="QV-exp-ext-advocacy-promoterscore-cy"
                          objectid="bDQwXx" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
                      </div>
                  </div>
              </div>
          </div>

          <div class="row dtcm-clear-bs-padding">
              <div class="col-4">
                  <div class="dtcm-box-legend dtcm-pink-bg">
                      <p>BELOW 69</p>
                      <p>LOW</p>
                  </div>
              </div>
              <div class="col-4">
                  <div class=" dtcm-box-legend dtcm-gray-bg">
                      <p>70-109</p>
                      <p>NEUTRAL</p>
                  </div>
              </div>
              <div class="col-4">
                  <div class=" dtcm-box-legend dtcm-blue-bg">
                      <p>110+</p>
                      <p>HIGH</p>
                  </div>
              </div>
          </div>

          <div class="section-header"></div>
          <div id="slider2" class="slider" data-content="sliderContent2">
              <div class="prev inactive"><span class="fa fa-angle-left"></span></div>
              <div class="next inactive"><span class="fa fa-angle-right"></span></div>
              <div class="items">
                  <div>
                      <div>
                          NET SATISFACTION SCORE <span class="small">
                              <span class="tool-tip">
                                  (i)
                                  <span class="tooltiptext">
                                      Net Satisfaction Score details: Satisfaction Score is derived based on difference between (% Happy) & (% Unhappy).
                                  </span>
                              </span>
                          </span>
                      </div>
                      <div>HAPPINESS INDEX</div>
                  </div>
              </div>
          </div>

          <div id="sliderContent2" class="slider-contents">
              <div class="items">
                  <div>
                      <div class="col-xs-12 qvobject loading dtcm-tables table-left-1 table-white-2 table-gray-3 table-center-2 table-right-3"
                          style="height:357px !important; text-align:center; margin-bottom:10px;" id="QV-exp-int-nss"
                          objectid="qNxmMQV" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
                      </div>
                  </div>

                  <div>
                      <div class="v-sm qvobject loading pillars table-left-1 dtcm-tables table-right-2 table-gray-3" style="padding: 0px; height:370px !important;"
                           id="QV-exp-int-pillars-overall" objectid="AUVjm" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
                      </div>
                      <div class="v-sm qvobject loading pillars table-left-1 dtcm-tables table-center-2 table-right-3 table-gray-3" id="QV-exp-int-pillars-sm" objectid="tFArv" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6" style="padding: 0px; height:370px !important;">
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">

  <div class="qvobject loading ng-scope" id="QV-exp-ext-datasource-caveat" objectid="MZD">
  </div>
  <p>
      - All variables in this slide are weighted by nationality and month.<br>
      - <u><b>Satisfaction Score <span style="font-size:9px"> (1) </span> :</b></u> Satisfaction Score is derived
      based on the sum of (% Extremely Happy) & (% Happy).<br>
      - <u><b>Satisfaction Index <span style="font-size:9px"> (2) </span> :</b></u> is a relative performance,
      indexed against average 'Satisfaction Score' across all Nationalities.<br>
      - <u><b>Advocacy Score<span style="font-size:9px"> (3) </span> :</b></u> The Advocacy Score is derived based on
      the sum of (% Active Advocate) & (% Likely Promoter).<br>
      - <u><b>Advocacy Index <span style="font-size:9px"> Advocacy Index: Relative performance, indexed against average 'Advocacy Score' across all Nationalities. </span> :</b></u> is a relative performance, indexed
      against average 'Advocacy Score' across all Nationalities.
  </p>
  <div class="qvobject loading ng-scope" id="QV-exp-ext-pillars-hapindx1-caveat" objectid="tvMtkt">
  </div>
  <div class="qvobject loading ng-scope" id="QV-exp-ext-pillars-hapindx2-caveat" objectid="JthTHBb">
  </div>
  <div class="qvobject loading ng-scope" id="QV-exp-ext-pillars-nss-py-caveat" objectid="dPGbhGj">
  </div>
  <p>
      - <u><b>Rating Scale:</b></u> All variables are weighted by nationality and month.<br>
      <span class="red">*</span> Overall Set as default Source Market.<br><br><br><br>
  </p>

</div>
