<div class="tpi-container tpi-journey">
  <div class="row">
      <div class="col-md-12">
          <div class="section-header firstHeader">
              <h2>CONSIDERATION FUNNEL</h2>
          </div>

          <div class="row-group">
              <div class="row">
                  <div class="col-6">
                      <div class="text-center">NOT ON THE LIST</div>
                      <div class="chart-container">
                          <div class="circular-kpi qvobject loading chart-donut-2 chart-donut-2-md" id="QV-p05-01" objectid="njejxmZ"
                              appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
                          </div>
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="text-center">ON THE LIST</div>
                      <div class="chart-container">
                          <div class="circular-kpi qvobject loading chart-donut-2 chart-donut-2-md" id="QV-p05-02" objectid="rmJe"
                              appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-6">
                      <div class="text-center">ACTIVELY PLANNED</div>
                      <div class="chart-container">
                          <div class="circular-kpi qvobject loading chart-donut-2 chart-donut-2-md" id="QV-p05-03" objectid="EPqUb"
                              appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
                          </div>
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="text-center">ALREADY BOOKED</div>
                      <div class="chart-container">
                          <div class="circular-kpi qvobject loading chart-donut-2 chart-donut-2-md" id="QV-p05-04" objectid="RYSFQJv"
                              appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="section-header">
              <h2>MEDIA LANDSCAPE <span class="tool-tip">(i)
                      <span class="tooltiptext ">M: Monthly W: Weekly</span>
                  </span></h2>
          </div>
          <div class="panel-body qvobject loading dtcm-tables table-equal table-white-2 table-left-1 table-left-2" style="height: 590px !important;"
              id="QV-p05-05" objectid="ZUsqFuy" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="section-header">
              <h2>TRAVEL SEASON</h2>
          </div>
          <table class="dtcm-tables table-equal table-left-1 table-left-2 table-no-border-top mt-4">
              <tbody>
                  <tr>
                      <td>KEY TRAVEL PERIODS</td>
                      <td class="color-blue-light">
                          <div class="col-xs-12 qvobject loading" id="QV-p05-07-01" objectid="rGGmmx" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </td>
                  </tr>
                  <tr>
                      <td>SCHOOL YEAR TERMS</td>
                      <td class="color-blue-light">
                          <div class="col-xs-12 qvobject loading" id="QV-p05-07-02" objectid="LkejQLd" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                          <div class="col-xs-12 qvobject loading" id="QV-p05-07-03" objectid="PxnJ" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>

                          <div class="col-xs-12 qvobject loading" id="QV-p05-07-04" objectid="EZSFz" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
                          </div>

                          <div class="col-xs-12 qvobject loading" id="QV-p05-07-05" objectid="dHhNzqJ" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </td>
                  </tr>
                  <tr>
                      <td>VACATION DAY</td>
                      <td class="color-blue-light">
                          <div class="col-xs-12 qvobject loading" id="QV-p05-07-06" objectid="LQBpRH" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <div class="section-header">
              <h2>BOOKING METHOD (%) - TOP (4)</h2>
          </div>

          <div class="row-group">
              <div class="row">
                  <div class="col-12 mt-4">
                      <div class="text-center">HOTEL BOOKING</div>
                      <div class="chart-container">
                          <div id="QV-TB1" class="chart-table qvobject loading" objectid="ZXJuPE" style="height:200px;"></div>
                      </div>
                  </div>
                  <div class="col-12 mt-4">
                      <div class="text-center">AIR TICKET</div>
                      <div class="chart-container">
                          <div id="QV-TB2" class="chart-table qvobject loading" objectid="FaPhD" style="height:200px;"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-12">
          <div class="section-header">
              <h2>
                  SEASONALITY OF TRAVEL TO DUBAI
              </h2>
          </div>
          <div class="chart-container">
              <div class="panel-body text-center qvobject loading chart-bar-3" style="height:255px !important;" id="QV-p05-06"
                  objectid="kSXbjj" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6">
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="section-header">
              <h2>TRAVEL TRADE MARKET</h2>
          </div>
          <div class="col-xs-12 qvobject loading dtcm-tables table-white-1 table-center-1 table-border-1" style="height:380px !important; padding-top: 10px"
              id="QV-p05-09-01" objectid="UpeKjsQ">
          </div>
      </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">

  <b>Data Source and Caveats:</b><br>
  <div class="qvobject loading ng-scope" id="QV-journey-marketing-funnel-caveat" objectid="pnxKXkP" style="height:40px !important;">
  </div>
  <div id="journey_media_landscape_caveat" class="hide_object"><b><u>Media Landscape:</u></b> Consumer Top Channel,
      DTCM Communications database – various sources, including Kantar, TGI and Havas. Updated annually. (W)=Weekly,
      (M)=Monthly.</div>
  <div id="journey_travel_seasons_caveat" class="hide_object"><b><u>Travel Season:</u></b> Desk research, Key travel
      Periods, school year Term and yearly vacation days. </div>
  <p style="margin-bottom:0;">
      <b><u>Peak Travel to Dubai:</u></b> Distribution of annual visitors to Dubai based on previous year’s
      international overnight visitor volumes.
  </p>
  <div id="journey_booking_method_caveat" class="hide_object"><b><u>Booking methods:</u></b> DIVS 2016. Updated
      annually</div>
  <p>
      <b><u>Travel Trade Market:</u></b> Top IATA Accredited Travel Agents (2016) for all markets except US. US
      Travel agent list Source: Travel Weekly (2014-2016 Power List).
      <br><span class="red">*</span> Australia Set as default Source Market.
  </p>

</div>