<div class="vs-container vs-purpose-of-visit">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header">
        <h2>
          PURPOSE OF VISIT <small>
            <div class="tool-tip">
              (i)
              <span class="tooltiptext">
                VFR: Visiting Friends and Relatives.
                Others: Job search, short term education, cruise stop & medical.
              </span>
            </div>
          </small>
        </h2>
      </div>
      <div class="chart-container chart-container2">
        <ul class="legends d-flex justify-content-start">
          <li><span class="pink"></span>CURRENT YEAR</li>
          <li><span class="blue"></span>PREVIOUS YEAR</li>
        </ul>
        <div class="qvobject loading hide-header chart-bar" style="padding: 0px; height:300px !important;" id="QV-General"
             objectid="VtpfKmU">
        </div>

      </div>
    </div>

    <div class="col-md-12">
      <div class="section-header"></div>

      <div id="slider1" class="slider" data-content="sliderContent2">
        <div class="prev inactive"><span class="fa fa-angle-left"></span></div>
        <div class="next inactive"><span class="fa fa-angle-right"></span></div>
        <div class="items">
          <div>
            <div>TOTAL</div>
            <div>Leisure</div>
            <div>Business</div>
            <div>VFR</div>
            <div>Others</div>
          </div>
        </div>
      </div>

      <div id="sliderContent2" class="slider-contents">
        <div class="items">
          <div>
            <div class="col-md-12">
              <div class="section-header">
                <h2>PARTY SIZE</h2>

              </div>
              <div class="qvobject loading dtcm-tables table-gray-3 table-white-2 table-left-1 text-center table-equal-2"
                   style="padding: 0px; height:185px !important;" id="QV-Total-Party-Size" objectid="yYUsNn">
              </div>
            </div>

            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">
                  PARTY MAKE-UP <div class="small">
                    <div class="tool-tip">
                      (i)
                      <span class="tooltiptext">Party Make-Up: Party make up is based on response proportions as one respondent has the option of providing multiple responses.</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-left-1 text-center table-equal-2" style="padding: 0px; height:210px !important;"
                   id="QV-Total-Party-Make-Up" objectid="jKwAX">
              </div>
            </div>

            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">
                  SHARE BY HOTEL TIER <div class="small">
                    <div class="tool-tip">
                      (i)
                      <span class="tooltiptext">SHARE BY HOTEL TIER</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-left-1 text-center table-equal-2" style="padding: 0px; height:200px !important;"
                   id="QV-Total-Accommodation" objectid="PrUskZ">
              </div>
            </div>
            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">LENGTH OF STAY</div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-white-2 table-left-1 text-center table-equal-2"
                   style="padding: 0px; height:200px !important;" id="QV-Total-Length-Of-Stay" objectid="ppkmPzx">
              </div>
            </div>

            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">
                  REPEAT VISITORS IN 12 MONTHS <div class="small">
                    <div class="tool-tip">
                      (i)
                      <span class="tooltiptext">Repeat Visitor in 12 Months: Number of respondents that claimed that they visited Dubai in the past 12 months.</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-white-2 table-left-1 text-center table-equal-2"
                   style="padding: 0px; height:175px !important;" id="QV-Total-Repeat-Visitors" objectid="cLCqvVE">
              </div>
            </div>
          </div>
          <div>
            <div class="col-md-12">
              <div class="section-header">
                <h2>PARTY SIZE</h2>

              </div>
              <div class="qvobject loading dtcm-tables table-gray-3 table-white-2 table-left-1 text-center table-equal-2"
                   style="padding: 0px; height:185px !important;" id="QV-Leisure-Party-Size" objectid="kHfpLat">
              </div>
            </div>
            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">
                  PARTY MAKE-UP <div class="small">
                    <div class="tool-tip">
                      (i)
                      <span class="tooltiptext">PARTY MAKE-UP</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-left-1 text-center table-equal-2" style="padding: 0px; height:210px !important;"
                   id="QV-Leisure-Party-Make-Up" objectid="PJJBp">
              </div>
            </div>
            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">
                  SHARE BY HOTEL TIER <div class="small">
                    <div class="tool-tip">
                      (i)
                      <span class="tooltiptext">SHARE BY HOTEL TIER</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-left-1 text-center table-equal-2" style="padding: 0px; height:200px !important;"
                   id="QV-Leisure-Accommodation" objectid="Tzkhd">
              </div>
            </div>
            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">LENGTH OF STAY</div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-white-2 table-left-1 text-center table-equal-2"
                   style="padding: 0px; height:200px !important;" id="QV-Leisure-Length-Of-Stay" objectid="CBjWtY">
              </div>
            </div>
            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">
                  REPEAT VISITORS IN 12 MONTHS <div class="small">
                    <div class="tool-tip">
                      (i)
                      <span class="tooltiptext">Nights in Dubai: Difference between days and nights in Dubai is due to the fact that respondents are allowed to claim 1 night even if they have left before midnight</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-white-2 table-left-1 text-center table-equal-2"
                   style="padding: 0px; height:175px !important;" id="QV-Leisure-Repeat-Visitors" objectid="CHjNUr">
              </div>
            </div>
          </div>
          <div>
            <div class="col-md-12">
              <div class="section-header">
                <h2>PARTY SIZE</h2>

              </div>
              <div class="qvobject loading dtcm-tables table-gray-3 table-white-2 table-left-1 text-center table-equal-2"
                   style="padding: 0px; height:185px !important;" id="QV-Business-Party-Size" objectid="jNpFFxn">
              </div>
            </div>

            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">
                  PARTY MAKE-UP <div class="small">
                    <div class="tool-tip">
                      (i)
                      <span class="tooltiptext">PARTY MAKE-UP</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-left-1 text-center table-equal-2" style="padding: 0px; height:210px !important;"
                   id="QV-Business-Party-Make-Up" objectid="YefGV">
              </div>
            </div>
            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">
                  SHARE BY HOTEL TIER <div class="small">
                    <div class="tool-tip">
                      (i)
                      <span class="tooltiptext">SHARE BY HOTEL TIER</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-left-1 text-center table-equal-2" style="padding: 0px; height:200px !important;"
                   id="QV-Business-Accommodation" objectid="WKfDWL">
              </div>
            </div>
            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">LENGTH OF STAY</div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-white-2 table-left-1 text-center table-equal-2"
                   style="padding: 0px; height:200px !important;" id="QV-Business-Length-Of-Stay" objectid="NuMcn">
              </div>
            </div>


            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">
                  REPEAT VISITORS IN 12 MONTHS <div class="small">
                    <div class="tool-tip">
                      (i)
                      <span class="tooltiptext">Repeat Visitor in 12 Months: Number of respondents that claimed that they visited Dubai in the past 12 months.</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-white-2 table-left-1 text-center table-equal-2"
                   style="padding: 0px; height:175px !important;" id="QV-Business-Repeat-Visitors"
                   objectid="ujyv">
              </div>
            </div>
          </div>
          <div>
            <div class="col-md-12">
              <div class="section-header">
                <h2>PARTY SIZE</h2>

              </div>
              <div class="qvobject loading dtcm-tables table-gray-3 table-white-2 table-left-1 text-center table-equal-2"
                   style="padding: 0px; height:185px !important;" id="QV-VFR-Party-Size" objectid="dGmYeN">
              </div>
            </div>

            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">
                  PARTY MAKE-UP <div class="small">
                    <div class="tool-tip">
                      (i)
                      <span class="tooltiptext">PARTY MAKE-UP</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-left-1 text-center table-equal-2" style="padding: 0px; height:210px !important;"
                   id="QV-VFR-Party-Make-Up" objectid="VuYXK">
              </div>
            </div>
            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">
                  SHARE BY HOTEL TIER <div class="small">
                    <div class="tool-tip">
                      (i)
                      <span class="tooltiptext">SHARE BY HOTEL TIER</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-left-1 text-center table-equal-2" style="padding: 0px; height:200px !important;"
                   id="QV-VFR-Accommodation" objectid="GnUHwTW">
              </div>
            </div>
            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">LENGTH OF STAY</div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-white-2 table-left-1 text-center table-equal-2"
                   style="padding: 0px; height:200px !important;" id="QV-VFR-Length-Of-Stay" objectid="WVgMawF">
              </div>
            </div>


            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">
                  REPEAT VISITORS IN 12 MONTHS <div class="small">
                    <div class="tool-tip">
                      (i)
                      <span class="tooltiptext">Repeat Visitor in 12 Months: Number of respondents that claimed that they visited Dubai in the past 12 months.</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-white-2 table-left-1 text-center table-equal-2"
                   style="padding: 0px; height:175px !important;" id="QV-VFR-Repeat-Visitors" objectid="CbZPPkU">
              </div>
            </div>
          </div>

          <div>
            <div class="col-md-12">
              <div class="section-header">
                <h2>PARTY SIZE</h2>

              </div>
              <div class="qvobject loading dtcm-tables table-gray-3 table-white-2 table-left-1 text-center table-equal-2"
                   style="padding: 0px; height:185px !important;" id="QV-Others-Party-Size" objectid="DPZqmk">
              </div>
            </div>

            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">
                  PARTY MAKE-UP <div class="small">
                    <div class="tool-tip">
                      (i)
                      <span class="tooltiptext">PARTY MAKE-UP</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-left-1 text-center table-equal-2" style="padding: 0px; height:210px !important;"
                   id="QV-Others-Party-Make-Up" objectid="PKJLEV">
              </div>
            </div>
            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">
                  SHARE BY HOTEL TIER <div class="small">
                    <div class="tool-tip">
                      (i)
                      <span class="tooltiptext">SHARE BY HOTEL TIER</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-left-1 text-center table-equal-2" style="padding: 0px; height:200px !important;"
                   id="QV-Others-Accommodation" objectid="cTmy">
              </div>
            </div>
            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">LENGTH OF STAY</div>

              </div>

              <div class="qvobject loading dtcm-tables  table-gray-3 table-white-2 table-left-1 text-center table-equal-2"
                   style="padding: 0px; height:200px !important;" id="QV-Others-Length-Of-Stay" objectid="PRXArT">
              </div>
            </div>


            <div class="col-md-12">
              <div class="section-header">
                <div class="h2">
                  REPEAT VISITORS IN 12 MONTHS <div class="small">
                    <div class="tool-tip">
                      (i)
                      <span class="tooltiptext">Repeat Visitor in 12 Months: Number of respondents that claimed that they visited Dubai in the past 12 months.</span>
                    </div>
                  </div>
                </div>

              </div>

              <div class="qvobject loading dtcm-tables table-gray-3 table-white-2 table-left-1 text-center table-equal-2"
                   style="padding: 0px; height:175px !important;" id="QV-Others-Repeat-Visitors" objectid="dAZtMJ">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p><b>Important Notes:</b></p>
  <div class="qvobject loading" id="QV-segments-samplesize" objectid="VguvP"></div>
  <p>
    - All variables are weighted by nationality and month
  </p>
</div>
