/* start with chart area */

.chart-area {
    width: 100%;
    height: 350px;
    margin: 0 auto;
    position: relative;
    .axis-x .domain,
    .axis-y .domain {
        display: none;
    }
    .axis-x .tick {
        line {
            stroke: #fff;
            opacity: 0.3;
        }
        text {
            font-family: "DINProRegular";
            fill: #fff;
            font-size: $font-size7;
            text-transform: uppercase;
        }
    }
    .axis-y .tick text {
        font-family: "DINProRegular";
        fill: #fff;
        font-size: $font-size7;
        text-transform: uppercase;
    }
    .axis-x .tick.active {
        line {
            opacity: 1;
        }
        text {
            fill: red;
        }
    }
    .line {
        fill: none;
        stroke: #fff;
    }
    .cursor {
        stroke: #fff;
        stroke-width: 3;
    }
    .cursor-text {
        font-family: "DINProRegular";
        fill: #fff;
        font-size: $font-size7;
        text-transform: uppercase;
    }
    .tooltip {
        position: absolute;
        font-family: "DINProRegular";
        color: #fff;
        font-size: 12px;
        line-height: 12px;
        padding: 5px 10px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        pointer-events: none;
        bottom: 60px;
    }
}

.chart-bar {
    width: 100%;
    height: 300px;
    .label0 {
        font-family: "DINProRegular";
        fill: #fff;
        font-size: $font-size5;
        text-anchor: middle;
    }
    .label1,
    .label2 {
        font-family: "DINProRegular";
        fill: #fff;
        font-size: $font-size7;
        text-anchor: middle;
    }
}

.chart-bar-2 {
    width: 100%;
    height: 510px;
    // overflow: hidden !important;
    display: inline-block;
    .label0 {
        font-family: "DINProRegular";
        fill: #fff;
        font-size: $font-size6;
        text-anchor: start;
    }
    .label1,
    .label2 {
        font-family: "DINProRegular";
        fill: #fff;
        font-size: $font-size7;
        // text-anchor: start;
    }
}

.chart-bar-3 {
    width: 100%;
    height: 300px;
    .label0 {
        font-family: "DINProRegular";
        fill: #ccc;
        font-size: $font-size5;
        text-anchor: middle;
    }
    .label1 {
        font-family: "DINProRegular";
        fill: #ccc;
        font-size: $font-size5;
        text-anchor: middle;
    }
    .axis-y {
        .domain,
        .tick line {
            stroke: #ccc;
            opacity: 0.3;
        }
    }
    .axis-x {
        stroke: #ccc;
        opacity: 0.3;
    }
    .axis-y .tick {
        &:first-of-type line {
            display: none;
        }
        text {
            font-family: "DINProRegular";
            fill: #ccc;
            font-size: $font-size7;
        }
    }
}

.chart-donut {
    width: 100% !important;
    margin: 0 auto !important;
    .arc path {
        stroke: #222df3;
        stroke-width: 3;
        fill: none;
    }
    .end ellipse {
        stroke: #233c6d;
        stroke-width: 3;
    }
    .inner {
        stroke: #221F42;
        stroke-width: 2;
        fill: #221F42;
    }
    text {
        font-family: "DINProRegular";
        fill: #fff;
        font-size: $font-size4;
        text-anchor: middle;
        tspan {
            font-size: $font-size7;
        }
    }
}

.don-bor {
    position: relative;
    hr {
        color: white;
        position: absolute;
        right: 50%;
        height: 90%;
        border: 0.5px solid #d1d1d1;
    }
}

.don-bor2 {
    position: relative;
    hr {
        color: white;
        position: absolute;
        right: 50%;
        height: 50%;
        border: 0.5px solid #d1d1d1;
    }
}

.chart-donut-2 {
    width: 40px;
    height: 40px;
    .inner {
        fill: #222d5e !important;
    }
    text {
        font-family: "DINProBold";
        fill: #fff;
        font-size: $font-size6;
        // text-anchor: middle;
        tspan {
            font-size: 8px;
        }
    }
}

.chart-donut-2-sm {
    width: 60px !important;
    height: 60px !important;
    margin: 0 auto;
    text {
        font-size: $font-size4 !important;
        tspan {
            font-size: 12px !important;
        }
    }
}

.chart-donut-2-md {
    width: 80px !important;
    height: 80px !important;
    margin: 0 auto;
    text {
        font-size: $font-size4 !important;
        tspan {
            font-size: 12px !important;
        }
    }
}

.chart-donut-2-lg {
    width: 120px !important;
    height: 120px !important;
    margin: 0 auto !important;
    text {
        font-size: $font-size3 !important;
        tspan {
            font-size: $font-size6 !important;
        }
    }
}

.chart-stacked-bar-2 {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    .label0,
    .label1 {
        font-family: "DINProRegular";
        fill: #fff;
        font-size: $font-size6;
        text-transform: uppercase;
        opacity: 0.8;
    }
}

.chart-table {
    width: 100%;
    position: relative;
    >div {
        position: absolute;
        overflow: hidden;
        >div {
            font-family: "DINProRegular";
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
            &.small {
                font-size: 10px;
            }
        }
    }
}

.dtcm-chart-details {
    height: 35px !important;
    .chart-details-1 {
        height: 25px !important;
        .ellips-text {
            span {
                color: white !important;
                font-size: 25px !important;
            }
        }
        .qv-media-tool-html {
            font {
                color: white !important;
                font-size: 25px !important;
            }
        }
    }
    .chart-details-2 {
        height: 20px !important;
        .media-tool-scrollbar {
            .qv-media-tool-html {
                color: white !important;
                font-size: 12px !important;
                div {
                    color: white !important;
                    font-size: 12px !important;
                }
            }
        }
    }
}

.dtcm-title-chart {
    font-size: 20px;
    border-bottom: 1px solid #fff;
    width: 120px;
    margin: 10px auto 15px;
}

@media (max-width:500px) {
    .chart-donut {
        width: 150px;
        text {
            font-family: "DINProRegular";
            fill: #fff;
            font-size: 16px;
            text-anchor: middle;
            tspan {
                font-size: 12px;
            }
        }
    }
}
