@font-face {
    font-family: DINProRegular;
    src: url("../fonts/DINPro-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: DINProBold;
    src: url("../fonts/DINPro-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
