// Page elements.
html,
body {
    font-weight: normal !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: "DINProRegular";
    color: #fff;
    font-size: 15px !important;
    height: 100%;
    text-transform: uppercase;
    p {
        text-transform: none;
        margin-bottom: 0;
    }
}

.loading {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    &:after {
        content: " ";
        position: absolute ;
        left: 0 ;
        right: 0 ;
        bottom: 0 ;
        top: 0 ;
        margin: auto ;
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 3px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      }
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

.tool-tip {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border-radius: 4px;
    line-height: 2;
    color: #F8C1D9;
    font-size: 14px;
    text-transform: lowercase !important;
    cursor: pointer;
    .tooltiptext {
        display: none;
        visibility: hidden;
        padding: 5px;
        line-height: 1.4;
        width: 200px;
        font-size: 12px;
        background-color: rgba(0, 0, 0, 1);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: absolute;
        z-index: 1000;
        top: 35px;
        left: -100px;
        margin-left: -62px;
        opacity: 0;
        transition: opacity 0.3s;
        &::before {
            content: "";
            position: absolute;
            top: -4px;
            left: 50%;
            margin-left: -2.5px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid rgba(0, 0, 0, 1);
        }
    }
    &:hover {
        .tooltiptext {
            visibility: visible;
            display: block;
            opacity: 1;
        }
    }

    &.tool-tip-top{

        .tooltiptext{
            top: -190px;
            &::before{
                border-top: 5px solid rgba(0, 0, 0, 1) !important;
                border-bottom: 0 !important;
                top: 186px;
            }
        }

    }
}

.hr {
    border: 0;
    border-top: 1px solid #fff;
    margin-bottom: 30px;
}

.box-number {
    background-color: #25272c;
    padding: 8px;
    margin: 10px auto 10px;
    width: 110px;
    text-align: center;
    border-radius: 5px;
    .ellips-text {
        span {
            color: #ffffff;
        }
    }
}

.medium-font {
    font-size: 18px;
}

// Tables Style.
table {
    background-color: transparent !important;
    margin: 0px;
    width: 100%;
    thead {
        tr {
            th {
                font-weight: normal;
                border: 0 !important;
                padding: 6px 3px 7px 3px !important;
                font-size: 14px;
            }
        }
    }
    tr {
        td {
            font-size: 14px !important;
            padding: 6px 3px 7px 3px !important;
            img {
                width: 24px !important;
                height: 24px !important;
                border-radius: 100% !important;
                border: 1px solid #aaa !important;
            }
        }
    }
}

// Add borders to table.
.dtcm-tables {
    tr {
        td {
            border-top: 1px solid white !important;
        }
    }
}

.table-no-border-top {
    tr:first-child td {
        border-top: none !important;
    }
}
.no-border-top {
    border-top: none !important;
}

.dtcm-tb-head-align {
    tr {
        th:nth-child(2) {
            text-align: left;
        }
        th:nth-child(3) {
            text-align: center !important;
        }
    }
}

.flags-table tr td {
    padding: 2px 3px 4px 3px !important
}

// this class will make the first column white.
.table-white-1 td:nth-child(1) {
    color: white !important;
}

// this class will make the second column white.
.table-white-2 td:nth-child(2) {
    color: white !important;
}

// this class will make the third column white.
.table-white-3 td:nth-child(3) {
    color: white !important;
}

// this class will make the four column white.
.table-white-3 td:nth-child(4) {
    color: white !important;
}

// this class will make the five column white.
.table-white-3 td:nth-child(5) {
    color: white !important;
}

// this class will make the first column gray.
.table-gray-1 td:nth-child(1) {
    color: $color-gray-2 !important;
}

// this class will make the second column gray.
.table-gray-2 td:nth-child(2) {
    color: $color-gray-2 !important;
}

// this class will make the third column gray.
.table-gray-3 td:nth-child(3) {
    color: $color-gray-2 !important;
}

// this class will make the four column gray.
.table-gray-3 td:nth-child(4) {
    color: $color-gray-2 !important;
}

// this class will make the five column gray.
.table-gray-3 td:nth-child(5) {
    color: $color-gray-2 !important;
}
// this class will make the tow column gray.
.table-blue-2 td:nth-child(2) {
    font {
        color: $color-blue-2 !important;
    }

}
.table-right-1 {
    tr td:nth-child(1),
    tr th:nth-child(1) {
        text-align: right !important;
    }
}

.table-right-2 {
    tr td:nth-child(2),
    tr th:nth-child(2) {
        text-align: right !important;
    }
}

.table-right-3 {
    tr td:nth-child(3),
    tr th:nth-child(3) {
        text-align: right !important;
    }
}

.table-right-4 {
    tr td:nth-child(4),
    tr th:nth-child(4) {
        text-align: right !important;
    }
}

.table-right-5 {
    tr td:nth-child(5),
    tr th:nth-child(5) {
        text-align: right !important;
    }
}

.table-left-1 {
    tr td:nth-child(1),
    tr th:nth-child(1) {
        text-align: left !important;
    }
}

.table-left-2 {
    tr td:nth-child(2),
    tr th:nth-child(2) {
        text-align: left !important;
    }
}

.table-left-3 {
    tr td:nth-child(3),
    tr th:nth-child(3) {
        text-align: left;
    }
}

.table-left-4 {
    tr td:nth-child(4),
    tr th:nth-child(4) {
        text-align: left !important;
    }
}

.table-left-5 {
    tr td:nth-child(5),
    tr th:nth-child(5) {
        text-align: left !important;
    }
}

.table-center-1 {
    tr td:nth-child(1),
    tr th:nth-child(1) {
        text-align: center !important;
    }
}

.table-center-2 {
    tr td:nth-child(2),
    tr th:nth-child(2) {
        text-align: center !important;
    }
}

.table-center-3 {
    tr td:nth-child(3),
    tr th:nth-child(3) {
        text-align: center !important;
    }
}

.table-center-4 {
    tr td:nth-child(4),
    tr th:nth-child(4) {
        text-align: center !important;
    }
}

.table-equal {
    tr {
        th:first-child,
        td:first-child {
            width: 50%
        }
        th:last-child,
        td:last-child {
            width: 50%;
        }
    }
}

.table-equal-2 {
    tr {
        th:first-child,
        td:first-child {
            width: 50%;
        }
        th:nth-child(2),
        td:nth-child(2) {
            width: 25%;
        }
        th:last-child,
        td:last-child {
            width: 25%;
        }
    }
}
.table-right-flex-4 {
    tr td:nth-child(4),
    tr th:nth-child(4) {
        display: flex !important;
        justify-content: flex-end !important;
    }
}

.table-break-word {
    tr {
        th:first-child,
        td:first-child {
            word-break: break-word !important;
        }
    }
}

.table-border-1 {
    tr {
        td:first-child,
        th:first-child {
            border-right: 1px solid #ffffff !important;
        }
    }
}

.table-border-2 {
    tr {
        &:not(:first-child) {
            td {
                border-right: 1px solid #ffffff !important;
                &:last-child {
                    border-right: 0px;
                }
                &:last-child {
                    border-right: unset !important;
                }
            }
        }
    }
}

// text-decoration
.dtcm-text-decoration {
    text-decoration: underline;
}

// Boxes Style.
.dtcm-clear-bs-padding {
    &.row {
        margin-right: -5px;
        margin-left: -5px;
    }
    &>div {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.dtcm-box {
    margin: 20px 0;
    border-radius: 6px;
    text-align: center;
    padding: 5px 0px 7px 0px;
    height: 61px;
    .ellips-text {
        margin: 0;
        font-size: 22px !important;
    }
    font {
        font-size: 12px !important;
        vertical-align: middle !important;
        white-space: nowrap !important;
        text-transform: uppercase !important;
        position: absolute;
        right: 40%;
        top: 1px
    }
    p {
        font-size: 12px !important;
        vertical-align: middle !important;
        white-space: nowrap !important;
        text-transform: uppercase !important;
    }
    .media-tool-scrollbar {
        .qv-media-tool-html {
            div[dir="auto"] {
                font-size: 12px !important;
                vertical-align: middle !important;
                white-space: nowrap !important;
                text-transform: uppercase !important;
            }
        }
    }
    .lui-icon--triangle-bottom {
        position: absolute !important;
        right: 3px !important;
        top: -6px !important;
        &::before {
            color: $color1 !important;
            font-size: $font-size6 !important;
        }
    }
    .lui-icon--triangle-top {
        position: absolute !important;
        right: 3px !important;
        top: -6px !important;
        &::before {
            color: $color12 !important;
            font-size: $font-size6 !important;
        }
    }
    .tool-tip {
        position: absolute;
        top: 49px;
        right: 30px;
        z-index: 100;
    }
}

.dtcm-box-img {
    margin: 20px 0;
    border-radius: 6px;
    text-align: center;
    padding: 5px 0px 7px 0px;
    height: 48px;
    .ellips-text {
        margin: 0;
        font-size: 22px !important;
        color: #ffffff;
    }
    font {
        font-size: 12px !important;
        vertical-align: middle !important;
        white-space: nowrap !important;
        text-transform: uppercase !important;
        position: absolute;
        right: 40%;
        top: 1px;
        color: #fff;
    }
    p {
        font-size: 12px !important;
        vertical-align: middle !important;
        white-space: nowrap !important;
        text-transform: uppercase !important;
    }
    >p:first-child {
        font-size: 20px !important;
        vertical-align: middle !important;
        white-space: nowrap !important;
        text-transform: uppercase !important;
        padding-top: 2px !important;
        .img-responsive {
            width: 24px;
            height: 24px;
            border-radius: 100%;
            border: 1px solid #aaa;
        }
    }
}

.dtcm-box-legend {
    margin: 20px 0;
    border-radius: 6px;
    text-align: center;
    padding: 5px 0px 7px 0px;
    p {
        margin: 0;
        font-size: 20px !important;
        &:nth-of-type(2) {
            font-size: 12px !important;
            vertical-align: middle !important;
            white-space: nowrap !important;
            text-transform: uppercase !important;
        }
    }
}

.dtcm-box-spend {
    background-color: $color-darkblue;
    margin: 7px 0px;
    text-align: center;
    border-radius: 8px;
    >div:nth-child(1) {
        font-size: 25px;
        padding: 10px 0px 0px 0px;
        .ellips-text {
            span {
                color: #ffffff !important;
            }
        }
    }
    >div:nth-child(2) {
        font-size: 20px;
        padding: 5px 0px 0px 0px;
        .ellips-text {
            span {
                color: #ffffff !important;
            }
        }
    }
    >div:nth-child(3) {
        padding-bottom: 10px;
    }
}

.dtcm-box-icons {
    margin: 20px 0;
    text-align: center;
    padding: 0px 0px 0px 0px;
    height: 42px;
    border-radius: 8px;
    .floating-box-period,
    .floating-box-hotel,
    .floating-box-room {
        .qv-media-tool-html {
            div[dir="auto"] {
            text-align: center !important;
            }
        }

        font,span {
        font-size: 16px !important;
        vertical-align: top !important;
        white-space: nowrap !important;
        text-transform: uppercase !important;
        color: #fff !important;
        font-weight: 500 !important;
        line-height: 25px !important;
         }
    }


    p {
        font-size: 10px !important;
        vertical-align: top !important;
        white-space: nowrap !important;
        text-transform: uppercase !important;
        line-height: 0 !important;
    }

    span {
        position: relative;
        img {
            max-width: 16px;
            height: 14px;
            position: absolute;
            left: -45px;
            top: 8px;
            z-index: 9999;
        }
    }
}

// Details Block style.
.block-element {
    margin: 10px 0px 20px 0px;
    >div {
        &:nth-of-type(1) {
            >div {
                &:nth-of-type(1) {
                    .qv-interactive {
                        >div {
                            &:first-of-type {
                                position: absolute;
                                right: 0;
                            }
                        }
                    }
                    padding-right: 0 !important;
                    span {
                        &::after {
                            content: "|" !important;
                            font-size: 8pt;
                            left: 0px;
                            position: relative;
                            top: 0px;
                            bottom: 0px;
                        }
                        font-size: 25pt !important;
                        position: relative;
                        bottom: 0px;
                        color: white !important;
                        font-weight: normal;
                        right: 0px;
                    }
                    b {
                        >font {
                            &::after {
                                content: '|' !important;
                                font-size: 8pt;
                                position: relative;
                                left: 2px;
                            }
                            font-size: 25pt !important;
                            position: relative;
                            bottom: 3px;
                            color: white !important;
                            font-weight: normal;
                        }
                    }
                    font {
                        >font {
                            font-size: 25pt !important;
                            position: relative;
                            bottom: 3px;
                            color: white !important;
                            font-weight: normal;
                            &::after {
                                content: '|' !important;
                                font-size: 8pt;
                                position: relative;
                                left: 2px;
                            }
                        }
                    }
                }
                &:nth-of-type(2) {
                    padding-left: 0 !important;
                    * {
                        text-align: left !important;
                    }
                }
            }
        }
        >div {
            &:nth-of-type(2) {
                span {
                    top: 7px;
                    position: relative;
                    font-size: 20px !important;
                    &.tool-tip {
                        font-size: 13px !important;
                        top: -5px;
                        position: absolute;
                        left: 22px;
                        .tooltiptext {
                            font-size: 12px !important;
                        }
                    }
                }
                b {
                    >font {
                        top: 12px;
                        position: relative;
                        font-size: 20px !important;
                    }
                }
                font {
                    >font {
                        top: 12px;
                        position: relative;
                        font-size: 20px !important;
                    }
                }
            }
        }
        &:nth-of-type(2) {
            div {
                font-size: 9pt !important;
                padding: 0;
                &:nth-of-type(1) {
                    &::after {
                        content: '|';
                        position: relative;
                        left: 1px;
                        font-size: 8pt;
                    }
                }
                &:nth-of-type(2) {
                    position: relative;
                    left: 5px;
                }
            }
        }
    }
}
