// Qlik Elements.
.qv-object * {
    font-family: 'DINProRegular', sans-serif;
}

.qv-object .lui-icon,
.qv-object .lui-caret,
.qv-object .lui-checkbox__check {
    font-family: "LUI icons" !important;
}

.qv-object .qv-object-header,
.qv-object .qv-object-footnote {
    display: none !important;
}

// Header.
.navbar {
    padding: 0px;
    .navbar-brand {
        background-color: $color-purple;
        width: 40px;
        height: 40px;
        border-radius: 50% 50% 50% 0;
        padding: 10;
        margin: 10px 0px;
        text-align: center;
        cursor: pointer;
        >span {
            font-size: 24px;
            margin-top: 5px;
        }
    }
}

.navbar1 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.navbar2 {
    width: 100%;
    display: none;
}

.filter {
    margin: 10px 0px;
    .color-gray {
        background: $color-gradient;
        padding: 5px 15px;
        color: $color9 !important;
        border: none;
        border-radius: 10px
    }
    .color-purpual {
        width: 100%;
        background: $color4;
        padding: 7px 15px;
        color: $color5;
        border: none;
    }
    >.clear {
       border-radius:  0px 0px 0px 45px;
    }
    >.ok {
        border-radius: 0px 45px 0px 0px;
    }
}

.border-curly {
    border-radius: 0px 20px 0px 20px !important;
}

.styled-select {
    background: $color-gradient !important;
    padding: 5px 15px !important;
    color: $color9 !important;
    border: none !important;
    border-radius: 10px !important;
}

ul .button-reset:nth-last-child(1) {
    width: 48%;
    display: inline-block;
    margin-left: 5px;
}

ul .button-reset:nth-last-child(2) {
    width: 49%;
    display: inline-block;
}

// Heading.
.firstHeader {
    margin-top: 0 !important;
}

.section-header {
    border-top: 1px solid white;
    text-align: center;
    margin-top: 15px;
    &.border-bottom {
        border-top: 0;
        margin-bottom: 15px;
        border-bottom: 1px solid white;
    }
    > {
        .header-icon {
            height: 20px;
            width: auto;
        }
        h2 {
            display: inline-block;
            padding-top: 15px;
            font-weight: normal;
            font-size: 20px;
            margin-bottom: 0;
            .header-icon {
                height: 20px;
                width: auto;
            }
        }
        div.h2 {
            display: inline-block;
            padding-top: 15px;
            font-weight: normal;
            font-size: 20px;
            margin-bottom: 0;
            & div.small {
                display: inline-block;
            }
        }
        div.h3 {
            font-size: 15px;
            margin: 20px 0;
            line-height: 4px;
            font-weight: normal;
            & div.small {
                display: inline-block;
            }
        }
        h3 {
            font-size: 16px;
            margin: 20px 0;
            line-height: 4px;
            font-weight: normal;
        }
        p {
            margin-bottom: 0;
            .header {
                font-size: 16px;
                border-bottom: 1px solid #d1d1d175;
                padding-bottom: 30px;
                line-height: 4px;
            }
        }
    }
}

.section-header2 {
    text-align: center;
    > {
        .header-icon {
            height: 20px;
            width: auto;
        }
        h2 {
            padding-top: 10px;
            font-weight: normal;
            font-size: $font-size4;
        }
        div.h2 {
            font-size: $font-size4;
            font-weight: normal;
            margin: 10px 0;
        }
        h3 {
            font-size: $font-size7;
            margin: 10px 0px 0px 0px !important;
            line-height: 4px;
            display: inline-flex;
            small {
                margin-left: 5px;
                line-height: 6px;
            }
        }
        div.h3 {
            font-size: $font-size7;
            margin: 10px 0px 0px 0px !important;
            line-height: 4px;
        }
    }
}

.section-header3 {
    border-top: 1px solid #ddd;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

// Old SCSS.
.page {
    padding-bottom: 10px;
}

.btn-tooltip {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    line-height: 0;
    text-transform: lowercase !important;
}

.small {
    display: inline-block;
}

.text-underline {
    text-decoration: underline;
}

.arrow-down {
    text-align: center;
    cursor: pointer;
    margin-bottom: 0;
    i {
        cursor: pointer;
    }
}

.pop-navigate {
    margin-left: 5px;
    border: 1px solid #d1d1d1;
    background-color: $color4;
    border-radius: 50%;
    width: 15px;
    height: 14px;
    padding: 2px;
    &.abs {
        position: absolute;
        top: 8px;
        line-height: 0.6;
        font-size: 12px;
        display: inline-block;
        height: 15px;
        article {
            >div {
                overflow: visible !important;
                .ellips-text {
                    overflow:visible !important;
                    text-overflow: unset !important; 
                    span {
                        color: white !important;
                        font-size: 11px !important;
                        overflow: visible !important;
                    }
                }
            }
        }
       
    }
}

.pop-p {
    line-height: 2;
    height: 25px;
    .pop-n {
        margin-left: 5px;
        border: 1px solid #d1d1d1;
        border-radius: 50%;
        background-color: #5e1c5a;
        padding: 0px 3px;
        font-size: 14px;
        margin-right: 6px;
    }
}

.chart-container {
    margin: 0px !important;
    margin-top: 10px !important;
}

.legends {
    font-size: 11px !important;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-top: 10px !important;
    >li {
        display: inline;
        margin-right: 5px;
        >span {
            width: 10px;
            height: 10px;
            display: inline-block;
            margin-right: 5px;
            margin-bottom: -1px;
            &.pink {
                background-color: $color1;
            }
            &.blue {
                background-color: $color3;
            }
            &.bluelight {
                background-color: $color6;
            }
            &.grey {
                background-color: $color5;
            }
            &.grey1 {
                background-color: $color9
            }
            &.grey2 {
                background-color: $color10
            }
            &.purple {
                background-color: $color2;
            }
            &.aqua {
                background-color: $color-lighter1;
            }
            &.pink-light {
                background-color: $color-lighter2;
            }
            &.aqua-light {
                background-color: $color-aqua-light;
            }
        }
    }
}

.gender p {
    margin: 0;
}

.page-vs {
    attractions {
        .box p:first-of-type {
            font-size: 12px !important;
        }
    }
    spend {
        .col-6 {
            .percentage {
                .ellips-text {
                    span {
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

.slider {
    width: 200px;
    margin: 10px auto !important;
    position: relative;
    text-align: center;
    line-height: 25px !important;
    font-size: 16px;
    .prev,
    .next {
        position: absolute;
        top: 0;
        width: 28px;
        height: 28px;
        background-color: #777389;
        border-radius: 100%;
        text-align: center;
        cursor: pointer;
    }
    .prev>span,
    .next>span {
        font-size: $font-size4;
        margin-top: 1px;
    }
    .prev>span {
        margin-left: -2px;
    }
    .next>span {
        margin-right: -2px;
    }
    .prev.inactive,
    .next.inactive {
        background-color: $color7;
    }
    .prev.inactive>span,
    .next.inactive>span {
        color: #aaa;
    }
    .prev {
        left: -50px;
    }
    .next {
        right: -50px;
    }
    .items {
        height: 300px !important;
        overflow: hidden;
        position: relative;
        >div {
            width: 2000px;
        }
        >div>div {
            width: 200px;
            float: left;
            line-height: 1.8;
            text-decoration: underline;
        }
        &.small {
            font-size: $font-size7;
        }
        .tool-tip {
            position: static;
            .tooltiptext {
                left: 0px;
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }
}

.slider-contents {
    position: relative;
    margin-top: -250px;
    overflow: hidden;
    >div>div {
        float: left;
        width: 100%;
    }
    .section-header {
        &:last-child {
            border-bottom: none;
        }
        p {
            text-align: left;
        }
    }
}

.row-group {
    margin: 20px 0px 8px 0px !important;
    overflow: hidden;
    .row {
        >div {
            border-bottom: 1px solid #ddd;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &:last-child>div {
            border-bottom: none;
            padding-bottom: 0;
        }
        &:first-child>div {
            padding-top: 0;
        }
    }
}

.arrow {
    text-align: center;
    i {
        background-color: #d1d1d1;
        color: #ffffff;
        border-radius: 10px;
        font-size: 18px;
        padding: 3px;
    }
}
