// MIXINS.
@mixin dtcm-bg($color) {
    background-color: $color !important;
}

@mixin dtcm-color($color) {
    color: $color !important;
}

// MIXIN FOR BACKGROUND COLOR
.dtcm-pink-bg {
    @include dtcm-bg($color-pink);
}

.dtcm-blue-bg {
    @include dtcm-bg($color-blue);
}

.dtcm-gray-bg {
    @include dtcm-bg($color-gray);
}

.dtcm-darkblue-bg {
    @include dtcm-bg($color-darkblue);
}

.dtcm-purple-bg {
    @include dtcm-bg($color-purple);
}

.dtcm-gray-light-bg {
    @include dtcm-bg($color-gray-light);
}

// MIXIN FOR DTCM-COLOR
.dtcm-pink-color {
    @include dtcm-color($color-pink);
}

.dtcm-blue-color {
    @include dtcm-color($color-blue);
}

.dtcm-white-color {
    @include dtcm-color($color-white);
    .ellips-text {
        @include dtcm-color($color-white);
    }
    font,
    .qv-media-tool-html div[dir="auto"] {
        @include dtcm-color($color-white);
    }
}

.dtcm-gray-color {
    @include dtcm-color($color-gray);
}

.dtcm-gray-2-color {
    @include dtcm-color($color-gray-2);
    .ellips-text {
        @include dtcm-color($color-gray-2);
    }
    font,
    .qv-media-tool-html div[dir="auto"] {
        @include dtcm-color($color-gray-2);
    }
}

.dtcm-darkblue-color {
    @include dtcm-color($color-darkblue);
}

.dtcm-purple-color {
    @include dtcm-color($color-purple);
}
