// ALL PAGES.
.qv-collapsed-listbox.small {
    height: 100%;
    width: 100%;
}

/****** TPI Pages ********/

.page-tpi {
    background-color: $backgroundColor2;
    >.navbar {
        background-color: $backgroundColor2;
    }
    min-height: calc(100%);
}

// Source Market page.
.tpi-container {
    &.tpi-source-market {
        .number-market-details {
            &>.qvobject {
                height: 50px !important;
                span {
                    font-size: 42px !important;
                    color: white;
                }
            }
        }
        #QV-p02-01 {
            margin-top: 15px;
        }
    }
    &.tpi-overview {
        .chart-area {
            width: 100%;
            height: 350px !important;
            margin: 0 auto;
            position: relative;
            .ng-scope {
                overflow: hidden !important;
            }
        }
    }
    &.tpi-volume {
        overflow: hidden;
        .qvobject {
            height: 43px;
        }
        table {
            .qvobject {
                height: 30px;
            }
        }
        .table-equal {
            margin-top: 20px;
            tr td {
                padding-top: 1px !important;
                padding-bottom: 1px !important;
                &:nth-child(2) {
                    * {
                        font-size: 14px !important;
                        text-align: right !important;
                    }
                }
            }
        }
        .chart-donut {
            height: 250px !important;
        }
        .chart-area {
            height: 350px !important;
        }
        .dtcm-chart-details .chart-details-1 {
            height: 35px !important;
        }
        #QV-VL-AN231AFBSaAA,
        #QV-VL-AN231AFBSaAAA
         {
            font {
                font-size: 33px;
                color: white;
                line-height: 0.9;
            }
        }
        .dtcm-chart-details {
            height: 50px !important;
        }
        .chart-container {
            .qv-inner-object {
                overflow: visible !important;
                .ng-scope {
                    overflow: visible !important;
                }
            }
        } // this color is Temporary
        .block-element {
            .color-blue-light {
                font {
                    color: $color-blue-2 !important;
                }
            }
        }
        .col-md-12:nth-of-type(2) {
            .section-header {
                .qv-media-tool-html {
                    color: white !important;
                    font-size: 18px !important;
                }
            }
        }
    } // journy page
    &.tpi-journey {
        .row-group {
            .row {
                .col-6:first-child {
                    border-right: 1px solid #ffffff;
                }
            }
        }
        #QV-p05-05 {
            margin-top: 15px;
        }
        .chart-donut-2-md {
            width: 80px !important;
            height: 80px !important;
        }
        .chart-donut-2 {
            width: 80px !important;
            height: 80px !important;
        }
        .mt-4 {
            tr td {
                padding-top: 1px !important;
                padding-bottom: 1px !important;
                &:nth-child(2) {
                    * {
                        font-size: 14px !important;
                        text-align: right !important;
                        color: #99dadc;
                    }
                }
            }
        }
        .chart-container {
            .qv-inner-object {
                overflow: visible !important;
                .ng-scope {
                    overflow: visible !important;
                }
            }
        }
    } // details page
    &.tpi-details {
        .block-element {
            >.text-center {
                margin-bottom: 3px;
            }
            >div:nth-of-type(1) {
                >div:nth-of-type(1) {
                    .qv-object-kpi .kpi-data>div:nth-child(1) {
                        display: none;
                    }
                    .qv-object-kpi .kpi-data>div:nth-child(2) {
                        display: inline-flex !important;
                        justify-content: flex-end;
                    }
                }
                >div:nth-of-type(2) {
                    .qv-object-kpi .kpi-data>div:nth-child(1) {
                        display: none;
                    }
                    .qv-object-kpi .kpi-data>div:nth-child(2) {
                        display: inline-flex !important;
                        justify-content: flex-start;
                    }
                }
                
            }
        } 
        >div:nth-of-type(3) {
            .col-md-12:nth-child(3) {
                .section-header {
                    .tool-tip-top{
                        .tooltiptext{
                            top: -115px;
                            &::before{
                                border-top: 5px solid rgba(0, 0, 0, 1) !important;
                                border-bottom: 0 !important;
                                top: 109px;
                            }
                        }
                
                    }
                }
            }
        }
    }
    &.tpi-external-experince,
    &.tpi-internal-experince {
        .chart-container:nth-of-type(9) {
            .chart-donut-2 {
                svg text {
                    font-size: 35px !important;
                }
            }
        }
        .chart-donut-2-lg text {
            font-size: 32px !important;
        }
        .chart-donut-2-md text {
            font-size: 20px !important;
        }
    }
} // OverSeas Page.
.page-os {
    background-color: $backgroundColor1;
    >.navbar {
        background-color: $backgroundColor1;
    }
    min-height: calc(100%);
}

.overseas-container {
    // lenght of stay page
    &.overseas-stay {
        // fix font size for table
        #QV-p05-02 {
            table {
                tr:first-child {
                    td {
                        font-size: 11px !important;
                        padding: 3px 3px 3px 3px !important;
                        vertical-align: bottom;
                        &:not(:first-child) {
                            text-align: center !important;
                        }
                    }
                }
            }
        }
    } // set capacity page
    &.overseas-capacity {
        // add margin top to tables
        #QVsetCap {
            margin-top: 15px !important;
        }
        #GwEZaMp, #hKjBh {
            * {
                color: white;
                font-size: 18px;
            }
        }
    } // source market page
    &.overseas-markets {
        // add margin top to tables
        #QV-p02-01 {
            margin-top: 15px !important;
        }
    }
} // Visitor Survay Page.
.page-vs {
    background-color: $backgroundColor4;
    >.navbar {
        background-color: $backgroundColor4;
    }
    min-height: calc(100%);
}

.vs-container {
    &.vs-demographics {
        .measure-title {
            display: none !important;
        }
        .color-pink {
            color: $color-pink !important;
        }
        .color-pink .qv-object-kpi .kpi-value {
            color: #f7c1d9 !important;
        }
        .color-blue {
            color: $color-blue !important;
        }
        .color-blue .qv-object-kpi .kpi-value {
            color: #99dadc !important;
        }
        .qv-object-text-image {
            color: #a7a8ac !important;
        }
        #gCngkK,
        #pFFEeGP {
            text-align: center;
        }
        .col-md-12:nth-of-type(2),
        .col-md-12:nth-of-type(5) {
            .ng-scope {
                overflow: hidden !important;
                &>div {
                    overflow: hidden !important;
                    &>svg {
                        overflow: hidden !important;
                    }
                }
            }
        }
    }
    &.vs-purpose-of-visit {
        #VtpfKmU {
            text-align: center;
            height: 100% !important;
        }
      
    }
    &.vs-visitation {
        .section-header2 {
            #QV-visitationbehaviour-repeat-visitors-py-title,
            #QV-visitationbehaviour-repeat-visitors-cy-title {
                font {
                    color: #ffffff !important;
                }
            }
        }
    }
    &.vs-media-habits {
        svg {
            text {
                font-size: 34px;
            }
        }
        .chart-donut-2 {
            svg {
                circle {
                    fill: #221E43 !important;
                }
            }
        }
        .chart-container {
            .qv-media-tool-html {
                font {
                    color: #ffffff !important;
                }
            }
        }
    }
} // Airline Page.
.page-ai {
    background-color: $backgroundColor5;
    >.navbar {
        background-color: $backgroundColor5;
    }
    min-height: calc(100%);
}

.pricing-container {
    &.pricing-airline {
        .days-to-departure-volume {
            .item {
                width: 100%;
                height: 100%;
                p {
                    position: relative;
                    margin-bottom: 51px;
                    bottom: 18px;
                    white-space: nowrap;
                    font-size: 14px;
                }
                .chart-container {
                    width: 100%;
                    height: 100%;
                    .chart-donut-2-sm {
                        height: 100% !important;
                        width: 100% !important;
                        margin: 0 auto !important;
                        text {
                            font-size: 20px !important;
                        }
                    }
                }
            }
            .section-header {
                padding-top: 15px;
                &>h2 {
                    display: inline !important;
                }
            }
        }
        .qvobject {
            &.chart-area {
                height: 350px !important;
            }
        }
        .dtcm-box {
            .year {
                font-size: 12px !important;
            }
        }
        .chart-donut-2 {
            circle {
                fill: #141430 !important;
            }
        }
        .priceBYAirline-allflight,
        .priceBYAirline-directflight,
        .priceBYAirline-indirectflight {
            svg text.label0 {
                font-size: 12px !important;
                transform: translateX(-4px);
            }
        }
    }
    &.pricing-details {
        .row>.col-md-12 {
            border-top: 1px solid #fff;
        }
    }
}

.page-ov {
    background-color: $backgroundColor3;
    >.navbar {
        background-color: $backgroundColor3;
    }
    min-height: calc(100%);
}

// brand tracker pages
.brand-tracker-container {
    // brand-tracker-consideration
    &.brand-tracker-consideration {
        // margin top for tables
        #QV-CF-OnTheList-Year,
        #QV-CF-ActivelySeeking-Year,
        #QV-CF-Booked-Year {
            margin-top: 25px;
            table {
                thead {
                    tr {
                        th:nth-child(2) {
                            text-align: right !important;
                            position: relative !important;
                            right: 7px !important;
                        }
                        th:nth-child(3) {
                            text-align: right !important;
                        }
                    }
                }
            }
        }
        table {
            tr {
                td:nth-child(4) {
                    .chart-donut-2 {
                        circle {
                            fill: #010E34 !important;
                        }
                        text {
                            font-size: 10px !important;
                        }
                    }
                }
            }
        }
    } // brand tracker barriers
    &.brand-tracker-barriers {
        .slider {
            .items {
                height: 275px;
            }
        } // margin top for tables
        #QV-Perception-OverAll,
        #QV-Culture-OverAll,
        #QV-Attributes-OverAll,
        #QV-Otheres-Factors-OverAll,
        #QV-Perception-Considering_Dubai,
        #QV-Culture-Considering_Dubai,
        #QV-Attributes-Considering_Dubai,
        #QV-Otheres-Factors-Considering_Dubai,
        #QV-Perception-Not_Considering_Dubai,
        #QV-Culture-Not_Considering_Dubai,
        #QV-Attributes-Not_Considering_Dubai,
        #QV-Otheres-Factors-Not_Considering_Dubai {
            margin-top: 25px;
        }
    } // brand tracker perception
    &.brand-tracker-perception {
        #QV-Perceptions-Shopping-OtherCompetitor-Name32 {
            width: 54px;
            display: inline-block;
        }
        table {
            tr {
                td {
                    &:nth-child(1) {
                        width: 35px;
                    }
                    &:nth-child(2) {
                        position: relative;
                    }
                    &:nth-child(3) {
                        >.chart-donut-2 {
                            height: 40px !important;
                            width: 50px !important;
                            text {
                                font-size: 10px !important;
                            }
                            .inner {
                                fill: #010E34 !important;
                            }
                        }
                    }
                }
                &:nth-child(8) {
                    td:nth-child(2) {
                        .qv-media-tool-html {
                            div[dir="auto"] {
                                text-align: left !important;
                                font {
                                    color: #ffffff !important;
                                }
                            }
                        }
                        .pop-navigate {
                            left: 45px !important;
                        }
                    }
                }
            }
        }
    } // brand tracker perception
    &.brand-tracker-brand-adver {
        .chart-container {
            .chart-donut-2-lg {
                width: 120px !important;
                height: 120px !important;
                margin: 0 auto !important;
                text {
                    font-size: 32px !important;
                }
            }
        }
        table {
            margin-top: 25px !important;
            tr {
                th {
                    font-size: 12px !important;
                    padding: 6px 0px 7px 0px !important;
                }
                td:nth-child(2),
                td:nth-child(3),
                td:nth-child(4) {
                    .chart-donut-2-sm {
                        width: 60px !important;
                        height: 60px !important;
                        margin: 0 auto;
                    }
                }
            }
            .chart-donut-2-sm {
                text {
                    font-size: 20px !important;
                }
            }
        }
        .chart-donut-2 {
            circle {
                fill: #010E34 !important;
            }
        }
    }
    &.brand-tracker-wishlist {
        .row {
            .col-md-12:nth-of-type(2) {
                .section-header {
                    border: 0 !important;
                }
            }
        }
        #QV-Title-CY,
        #QV-Title-PY2 {
            font {
                color: white;
                padding-top: 15px;
                font-weight: normal;
                font-size: 20px;
            }
        }
    }
    &.brand-tracker-brand-adver {
        .chart-container {
            .chart-bar-2 {
                height: 560px !important;
            }
        }
    }
}

// hotel pages
.hotel-container {
    &.hotel-details {
        // border for map
        .amp {
            #QV-HIL-Hotel-Map {
                canvas {
                    border-radius: 0px 30px 0px 30px !important;
                }
                .idevio-attribution {
                    bottom: 20px !important;
                }
                .sidebar {
                    display: none !important;
                    
                }
            }
        }
        .slider {
            .items {
                &>div {
                    font-size: 15px !important;
                }
            }
        }
    }
    &.hotel-pipeline {
        #QV-HCA-Capacity-HeatMap {
            .map-content {
                canvas {
                    border-radius: 0px 30px 0px 30px !important;
                }
            }
            .sidebar {
                .legend {
                    border-left: 0;
                    canvas {
                        color: #ffffff;
                    }
                }
            }
        }
        .slider {
            .items {
                height: 490px !important;
                &>div>div {
                    font-size: 14px !important;
                }
            }
        }
        .slider-contents {
            margin-top: -440px !important;
        }
        .col-md-12 {
            &:nth-of-type(3),
            &:nth-of-type(4) {
                text.label0 {
                    font-size: 10px !important;
                    transform: translateX(-14px);
                }
                svg text.label1 {
                    transform: translateX(-10px);
                }
            }
        }
    }
    &.hotel-outlook {
        .slider {
            .items {
                &>div {
                    font-size: 15px !important;
                }
            }
        }

        .slider-contents {
            margin-top: -285px !important;
        }
        .col-md-12 {
            &:nth-of-type(5) {
                .chart-stacked-bar-2 {
                    svg text.label0 {
                        font-size: 10px !important;
                        transform: translateX(-14px);
                    }
                    svg text.label1 {
                        transform: translateX(-10px);
                    }
                }
            }
            &:nth-of-type(4) {
                .bar1,
                .bar2,
                .label1 {
                    transform: translateX(-50px) !important;
                }
            }
        }
        #QV-Title-Crrent22A,
        #QV-Title-Crrent,
        #QV-Title-Crrent1 {
            .media-tool-scrollbar {
                .qv-media-tool-html {
                    div[dir="auto"] {
                        color: #ffffff !important;
                        font-size: 18px !important;
                    }
                }
            }
        }
        #QV-Title-Crrent7,
        #QV-Title-Crrent4,
        #QV-Title-Crrent2 {
            .media-tool-scrollbar {
                .qv-media-tool-html {
                    color: #ffffff !important;
                    font-size: 18px !important;
                }
            }
        }


    }
}

// All chart details.
.col-6 .chart-container {
    .number-sm {
        * {
            color: white;
            font-size: 13px !important;
            text-align: center !important;
        }
    }
}
