// background color
$backgroundColor1:#1e1540;
$backgroundColor2:#283c6e;
$backgroundColor3:#222c5f;
$backgroundColor4:#2b2352;
$backgroundColor5:#101028;

// main color
$color1:#d1398e;
$color2:#766F92;
$color3:#046ab2;
$color4:#5e1c5a;
$color5:#a7a8ac;
$color6:#5B82A7;
$color7:#130236;
$color9:#59585d;
$color10:#a7a8ac;
$color11:#ffffff;
$color12:#0072bc;

// liner gradient
$color-gradient : linear-gradient(to bottom, #ffffff 20%, #d2d2d3 100%);


// lighter color
$color-lighter1:#99dadc;
$color-lighter2:#f7c1d9;

// chart color 
$color-chart1:#c61984;
$color-chart2:#0469b1;

// font sizes
$font-size1:42px;
$font-size2:38px;
$font-size3:32px;
$font-size4:20px;
$font-size5:18px;
$font-size6:16px;
$font-size7:14px;
$font-size8:20px;
$font-size9:12px;

// New Variables.
$color-pink:#d1398e;
$color-blue:#046ab2;
$color-blue-2:#95D5D7;
$color-gray:#59585d;
$color-gray-2:#a7a8ac;
$color-gray-light:#9495ae;
$color-darkblue:#130236;
$color-purple:#5e1c5a;
$color-white: #ffffff;
$color-aqua-light:rgb(93, 131, 172);