<style>
  .chart-area {
      width: 100%;
      height: 350px !important;

  }
</style>



<div class="overseas-container overseas-overview">
  <div class="row">
      <div class="col-md-12">
          <div class="section-header firstHeader">
              <h2>TOTAL OVERNIGHT VISITORS</h2>
          </div>
          <div class="row dtcm-clear-bs-padding">
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg">
                      <div class="value qvobject loading dtcm-white-color" id="QV05-01" objectid="EWBPJM" Selection="false"></div>
                      <div class="year qvobject loading dtcm-white-color" id="QV05-02" objectid="KAAAyN" Selection="false"></div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg ">
                      <div class="value qvobject loading dtcm-gray-2-color" id="QV05-03" objectid="TCuJpbF" Selection="false"></div>
                      <div class="year qvobject loading dtcm-gray-2-color" id="QV05-04" objectid="BghTQgn" Selection="false"></div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-gray-light-bg">
                      <div class="value green noBorder qvobject loading dtcm-white-color" id="QV05-05" objectid="xPrKpk"
                          Selection="false"></div>
                      <div class="year qvobject loading dtcm-white-color" id="QV05-06" objectid="ZPXNJB" Selection="false"></div>
                      <span class="tool-tip">(i)
                          <span class="tooltiptext ">YOY: Year over Year.</span>
                      </span>
                  </div>
              </div>
          </div>

          <div class="section-header">
              <h2>TOTAL HOTEL GUESTS</h2>
          </div>
          <div class="row dtcm-clear-bs-padding">
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg">
                      <div class="value qvobject loading dtcm-white-color" id="QV06-01" objectid="DpsQEJZ" Selection="false"></div>
                      <div class="year qvobject loading dtcm-white-color" id="QV06-02" objectid="KAAAyN" Selection="false"></div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg">
                      <div class="value light-grey qvobject loading dtcm-gray-2-color" id="QV06-03" objectid="Lcqu" Selection="false"></div>
                      <div class="year qvobject loading dtcm-gray-2-color" id="QV06-04" objectid="BghTQgn" Selection="false"></div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-gray-light-bg">
                      <div class="value green noBorder qvobject loading dtcm-white-color" id="QV06-05" objectid="kHxAtr"
                          Selection="false"></div>
                      <div class="year qvobject loading dtcm-white-color" id="QV06-06" objectid="ZPXNJB" Selection="false"></div>

                  </div>
              </div>
          </div>

          <div class="section-header">
              <h2>SEAT CAPACITY TO DUBAI</h2>
          </div>
          <div class="row dtcm-clear-bs-padding">
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg">
                      <div class="value qvobject loading dtcm-white-color" id="QV07-01" objectid="jPcjPN" Selection="false"></div>
                      <div class="year qvobject loading dtcm-white-color" id="QV07-02" objectid="KAAAyN" Selection="false"></div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg">
                      <div class="value qvobject loading dtcm-gray-2-color" id="QV07-03" objectid="xFacFG" Selection="false"></div>
                      <div class="year qvobject loading dtcm-gray-2-color" id="QV07-04" objectid="BghTQgn" Selection="false"></div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-gray-light-bg">
                      <div class="value green noBorder qvobject loading dtcm-white-color" id="QV07-05" objectid="MKPaW"
                          Selection="false"></div>
                      <div class="year qvobject loading dtcm-white-color" id="QV07-06" objectid="ZPXNJB" Selection="false"></div>

                  </div>
              </div>
          </div>

          <div class="section-header hide_object" id="CAPACITYTOMIDDLEEASTH">
              <h2>SEAT CAPACITY TO MIDDLE EAST</h2>
          </div>
          <div class="row dtcm-clear-bs-padding hide_object" id="CAPACITYTOMIDDLEEASTB">
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg">
                      <div class="value qvobject loading dtcm-white-color" id="QV08-01" objectid="PPKHMHP" Selection="false"></div>
                      <div class="year qvobject loading dtcm-white-color" id="QV08-02" objectid="KAAAyN" Selection="false"></div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg">
                      <div class="value dtcm-gray-2-color qvobject loading" id="QV08-03" objectid="VdUNEcG" Selection="false"></div>
                      <div class="year qvobject loading dtcm-gray-2-color" id="QV08-04" objectid="BghTQgn" Selection="false"></div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-gray-light-bg">
                      <div class="value green noBorder qvobject loading dtcm-white-color" id="QV08-05" objectid="Dfx"
                          Selection="false"></div>
                      <div class="year qvobject loading dtcm-white-color" id="QV08-06" objectid="ZPXNJB" Selection="false"></div>

                  </div>
              </div>
          </div>

          <div class="section-header hide_object" id="OVERALLTOTALSEATCAPACITYH">
              <h2>OVERALL TOTAL SEAT CAPACITY</h2>
          </div>
          <div class="row dtcm-clear-bs-padding hide_object" id="OVERALLTOTALSEATCAPACITYB">
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg">
                      <div class="value qvobject loading dtcm-white-color" id="QV07-013" objectid="KPNnGh" Selection="false"></div>
                      <div class="year qvobject loading dtcm-white-color" id="QV07-0233" objectid="KAAAyN" Selection="false"></div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg">
                      <div class="value dtcm-gray-2-color qvobject loading" id="QV07-033" objectid="mbfHHe" Selection="false"></div>
                      <div class="year qvobject loading dtcm-gray-2-color" id="QV07-043" objectid="BghTQgn" Selection="false"></div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-gray-light-bg">
                      <div class="value green noBorder qvobject loading dtcm-white-color" id="QV07-053" objectid="zpjKJSU"
                          Selection="false"></div>
                      <div class="year qvobject loading dtcm-white-color" id="QV07-063" objectid="ZPXNJB" Selection="false"></div>

                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <div class="section-header">
              <h2>OVERNIGHT VISITORS</h2>
          </div>
          <div class="chart-container">
              <ul class="legends">
                  <li>
                      <span class="pink"></span>CURRENT YEAR</li>
                  <li>
                      <span class="blue"></span>PREVIOUS YEAR</li>
              </ul>
              <div class="panel-body text-center h-lg qvobject loading chart-area" id="QV10" objectid="rrbjwNt">
              </div>
              <div class="text-center dtcm-chart-details">
                  <div class="qvobject loading chart-details-1" id="QV310" objectid="bkUcht"></div>
                  <div class="qvobject loading color-grey number-xs chart-details-2" id="QV3101" objectid="ZuPeZM"></div>
              </div>
          </div>
      </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <b>Data Source and Caveats:</b>
  <br><b>Total Overnight Visitors:</b>Source – DTCM Visitor Model; overnight visitors travelling to Dubai and staying at least one night. This includes all visitors travelling by air, land and sea and excludes all UAE nationals & residents, aircrew and sea crew.  The visitors data are analysed by nationality and based on a robust set of information, including visitors arrivals from Dubai Immigration Authorities, hotel guest reported by Hotel Establishments in Dubai and Dubai International Visitors Survey (DIVS).
  <br><b>Total Hotel Guests:</b> BIR* - Number of hotel guests in Dubai from Source Market (including residents & hotel hoppers) 
  <br><b>Seat Capacity to Dubai:</b> OAG.
  <br><b>Total Seat Capacity to Middle East: </b> Includes number of seats to GCC region, OAG.
  <br><b>Overall Seat Capacity: </b> All seat capacity from source market to the rest of the world, OAG. 
  <br><b>BIR: </b> Business Intelligence & Reporting Department – DTCM
  <br><b>OAG: </b> Global Air Travel Intelligence 
  <div id="overview_seat_capacity_to_me_caveat" class="hide_object"><b>Total Seat Capacity to Middle East</b>,
      Includes number of seats to GCC region, OAG.</div>
  <div id="overview_seat_capacity_to_world_caveat" class="hide_object"><b>Overall Seat Capacity:</b> All seat
      capacity from source market to the rest of the world, OAG.</div>
  <p><b>Abbreviations:</b> FY: Full Year, YTD: Year to Date, CY: Current Year, PY: Previous Year, YoY: Year over
      Year, SM: Source Market.</p><br>
  <div class="qvobject loading" id="Qv-p01-lastredirectdate" objectid="kEUVh"></div>
</div>