<div class="tpi-container tpi-overview">
  <div class="row">
      <div class="col-md-12">
          <div class="section-header firstHeader">
              <h2>TOTAL OVERNIGHT VISITORS</h2>
          </div>
          <div class="row dtcm-clear-bs-padding">
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg">
                      <div>
                          <div class="value qvobject loading dtcm-white-color" id="QV05-01" objectid="MSNdmwE" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                      <div>
                          <div class="year qvobject loading dtcm-white-color" id="QV05-02" objectid="qHRqgx" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg">
                      <div>
                          <div class="value dtcm-gray-2-color qvobject loading " id="QV05-03" objectid="Gcbkj" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                      <div>
                          <div class="year qvobject loading dtcm-gray-2-color" id="QV05-04" objectid="jvqmqMJ" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-gray-light-bg">
                      <div>
                          <div class="value green noBorder qvobject loading dtcm-white-color" id="QV05-05" objectid="duVgjm"
                              appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                      <div>
                          <div class="year qvobject loading dtcm-white-color" id="QV05-06" objectid="WufBYU" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                          <span class="tool-tip">(i)
                              <span class="tooltiptext ">YOY: Year over Year.</span>
                          </span>
                      </div>

                  </div>
              </div>
          </div>

          <div class="section-header">
              <h2>TOTAL HOTEL GUESTS</h2>
          </div>
          <div class="row dtcm-clear-bs-padding">
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg dtcm-white-color">
                      <div>
                          <div class="value qvobject loading dtcm-white-color" id="QV06-01" objectid="RRenLs" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                      <div>
                          <div class="year qvobject loading dtcm-white-color" id="QV06-02" objectid="qHRqgx" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg dtcm-gray-2-color">
                      <div>
                          <div class="value dtcm-gray-2-color qvobject loading" id="QV06-03" objectid="CVtmJV" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                      <div>
                          <div class="year qvobject loading dtcm-gray-2-color" id="QV06-04" objectid="jvqmqMJ" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-gray-light-bg dtcm-white-color">
                      <div>
                          <div class="value green noBorder qvobject loading dtcm-white-color" id="QV06-05" objectid="jdbgD"
                              appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                      <div>
                          <div class="year qvobject loading dtcm-white-color" id="QV06-06" objectid="WufBYU" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>

                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-12">
          <div class="section-header">
              <h2>SEAT CAPACITY TO DUBAI</h2>
          </div>
          <div class="row dtcm-clear-bs-padding">
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg">
                      <div>
                          <div class="value qvobject loading dtcm-white-color" id="QV07-01" objectid="ZqdpJp" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                      <div>
                          <div class="year qvobject loading dtcm-white-color" id="QV07-02" objectid="qHRqgx" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg">
                      <div>
                          <div class="value dtcm-gray-2-color qvobject loading" id="QV07-03" objectid="FAwKRC" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                      <div>
                          <div class="year qvobject loading dtcm-gray-2-color" id="QV07-04" objectid="jvqmqMJ" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-gray-light-bg">
                      <div>
                          <div class="value green noBorder qvobject loading dtcm-white-color" id="QV07-05" objectid="QMJfQpC"
                              appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                      <div>
                          <div class="year qvobject loading dtcm-white-color" id="QV07-06" objectid="WufBYU" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>

                  </div>
              </div>
          </div>

          <div class="section-header">
              <h2>ANNUAL OUTBOUND TRAVEL</h2>
          </div>
          <div class="row dtcm-clear-bs-padding">
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg">
                      <div>
                          <div class="value qvobject loading dtcm-white-color" id="QV08-01" objectid="JcgnKPP" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                      <div>
                          <div class="year qvobject loading dtcm-white-color" id="QV08-02" objectid="qHRqgx" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-darkblue-bg">
                      <div>
                          <div class="value dtcm-gray-2-color qvobject loading" id="QV08-03" objectid="JsdwEKM" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                      <div>
                          <div class="year qvobject loading dtcm-gray-2-color" id="QV08-04" objectid="jvqmqMJ" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="dtcm-box dtcm-gray-light-bg">
                      <div>
                          <div class="value green noBorder qvobject loading dtcm-white-color" id="QV08-05" objectid="PJNZd"
                              appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
                      </div>
                      <div>
                          <div class="year qvobject loading dtcm-white-color" id="QV08-06" objectid="WufBYU"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="section-header">
      <h2>OVERNIGHT VISITORS</h2>
  </div>
  <div class="chart-container">
      <ul class="legends">
          <li>
              <span class="pink"></span>CURRENT YEAR</li>
          <li>
              <span class="blue"></span>PREVIOUS YEAR</li>
      </ul>

      <div class="chart-area qvobject loading" id="QV09" objectid="JtryM"></div>

      <div class="text-center dtcm-chart-details">
          <div class="qvobject loading chart-details-1" id="QV110" objectid="cbJXpt"></div>
          <div class="qvobject loading chart-details-2" id="QV1101" objectid="rBMKm"></div>
      </div>
  </div>

  <div class="section-header">
      <h2>HOTEL GUESTS</h2>
  </div>
  <div class="chart-container">
      <ul class="legends">
          <li>
              <span class="pink"></span>CURRENT YEAR</li>
          <li>
              <span class="blue"></span>PREVIOUS YEAR</li>
      </ul>

      <div id="QV21022" class="chart-area qvobject loading" objectid="LWBjJXj"></div>

      <div class="text-center dtcm-chart-details">
          <div class="qvobject loading chart-details-1" id="QV210" objectid="GQAZeQt"></div>
          <div class="qvobject loading chart-details-2" id="QV2101" objectid="rBMKm"></div>
      </div>
  </div>

  <div class="section-header">
      <h2>SEAT CAPACITY</h2>
  </div>
  <div class="chart-container">
      <ul class="legends">
          <li>
              <span class="pink"></span>CURRENT YEAR</li>
          <li>
              <span class="blue"></span>PREVIOUS YEAR</li>
      </ul>

      <div id="area3" class="chart-area qvobject loading" objectid="jQVj"></div>

      <div class="text-center dtcm-chart-details">
          <div class="qvobject loading chart-details-1" id="QV310" objectid="fFjpFxp"></div>
          <div class="qvobject loading chart-details-2" id="QV3101" objectid="rBMKm"></div>
      </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p>
      <b>Data Source and Caveats:</b><br>
      <b><u>Total Overnight Visitors:</u></b> DTCM Visitor Model ,<br>
      <b><u>Total Hotel Guests:</u></b> BIR* - Number of hotel guests in Dubai from Source Market (including residents & hotel hoppers). Hotel guests arrivals is not a unique number, guests are counted per hotel stay, therefore people who stay in multiple hotels per trip will be counted more than once.<br>
      <b><u>Seat Capacity to Dubai:</u></b> Monthly Estimate – OAG*. <br>
      <b><u>Annual Outbound Travel:</u></b> Number of outbound trips from source market to rest of the world. Current year is full year forecast – TDM*.
      <br> <u><b>BIR:</b></u> Business Intelligence & Reporting Department - DTCM.
      <br> <u><b>OAG:</b></u>  Global Air Travel Intelligence.
      <br><u><b>TDM:</b></u> Tourism Decision Metrics – Oxford Economics.
    <br><span class="red">*</span> Australia Set as default Source Market.
  </p><br>
  <div class="qvobject loading" id="Qv-p01-lastredirectdate" objectid="YJteZrn" style="height:60px !important;"></div>
</div>