<div class="vs-container vs-advocacy-external">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header firstHeader">
        <h2>ADVOCACY</h2>
        <P class="header mb-5">how likely are you to recommend Dubai to friend/family ?</P>
      </div>

      <div class="section-header">
        <h3>DETRACTOR</h3>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-ext-detractor-cy" objectid="qEsmz"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-ext-cy-title" objectid="tRNbwkt">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-ext-detractor-py" objectid="gbLRZq"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-ext-py-title" objectid="uEmFJ"></div>
          </div>
        </div>
      </div>

      <div class="section-header">
        <h3>PASSIVE</h3>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-ext-passive-cy" objectid="EmzMqhd">
            </div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-ext-cy-title1" objectid="tRNbwkt">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-ext-passive-py" objectid="umvJVz"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-ext-py-title1" objectid="uEmFJ"></div>
          </div>
        </div>
      </div>


      <div class="section-header">
        <h3>LIKELY PROMOTER</h3>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-ext-likelypromoters-cy"
                 objectid="nSuNKkm">
            </div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-ext-cy-title2" objectid="tRNbwkt">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-ext-likelypromoters-py"
                 objectid="jqUx">
            </div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-ext-py-title2" objectid="uEmFJ"></div>
          </div>
        </div>
      </div>

      <div class="section-header">
        <h3>ACTIVE ADVOVATE</h3>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-ext-activeadvocates-cy"
                 objectid="JXCyjvJ"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-ext-cy-title3" objectid="tRNbwkt">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-ext-activeadvocates-py"
                 objectid="jMVUPXj"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-ext-py-title3" objectid="uEmFJ"></div>
          </div>
        </div>

      </div>
      <div class="section-header">
        <div class="h3">
          PROMOTER SCORE <div class="small">

            <span class="tool-tip">
              (i)
              <span class="tooltiptext">Advocacy Score: Advocacy Score is derived based on the sum of (% Active Advocate) & (% Likely Promoter)</span>
            </span>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-ext-activeadvocates-cy1"
                 objectid="CwFeWg"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-ext-cy-title4" objectid="tRNbwkt">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="chart-container mb-3">
            <div class="qvobject loading chart-donut-2 chart-donut-2-lg" id="QV-advocacy-ext-activeadvocates-py1"
                 objectid="LfuPQr"></div>
            <div class="qvobject loading text-center number-sm pt-2" id="QV-advocacy-ext-py-title4" objectid="uEmFJ"></div>
          </div>
        </div>
      </div>



      <div class="section-header">
        <div class="h2">
          ADVOCACY INDEX SCORE
          <div class="small">
            <span class="tool-tip">
              (i)
              <span class="tooltiptext">Advocacy Index: Relative performance, indexed against average 'Advocacy Score' across all Nationalities.</span>
            </span>
          </div>
        </div>

      </div>
      <div class="qvobject loading number-md text-center color-gray" id="QV-advocacy-score" objectid="mmhcQvt"> </div>

      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-pink-bg">
            <p>BELOW 69</p>
            <p>LOW</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-gray-bg">
            <p>70-109</p>
            <p>NEUTRAL</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-legend dtcm-blue-bg">
            <p>110+</p>
            <p>HIGH</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p><b>Important Notes:</b><br></p>
  <div class="qvobject loading" style="height:55px" id="QV-advocacy-ext-samplesize" objectid="WsBBXz"></div>
  <p>
    - All variables in this slide are weighted by nationality and month<br>
    - <b>Advocacy Score <span style="font-size:9px"> (1) </span> :</b> The Advocacy Score is derived based on the
    sum of (% Active Advocate) & (% Likely Promoter)<br>
    - <b>Advocacy Index <span style="font-size:9px"> (2) </span> :</b> is a relative performance, indexed against
    average 'Advocacy Score' across all Nationalities<br>
    - <b>Rating Scale:</b> New labels were assigned to the rating scale in Year 2016 and may have an impact on the
    results.<br>
    - <b> 'NaN' </b> indicates that data is not available.
  </p>
</div>
