<div class="hotel-container hotel-details">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header firstHeader">
        <h2>HOTEL INVENTORY BY LOCATION</h2>

      </div>
      <div class="row dtcm-clear-bs-padding">
        <div class="col-4">
          <div class="dtcm-box-icons  border-curly dtcm-purple-bg dtcm-white-color">
            <span>
              <img src="../../../assets/images/airline_hotel/hotel.svg" alt="" class="mr-1 mb-2 header-icon" />
            </span>
            <div class="floating-box-hotel qvobject loading" id="QV-HIL-Hotels-KPI" objectid="CpLMmHx"></div>
            <p>HOTELS</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-icons  border-curly dtcm-purple-bg dtcm-white-color">
            <span>
              <img src="../../../assets/images/airline_hotel/room.svg" alt="" class="mr-1 mb-2 header-icon" />
            </span>
            <div class="floating-box-room qvobject loading" id="QV-HIL-Rooms-KPI" objectid="dWhkpm"></div>
            <p>ROOMS</p>
          </div>
        </div>
        <div class="col-4">
          <div class="dtcm-box-icons  border-curly dtcm-purple-bg dtcm-white-color">
            <span>
              <img src="../../../assets/images/airline_hotel/calender.svg" alt="" class="mr-1 mb-2 header-icon" />
            </span>
            <div class="floating-box-period qvobject loading ng-scope" id="QV-HCAP-Up-To" objectid="PZQn"></div>
            <p>UPTO</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">

      <div class="amp">
        <div class="qvobject loading" style="height:400px !important;" id="QV-HIL-Hotel-Map" objectid="Bnd"></div>
      </div>
      <ul class="legends d-flex justify-content-start">
        <li>
          <span class="pink"></span>PIPELINE
        </li>
        <li>
          <span class="blue"></span>EXISTING
        </li>
      </ul>
    </div>


    <div class="col-md-12">
      <div class="section-header">
      </div>
      <div id="slider1" class="slider" data-content="sliderContent2">
        <div class="prev inactive"><span class="fa fa-angle-left"></span></div>
        <div class="next inactive"><span class="fa fa-angle-right"></span></div>
        <div class="items">
          <div>
            <div>HOTEL PIPELINE BY STATUS</div>
            <div>Room Pipeline by Status</div>
          </div>
        </div>
      </div>

      <div id="sliderContent2" class="slider-contents">
        <div class="items">
          <div>
            <div class="chart-container">
              <div class="qvobject loading height-fix" id="QV-p04-021" objectid="CyVKrj" style="height:565px !important;"></div>
            </div>
          </div>

          <div>
            <div class="chart-container">
              <div class="qvobject loading height-fix" id="QV-p04-02A" objectid="uvaEm" style="height:565px !important;"></div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p>
    <b>Important Notes:</b><br>
    Future Hotel Inventory does not take into account potential Hotel project cancellations or closures of existing Hotel establishments<br>
    - <b>Source:</b> DTCM Analysis, individual hotel projects as reported by hotel developers.
  </p>
</div>
