<style>
  .qvobject loading {
      height: 35px;
  }
</style>
<div class="tpi-container tpi-details">
  <div class="row">
      <div class="col-md-12">
          <div class="section-header firstHeader">
              <h2>HOTEL GUESTS</h2>
          </div>

          <div class="block-element">
              <div class="row text-center">
                  <div class="col-6 number-md text-right num-big">
                      <div class="qvobject loading number-md" id="QV110" objectid="PYZrqP"></div>
                  </div>

                  <div class="col-6 number-sm text-left num-small">
                      <div class="qvobject loading  number-sm color-blue-light" id="QV119" objectid="CfdVP"></div>
                  </div>
              </div>

              <div class="row text-center">
                  <div class="col-6 text-right">TOTAL
                  </div>
                  <div class="col-6t text-left">
                      YOY
                      <span class="tool-tip">
                          (i)
                          <span class="tooltiptext">YOY: Year over Year.</span>
                      </span>
                  </div>
              </div>
          </div>


          <div class="panel-body chart-bar h-lg qvobject loading dtcm-tables table-left-1 table-center-2 table-right-3 table-white-1 table-white-2"
              id="QV1123" style="height:210px !important" objectid="WmUZj">
          </div>
      </div>

      <div class="col-md-12">
          <div class="section-header">
              <h2>LENGTH OF STAY (NIGHTS)</h2>
          </div>

          <div class="block-element">
              <div class="row text-center">
                  <div class="col-6 number-md text-right num-big">
                      <div class="qvobject loading number-md" id="QV120" objectid="TJWJP"></div>
                  </div>

                  <div class="col-6 number-sm text-left num-small">
                      <div class="qvobject loading number-sm color-pink-light" id="QV129" objectid="kvJYyJ"></div>
                  </div>
              </div>

              <div class="row text-center">
                  <div class="col-6 text-right">AVERAGE
                  </div>
                  <div class="col-6t text-left">
                      YOY

                  </div>
              </div>
          </div>

          <div class="panel-body chart-bar text-center h-lg qvobject loading dtcm-tables table-white-1 table-white-2 table-left-1 table-center-2 table-right-3"
              id="QV11" style="height:210px !important" objectid="mrraUUU">
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <div class="section-header">
              <h2>ACCOMMODATION CATEGORIES</h2>
          </div>
          <div class="chart-container">
              <ul class="legends">
                  <li>
                      <span class="blue"></span>HOTEL</li>
                  <li>
                      <span class="pink"></span>ALTERNATIVE LODGING</li>
              </ul>
              <div class="panel-body chart-bar text-center h-lg qvobject loading chart-donut" style="height:300px;width:340px; padding:0; margin:-7px 0px -14px -1px"
                  id="QV12" objectid="DVpjP">
              </div>
          </div>
      </div>

      <div class="col-md-12">
          <div class="section-header">
              <h2>HOTEL GUESTS BY TIER</h2>
          </div>
          <div class="chart-container">
              <ul class="legends">
                  <li>
                      <span class="pink"></span>5 STAR</li>
                  <li>
                      <span class="blue"></span>4 STAR</li>
                  <li>
                      <span class="grey1"></span>1-3 STAR</li>
                  <li>
                      <span class="purple"></span>DELUXE</li>
                  <li>
                      <span class="bluelight"></span>STANDARD</li>
              </ul>
              <div class="panel-body chart-bar text-center h-lg qvobject loading chart-donut" style="height:300px;width:340px; padding:0; margin:-7px 0px -14px -1px"
                  id="QV13" objectid="jwcJX">
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <div class="section-header">
              <h2>% OF RESIDENTS</h2>
          </div>
          <div class="box-number">
              <div class="h-sm-2 qvobject loading pct_residence" id="QV-p03-05" objectid="VEpF" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
          </div>
      </div>
      <div class="col-md-12">
          <div class="section-header">
              <h2>% OF HOTEL HOPPERS
                  <span class="tool-tip">(i)
                      <span class="tooltiptext ">% Of Hotel Hopper: Hotels guests who stay in multiple hotels during the same trip.</span>
                  </span>
              </h2>
          </div>
          <div class="box-number">
              <div class="h-sm-2 qvobject loading pct_residence" id="QV-p03-06" objectid="ejPk" appid="4583a1a8-d0d6-4c3b-9efd-d03e4248a8d6"></div>
          </div>
      </div>
      <div class="col-md-12">
          <div class="section-header">
              <h2>NET HOTEL GUESTS
                  <span class="tool-tip tool-tip-top">(i)
                      <span class="tooltiptext">Net Hotel Guests: international visitors staying in Dubai hotels excluding UAE national, UAE residents and hotel hoppers - BIR: Business Intelligence & Reporting Department - DTCM.</span>
                  </span>
              </h2>
          </div>
          <div class="box-number">
              <div class="value green noBorder qvobject loading" id="QV08-05" objectid="jqFjghF" style="height:35px"></div>
          </div>
      </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p style="margin-bottom:0;">
      <b>Data Source and Caveats:</b><br>
      <u><b>Hotel Guests:</b></u> Number of hotel guests arrivals by Source market. Raw data from hotel industry includes UAE nationals, UAE residents, and Hotel Hoppers (HH). HH hotel guests who stay in multiple hotels during the same trip.
      <br><b>Hotel Guests by Tier:</b> % of hotel guest per classification –BIR*.
      <br><b>Length of Stay (Nights):</b> the average number of nights stayed in a hotel – this does not include staying in alternative lodging.
      <br><b>Accommodation Categories:</b> Percentage of guests staying in hotel and alternative lodging (staying with friends & relatives, private apartments/ villas, cruise) – DTCM Visitor Model.
  </p>
  <div id="detail_residence_caveat" class="hide_object"><b>Percentage of Residence: </b> percentage of hotel guests
      who are residents of UAE (BIR).</div>
  <p>
      <b>Net Hotel Guests: </b> (excluding residents and hotel hoppers), As data is by source market.
      <br><span class="red">*</span> Australia Set as default Source Market.
  </p>
</div>