<div class="page page-os">
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar1">
        <div class="navbar-brand"><span class="fa fa-sliders fa-rotate-90"></span></div>
      </div>

      <div class="navbar2 col-12">

        <div class="navbar-collapse">
          <ul class="nav">
            <li class="nav-item col-md-6 col-sm-12 text-right NotOUTLooKFilter">
              <div class="form-group filter wow h-xs select1 qvobject filter" id="QV-HCA-Hotel-Status" objectid="epkPPYG">
              </div>
            </li>
            <li class="nav-item col-md-6 col-sm-12 text-right NotOUTLooKFilter">
              <div class="form-group  qvobject filter" id="QV-HCA-TimeFrame-Selector" objectid="kdyppEr">
              </div>
            </li>
            <li class="nav-item col-md-6 col-sm-12 text-right NotOUTLooKFilter">
              <div class="form-group  qvobject filter" id="QV-HIL-Hotel-Class-Selector" objectid="MYLSmNp">
              </div>
            </li>
            <li class="nav-item col-md-6 col-sm-12 text-right NotOUTLooKFilter">
              <div class="form-group  qvobject filter" id="QV-HIL-Hotel-Area-Selector" objectid="mQFt">
              </div>
            </li>
            <li class="nav-item col-md-6 col-sm-12 text-right NotOUTLooKFilter">
              <div class="form-group  qvobject filter" id="QV-HIL-Dev-Status-Selector" objectid="fcTzYb">
              </div>
            </li>
            <li class="nav-item  text-right button-reset">

              <div class="filter">

                <button class="btn btn-defualt color-purpual clear" onclick='return (app.selectionState().clearAll() , app.selectionState.bind(),$(".navbar-brand").click())'>CLEAR ALL</button>

              </div>

            </li>
            <li class="nav-item text-right button-reset">

              <div class="filter">

                <button class="btn btn-defualt color-purpual ok" onclick='return($(".navbar2").hide())'>OK</button>

              </div>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
