<div class="vs-container vs-booking">
  <div class="row">
    <div class="col-md-12">
      <div class="section-header firstHeader">
        <h2>BOOKING CHANNELS</h2>
        <p>(FLIGHTS AND HOTELS)</p>
      </div>
      <div class="panel-body qvobject loading dtcm-tables table-equal-2 table-gray-3 table-left-1 table-right-2 table-right-3"
           id="QV09" objectid="pPuSkj" style="height:330px">
      </div>
    </div>

    <div class="col-md-12">
      <div class="section-header firstHeader">
        <h2>AIRLINES</h2>

      </div>
      <div class="panel-body qvobject loading dtcm-tables table-equal-2 table-gray-3 table-left-1 table-right-2 table-right-3"
           id="QV10" objectid="kqCDTzj" style="height:565px">
      </div>
    </div>
  </div>
</div>
<div id="CustomFooter" style="display:none">
  <p><b>Important Notes:</b><br></p>
  <div class="qvobject loading" style="height:55px" id="QV-bookingchannel-samplesize" objectid="Htccf"></div>
  <p>
    All variables are weighted by nationality and month
  </p>
</div>
